[2022-06-03 05:03] moksh-mahajan commented on #483
@annieappflowy How about instead of holding to drag we add a reorder icon at the extreme right of the column heading cell and drag directly using it? We can also show a tooltip (say "Drag to reorder") while hovering on it.

[2022-06-03 06:39] r0the opened #530 "[Bug] Backspace doesn't work while Caps Lock is enabled"
Btw, love what you are building!

**Describe the bug**
When the Caps Lock is enabled, pressing the backspace key has no effect.

**To Reproduce**
Steps to reproduce the behavior:
1. Press Caps Lock.
2. Try to delete some characters with the Backspace key.

**Expected behavior**
Deleting characters should also work when Caps Lock is enabled.

**Desktop (please complete the following information):**

[2022-06-03 07:41] appflowy commented on #358
The infra layer was implemented in Rust. You can check out this https://appflowy.gitbook.io/docs/essential-documentation/contribute-to-appflowy/architecture/domain-driven-design

[2022-06-03 08:55] CodeCubeNeo commented on #175
Any progress on rhis?

[2022-06-03 11:38] Ayush1325 commented on #175
Well, last I checked, the flatpak I created worked fine. It can be submitted directly to flathub but someone probably needs to become a maintainer or something to make sure it works fine.

[2022-06-03 13:25] CodeCubeNeo commented on #175
Now we just have to find one. Could somebody from the devs (maybe the one who publishes the win binaries) be that? How do we ask them?

[2022-06-03 20:19] moksh-mahajan commented on #358
Thanks @appflowy
I will definitely take a look.

[2022-06-03 20:21] moksh-mahajan commented on #530
Seems like this issue is related to the flutter_quill package version we're using. Not sure why we are not using the latest flutter_quill version.

[2022-06-03 20:37] moksh-mahajan commented on #502
Working on the fix.

[2022-06-04 06:09] #502 closed

[2022-06-05 06:34] moksh-mahajan opened #533 "[Bug] Can't duplicate a Grid."
**Describe the bug**
The duplicate option is working fine for the **Doc**, but not for the **Grid**.

**To Reproduce**
Steps to reproduce the behavior:
1. On a page create a Grid by clicking on + and choosing the **Grid** option.
2. Click on the ':' icon on the grid file.
3. Click on the **duplicate** option
4. Option window pops but grid copy is not being created.

**Expected behavior**
On click

[2022-06-05 13:13] moksh-mahajan commented on #533
Tried debugging the issue and found a FlowyError being returned with the following message:
`msg: Error("invalid type: map, expected a sequence", line: 1, column: 1)`

I am no good at rust, so it would be better if someone who knows rust should look at this.
`frontend/rust-lib/flowy-folder/src/services/view/controller.rs` is a good place to start.

[2022-06-05 14:02] jinfagang opened #537 "[FR] How. does it sync cross devices?"
currently now account, how should users sync docs cross devices?

[2022-06-07 14:27] mizzyc commented on #482
@appflowy @annieappflowy
Just to updated: I tried the new release 0.0.4 and I'm still having the same error :(
Is there anything I can do? I really wanna try the new database feature!

[2022-06-07 21:53] tjlujianqiao commented on #426
agreed and It would be my please if I can contribute to the math equation set-up ;)

[2022-06-08 11:28] appflowy commented on #533
Hi @moksh-mahajan  I have fixed it in the 0.0.4 release version.

[2022-06-08 11:28] #533 closed

[2022-06-08 11:40] appflowy commented on #482
@mizzyc It seems like there are two bugs here:
1. The left menu of AppFlowy is collapsed because the window's size is too small. AppFlowy should show the uncollapse button on the top bar menu.

solution:
You can try to expand the window size to check out the left menu is shown or not

2. Just like the error message describes: some internal errors happened.
You can DM me in discord if you want to s

[2022-06-08 13:20] mizzyc commented on #482
Hey @appflowy, thanks for your help!
I tried really hard to solve it yesterday and just found a solution:
I've searched my Mac for every file called "flowy" and deleted them. After that, I can open the app normally.
It looks like it's something related to files from older versions!

[2022-06-08 13:34] dadyarri opened #544 "[Bug] Window changes it's size and position to default on settings changing"
**Describe the bug**
When any setting (theme & language) changed, window goes to it's default position and size

**To Reproduce**
Steps to reproduce the behavior:
1. Change window's size/position
2. Go to settings
3. Change any setting
4. Window will reset it's size and position

**Expected behavior**
Window's size and position stays unchanged

**Video**

https://user-images.githubusercontent.com/

[2022-06-08 13:46] dadyarri opened #545 "[Bug] Icon not moving to newly selected item in date/time format, select colors, etc."
**Describe the bug**
When selected element is changed, check icon don't moves to this element, though selection is working

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Date & Time format
2. Click on any item
3. While format changing, icon doesn't move to new selection

**Expected behavior**
Icon should move to newly selected item

**Video**

https://user-images.githubusercontent.com

[2022-06-09 01:27] appflowy commented on #482
Thank you for trying! Actually, I want to find out how that happened. Anyway, If you still have questions, feel free to ask.😁

[2022-06-09 01:27] #482 closed

[2022-06-10 23:51] #304 closed

[2022-06-11 18:42] negiboudu commented on #471
I confirmed that this issue was fixed in the latest version.

[2022-06-11 18:42] #471 closed

[2022-06-12 22:03] negiboudu commented on #530
I have similar issue in Japanese text input mode.

1. Open a text page.
2. Change the input mode into Japanese text.
3. Write some characters.
4. Backspace key does not work. also cursor keys.
5. But, then change the input mode into normal"ABC", keys work fine.

https://user-images.githubusercontent.com/2309728/173255296-9735fc9a-6ce7-4f32-a055-4ab81d5aa432.mp4

[2022-06-15 02:19] ENsu opened #552 "[Bug] Fail to build at main branch, version 093c637"
**Describe the bug**
I try to build the latest version of AppFlowy codebase but failed with many code issues.

**To Reproduce**
Steps to reproduce the behavior:
1. I updated my Flutter to 3.0 and run Flutter doctor and pass the test.
2. I run make `flowy_dev_install` under the `/frontend` folder without error.
3. I also run the Build Task under the `/frontend` folder without error.
4. Then I run t

[2022-06-15 02:49] appflowy commented on #552
I noticed that the AF: Clean + Rebuild doesn't clean the flutter side cache. Run `flutter clean` in frontend/app_flowy, and then try again the AF: Clean + Rebuild.

[2022-06-15 04:42] dadyarri opened #553 "[FR] Move text of the readme page to the flutter side"
**1~3 main use cases of the proposed feature**
This can make possible translating its content

**what types of users can benefit from using your proposed feature**
Non-english speaking people

[2022-06-16 10:17] ENsu commented on #552
I believe the new PR has resolved the problem.

[2022-06-17 00:22] appflowy commented on #360
Yes, that will separate into two parts:
1. implement the UI on the dart side.
2. save the data on the rust side.

You can DM me on Discord if you need help.

[2022-06-17 02:25] #552 closed

[2022-06-17 19:53] GoodM4ven commented on #112
I did this on Ubuntu 22.04.

- When I first launched the Linux built app, got the blank window.
- Ran the app through the terminal: `~/Downloads/AppFlowy/app_flowy` and saw the `libssl` whatever not being found.
- Then ran `ldd ~/Downloads/AppFlowy/lib/libdart_ffi.so` which was first read to reach the error and shown the missing 2 library links, which Ubuntu has new versions of:
[code]
- So now I

[2022-06-17 19:54] GoodM4ven commented on #180
I did this on Ubuntu 22.04.

- When I first launched the Linux built app, got the blank window.
- Ran the app through the terminal: `~/Downloads/AppFlowy/app_flowy` and saw the `libssl` whatever not being found.
- Then ran `ldd ~/Downloads/AppFlowy/lib/libdart_ffi.so` which was first read to reach the error and shown the missing 2 library links, which Ubuntu has new versions of:
[code]
- So now I

[2022-06-18 13:35] JamesUmmec opened #566 "Cannot run on Ubuntu22.4"
When running on Ubuntu22.4 (linux x86_64), the window stay blank and cannot show anything.

- Operating system: Ubuntu22.4, x86_64 GNU/Linux

Here are cli output when running this app:
[code]

[2022-06-20 10:59] ivan opened #570 "[Bug] Triple-click does not select a paragraph"
**Describe the bug**

Triple-clicking does not select a paragraph. It is processed like a double-click followed by a single-click.

**To Reproduce**
Steps to reproduce the behavior:
1. Triple-click a word anywhere
2. Observe that nothing is selected after the third click

**Expected behavior**
I expected the paragraph or line to be selected

**Desktop (please complete the following information):**

[2022-06-20 11:07] ivan opened #571 "[Bug] app_flowy's title bar is inaccessible if the Windows taskbar is position at top"
**Describe the bug**

If the Windows 10 taskbar is positioned at the top (rather than the bottom) of the screen, app_flowy's window title bar is inaccessible because app_flowy positions its window near (0, 0) on startup. The only way to then move the window is with Shift + right click -> Move on its taskbar button.

**To Reproduce**
Steps to reproduce the behavior:
1. Move the Windows 10 taskbar t

[2022-06-20 11:08] ivan commented on #571
Oops, I duped #491

[2022-06-20 11:08] #571 closed

[2022-06-21 07:20] annieappflowy opened #572 "[Bug] Auto-select the current date in the date selector window"
**Describe the bug**
When initially set a date value, the current date is not auto selected. You have to click on the date to get Today selected.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a date column
2. Set a date value
3. don't do anything but click elsewhere
4. no date is selected

**Expected behavior**
If no action is performed on the date selector, today should be auto sel

[2022-06-21 07:55] annieappflowy opened #573 "[Bug] dates alignment"
**Describe the bug**
dates in cells are not left aligned

**To Reproduce**
Steps to reproduce the behavior:
1. Create a date column
2. Set a few dates including time

**Expected behavior**
Left-aligned looks cleaner

**Screenshots**
<img width="158" alt="image" src="https://user-images.githubusercontent.com/12026239/174746845-c544b98e-eb29-4354-b6fc-bfbcc7046118.png">

[2022-06-24 01:04] ENsu commented on #360
There is already an `user_table.name` field in the db, but no field to store the emoji icon. Should I simply create one?

[2022-06-26 07:20] appflowy commented on #360
I think you can create a new column that stores the user icon. But, do you have any idea about how to store the icon data? I think the URL of the icon would be better. For the moment, the URL is a local file path.

[2022-06-26 07:35] appflowy commented on #360
There is some context that may help you to finish this FR.

1. How to save the URL in user_table.

- Database
AppFlowy use [diesel](https://diesel.rs/guides/getting-started) as SQLite ORM. You need to add a migration and run it.
For example, I added a new column to view_table.
`ALTER TABLE view_table ADD COLUMN ext_data TEXT NOT NULL DEFAULT '';`

- Update user profile
You can extend the struct Up

[2022-06-27 04:27] appflowy opened #576 "[FR] Grid filter"
Support filtering row by adding filter

[2022-06-28 03:08] visibleLi commented on #489
Hi, can you post the tutorial?

[2022-06-28 03:11] visibleLi commented on #489
@GChalony  Hi, can you post the tutorial?  I have the same configuration as you but it doesn't seem to go well。Did you install the app directly or rebuild the image, I look forward to your reply, thank you！

[2022-06-28 15:53] apomalyn commented on #433
@annieappflowy I updated the PR to match the remaining bugs. If possible, could you also add the 'bug' label (maybe add the design also)?  😄

[2022-06-30 13:45] bburdette commented on #484
I'd like it if icons would be scalable to larger sizes, as well as the fonts.  The app isn't really usable for me since I have a high DPI monitor.

[2022-07-01 16:44] lanistor opened #580 "Is there a way to just use rich editor of AppFlowy only?"

[2022-07-03 03:15] appflowy commented on #454
Thanks @apomalyn

[2022-07-03 03:22] appflowy commented on #433
@apomalyn , thank you. I added the labels. I also granted you the permission to triage the issues. You should receive an invitation for this.
Please also check this if you dont: https://github.com/AppFlowy-IO/AppFlowy/invitations
Thanks a lot for helping us!

[2022-07-03 13:33] #210 closed

[2022-07-04 21:10] simonbengtsson commented on #570
Related to this issue in flutter https://github.com/flutter/flutter/issues/63576

[2022-07-05 07:29] appflowy commented on #570
I can reproduce on Mac OS

[2022-07-05 14:04] pablosichert opened #591 "[Bug] Dragging window by title bar doesn't respond to first click / lags on macOS"
**Describe the bug**
When trying to drag the AppFlowy window, the window doesn't respond to the first click. When clicking again and dragging the window, the window moves in a very wonky manner.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the AppFlowy app on macOS.
2. Click and drag the title bar.
3. Nothing happens.
4. Click on the title bar again and drag the window.
5. Window mov

[2022-07-06 14:13] BobH-Official opened #595 "[Bug] Unexpet behaviour of window when changing Appearance(Light Mode or Dark Mode)"
**Describe the bug**
The window unexpectly reload its size, when changing Appearance(Light Mode or Dark Mode).

**To Reproduce**
Steps to reproduce the behavior:
1. Open the App, do either below:
   * change the window's **size** (maxmize or just drag the corner to resize), either bigger or smaller,
   * change the window's **position**,
2. Open settings
3. **Click on the switch to change Appearan

[2022-07-11 02:56] LucasXu0 commented on #595
We have fixed this bug and merged it into the `main` branch, thanks for submitting the issue.

[2022-07-11 02:56] #595 closed

[2022-07-11 04:17] annieappflowy opened #601 "[FR] Support the android tablet version"
### Discussed in https://github.com/AppFlowy-IO/AppFlowy/discussions/486

<div type='discussions-op-text'>

<sup>Originally posted by **Angel0726** May  5, 2022</sup>
 will you support the android tablet version？</div>

[2022-07-11 04:24] annieappflowy opened #602 "[FR] How. does it sync cross devices?"
### Discussed in https://github.com/AppFlowy-IO/AppFlowy/discussions/540

<div type='discussions-op-text'>

<sup>Originally posted by **jinfagang** June  5, 2022</sup>
currently now account, how should users sync docs cross devices?</div>

[2022-07-11 10:27] annieappflowy commented on #530
I can reproduce this issue. Thanks all for reporting it. We'll take a look.

[2022-07-15 12:46] jpastolfo commented on #566
I ran into the same situation and found that a problem with packaging in 22.04 causes the issue. A more detailed discussion can be found [here](https://stackoverflow.com/questions/72133316/ubuntu-22-04-libssl-so-1-1-cannot-open-shared-object-file-no-such-file-or-di).

Just use:

[code]

 Works fine for me (for now)!

[2022-07-18 03:06] LucasXu0 opened #622 "[FR] Support text editing in TextNode."
1. Implement the TextNode and TextNodeWidget in the FlowyEditor core.
2. Support basically text editing in TextNode.
3. Sync with the delta.

[2022-07-18 03:21] LucasXu0 opened #623 "[FR] FlowyEditor Design Document."
The document should be including:

- [x]  Data Structure Design.
    - [x] Json and keyword description.
    - [x] Collaborative data model description.
        - [x] Node Collaboration.
        - [x] Text Collaboration.

- [x]  Plugin Design.
    - [x] Plugin Registration.
        - [x] Type.
        - [x] Subtype.
    - [x] How to render the plugins.
    - [x] How to update the UI when node chan

[2022-07-18 09:19] annieappflowy commented on #361
Hi @matrixhead , hope this is not too late. Can you confirm if you'd like to work on this issue? I will then assign it to you and a mentor who can offer help.

[2022-07-18 09:57] annieappflowy commented on #361
@matrixhead  awesome! thanks for offering the help. @LucasXu0 is the mentor on this FR. You can reach out to him on Discord if you'd like to have quick chats. Join Discord: https://discord.gg/9Q2xaN37tV

[2022-07-18 11:21] annieappflowy commented on #127
@MikeWallaceDev hey Mike, any update on this?

[2022-07-18 11:24] annieappflowy commented on #357
@gabriel-viviani any update? We'd probably need to un-claim it if your plan is changed :D

[2022-07-18 11:25] annieappflowy commented on #358
Hi @moksh-mahajan, any update on this? As we have more people on the team, I can assign a mentor who can offer help :D

[2022-07-18 11:25] annieappflowy commented on #359
Hi @rubiagatra, any update on this?

[2022-07-18 11:38] vincentdchan opened #630 "[FR] Implement the data model of the FlowyEditor"
- [x] Define the classes of the operations.
  - InsertOperation
  - UpdateOperation
  - DeleteOperation
- [x] Implement `Delta` for text editing.
  - Delta:
    -  Insert
    - Delete
    - Retain
  - PRs
    - #615
    - #626
    - #628
- [x] Implement `TransactionBuilder` to generate operations
  - PRs
    - #627
    - #644
 - [x] Implement operation transforming for `TransactionBuilder`
  - PRs

[2022-07-18 21:50] KlfJoat opened #631 "[FR] Support for Block Protocol"
**1~3 main use cases of the proposed feature**

- As a developer of AppFlowy, I want to implement new block types quickly so I can quickly deliver more functionality to users.
- As a user of AppFlowy, I want advanced block types available for use quickly so I can get my work done.
- As a supporter of open standards, I want tools I use to use open standards so I can support projects that align with

[2022-07-19 01:23] JamesUmmec commented on #566
Sorry, I'm now using arch rather than ubuntu. 😂

[2022-07-19 01:43] LucasXu0 opened #633 "[FR] Implement FlowyEditor RichText component."
- [ ] support markdown render style.
- [x] support document selection by cursor and keyboard.
- [ ] support editing by shortcuts, including markdown symbols `#` and quick select style through `/`.

[2022-07-19 01:50] LucasXu0 opened #634 "[FR] Implement FlowyEditor Toolbar component."
- [ ] support change document style through selection in the toolbar.
- [ ] plugin system integrates with the toolbar. A developer or a user could add a plugin to the toolbar.

[2022-07-19 02:53] annieappflowy commented on #566
Ah ok, if you are no longer having issues with running AppFlowy on your device, please close this issue. Thanks

[2022-07-19 03:13] annieappflowy commented on #631
Thanks for the input! We will note it down and consider your use cases when designing relevant features. Likely we'll come back to this thread for follow-up questions.

[2022-07-19 04:51] pftg commented on #300
Yep, with one button deploy everybody would be able to run own instance in no time and no much effort!

[2022-07-19 05:03] annieappflowy commented on #300
@Driesvanherpe hello, any update on this?

[2022-07-19 05:33] appflowy opened #635 "[FR] Add suffix PB to all protobuf class/struct"
Add a keyword, `PB`, In order to verify what class/struct is in protobuf format,

[2022-07-19 05:39] appflowy opened #636 "[FR] Grid Task scheduler"
A grid task is a compute task that is triggered by the grid, such as filter, sort, etc. The task is run in the background and notifies the frontend with the result. Every task needs to be scheduled, So we make the grid task scheduler.

[2022-07-19 05:44] LucasXu0 opened #637 "[FR] Implement the render plugins system in FlowyEditor."
- [ ] render the UI based on the state tree.
- [ ] dispatch nodes with different types to different plugins.
- [ ] examples and showcases.

[2022-07-19 05:44] appflowy opened #638 "[FR] Filter row"
When performing filter on the grid, we need to cache the filter result and notify the frontend which row visibility was changed.
The row visibility is determined by its cells' content.

- [x] Get cell display content when the cell was changed in the backend
- [ ] Check and cache the visibility of each row after the cell was changed.
- [ ] Add unit test for filter test
- [ ] Notify frontend to hide

[2022-07-19 05:47] appflowy opened #639 "[FR] Documentation on Grid"
Writing documentation for Grid to decrease contributor's the cognitive load.

https://appflowy.gitbook.io/docs/essential-documentation/contribute-to-appflowy/architecture/frontend/grid

[2022-07-19 05:56] appflowy opened #640 "[FR] Build BoardView Data"
The Boarddview shares the same data model with Grid. We need to support the group with a field that will fit the BoardView data model.

- [x] Remove filter feature flag, migrate grid data.
- [ ] Extend GridSetting with group setting
- [ ] Unit test for group setting
- [ ] DataModel for BoardView

[2022-07-19 06:06] appflowy opened #641 "[FR] BoardView UI"
- [x] Public the appflowy_board package to pub.dev
- [x] Integrate appflowy_board into AppFlowy
- [x] Board data persistence
- [x] Add GridView to Grid that stores the row order and grid setting.
- [x] Create card
- [ ] Open card detail page
- [ ] Move card
- [ ] delete card
- [ ] Move column
- [ ] Board test

[2022-07-19 07:24] #635 closed

[2022-07-19 08:20] adch99 commented on #363
Confirm that this occurs in Ubuntu 20.04 as well. Installed from source release from github.

AppFlowy version: 0.0.4 on github release page, but the "?" icon in the right bottom corner indicates v1.0.0.1
OS: Ubuntu 20.04 64-bit

Runtime messages:
[code]

OS and hardware Info:

[code]

Please tell me if you need any other logs.

[2022-07-19 11:21] alflanagan commented on #112
An easier way to get the missing libraries in Ubuntu 22.04:

if the above doesn''t work, see https://stackoverflow.com/a/72633324/132510.

[2022-07-19 11:28] theboywhomakesgames commented on #566
Would it be helpful if I work on a snap package of AppFlowy?

[2022-07-19 12:56] JmbFountain commented on #530
I have taken a look at this, and I think I have gotten it to work by moving to flutter_quill ^5.0.4 and flutter_colorpicker ^1.0.3

Will test a bit more, then submit a PR

[2022-07-19 13:46] apomalyn commented on #11
I cannot reproduce the bug with MacOS Monterey and AppFlowy v0.0.4.1. Is anyone able to reproduce it now?

[2022-07-19 14:59] #636 closed

[2022-07-19 17:46] apomalyn commented on #207
Closing this because the bug doesn't exists anymore (see screenshot)

<img width="62" alt="Screen Shot 2022-07-19 at 13 46 44" src="https://user-images.githubusercontent.com/22211097/179815839-38ddc56f-7331-411a-b2f1-a008aa36e2dc.png">

[2022-07-19 17:46] #207 closed

[2022-07-19 17:57] apomalyn commented on #342
**Describe the bug**
Impossible to copy or cut from the Doc editor.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any Doc page
2. Type anything
3. Select it or double-click on it
4. Try to open the context menu OR try [Ctrl | Command] + C OR try [Ctrl | Command]  + X
5. See the error

**Expected behavior**

I should be able to copy and cut from the editor.

**Desktop (please complete

[2022-07-19 18:00] srey04 opened #649 "[Bug] msvcp and vcruntime errrors"
**Describe the bug**
A clear and concise description of what the bug is.
I am getting MSVCP and VCRuntime errors
**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2022-07-19 18:01] apomalyn commented on #404
@goodforever did you try clicking on the `Doc` on the list like suggested by Mike? 😄

[2022-07-19 20:34] tliebig commented on #566
The problem persists - I have the very same error on my Fedora 36 after extracting the tar file, moving the AppFlowy directory to /opt/ and trying to start as a regular user instead of admin:

`[tliebig@FEDORA-28 ~]$ cd /opt/AppFlowy/
[tliebig@FEDORA-28 AppFlowy]$ ./app_flowy
[ERROR:flutter/lib/ui/ui_dart_state.cc(198)] Unhandled Exception: Invalid argument(s): Failed to load dynamic library 'libd

[2022-07-20 01:14] sunny7dusk commented on #127
I've just tried testing for this bug. The feature is working as intended. After clicking on Share -> Markdown, I can just CTRL+V at any text editor for the markdown code.

[2022-07-20 02:32] vincentdchan opened #651 "[FR] Implement the UndoManager for the FlowyEditor"
- [x] FixedSizeStack
- [x] Invert operation
- [x] Undo
  - #655
- [x] Redo
  - #668

[2022-07-20 02:41] vincentdchan opened #652 "[FR] Implement copy & paste for the FlowyEditor"
- [x] Convert from HTML to the Document
  - PR: https://github.com/AppFlowy-IO/AppFlowy/pull/750
  - PR: https://github.com/AppFlowy-IO/AppFlowy/pull/769
- [x] Convert from the Document to the HTML
  - PR: https://github.com/AppFlowy-IO/AppFlowy/pull/761
- [ ] Cut content from the Document
  - PR: https://github.com/AppFlowy-IO/AppFlowy/pull/764

[2022-07-20 07:19] wharjack opened #653 "The Font in your screen shot is not the same on my Computer"
**Describe the bug**
Hi, I don't know what happened but the font is so thin and it makes my eyes hurt. I wanted the font that you used in your screen shot or at least I can change the font

**Expected behavior**
Make font more clear, clearer or bolder.

**Screenshots**
![image](https://user-images.githubusercontent.com/52787179/179920760-073e240f-beff-4d51-8c50-6daafd6aca9e.png)

**Desktop (please

[2022-07-20 07:22] Gaming4LifeDE commented on #157
Since the content of the folder is not really human readable, I think the path should be switched to https://wiki.archlinux.org/title/XDG_Base_Directory as per XDG specification (there is a link to the full spec on the wiki page).
This would also help with Flatpak support in the future since you don't need to have permission to write to Documents this way.
Applications shouldn't be writing their h

[2022-07-20 07:27] notstyle commented on #653
Agree, with Light Mode is to thin. Dark mode is ok.

[2022-07-20 07:35] notstyle commented on #433
Hi, additionally to this drop down also looks bad:

![image](https://user-images.githubusercontent.com/38030665/179923930-652c4b51-9acf-423d-ae32-e62eb97e6caf.png)

[2022-07-20 09:07] wharjack commented on #653
Hi! I tried dark mode. A little bit thin but still not manageable to read. It will hurt our eyes in few minutes

[2022-07-20 11:29] #640 closed

[2022-07-20 11:51] annieappflowy commented on #363
Two issues on this thread:
1. UI too small on Linux
2. "?" version information seems to be incorrect

[2022-07-20 12:23] annieappflowy commented on #157
Thanks @Gaming4LifeDE for sharing the knowledge and suggesting a change. We'll evaluate it and consider your suggestions.

[2022-07-20 12:34] annieappflowy commented on #653
@notstyle @wharjack thanks a lot. I'll make it a top priority to improve this experience.

[2022-07-20 13:10] RohitYandigeri commented on #639
I would like to work on this , please assign me a mentor

[2022-07-20 15:04] Danonino1978 opened #661 "[FR] Icon in side panel"
Hello,
I will appreciate if I can use icons in directory side panel to better user experience. I think I,ve seen it in some image in Google search but i´m not sure.
Many thanks !!
Regards,

[2022-07-20 19:07] sunny7dusk commented on #653
I'm thinking I can try implementing ways for people to change font family and size in the settings. Can I work on this?

[2022-07-20 21:01] candideu opened #664 "[FR] Documents in Database Entries"
# **1~3 main use cases of the proposed feature**
Hello! Thanks for making this app.

My suggestion is to have a document attached to each database entry. This way, users can attach rich text information when they expand the entry, and have the option to open it as a document.

# **What types of users can benefit from using your proposed feature**
- People who want to keep track of recipes
- People

[2022-07-20 22:50] wharjack commented on #653
Just work on it, they will approve it if they wanted to but I guess they will

[2022-07-20 22:54] wharjack commented on #653
Anyway, you may also add change font size for better readability which Notion lacks.

[2022-07-21 02:04] #448 closed

[2022-07-21 03:10] annieappflowy commented on #653
Agreed. More flexibility is what we aim for :D

[2022-07-21 03:15] annieappflowy commented on #664
Thanks @candideu for sharing your use cases. We currently support open a record as a page where you can see where we are going - open as a document. This feature is planned and will keep you posted when it's online.

[2022-07-21 04:02] manV commented on #566
I also have same issue on Fedora 36.

[2022-07-21 06:53] vincentdchan commented on #653
@wharjack Sorry for the bad font rendering on Windows. Improving the font rendering on Windows should be taken into consideration ASAP.

Actually, we are developing a new editor to replace flutter-quill. You can track the progress in the project tracker. Custom themes will be implemented through our plugin systems.

If you are interested in this section of the new editor, welcome to participate. c

[2022-07-21 11:48] sunny7dusk commented on #653
@vincentdchan I would love to!

[2022-07-21 11:54] vincentdchan commented on #653
You can join the discord channel: https://discord.gg/sYzMkG6P.

[2022-07-21 11:55] sunny7dusk commented on #653
Am already in jt

[2022-07-21 12:52] FinnRG commented on #566
@tliebig @manV Please search the issue tracker before posting new questions. You need to install another library for Fedoras 36. you can find instructions here: https://github.com/AppFlowy-IO/AppFlowy/issues/112#issuecomment-1133666925

[2022-07-21 16:47] tv42 opened #669 "[FR] Document where data is stored, and please reconsider ~/flowy"
**1~3 main use cases of the proposed feature**

The website claims "100% control of your data Download and install AppFlowy on your local machine. You own and control your personal data.". I wanted to evaluate these claims for myself, and looked for where AppFlowy stores the data and how. This was never mentioned in the documentation or in the app.

Also, please consider moving the default locatio

[2022-07-21 19:36] FilBot3 commented on #566
I had the same problem on Fedora 36 Silverblue. However, installing `sudo rpm-ostree install openssl-devel` did not solve the issue.

On Ubuntu, you'd have to find the libraries that provide the libssl-dev packages, I believe.

This dependency should be called out on the README for now, or somewhere else. Otherwise, if this can be packaged as a Flatpak, I think you'd reach a larger, much more acce

[2022-07-21 19:38] FilBot3 commented on #566
Should be solved here: Issue https://github.com/AppFlowy-IO/AppFlowy/issues/112 but the version of OpenSSL I have installed is supposedly much newer?

[code]

[2022-07-21 22:31] ItsAleph opened #671 "[FR] Support Markdown"
**1~3 main use cases of the proposed feature**
Having to point and click on each button to just toggle a single style is very cumbersome. Support for markdown syntax would be an QoL feature and unbelievably increase the speed of writing content

**What types of users can benefit from using your proposed feature**
Everyone.

**Additional context**
I see the implementation of this like that: you typ

[2022-07-22 02:43] annieappflowy commented on #671
Thanks @ItsAleph for submitting a FR to us. I searched through the issue list, and there seems to be a markdown FR that's already submitted: https://github.com/AppFlowy-IO/AppFlowy/issues/25

[2022-07-22 03:04] annieappflowy commented on #175
Since this is a highly requested issue, we decide to work on it. I will come back to this thread when it's done. Thanks all.

[2022-07-22 03:22] annieappflowy commented on #566
@FilBot3 thanks for your input. We decide to work on supporting Flatpak. Please follow this thread for the update: https://github.com/AppFlowy-IO/AppFlowy/issues/175
RE: update the dependency, can you clarify what dependencies for which system?
We're open to documentation contributions. Maybe you can directly edit it and submit a PR. It can probably goes here: https://github.com/AppFlowy-IO/AppFlo

[2022-07-22 03:34] vincentdchan commented on #356
<img width="787" alt="image" src="https://user-images.githubusercontent.com/2352832/180357062-e9fdca0c-fea1-4c1e-b3e7-694abe12591e.png">

[2022-07-22 03:38] vincentdchan commented on #356
Figma: https://www.figma.com/file/RBbkhQkcCf69c0Bos1L1aH/Language-Setting?node-id=0%3A1

[2022-07-22 04:12] annieappflowy commented on #669
Hi @tv42 , thanks a lot for your feedback. Documenting the path and renaming the folder path totally make sense to me. We'll incorporate your suggestions.

[2022-07-22 05:46] matdexir opened #675 "Question: Is there an alternative to step 5 for the linux build from source?"
Hi,

I was trying to build `linux' debug version` from source by following the instructions on https://appflowy.gitbook.io/ and I kept failing to run the binary until I saw that I missed `step 5`.
As `non-vscode` user who is also considering contributing to the project, I was wondering if there's an alternative way to run the program, i.e without vs-code.
For instance: `make clean-debug` that can

[2022-07-22 06:42] vincentdchan opened #676 "[FR] Implement the new document model in Rust"
The new document model unifies the way how AppFlowy stores and transfers data.

The Dart version: https://github.com/AppFlowy-IO/AppFlowy/issues/630

[2022-07-22 07:08] ItsAleph commented on #671
Oh, sorry! I searched for "Markdown", but github did not given any results :C

[2022-07-22 07:08] #671 closed

[2022-07-22 12:02] LaBaude32 opened #679 "[Bug] Issue with dark theme hightlight colors"
**Describe the bug**
In dark theme configuration, the text is automatically turning white color. But with the highlight it become unreadable as we can se below :

**To Reproduce**
Steps to reproduce the behavior:
1. Go to parameters
2. Click on appearance
3. switch to dark mode '
4. See error

**Expected behavior**
Maybe you need to update highlight colors for dark theme

**Screenshots**
![image](

[2022-07-22 15:53] RohitYandigeri opened #681 "[FR] AppFlowy logo in the "blog" page is not linked to home page"
When we access the blog page from the home page , the AppFlowy logo in the blog page should be linked to the home page.
User feels more comfortable to switch and access both pages without creating multiple tabs in the browser.

![Screenshot 2022-07-22 211827](https://user-images.githubusercontent.com/91059418/180476565-a20e4537-4798-4239-9a29-8012369fb6be.png)

[2022-07-22 20:11] fangykai commented on #679
Duplicate of #433

[2022-07-22 20:21] MikeWallaceDev commented on #679
Duplicate of #433

[2022-07-22 20:21] #679 closed

[2022-07-23 05:07] MichaelTunnell commented on #175
I came here to request Flatpak support and to see it already planned to be done is Awesome! 😎👍

[2022-07-23 05:12] appflowy opened #685 "[FR] The color of the highlighted background box is inconsistent"
The color of the highlighted background box is inconsistent. The highlight color of `New column` and `New row` is not the same as the column. It should be the same as `Done button `, aka, gray color.

<img width="705" alt="image" src="https://user-images.githubusercontent.com/86001920/180591296-9880591e-12dc-48a0-b740-f7aff51c6de3.png">

<img width="694" alt="image" src="https://user-images.github

[2022-07-23 05:22] appflowy opened #686 "[FR] Tooltip for grid's row action"
Tooltip for row action.

1. add a new row
<img width="472" alt="image" src="https://user-images.githubusercontent.com/86001920/180591501-22f58147-d29d-4c77-87f4-624b0aa04c54.png">

2. click to open menu
<img width="535" alt="image" src="https://user-images.githubusercontent.com/86001920/180591529-2485d07b-0d72-41c5-befa-88ad15b6aede.png">

[2022-07-23 05:38] appflowy opened #687 "[FR] MouseCursor for expanding row"
Change the mouse cursor to expand the kind cursor.

<img width="358" alt="image" src="https://user-images.githubusercontent.com/86001920/180591723-418fb6be-9c8e-42ba-9991-6ef752e618a4.png">

Just like what notion does, the cursor will change when entering expand mode.
https://user-images.githubusercontent.com/86001920/180592059-aa97e127-7542-4908-996b-dc2eef6e8c2f.mov

[2022-07-23 05:42] appflowy opened #688 "[FR] Tooltip for open row as page"
Add a tooltip for opening row as a page.

https://user-images.githubusercontent.com/86001920/180592152-a3981436-de5c-484f-967e-3e57161487a8.mov

[2022-07-23 06:01] appflowy opened #689 "[FR] Icon color for light/dark mode"
The icon seems weird on light mode, but it works on dart mode. The icon color should be pure dark in light mode and light gray in dark mode.

<img width="556" alt="image" src="https://user-images.githubusercontent.com/86001920/180592552-624865b4-8a40-40b6-932e-d62a86ce255c.png">

The color should not be const, it should read from the theme color.
![image](https://user-images.githubusercontent.com/

[2022-07-23 06:26] appflowy opened #690 "[FR] Save left side width setting to disk"
The width of the left sidebar is not saved to disk, so it will get reset on the next launch.
https://user-images.githubusercontent.com/86001920/180593248-5707c634-7f99-41cd-ae92-b71107d5b4fb.mov

1. Extend the UserSettingsService to save the width.
2. Restore the width on the next launch.

[2022-07-23 06:34] appflowy opened #691 "[FR] Layout of window's icon"
The layout of the window's icon is fine in expand mode. But it is overlaid with the document title when you're in the smallest window's size.

<img width="903" alt="image" src="https://user-images.githubusercontent.com/86001920/180593470-18bf2027-0277-40c0-b0a2-1a0f04013536.png">

Smallest window's size mode.
<img width="790" alt="image" src="https://user-images.githubusercontent.com/86001920/1805

[2022-07-23 06:39] appflowy opened #692 "[FR] Shortcut for collapse the left sidebar"
We enable the collapse of the left sidebar by clicking the collapsed button.
<img width="612" alt="image" src="https://user-images.githubusercontent.com/86001920/180593644-55e22e12-93f4-4a15-b100-549341cf6f4c.png">

We can add a shortcut and tooltip for collapsing the left sidebar.
<img width="195" alt="image" src="https://user-images.githubusercontent.com/86001920/180593674-db29d954-d694-42ae-b0c

[2022-07-23 09:03] appflowy opened #693 "[FR] Improve the grid number unit test in the backend"
The existing tests for the grid number field are in [here](https://github.com/AppFlowy-IO/AppFlowy/blob/main/frontend/rust-lib/flowy-grid/src/services/field/type_options/number_type_option/number_tests.rs) out.

Expected:
Add more unit tests to cover more corner cases.

[2022-07-23 09:04] appflowy opened #694 "[FR] Improve the grid URL unit test in the backend"
The existing tests for the grid URL field are in [here](https://github.com/AppFlowy-IO/AppFlowy/blob/main/frontend/rust-lib/flowy-grid/src/services/field/type_options/url_type_option/url_tests.rs) out.

Expected:
Add more unit tests to cover more corner cases.

[2022-07-23 09:06] appflowy opened #695 "[FR] Improve the grid date unit test in the backend"
The existing tests for the grid date field are in [here](https://github.com/AppFlowy-IO/AppFlowy/blob/main/frontend/rust-lib/flowy-grid/src/services/field/type_options/date_type_option/date_tests.rs) out.

Expected:
Add more unit tests to cover more corner cases.

[2022-07-23 09:24] appflowy opened #697 "[FR] Implement AppFlowy style toggle"
The toggle in the setting page fits the AppFlowy style.
<img width="906" alt="image" src="https://user-images.githubusercontent.com/86001920/180598979-d26d1fc9-e2b7-469d-a9f6-d486193a9d77.png">

You can get the AppFlowy design spec in this [link](https://www.figma.com/file/X1R9i5HAFtJSNIKOPPW7yK/AppFlowy-%5BUI%5D%5BMaster%5D?node-id=15%3A4285
)

![image](https://user-images.githubusercontent.com/8

[2022-07-23 09:29] appflowy opened #698 "[FR] Display the number of rows in the grid"
For the moment, the grid doesn't display the number of rows.  We can implement it according to the design [spec](https://www.figma.com/file/X1R9i5HAFtJSNIKOPPW7yK/AppFlowy-%5BUI%5D%5BMaster%5D?node-id=354%3A2794).

![image](https://user-images.githubusercontent.com/86001920/180599429-990f9fbf-3010-4bab-aa75-c7c42b0481c9.png)

[2022-07-23 12:57] OpenWaygate commented on #65
Windows 11 22H2 OS Build 22622.436
Microsoft Edge Version 103.0.1264.71 (Official build) (64-bit)
AppFlowy Version v0.0.4

![image](https://user-images.githubusercontent.com/27287694/180605781-7bde2fb0-908e-4f80-a6eb-ebbc3428fe06.png)

[2022-07-23 13:10] rubiagatra commented on #359
I have been a little bit busy in the past 3 months, I'll check this on Sunday. If anyone wants to take a stab at it, go ahead!

[2022-07-23 13:21] apomalyn commented on #65
@OpenWaygate do you have the issue after creating a new page? Or when opening the application?

[2022-07-23 13:36] OpenWaygate commented on #65
Opening the application.

I restart my pc and open appflowy again, now the startup page appears, click **Let's Go** gives no response but the following two links can redirect me to browser.

![image](https://user-images.githubusercontent.com/27287694/180607243-693160fc-a043-43ad-a86c-a0278569efeb.png)

[2022-07-23 13:51] wout commented on #363
I'm experiencing the same issue on elementary OS 6.1 (based on Ubunutu 20.04).
Here are my findings.

![image](https://user-images.githubusercontent.com/107324/180607980-439ab583-929e-4f01-a2ac-ccf6cf573956.png)

When I open the app, the window is tiny and not resizable:

![image](https://user-images.githubusercontent.com/107324/180607757-bcff5dc9-3e6a-48d6-9d6b-5724ac55769a.png)

By launching the

[2022-07-23 14:05] MikeWallaceDev commented on #689
Wouldn't it be better to have this in the theme instead?  All icons need to be adjusted according to the current theme.

[2022-07-23 14:55] MikeWallaceDev commented on #112
Reopened because this problem seems to be our "blank page" problem.  I will check this out. We problably need to add to the documentation.
Note to self: also look at #566

[2022-07-23 14:56] MikeWallaceDev commented on #566
I will check this out. We problably need to add to the documentation.
Note to self: also look at #112

[2022-07-23 17:45] sunny7dusk opened #700 "[Bug] Language selector does not save language when reopening"
**Describe the bug**
When using the language selector to use a language, UI changes to reflect it. However, if you close the app and reopen it, the language selector remains at  the previously chosen language but the language of the UI returns to English.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to settings through the settings icon on the top left, then pick the language option on

[2022-07-24 23:20] rubiagatra commented on #359
I think for `build` matrix is already done yeah @annieappflowy @LucasXu0? or do you want windows support too?
[code]
To make it a faster for cargo build, I think we need to disable incremental build.

[2022-07-25 00:21] getWatermelon opened #704 "[Bug] Error on building from docker image appflowy/appflowy:latest"
**Describe the bug**
Error happens on building docker image appflowy/appflowy:latest using docker-compose file from repository.

**To Reproduce**
Build the docker image
[code]

**Terminal output:**
[code]

**Desktop:**
 - OS: Ubuntu 22.04, macOS 12

[2022-07-25 01:46] tilucasoli commented on #697
Can I do this task?

[2022-07-25 02:20] appflowy commented on #697
No problem, I will assign this task to you. You DM me if you have any questions.

[2022-07-25 05:30] annieappflowy commented on #681
@RohitYandigeri thank you! We accept your suggestions

[2022-07-25 05:33] RohitYandigeri commented on #681
Thank you for your response , please appreciate it with providing some free
swags or tshirt , that would motivate me to contribute to open source

On Mon, 25 Jul 2022, 11:00 am Annie, ***@***.***> wrote:

[2022-07-25 07:45] LucasXu0 opened #708 "[FR] Implement arrow up/down/left/right event handler."
**arrow up/down/left/right**
- [x] Implement normal move events, up/down/left/right.
- [ ] Handle key combinations, like `Command` or `Shift` and so on.

**Corner cases**
- [x] When the cursor is at the front or back of the current widget, the cursor should move up and down if pressed left and right.
- [x] When the cursor is not at the front or back of the current widget, the cursor should move le

[2022-07-25 12:12] appflowy opened #710 "[FR] Support Grid's "Sort", "Field", and "Search" features"

[2022-07-25 12:13] appflowy opened #711 "[FR] Support Grid's 'checklist' column type"

[2022-07-25 12:13] annieappflowy opened #712 "[FR] AppFlowy's Design System"

[2022-07-25 12:14] annieappflowy opened #713 "[FR] Sync data across devices"

[2022-07-25 12:14] annieappflowy opened #714 "[FR] Collaboration Server"

[2022-07-25 12:14] annieappflowy opened #715 "[FR] Offline mode"

[2022-07-25 12:15] annieappflowy opened #716 "[FR] Publish a page"
Publish an appflowy page to the web

[2022-07-25 12:15] annieappflowy opened #717 "[FR] Support mobile devices"

[2022-07-25 12:15] annieappflowy opened #718 "[FR] Plugins"

[2022-07-25 17:08] MikeWallaceDev commented on #389
@Loocos so sorry, I never saw this.

AF is currently a single user desktop application. We don't support multi-user yet.

However, what magic that you are able to do with symlinks and a cloud to share data, that's up to you.  :)  I've never tried it, and I have no clue what will happen if two users modify the pages at the same time.

[2022-07-25 17:08] #389 closed

[2022-07-25 17:09] MikeWallaceDev commented on #127
Yeah, I fix this a while back. But I think there was a duplicate issue that I closed.

[2022-07-25 17:09] #127 closed

[2022-07-25 20:18] fangykai commented on #704
Reproduceable on 22.04

[2022-07-25 22:16] MikeWallaceDev commented on #697
Fixed with PR #720
Thank you @tilucasoli !

[2022-07-25 22:16] #697 closed

[2022-07-26 02:50] annieappflowy commented on #700
@sunny7dusk would you like to work on this?

[2022-07-26 03:59] sunny7dusk commented on #700
I can take a look at this @annieappflowy

[2022-07-26 04:08] annieappflowy commented on #704
@MikeWallaceDev did you encounter this issue before?

[2022-07-26 14:32] MikeWallaceDev commented on #704
No, I haven't. But I can look into it if you want.

[2022-07-26 17:42] MoutonSanglant commented on #704
Reproduceable on Ubuntu 20.04.2 LTS

[2022-07-26 18:04] matrixhead commented on #357
hi, can i work on this?

[2022-07-27 06:45] vincentdchan commented on #175
I am starting to build the Flathub package. It's on the way. ✈️

[2022-07-27 06:51] LucasXu0 commented on #633
Move the text node widget from example to flowy_edtior.

[2022-07-27 09:18] annieappflowy commented on #357
that's awesome! I already assigned it to you. Thank you for helping out

[2022-07-27 09:26] vincentdchan commented on #704
Could you try to apply this patch and try again?

[code]

[2022-07-27 10:31] MoutonSanglant commented on #704
Just tried this morning and the error remains the same

The patched `Dockerfile`

[code]

[code]
Output
[code]

[2022-07-27 12:54] wharjack opened #729 "[Bug] AppFlowy GitHub home image problem in Mobile View"
![Screenshot_20220727-204725](https://user-images.githubusercontent.com/52787179/181251177-9f1747eb-e6bb-4fc7-85c8-e467b1b87a7e.jpg)

i viewed other repository with picture in their home view using my phone and it's okay but appflowy isn't.

[2022-07-27 15:23] apomalyn commented on #729
Here is the [line](https://github.com/AppFlowy-IO/AppFlowy/blob/main/README.md?plain=1#L41) that cause the issue:

[code]

Removing the `width="1000px"` should fix it.

[2022-07-27 15:34] LilMonk commented on #363
I'm also facing the same issue.I'm using a laptop screen of 2560x1600 display with 150% scale. The screen is not resizable when `GDK_SCALE=1` is not given. And after launching the app with this `GDK_SCALE=1` the contents are not scaled according to display settings.

### System Information

NAME="Pop!_OS"
VERSION="22.04 LTS"
ID=pop
ID_LIKE="ubuntu debian"
PRETTY_NAME="Pop!_OS 22.04 LTS"
VERSION_ID

[2022-07-27 16:45] LilMonk commented on #704
I'm also having the same issue. I'm using Pop!_OS 22.04 LTS

[2022-07-27 22:09] steveoriol opened #731 "[FR] add n8n Integrations"
**Provide n8n Integrations as the notion does**
https://n8n.io/integrations/

[2022-07-27 23:50] wharjack commented on #729
![image](https://user-images.githubusercontent.com/52787179/181391435-990b29ac-bf6e-446c-af9a-379a04bc13a1.png)

Desktop view

[2022-07-27 23:51] wharjack commented on #729
width: 100%; would be good?

[2022-07-28 02:10] annieappflowy commented on #729
@wharjack thanks for bringing this up. 100% should work. There is a PR for this fix: https://github.com/AppFlowy-IO/AppFlowy/pull/663. We're waiting for the contributor to format the commit message in order to get the PR merged.

[2022-07-28 06:29] #729 closed

[2022-07-28 14:17] MikeWallaceDev commented on #11
Closing as nobody seems to reproduce this anymore

[2022-07-28 14:17] #11 closed

[2022-07-28 14:56] MikeWallaceDev commented on #729
I fixed the comments for PR #663, I will merge it as soon as CI finishes.

[2022-07-28 19:49] Poly-Pixel commented on #31
@annieappflowy I think that this issue should be closed, as from what I can see Darkmode has already been implemented.

[2022-07-28 19:52] Poly-Pixel commented on #361
@annieappflowy I think that this issue can be closed now as #660 has been merged.

[2022-07-28 19:59] Poly-Pixel commented on #356
@annieappflowy I think that this issue can be closed since #699 is merged.

[2022-07-28 22:07] #356 closed

[2022-07-28 22:10] #31 closed

[2022-07-29 06:53] #361 closed

[2022-07-29 10:29] Fnll opened #735 "[Bug] Unable to delete content after typing Chinese characters"
**Describe the bug**
As the title described, content can not be deleted after typing Chinese characters.

**To Reproduce**
Steps to reproduce the behavior:
1. create a new doc
2. type a Chinese character
3. delete any character

**Expected behavior**
should be possible to delete content.

**Desktop (please complete the following information):**
 - OS: macOS 12.4
 - Browser -
 - Version 0.0.4.1

[2022-07-29 13:14] thisisamank commented on #698
Hey! can i work on this issue?

[2022-07-29 13:36] annieappflowy commented on #698
Thanks for offering the help. I've assigned the issue to you, and @appflowy is your mentor on this issue. Please feel free to reach out to him on Discord for help. Look forward to seeing your contributions.

[2022-07-29 16:16] Poly-Pixel commented on #144
I have been able to partially reproduce this issue. When I re-show the side panel, the page tree comes back immediately, but only the branch that contains the page that's open is not collapsed, even though I had other branches not collapsed prior to hiding the side panel.

[2022-07-29 16:31] Poly-Pixel commented on #25
I like Lloyd-Jackman-UKPL's idea:

It would be nice if pages would operate on a plugin-based system, where each plugin defines one or more tiles that can be used in the page. Some plugins could be included in the app by default (like Markdown), while others could be installed through the plugin marketplace. The plugins would likely have their own settings so that things like raw/rendered view coul

[2022-07-29 16:35] Poly-Pixel commented on #109
@annieappflowy I think that this issue can be closed now that the article has been published.

[2022-07-29 17:24] polypixeldev opened #737 "[FR] Unobtrusive and unified renaming"
**1~3 main use cases of the proposed feature**
When renaming a page from the sidebar a big popup that blurs the rest of the app comes up with the prompt to rename. I would prefer if instead of the popup, the page name itself in the sidebar became a text input to change the name there. In addition, when renaming a root page, I have to right click on the name to get the context menu, but when renami

[2022-07-29 17:31] polypixeldev opened #738 "[FR] Clear terminology"
**1~3 main use cases of the proposed feature**
The current terminology of AF confuses me a little. There's the "New Page" button at the bottom of the sidebar, but the "page" created acts as more of a group than a page that I can write on. However, if I click the plus button on one of these pages, which has a tooltip that reads, "Quickly add a page inside", I get the option to choose from 2 types o

[2022-07-29 18:16] Poly-Pixel commented on #157
I think that for now it's fine to leave it in the documents directory (and rename it to "appflowy"). However, in the future I think that the user should be given full control over where the data is stored. There would probably still need to be a global config file (in .config or somewhere that's appropriate) that has a hardcoded path so that it can know where the user chose to store the data.

[2022-07-29 18:50] Poly-Pixel commented on #649
@srey04 Can you provide more information please? What exactly do the errors say? What version of AppFlowy are you using?

[2022-07-29 18:56] Poly-Pixel commented on #300
I might be misunderstanding this, but AppFlowy is not a web application yet - right now, it is only for desktop. Therefore, I don't know how you would deploy it to Heroku, which to my understanding, is a platform for web apps.

[2022-07-30 06:35] yeganathan18 opened #740 "[Bug] Change the year in the copyright of website footer"
**Describe the bug**
The copyright year mentioned in the footer seems to be outdated.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [appflowy website](https://www.appflowy.io/)
2. Scroll down footer area at the bottom
4. See copyright area and the year mentioned

**Expected behavior**
We could either update the current year in the copyright, or maybe something like this would also wo

[2022-07-30 11:54] Lewiscowles1986 commented on #26
It seems Flutter recently released apple silicon support. I hope it's generic ARM64 so I can run on M1 Studio as well as low-end devices like the raspberry pi.

Links:
- https://github.com/flutter/flutter/wiki/Developing-with-Flutter-on-Apple-Silicon
- https://github.com/flutter/flutter/issues/60113
- https://github.com/flutter/flutter/issues/87508

[2022-07-30 11:56] Lewiscowles1986 commented on #26
If there are tests or it's a matter of configuring a build, I'm in BST London, and happy to take the time to use my hardware to build an M1 and host while the github process for building is worked out.

[2022-07-30 19:03] sky1095 opened #741 "[Bug] Overlay demo example app has `ProviderNotFoundException` error"
**Describe the bug**
In flowy_infra_ui's example app, under  `Overlay Demo` if you click on `Show List Overlay` and `Show Options Overlay`, both have `ProviderNotFoundException` for AppTheme. And there is a render issue in List Overlay

**To Reproduce**
Steps to reproduce the behavior:
1. Rund flowy_infra_ui's example app
2. On Demo's page, click on Overlay item
3. On Overlay Demo page, click on `

[2022-07-30 22:21] yodatak opened #742 "[Bug] App d'o nt run in Fedora 36"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
Fedora 36
./app_flowy
[ERROR:flutter/lib/ui/ui_dart_state.cc(198)] Unhandled Exception: Invalid argument(s): Failed to load dynamic library 'libdart_ffi.so': libssl.so.1.1: No file
#0      _open (dart:ffi-patch/ffi_dynamic_library_patch.dart:12)
#1      new DynamicLibrary.ope

[2022-07-31 09:58] #741 closed

[2022-08-01 06:23] annieappflowy commented on #25
Thanks a lot for sharing your inputs.

@Poly-Pixel your points totally make sense to me. I like it to be customized by having a plugin marketplace where users can download and install things that they prefer. Following this logic, Markdown can be a pre-installed plug-in which can be uninstalled by the user, so basically it's optional.

In terms of the tech design, @LucasXu0 will share more on this

[2022-08-01 06:24] #109 closed

[2022-08-01 06:24] #698 closed

[2022-08-01 06:27] eurythmia commented on #566
confirmed on Pop!_OS 22.04 LTS (ostensibly, Ubuntu 22.04)

fixed with `sudo apt install libssl1.1` (because the lib is in the official repos)

[2022-08-01 06:32] eurythmia commented on #566
for fedora you should be able to resolve your issue with `sudo dnf install openssl1.1` IIRC (it's been a few months since I looked, `dnf search ssl1.1` should give you some ideas, if not try the `dnf search` again with `libssl1.1` and `openssl`)

[2022-08-01 06:35] annieappflowy commented on #25
I also second to @Lloyd-Jackman-UKPL 's idea

[2022-08-02 01:51] appflowy commented on #157
@Poly-Pixel  We will support users to choose their stored path in the future. So I think just leave it there for the moment.

[2022-08-02 07:54] ffos opened #756 "[Issue] https://www.appflowy.io/ site "expired""
Site expired https://www.appflowy.io/
<img width="505" alt="image" src="https://user-images.githubusercontent.com/7200978/182322256-3b76792f-fda3-439a-b4da-2709dddb6b49.png">

[2022-08-02 08:49] annieappflowy commented on #756
Thanks a lot for reporting it. I've fixed it. Could you please try it again?

[2022-08-02 10:20] crydotsnake commented on #756
Its working! :)

[2022-08-02 10:55] #756 closed

[2022-08-02 14:27] thuLink commented on #742
You can fix this by installing openssl1.1
`sudo dnf install openssl1.1`

[2022-08-03 13:37] aryaman31 opened #762 "[Bug] App doesn't open fully / cant be resized when using fractional scaling on linux"
**Describe the bug**
Running the app (```./app_flowy```), opens the app but it cannot be resized or maximized. The side bars are missing as well. I have added pictures for the same (screenshot 1). I managed to fix the issue by using either 100% or 200% scaling. Everytime I used 125% or 150% i would get the same issue as shown in the image.

**To Reproduce**
Steps to reproduce the behavior:
1. Set

[2022-08-03 20:38] johnblommers commented on #454
When the user clicks on link text nothing really happens. Ideally Appflowy would expand the link so the user can edit both the link text and the URL independently.

Normally we type `[link text](http://site.com)` by hand. When we do Appflowy does not recognize that this is a link. IMHO that would be very desirable. It's what a WYSIWYG Markdown editor would be expected to do.

[2022-08-03 21:21] apomalyn commented on #454
Exact. Let me update the expected behaviour to include `on a long hover, the user could see a helper that should allow to open or edit the link`. Is it okay with you?

Currently, AppFlowy doesn't support Markdown at all (correct me if I'm wrong @appflowy)

[2022-08-03 22:28] aarhusgregersen commented on #413
This happened to me as well.

The only thing I can add is that I started with a clean machine that didn't previously have Rust, Flutter or Dart installed.

Assuming you are correct in that VS Code uses bash (instead of zsh which is configured default in new macbooks), is the solution simply to add the export to `.bashrc`?

[2022-08-04 03:36] johnblommers commented on #454
A long hover over a link sounds like a terrific solution.

So I just assumed Workflowy was a Markdown editor?

[2022-08-04 09:40] annieappflowy commented on #740
Done. Thank you!

[2022-08-04 09:40] #740 closed

[2022-08-04 09:42] annieappflowy commented on #762
related to https://github.com/AppFlowy-IO/AppFlowy/issues/363

[2022-08-04 17:19] agwp opened #766 "[FR] Support adding iframes (or other appropriate method) to embed third-party content"
**1~3 main use cases of the proposed feature**

As an AppFlowy user who wants to pull in information from elsewhere on the web, I want to be able to embed content using an iframe so I can have it display on a page.

**what types of users can benefit from using your proposed feature**

- Those wanting to embed externally hosted videos (e.g. Loom, YouTube, Vimeo) within a page.
- Those wishing to em

[2022-08-05 02:37] vincentdchan opened #767 "[FR] Right click for context menu in sidebar tree"
<img width="406" alt="image" src="https://user-images.githubusercontent.com/2352832/182989550-0fc0922a-9f3f-47d3-97a1-b914c2170576.png">

<img width="285" alt="image" src="https://user-images.githubusercontent.com/2352832/182989405-e1c416ac-f6a6-46ae-95ca-43dcf2c624ad.png">

**Current:**
When the "more button" is clicked, the dropdown menu is shown. But when the user right clicks on the button, no

[2022-08-05 07:04] #652 closed

[2022-08-05 07:23] tantanorange opened #770 "[Bug] Input does support Chinese Input (including Sougou Pinyin and Mac embedded Chinese input)"
**Describe the bug**
AppFlowy version 0.0.4(1) does not support Chinese input.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new page
2. Shift input source from English to Chinese Pinyin (Mac embedded Chinese input)
3. Start tying Chinese (the input frame won't follow the cursor), then type space to insert the characters.
4. It shows the Chinese characters just fine. Now, try to d

[2022-08-06 10:53] aryaman31 commented on #767
Hey, can I work on this? I have worked on small flutter apps before.

[2022-08-06 11:16] vincentdchan commented on #767
Absolutely

[2022-08-06 17:26] aarhusgregersen commented on #360
Is this still being worked on @ENsu ?
If not, I'd like to give it a jab.

[2022-08-06 17:26] aarhusgregersen commented on #360
Is this still being worked on @ENsu ?
If not, I'd like to give it a jab.

[2022-08-06 17:36] aarhusgregersen commented on #378
Has there been any progress on this? I see a lot of documentation existing, so thinking this may perhaps already be covered?

[2022-08-06 17:45] aarhusgregersen commented on #112
Hey @MikeWallaceDev , how is this related to the blank page problem? Assuming you mean #136 ?

[2022-08-06 17:50] aarhusgregersen commented on #300
Chiming in here to ditto what @Poly-Pixel says. I initially thought it was a web-based app too, but this currently only builds for desktop, so that's not the case.

When a web implementation becomes common, we should make it docker-based ASAP.

[2022-08-06 17:52] aarhusgregersen commented on #685
I personally think it makes sense to keep the buttons in that color, as they are actions, not 'details', as is true for 'Done' here.

In other words: Clicking either, do different things, and therefore it makes sense to keep different colors.

[2022-08-06 17:52] aarhusgregersen commented on #686
I'm assuming this is on hover?

I'll take a look at it :)

[2022-08-06 19:48] martinfiers commented on #669
Hello! Thanks for this nice project! I was wondering, are you also planning to allow customization of where the data is stored? That way you could store it on a shared folder (and use it e.g. in combination with syncthing/... to share notes across different computers). But I'm not sure if AppFlowy was intended to be used this way?

[2022-08-06 21:11] elieobeid7 opened #779 "Why Did you use Rust? Why not writing the entire thing in Flutter?"
If you hadn't used rust, I could have built the app for my android device, I could have made it a mobile app very easily.

Also, I could have connected it to firestore and I could have data stored the data there, cross-platform.

But you used Rust, I can't make any of that, and I don't understand why you needed rust in the first place, for a note-taking app.  The performance improvements that you

[2022-08-07 12:46] dhruvmaindola227 commented on #686
yes it is

[2022-08-07 12:54] ChiragKr04 commented on #688
Can I work on this issue !?

[2022-08-07 12:55] ChiragKr04 commented on #688
And what to write on the tooltip!?

[2022-08-07 13:02] appflowy commented on #688
Sure. I think `open as a page` would be fine.

[2022-08-07 14:40] ChiragKr04 commented on #688
Created pull request https://github.com/AppFlowy-IO/AppFlowy/pull/781

[2022-08-08 03:18] vincentdchan commented on #766
We have plans to integrate the system's Webview into AppFlowy. Thanks for your feedback.

[2022-08-08 03:19] vincentdchan commented on #570
That's true, Ivan. This will be fixed in our new editor.

[2022-08-08 03:46] appflowy commented on #770
Hi @tantanorange , this is a duplicate of https://github.com/AppFlowy-IO/AppFlowy/issues/735
Please keep an eye out for that issue ticket. Thanks for reporting the bug.

[2022-08-08 03:46] #770 closed

[2022-08-08 05:50] annieappflowy commented on #669
Hi @martinfiers , thanks a lot for the encouraging words. Customizable data storage path is planned to include in v0.0.9: https://github.com/AppFlowy-IO/AppFlowy/milestone/6, and we will iterate on it as more feedback / requests from our users become available.

[2022-08-08 06:28] annieappflowy commented on #685
I second to @aarhusgregersen

[2022-08-08 06:30] annieappflowy commented on #378
This task is done. Please check out: https://github.com/orgs/AppFlowy-IO/projects/5
Closing this issue now.

[2022-08-08 06:30] #378 closed

[2022-08-08 08:29] annieappflowy commented on #360
@aarhusgregersen thanks for offering help. I believe @ENsu is still working on it: https://github.com/AppFlowy-IO/AppFlowy/pull/778
You can take a look at https://github.com/orgs/AppFlowy-IO/projects/5/views/4 to check out friendly issues for new contributors.

[2022-08-08 08:49] vincentdchan commented on #767
If you need help. Join our discord group and DM me.

[2022-08-08 09:08] aarhusgregersen commented on #686
Cool! I'll take a jab at it, see if I can't figure this one out 😄

[2022-08-08 09:17] annieappflowy commented on #686
@aarhusgregersen thanks for claiming this issue. I've assigned @appflowy as your mentor on this task. If you need help, please feel free to ask him on Discord.

[2022-08-08 10:46] #687 closed

[2022-08-08 11:45] ChiragKr04 opened #791 "[FR] [Suggestion] Using deepl translator for app translation."
I have a suggestion about the app translation. How about using deepl.com translator for app translation? It provides close to native translation and it's better than google translate.
[Website](https://www.deepl.com/translator)

[2022-08-09 03:21] appflowy opened #794 "Documentation on flowy-folder"
1. Add documentation on the flowy-folder crate
2. Introduce the must-know concepts of workspace

[2022-08-09 05:05] ChiragKr04 commented on #661
What is `directory side panel` ? Possible to show any screenshots?

[2022-08-09 05:38] ChiragKr04 opened #796 "[Bug] Collapsing button is disappearing on smallest screen."
**Describe the bug**
On the smallest window width collapse icon is showing and after clicking on that it is disappearing after clicking and does not doing anything. Wierd behavior.

**To Reproduce**
Steps to reproduce the behavior:
1. On home page and window width as max.
2. Click on `collapse button (Right side of appflowy icon)`
3. Side menu will hide after that.
4. Now resize the window to lowe

[2022-08-09 14:16] ChiragKr04 commented on #601
Is someone working on this feature?

[2022-08-09 14:26] apomalyn commented on #796
I was able to reproduce the bug on MacOS. So this is confirmed for at least Windows and MacOS.

@ChiragKr04 would you mind adding the following at the end of the issue description:

[code]

Thank you for the issue!! 😄

[2022-08-09 14:27] apomalyn commented on #742
@yodatak were you able to test the solution proposed by LinkTTT?
If that resolved your issue, would you mind closing this issue? 😄

[2022-08-09 15:14] ChiragKr04 commented on #796
So what should be the possible fix? Just removing an icon or major UI/UX changes?

[2022-08-09 16:34] ENsu commented on #360
Hello, @aarhusgregersen. It's a pleasure to meet you. I believe I am nearly finished.

[2022-08-10 01:47] Poly-Pixel commented on #796
I am able to reproduce on Linux as well. I can look into this tomorrow.

[2022-08-10 02:28] annieappflowy commented on #796
Thanks @Poly-Pixel for offering the help. Please feel free to reach out if you need any help from me.

[2022-08-10 03:09] tantanorange commented on #770
@appflowy Thanks, will do! It's an amazing OSS, keep it up man!

[2022-08-10 03:19] annieappflowy commented on #601
Hi @ChiragKr04 , I don't think so. Please feel free to give it a try.
FYI, we are able to run appflowy on iPad

[2022-08-10 03:22] annieappflowy commented on #601
@ChiragKr04 my bad. I just realized that @rileyhawk1417 is working on it. Maybe you can cooperate together!

[2022-08-10 03:22] appflowy commented on #770
FYI, we're building a new editor that will fixes this problem.

[2022-08-10 03:29] tantanorange commented on #770
Sounds Awesome;)

[2022-08-10 08:27] rileyhawk1417 commented on #601
@ChiragKr04 I just need to clean up some of the code and double check if things are working :D

[2022-08-10 08:47] ENsu commented on #360
@annieappflowy @appflowy

I think https://github.com/AppFlowy-IO/AppFlowy/pull/778 is ready for merging.

I've only added 10 icons from https://openmoji.org/ so far, but I think it works well. I don't trust my aesthetic, so I'm hoping that someone else will decide which icon files should go in the emoji folder. 😅

[2022-08-10 11:42] annieappflowy commented on #661
Hi @ChiragKr04 , I believe it's the left panel where you see a list of pages. To @Danonino1978 's request, I guess it's related to adding an emoji to a page title but I'm not sure. @Danonino1978 can you please elaborate on your request?

[2022-08-10 11:42] #767 closed

[2022-08-10 11:45] vincentdchan opened #809 "[FR] Handle `Esc` key in rename dialog"
1. Right click on the sidebar item.

<img width="265" alt="image" src="https://user-images.githubusercontent.com/2352832/183892998-752e7632-3469-4738-a6cf-7e95464dbddb.png">

2. Click on "rename" button.

<img width="720" alt="image" src="https://user-images.githubusercontent.com/2352832/183893055-a850983c-a1d2-47ce-8d82-4291254c11cc.png">

**Expect:**
After the dialog appears, press the "Esc" key

[2022-08-10 13:26] andreysaksonov commented on #175
@vincentdchan will bleeding edge version be available through flatpak-beta

[2022-08-10 13:57] juliendf commented on #566
libssl1.1_1.1.1l-1ubuntu1.6_amd64.deb is 404

Works with :
wget http://nz2.archive.ubuntu.com/ubuntu/pool/main/o/openssl/libssl1.1_1.1.1f-1ubuntu2_amd64.deb

[2022-08-10 17:46] ChiragKr04 commented on #809
Can I work on this?

[2022-08-10 23:15] vincentdchan commented on #809
Sure

[2022-08-11 03:31] LucasXu0 opened #811 "[Bug] The height of selection areas in same line is not same."
Now:
<img width="150" alt="" src="https://user-images.githubusercontent.com/11863087/184060538-16cc0f7d-66d6-4940-ae2b-b28d0ae13bae.png">

Expected:
<img width="132" alt="" src="https://user-images.githubusercontent.com/11863087/184060567-65dd270c-adc4-4222-8ec2-2413e5c1d8b0.png">

[2022-08-11 03:34] LucasXu0 opened #812 "[Bug] The background color of the text widget overflows."
<img width="175" alt="" src="https://user-images.githubusercontent.com/11863087/184060789-217385fa-2d15-454a-ad34-a6c4eb4f5c99.png">

[2022-08-11 03:58] LucasXu0 opened #814 "[Bug] Cannot use `#` to convert text to heading"
<img width="231" alt="" src="https://user-images.githubusercontent.com/11863087/184062559-da7b5cca-328f-4099-8eaa-ee275e88389c.png">

[2022-08-11 04:29] LucasXu0 opened #816 "[Bug] The position of cursor is wrong."
<img width="101" alt="" src="https://user-images.githubusercontent.com/11863087/184064872-f6c8f088-821e-4bde-b154-9848c12f3a50.png">

[2022-08-11 04:30] LucasXu0 commented on #816
too lower. need to be aligned in the center.

[2022-08-11 05:33] LucasXu0 opened #818 "[FR] improve user experience of the slash command."
filter the displayed content by continuing to enter text after showing the popup list.

[2022-08-11 07:31] vincentdchan opened #822 "[FR] Edit keys handler"
- [x]  Command + A
- [x]  Del
- [x]  PageUp / PageDown

[2022-08-11 07:36] #651 closed

[2022-08-11 07:37] #630 closed

[2022-08-11 11:08] #811 closed

[2022-08-11 11:08] #814 closed

[2022-08-11 11:08] #822 closed

[2022-08-11 12:14] LucasXu0 opened #827 "[Bug] Cannot format text style correctly"

[2022-08-11 12:23] rileyhawk1417 commented on #601
Just opened a PR for android #826.

[2022-08-11 12:58] #818 closed

[2022-08-11 14:36] #827 closed

[2022-08-11 19:48] Nike682631 commented on #693
@appflowy is this issue available to work on?

[2022-08-11 19:48] Nike682631 commented on #694
@appflowy is this issue available to work on?

[2022-08-11 19:48] Nike682631 commented on #695
@appflowy is this issue available to work on?

[2022-08-11 19:51] Nike682631 commented on #690
@appflowy is this issue available to work on?

[2022-08-11 19:51] Nike682631 commented on #685
@appflowy is this issue available to work on?

[2022-08-11 19:52] Nike682631 commented on #358
@appflowy is this issue available to work on?

[2022-08-12 01:54] annieappflowy commented on #693
Hi @Nike682631 , thanks for offering the help. I've assigned the issue to you. If you have any questions, please reach out to @appflowy on Discord.

[2022-08-12 01:57] annieappflowy commented on #358
Hi @moksh-mahajan , are you still working on this?

[2022-08-12 01:58] annieappflowy commented on #695
Hi @Nike682631 , I've assigned this issue to you. Thank you for contributing to AppFlowy.

[2022-08-12 02:09] moksh-mahajan commented on #358
Hi @annieappflowy
I'm not currently working on this issue.

[2022-08-12 02:25] annieappflowy commented on #685
Assigned

[2022-08-12 02:32] #691 closed

[2022-08-12 03:21] rolltidehero opened #830 "[FR] Instant search"
**1~3 main use cases of the proposed feature**

Algolia has a free one but it's capped to a certain amount of requests per month.

I think it's still worth integrating if you don't want to code a unique one.

Thoughts?

![image](https://user-images.githubusercontent.com/11590510/184272545-041901b4-92d0-4e29-9750-be76c15cd07b.png)

![image](https://user-images.githubusercontent.com/11590510/1842789

[2022-08-12 03:41] #809 closed

[2022-08-12 05:40] LucasXu0 opened #832 "[Bug] In the case of multiple selections, the behavior of deleting text is unexpected."
In the case of multiple selections, the behavior of deleting text is unexpected.

[2022-08-12 06:49] #832 closed

[2022-08-12 07:10] vincentdchan opened #834 "[FR] Add hover and selected state of Trash"
When the Trash tab is selected, there is no hover state.

<img width="342" alt="image" src="https://user-images.githubusercontent.com/2352832/184302822-2aa1b648-3d63-458e-80a8-f29bd36152a3.png">

**Expect:**

Add hover and selected background of Trash corresponding to the item of the panel:

<img width="314" alt="image" src="https://user-images.githubusercontent.com/2352832/184303025-8b5359ba-cdc6

[2022-08-12 08:08] LucasXu0 opened #836 "[FR] Implement tab indentation in bulleted list."

[2022-08-12 09:08] appflowy commented on #360
@ENsu I merged it. Thanks for contributing again!

[2022-08-12 10:47] chenyinheng30 opened #839 "[Bug] When enable Caps Lock it can not paste with Ctrl-V"
**Describe the bug**
 In text pages, when the Caps Lock is enabled, pressing the Ctrl-V key has no effect,it can not paste.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a text page.
2. Press Caps Lock.
3. Copy a text
4. Paste with Ctrl-V

**Expected behavior**
A clear and concise description of what you expected to happen.

**Desktop (please complete the following information):**
 -

[2022-08-12 15:51] Nike682631 opened #841 "Change 0.0.2 to 0.0.4 in documentation"
![image](https://user-images.githubusercontent.com/40403668/184394138-15685fe9-8976-401d-bc91-842ff1f75fe7.png)

In the above image 0.0.2 needs to be changed to 0.0.4

[2022-08-12 16:25] Nike682631 commented on #685
@annieappflowy I've gone through the docs and have been able to build appflowy. I had a question though. Is it possible to do live editing in appflowy?

[2022-08-12 16:55] Nike682631 commented on #685
https://github.com/AppFlowy-IO/AppFlowy/pull/842

[2022-08-13 15:09] ChiragKr04 commented on #839
I'm not able to reproduce this issue on `Windows 11`.

[2022-08-14 05:16] ChiragKr04 commented on #816
How to reproduce this bug? On which page exactly?

[2022-08-14 07:21] Chanyon opened #845 "Chinese font display problem"
**Describe the bug**
   When I use Chinese font, the font size is displayed inconsistently.Whether to consider adding a custom font setting feature.

**Screenshots**
![appflowybug](https://user-images.githubusercontent.com/40350332/184526697-26b1ef02-6ed0-4778-a2b5-fed5bf5f517e.PNG)

**Desktop (please complete the following information):**
 - OS: windows 10

[2022-08-14 08:26] Nike682631 commented on #685
@appflowy Please close this issue

[2022-08-15 11:29] annieappflowy commented on #839
Hi @chenyinheng30 thanks for reporting the issue. This is a duplicate of https://github.com/AppFlowy-IO/AppFlowy/issues/530

I'm closing this one. You can keep an eye out there for the update.

[2022-08-15 11:29] #839 closed

[2022-08-15 11:54] annieappflowy commented on #830
Thanks for sharing this search tool. We'll consider it when start developing the search function.

[2022-08-15 16:47] ChiragKr04 opened #856 "[Bug] Resizing `Trash` window is changing screens."
**Describe the bug**
When the `Trash` page is opened resizing the window changes the main screen.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the `Trash` page.
2. Now resize the window
3. It will change the screen.

**Expected behavior**
It should not change the screen when resizing the window,

**Desktop (please complete the following information):**
 - OS: `Windows 11`
 - `Versio

[2022-08-16 09:40] #641 closed

[2022-08-16 20:16] Leuug opened #864 "[Bug] Outdated documentation"
On the section "Building for Linux" in the documentation, on step 2, it says to run an script, but this script doesn't exists:
![image](https://user-images.githubusercontent.com/58122451/184976892-0ebc4e49-1c00-43d7-bb15-32ecc29d7808.png)

[2022-08-17 00:22] appflowy commented on #864
Hi, @Leuug , please check out whether your current path is frontend or not.

![image](https://user-images.githubusercontent.com/86001920/185007105-0784df76-3bee-4217-b6bd-a872101dcdbb.png)

[2022-08-17 04:47] Leuug commented on #864
I had downloaded the source code from de 0.0.4 release, for some reason this script is not present there. Thank you.

[2022-08-17 20:07] yodatak commented on #742
It work now thanks but i think we have to documentation this or remove this old dependency or flatpak it ;)

[2022-08-18 09:10] TBG-FR commented on #313
That would be an awesome step-up !

[2022-08-18 14:25] yodatak opened #873 "[Bug] French translation of grid field is missing"
**Describe the bug**
There is string that show insted of english or french

https://media.discordapp.net/attachments/961604992324730900/1009611538841214986/Capture_decran_du_2022-08-18_01-54-25.png

[2022-08-18 14:40] yodatak commented on #873
I made a PR to translate them
https://github.com/AppFlowy-IO/AppFlowy/pull/874

[2022-08-18 15:05] yodatak opened #875 "[Bug] Grid Type color in black theme does not have a good constrat"
**Describe the bug**
In the black theme the text in color are not visible because of bad contrast we should have a better contrast

![image](https://user-images.githubusercontent.com/704477/185429171-716652f5-8f0b-4f36-ab91-ff1c2afc283c.png)

[2022-08-19 02:32] LucasXu0 opened #876 "[Improvements] Integrate logging library in AppFlowyEditor"
Three goals
* Remove `print` and `debugPrint` functions in AppFlowyEditor
* Avoid using `print` and `debugPrint` directly in the future.
* Add logging configuration to `AppFlowyEditor`, including logging level and message, and let the developers decide how the logs output.

[code]

[2022-08-19 05:11] mrsauravsahu commented on #313
I don't know Rust yet, but if this requires learning Rust, that'd be a great secondary output for now.

[2022-08-19 12:21] LaBaude32 commented on #363
Hello,
I would like to add some more information:
I used this app with no problem with a Debian 11 + Gnome 3.38 + Intel GPU (and a Nvidia card that wasn't working).
But when I solved my Nvidia GPU problem, AppFlowy started having the same problem as yours. Also, I tried running it with a dedicated GPU, I don't have any more scaling problem it seems, but nothing in the windows either.
![image](http

[2022-08-19 12:27] LucasXu0 opened #879 "[Improvement] Refactor selection menu"
Four goals

* rename popup list with a selection menu.
* split a large file into small files, and subdivide components in the selection menu.
* support customizing components that will display in the selection menu.
* complete the slash command test cases.

[2022-08-19 21:22] yodatak opened #881 "[FR] Sort the type with a todolist in grid view"
Hi it could be cool to sort the type to only show one type of task in the grid view

[2022-08-20 18:59] rooct opened #883 "click add create document failed"
click create document failed, nothing to do

[2022-08-20 19:04] rooct opened #884 "error : FolderEditor should be initialized after user login in"
change client , show error : FolderEditor should be initialized after user login in
what can i do this?

[2022-08-22 02:16] #876 closed

[2022-08-22 02:16] #879 closed

[2022-08-22 02:32] annieappflowy commented on #884
@rooct please provide a little bit more details on this error you got. What commands did you run? And what outputs did you receive? Thanks

[2022-08-22 02:33] annieappflowy commented on #883
@rooct please provide more details. For example, what steps you've made to get to this point? If you can follow our bug issue template, that would help us a lot to better understand your question.

[2022-08-22 03:14] LucasXu0 opened #886 "[FR] Implement link feature in AppFlowyEditor"
**Feature Scope**
- [x] Implement link menu panel
  - [x] [Figma UI](https://www.figma.com/file/X1R9i5HAFtJSNIKOPPW7yK/AppFlowy-%5BUI%5D%5BMaster%5D?node-id=862%3A411471)
  - [x] Show remove link and copy link entry when there is already a link
  - [x] Single tap for editing the linked text.
  - [x] Double tap for opening the link.
- [x] Add insert link entry in the toolbar
  - [x] Support shortcu

[2022-08-22 05:17] IMPranshu commented on #689
I want to take up this issue. Please assign it to me.

[2022-08-22 05:20] IMPranshu commented on #834
Please assign this to me.

[2022-08-22 05:57] IMPranshu opened #887 "[Bug] Need more instructions in documentation for Building in Ubuntu"
I faced a few issues while building in Ubuntu 20.04. Until [3rd step](https://appflowy.gitbook.io/docs/essential-documentation/contribute-to-appflowy/software-contributions/environment-setup/building-on-linux#step-3-build-appflowy-flutter-gui-application) of the instruction everything went smooth.

Start following the instruction for building from source in Ubuntu 20.04. You might encounter this e

[2022-08-22 06:07] aarhusgregersen commented on #686
I haven't been able to figure this one out and finding the time to sit down and study Flutter has not been as generous as I was hoping 🥴
If necessary please feel free to re-assign this task to someone else :)

[2022-08-22 06:31] appflowy commented on #689
Alright! You could DM me if you have any questions.

[2022-08-22 09:00] appflowy commented on #641
Link #882

[2022-08-22 10:16] annieappflowy commented on #686
Hi @aarhusgregersen , no worries. We've all been there. I was thinking maybe you just needed a little bit help or guidance. Have you reached out Nathan on Discord?

[2022-08-22 12:12] IMPranshu opened #889 "[Bug] Doc is not working in Ubuntu 20.04"
When I am making a new page and trying to build a new doc it is not working.

Whenever I click `Doc` nothing happens but when I click `Grid` a new page appears with an empty grid.

![image](https://user-images.githubusercontent.com/43396684/185918265-2274f027-6508-42a8-adc2-179c62b6649a.png)

[2022-08-23 02:56] appflowy commented on #884
Hello, I have a few questions.
1. What change client means
2. Do you run on the release version or build from the main branch?

[2022-08-23 03:12] appflowy opened #890 "[FR] Appflowy_overlay refactor"
Appflowy uses `FlowyOverlay` to show the custom widget. For example:

[code]

As you see, it's not easy to use:
1. when shown, it requires the corresponding identifier and context.
2. when removed, it requires the context and identifier too.

We want to create a new package appflowy_overlay(located in app_flowy/packages/appflowy_overlay) that implements the following functions. It is designed to r

[2022-08-23 03:38] rooct commented on #884
nothing change,  but  i had build main branch and failed, then reinstall release version again

[2022-08-23 03:39] rooct commented on #884
nothing ,just a client

[2022-08-23 03:39] rooct commented on #883
build from main branch and start client , create document failed

[2022-08-23 05:14] appflowy commented on #889
fix #891

[2022-08-23 05:14] #889 closed

[2022-08-23 12:08] annieappflowy commented on #690
I've assigned it to you. Thanks, @Nike682631 , for offering the help! If you need help, please feel free to contact @appflowy on Discord.

[2022-08-23 12:10] ChenTaHung opened #894 "[Bug] Cannot backspace and delete contents in Doc"
**Describe the bug**
I can't delete the contents using del button or Backspace in Doc. Keep typing and enter to jump to the next line both work fine. Only when using a Doc file, the backspace and del is not working.
The only way to revise the content for my situation is to select and highlight the words and replace them directly.

**To Reproduce**
Steps to reproduce the behavior:
1. Click `New pag

[2022-08-23 17:41] IMPranshu commented on #894
Can You provide a small video of the error that you are facing because in y machine it is working fine?
(random text)
![image](https://user-images.githubusercontent.com/43396684/186227515-fc140eb1-6ba3-4e02-8bed-601bd83e1991.png)
(cleard some texts using backspace)
![image](https://user-images.githubusercontent.com/43396684/186227552-a1b210ba-e844-4858-baa4-461f69cfb9c4.png)

[2022-08-24 02:11] ChenTaHung commented on #894
https://user-images.githubusercontent.com/49839507/186301302-d3bb847b-43a9-4179-ba8d-ba143d73355a.mp4

In the video, we can see that the backspace and del work well when using a keyboard test website, but not in AppFlowy. The only way to delete the words is to select the words and replace them by typing another word.
But I found something that might be the reason is that, when I rebooted my comput

[2022-08-24 03:14] annieappflowy commented on #894
@IMPranshu @ChenTaHung  thanks for providing more details. This will be fixed in [v0.0.7](https://github.com/orgs/AppFlowy-IO/projects/5)
This is a known issue in flutter_quill, a third-party package we're using. We're switching to our in-house editor, appflowy_editor and will replace flutter_quill in the upcoming releases. [appflowy_editor](https://pub.dev/packages/appflowy_editor) doesn't have t

[2022-08-24 05:35] wiggleforlife opened #897 "[FR] Chocolatey package"
**1~3 main use cases of the proposed feature**
I use Linux so I like packages 'n stuff. [Chocolatey](https://chocolatey.org/) is a nice package manager for Windows 10. I've searched under `appflowy`, `appflowyio` and `appflowy.io` to no avail. A Choco package would be super nice.

**what types of users can benefit from using your proposed feature**
People who like simpler updates, scripting and au

[2022-08-24 06:40] #676 closed

[2022-08-24 06:55] JoyceBabu commented on #13
The wiki link is redirecting to the GitHub project home page. Is this no longer supported?

[2022-08-24 09:43] ChiragKr04 commented on #887
Hi.
So I checked the same issue and can build it on `Ubuntu 22.04.1 LTS`.
So the error you are getting is that you have not set the `.pub-cache/bin` as a `$PATH` variable in your `.bashrc` file.

The fix will go something like this:
1. Go to file explorer or `Files` in Ubuntu.
2. Now go to the `Home` tab and enable the button to show all hidden files.
3. Now you will see all your hidden files.
4.

[2022-08-24 09:50] ChiragKr04 commented on #686
@aarhusgregersen I can help you with this. We can reach out on discord

[2022-08-24 12:14] #864 closed

[2022-08-24 13:31] Avey777 opened #899 "中文版支持（或者提供页面翻译功能）"
希望中文友好型支持

[2022-08-25 07:52] LucasXu0 opened #909 "[FR] Implement image feature in AppFlowyEditor"
**Feature Scope**

- [x] Implement image plugin
  - [x] Hover menu
  - [x] Change the alignment of the image
  - [x] Delete image
  - [x] Copy image link

- [x] Implement image menu panel
  - [x] [Figma UI](https://www.figma.com/file/X1R9i5HAFtJSNIKOPPW7yK/AppFlowy-%5BUI%5D%5BMaster%5D?node-id=0%3A1)

- [x] Add insert image menu into the selection menu

**Test cases**
- [x] Insert / delete image
-

[2022-08-25 08:45] LucasXu0 opened #911 "[FR] Implement embed code"
**Feature Scope**
- [ ] Implement embed code
  - [ ] [Figma UI](https://www.figma.com/file/X1R9i5HAFtJSNIKOPPW7yK/AppFlowy-%5BUI%5D%5BMaster%5D?node-id=862%3A411799)
  - [ ] change raw text into embed code by
    - [ ] clicking the icon in the toolbar menu
    - [ ] pressing the command or control + E
 - [ ] Optional: convert text surrounded by \`\` to code, like \`abc\` to `abc`

**Test cases**
-

[2022-08-25 13:32] v3ss0n commented on #128
Unable to use on 4k and high DPI , cannot even zoom.

[2022-08-25 14:57] matbgn commented on #89
Any news or rough plans about this?

[2022-08-26 03:51] LucasXu0 opened #918 "[Bug] appflowy_editor 0.0.3"
- [ ] #919
- [ ] Could not insert text at the end when the last node is an image node.
- [x] The cursor will not disappear after clicking in an area outside the editor.
- [ ] The selection menu will be blocked if pressing `/` at the end of the document.
- [x] Should not add a new line below after pressing `enter` at the front of the first line of text.
- [x] Could not scale the big image by draggi

[2022-08-26 03:51] LucasXu0 opened #919 "The toolbar will be blocked if there is only one line of text."

[2022-08-26 12:48] #685 closed

[2022-08-26 13:13] annieappflowy commented on #357
@matrixhead hope all is well! Any update on this issue? Do you need some help?

[2022-08-26 13:14] annieappflowy commented on #358
@Nike682631 would you like to take this?

[2022-08-26 13:17] matrixhead commented on #357
@annieappflowy thanks for asking,  I'm still working on it nathan is helping me with problems

[2022-08-26 13:18] annieappflowy commented on #359
Thanks a lot for offering the help @rubiagatra
There is another https://github.com/AppFlowy-IO/AppFlowy/commit/2fddbce18cd222980034b3de4b181906980e168c
that solved the issue together with yours.

[2022-08-26 13:18] #359 closed

[2022-08-26 13:19] #360 closed

[2022-08-26 13:21] Nike682631 commented on #358
@annieappflowy  Yes

[2022-08-26 13:27] annieappflowy commented on #698
https://github.com/AppFlowy-IO/AppFlowy/commit/d955b6ef7ee9e30d32839b3fa5b55e95840fa9a2
Thanks @thisisamank for working on this.
This feature is released under v0.0.5

[2022-08-27 14:15] rileyhawk1417 commented on #911
Hi can I try and take this issue?

[2022-08-28 15:25] gabrielztk commented on #221
Hi, I found some clippy warnings for rust
Should I fix them?

[2022-08-28 16:37] ChiragKr04 commented on #686
Can I take this issue if its okay!? @annieappflowy @aarhusgregersen

[2022-08-28 16:50] aarhusgregersen commented on #686
Thank you for the overwhelmingly positive feedback @annieappflowy and @ChiragKr04 !! 😄

I have still not had the opportunity to sit down and focus on learning a bit of flutter, so I would be totally fine by me if @ChiragKr04 takes over on this, as I haven't even started yet 😄

[2022-08-29 02:20] annieappflowy opened #921 "[Doc] Outline workflows for contributors to follow"
By @nishp77 :

Hi team, there some issue on github that have the pr's merged but issues still open, could we have the tendency to close issues right after pr?

I would like to ask about how the development process is going about, in terms of issues how they're worked about and is there some specific flow that contributors have? If not could we have some workflow regarding that?

[2022-08-29 02:30] annieappflowy commented on #686
@aarhusgregersen thanks, I reassigned it to @ChiragKr04

[2022-08-29 02:33] appflowy commented on #221
Sure! You could submit a PR to fix them. By the way, you can DM me if you need helps.

[2022-08-29 02:39] appflowy commented on #221
Close this task.  Please create a new PR If you find any warnings.

[2022-08-29 02:39] #221 closed

[2022-08-29 02:46] appflowy opened #922 "[FR] Number list for appflowy_editor"
Implement the number list feature for appflowy_editor.

Feature:

[2022-08-29 03:39] annieappflowy opened #923 "[Doc] Remove unused blocks"
https://appflowy.gitbook.io/docs/essential-documentation/install-appflowy/requirements

reported by Kai on Discord

[2022-08-29 10:51] ChiragKr04 commented on #921
Something like, as soon as PR is merged the issue will close automatically. Am I getting this right?

[2022-08-29 11:30] #918 closed

[2022-08-29 11:32] annieappflowy commented on #921
@ChiragKr04  yes, I suppose this is a standard way of closing an issue

[2022-08-29 14:17] glitchpop-frenzy commented on #358
Hey @annieappflowy, is there any active development on this? I would like to work on this if this is available.

[2022-08-29 14:19] Nike682631 commented on #358
@glitchpop-frenzy hey saksham, yes I'm working on this

[2022-08-29 14:21] glitchpop-frenzy commented on #358
Cool, let me know if I can be of any help. 😄

[2022-08-29 15:38] IMPranshu commented on #923
So what I understood is that the contents of the page have to be removed as they are incomplete.
![image](https://user-images.githubusercontent.com/43396684/187239393-0bb08183-6827-40a9-b7d1-bff83deaff68.png)

[2022-08-29 15:40] IMPranshu commented on #841
https://github.com/AppFlowy-IO/AppFlowy-Docs/pull/24 fixes this

[2022-08-29 15:41] IMPranshu commented on #794
Need some additional information to start working on this issue.

[2022-08-29 15:52] IMPranshu commented on #921
I think Github Actions does this job. Wait let me look into this matter but it can only be done with the rights to the repo.
So I can provide the solution but the AppFlowy team member has to implement it.

[2022-08-29 15:58] IMPranshu commented on #899
English translation of the above `Hope Chinese friendly support`

[2022-08-29 16:12] krupalitrivedi opened #929 "[Bug] Text Not Visible On Highlighting in Darkmode"
**Describe the bug**
When text is highlighted in the dark mode the highlight becomes so bright that the text becomes difficult to be red.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `AppFlowy -> Change to dark mode`
2. Type some text
4. Select the text and `highlight`

**Expected behavior**
The text should be visible!

**Screenshots**
![image](https://user-images.githubusercontent.

[2022-08-30 00:03] #686 closed

[2022-08-30 01:45] #919 closed

[2022-08-30 02:00] LucasXu0 opened #931 "[FR] AppFlowy Editor - Toolbar highlights the status of the currently selected style"

[2022-08-30 02:20] #886 closed

[2022-08-30 02:20] #909 closed

[2022-08-30 05:17] appflowy commented on #794
Alright, I will DM you the details.

[2022-08-30 05:18] annieappflowy commented on #921
@IMPranshu thanks for offering the help. Please feel free to propose your solutions. We can create a workflow together to get the process kicked off then let the community to fine-tune and improve as we get more feedback

[2022-08-30 05:35] annieappflowy commented on #929
https://github.com/AppFlowy-IO/AppFlowy/issues/336
this is a duplicate of #336
Please keep an eye out for that issue. Thanks for reporting it!

[2022-08-30 05:35] #929 closed

[2022-08-30 05:59] IMPranshu commented on #921
So as I checked and learned from various resources, the issues are automatically closed if we reference the concerned issue in the description of the PR, which is kind of cool, I guess. I am attaching the official [GitHub docs](https://docs.github.com/en/issues/tracking-your-work-with-issues/linking-a-pull-request-to-an-issue) explaining this.

I think the AppFlowy team just has to update the PR t

[2022-08-30 06:43] annieappflowy opened #933 "[Doc] Editorial review for appflowy_editor"
Here is a list of docs for Eric to review:

- https://github.com/AppFlowy-IO/AppFlaowy/tree/main/frontend/app_flowy/packages/appflowy_editor
- https://github.com/AppFlowy-IO/AppFlowy/blob/main/frontend/app_flowy/packages/appflowy_editor/documentation/testing.md
- https://github.com/AppFlowy-IO/AppFlowy/blob/main/frontend/app_flowy/packages/appflowy_editor/documentation/customizing.md#customize-a-c

[2022-08-30 06:45] annieappflowy commented on #899
Thanks @Avey777 , Simplified Chinese is supported. Please go to Settings to switch languages.

[2022-08-30 06:45] #899 closed

[2022-08-30 06:56] LucasXu0 commented on #931
**Expected**

<img width="499" alt="" src="https://user-images.githubusercontent.com/11863087/187370312-cba0433b-3f8b-47bb-8568-fcd4aa80deae.png">

[2022-08-30 08:55] annieappflowy opened #935 "[FR] appflowy_editor supports 'TAB'"
**1~3 main use cases of the proposed feature**
As a user, I'd like to use 'tab' to indent quickly without pressing 'space' multiple times

**what types of users can benefit from using your proposed feature**
users who use hotkeys

[2022-08-30 09:09] annieappflowy opened #936 "[FR] appflowy_editor "/" supports inserting Quote"
**1~3 main use cases of the proposed feature**
As a user , I want to insert a quote through the "/" command. At the moment, quote only can be accessed through the toolbar
<img width="472" alt="image" src="https://user-images.githubusercontent.com/12026239/187397264-fc49cf0c-17d6-4eba-94fc-419e8895d5ab.png">

**what types of users can benefit from using your proposed feature**
Ex: users who are use

[2022-08-30 09:19] annieappflowy opened #937 "[Bug] appflowy_editor # doesn't work"
**Describe the bug**
write something and then use "#" before the text to convert it into a Heading1, which doesn't work

**Expected behavior**
can auto-convert into Heading1 by using "#"

**Desktop (please complete the following information):**
 - macOS Monterey version 12.4

[2022-08-30 10:11] annieappflowy opened #940 "[FR] Support Mark as Code"
**1~3 main use cases of the proposed feature**
As a user who writes technical documentation, I use Mark as Code to highlight code lines
<img width="306" alt="image" src="https://user-images.githubusercontent.com/12026239/187410811-87c9c005-efcc-4312-8140-6f0afa4ff089.png">

**what types of users can benefit from using your proposed feature**
writing stuff related to coding

[2022-08-30 10:23] annieappflowy opened #941 "[FR] appflowy_editor supports more highlighting colors"
**1~3 main use cases of the proposed feature**
As a user who loves to use formatting options to highlight different things, I would like to use a variety of highlight colors to highlight text to convey different meanings. Atm, only one highlight color is available.
<img width="816" alt="image" src="https://user-images.githubusercontent.com/12026239/187413365-cf633fc4-6a6d-4b48-bff7-d9ed0a681566.pn

[2022-08-30 11:23] annieappflowy opened #942 "[FR] appflowy_editor supports multi-level bullet list"
**1~3 main use cases of the proposed feature**
As a user, I need to use multi-level bullet lists to organize information
Atm, the bulleted list only has one level

<img width="512" alt="image" src="https://user-images.githubusercontent.com/12026239/187424287-13c3c940-2046-4066-84c8-d4f1029844c2.png">

[2022-08-30 12:15] ecker00 opened #943 "[FR] Docker support for Mac server (M1)"
**Use cases of the proposed feature**
- For those running a dockerized mac server, it would be nice to host AppFlowy using Docker, instead of installing via `brew`.

**What types of users can benefit from using your proposed feature**
Would be easier to maintain docker containers for Mac users (M1).

**Additional context**
I've tried to build using the Docker instructions, but get the following er

[2022-08-30 12:38] ecker00 commented on #943
This issue may be closed. Seems I've misunderstood the current configuration of AppFlowy being a native MacApp without a server. I expected to setup a web server, and access the app via any browser.

[2022-08-30 14:06] #936 closed

[2022-08-30 14:08] #931 closed

[2022-08-31 01:38] #937 closed

[2022-08-31 01:42] LucasXu0 opened #948 "[Bug] In the case of multiple selections, the highlighted state does not meet expectations."
**Describe the bug**
In the case of multiple selections, the highlighted state does not meet expectations.

<img width="216" alt="" src="https://user-images.githubusercontent.com/11863087/187574101-323e4a66-fbe4-4232-ad7d-460c5f72532a.png">

[2022-08-31 07:09] #948 closed

[2022-08-31 07:25] LucasXu0 opened #953 "[Improvement] support meta + shift + arrow key"
**Meta + Shift + Arrow**
- [ ] Meta + Shift + Up = Select all elements in front of the current cursor.
- [ ] Meta + Shift + Down = Select all elements behind the current cursor.
- [ ] Meta + Shift + Left = Selects all content in front of the current cursor in the current element.
- [ ] Meta + Shift + Up = Selects all content behind the current cursor in the current element.

**Meta + Arrow**
- [ ]

[2022-08-31 07:46] LucasXu0 opened #955 "[CI] The flutter unit test fails sometimes."
<img width="851" alt="" src="https://user-images.githubusercontent.com/11863087/187622189-72825c57-962b-4a4d-975f-80de60d29a91.png">

[2022-08-31 07:47] LucasXu0 commented on #955
https://github.com/dart-lang/build/issues/3312#issuecomment-1139051870

[2022-08-31 08:23] #955 closed

[2022-08-31 13:37] Cavalletta98 commented on #694
@appflowy is this issue available to work on?

[2022-08-31 16:41] skewballfox commented on #953
Definitely make this reassignable, otherwise this will conflict with common keybindings for both [sway](https://swaywm.org/) and [i3](https://i3wm.org/)

[2022-09-01 02:35] LucasXu0 commented on #953
Got it. I will open a new issue to support customizing the hotkeys.

[2022-09-01 02:35] #953 closed

[2022-09-01 02:40] LucasXu0 opened #964 "[FR] Support the shortcut keys customization"
Support the shortcut key customization, like using control + shift + C instead of control + C to trigger copy.

## Feature Scope
- [x] optimize the implementation of the current shortcut events.
- [x] provide the mapping table with shortcut events and implementations.
- [x] support macOS / Windows / Linux platform.
- [x] support redefining the existing shortcut event.

## Test cases that should pa

[2022-09-02 07:18] #933 closed

[2022-09-02 08:36] LucasXu0 opened #969 "[FR] AppFlowy Editor Package Support Codecov"

[2022-09-02 08:50] anbeibei opened #971 "[FR]Support inserting pictures"
Support inserting pictures，thanks

[2022-09-02 08:52] annieappflowy commented on #971
@anbeibei can you elaborate on your request a little bit more?
For example, where do you want to insert pictures? eg: Grid, Doc, or Board?
And what kind of benefits would you receive by being able to insert pictures?

[2022-09-02 12:47] #969 closed

[2022-09-02 13:41] LucasXu0 opened #973 "[Improvement] Set paths in the Github actions to reduce the CI time."

[2022-09-02 14:02] #973 closed

[2022-09-02 18:50] djibe opened #975 "[FR] Windows builds for each release"
Offer systematic builds for Windows platforms.

Windows is the main OS worldwide.

Thanks a lot.
I'll try to compile myself meanwhile.

[2022-09-03 11:39] KindHeartedTraveler commented on #762
same problem with Ubuntu 22.04.1 LTS.  I have a 2K and a 4K  monitor. The flowy's UI is too small and can't be resized or maximized when I set displays scaling to over 100%.But it works well under the default 100% scaling.

**Desktop:**
 - OS: Ubuntu 22.04.1 LTS
 - Browser: Chrome
 - Version:  GNOME  42.4

**Additional context**
 - 2K(2560 x 1040) and 4K (3840x2160) monitor.

[2022-09-03 18:02] djibe commented on #975
Did it, 0.0.5 beta 2

[Appflowy-windows-x86_64.zip](https://github.com/AppFlowy-IO/AppFlowy/files/9483128/Appflowy-windows-x86_64.zip)

[2022-09-04 06:56] annieappflowy commented on #975
Thanks a lot @djibe . @LucasXu0 is currently working on this

[2022-09-04 08:36] djibe commented on #975
Thanks @annieappflowy
I did a PR on the docs to make sure any newcomer like me can build on Windows (11 for my part)

[2022-09-04 08:53] annieappflowy commented on #975
Thank you! Can you share me the link to your PR? I'll take a look

[2022-09-04 08:54] djibe commented on #975
Here it is: https://github.com/AppFlowy-IO/AppFlowy-Docs/pull/25/commits/99fe6765cf4780190eb611e298a89db1121b21e5

[2022-09-04 09:00] annieappflowy commented on #975
@djibe, it looks very well-written! Will give it a run and approve. Thanks for contributing.

[2022-09-04 09:18] djibe commented on #975
Glad you like it :D
I like to share knowledge.

[2022-09-05 06:46] annieappflowy opened #980 "[FR] Make the instance Crypted"
### Discussed in https://github.com/AppFlowy-IO/AppFlowy/discussions/103

<div type='discussions-op-text'>

<sup>Originally posted by **smaimon** November 29, 2021</sup>
Wish : Administrator of an appflowy.io instance cannot recover or reset user passwords. This ensures that they cannot access any user data (e.g. the content of documents).</div>

[2022-09-05 07:07] SonGokussj4 commented on #943
I'm trying to install AppFlowy as server too. So do I understand correctly, it's only a desktop app? A wanted this to be accessible from more than one place, like Notion.

[2022-09-05 12:11] annieappflowy opened #986 "[Doc] Editorial Review: appflowy_board's docs"
Scope:
https://github.com/AppFlowy-IO/AppFlowy/tree/main/frontend/app_flowy/packages/appflowy_board

Reviewer: @egp415

@appflowy will add more inline comments tomorrow. I'll let you know when it's ready for your review.

[2022-09-05 22:38] fangykai opened #990 "[FR] Improvement for Dark Mode UI"
**1~3 main use cases of the proposed feature**
After installing the latest beta build v0.0.5 beta.2, after enabling Dark Mode it seems the Highlights for boards/text are difficult to see.

**what types of users can benefit from using your proposed feature**
Everyone.

**Additional context**
![img](https://user-images.githubusercontent.com/109571434/188517893-280146ee-bc00-4014-86ed-93f661aff0fd.pn

[2022-09-05 22:55] wharjack commented on #975
Thank you for building it for us. The text render is still bad in windows

[2022-09-06 08:25] #890 closed

[2022-09-06 20:20] fangykai commented on #990
Oh yeah sure, I'm sorry about that!! I didn't look all the way back!

[2022-09-06 20:20] #990 closed

[2022-09-06 20:21] fangykai commented on #433
Was told to comment on; even with the latest beta version it is still difficult to read highlights with Dark Mode UI

[2022-09-07 04:03] #964 closed

[2022-09-07 04:12] LucasXu0 opened #997 "[Improvement] Split shortcut events by function."
Since #964 already supports distinguishing shortcut events based on different platforms.
We need to refactor the events previously triggered by `RawKeyEvent` to be triggered by `Command`

## Example
**Previous**
[code]

**After**
[code]

[2022-09-07 06:34] annieappflowy commented on #433
I'm sourcing a designer to work on this

[2022-09-07 06:45] annieappflowy opened #1002 "[Doc] Update information about system minimum requirements to install AppFlowy"
https://github.com/AppFlowy-IO/AppFlowy-Docs/blob/main/essential-documentation/install-appflowy/requirements.md

[2022-09-08 02:52] Stormcheetah98 commented on #363
Idk, it seems like the UI just doesn't scale well in high resolution displays. I've just tried it in windows with 100% scaling, also extremely small while 150% looks perfectly fine. No comments on the resizing issue though.

[2022-09-08 10:20] matbgn commented on #98
Nice addition of Boards :fireworks:

Would it be possible in a near future to switch views directly from Grid to Kanban and vice-versa?

[2022-09-08 16:36] ChiragKr04 commented on #997
Can you assign me this?

[2022-09-08 16:39] ChiragKr04 commented on #997
And I cannot find `ShortcutEvent` what is this?

[2022-09-08 20:15] invertedmushroom opened #1013 "[FR] Embed a full external document and show part of it that is relevant"
**1~3 main use cases of the proposed feature**
-Creating manuals from external documents (eg.PDF) for specific problem. Often only some information is needed from a page. If there are many steps, maybe different page is needed from same document. Having full external document at hand is handy for additional information you might need.

-Electronics design notetaking.
Organize relevant stuff that i

[2022-09-09 15:12] annieappflowy commented on #997
Thanks @ChiragKr04 just assigned it to you

[2022-09-10 13:20] Connor-yang96 opened #1019 "[FR] image drag&drop."
Most of ppl need drag&drop images to the cell, not only one's.

![image](https://user-images.githubusercontent.com/81000027/189514848-9fdcfb91-b051-42a0-af8d-1d9892697b0a.png)
image property in Notion.

[2022-09-10 13:22] Connor-yang96 opened #1020 "[FR] Text link"
Like this: Text link in URL type.

![image](https://user-images.githubusercontent.com/81000027/189485238-33b72d13-5e21-431d-ba15-3d0bb3536e3e.png)

![image](https://user-images.githubusercontent.com/81000027/189514738-9752142b-37d6-4af5-b300-9770f6faf4d4.png)
Text property , add text link in Notion.

otherwise, there's a long long URL in the cell,

Oh, btw maybe need wrap text ,

![image](https://

[2022-09-10 13:32] Connor-yang96 opened #1021 "[FR] Support Obsidian's URI ?"
I want to use AppFlowy in Obsidian for replace markdown table.

So, need AppFlowy support [Obsidian's URI](https://help.obsidian.md/Advanced+topics/Using+obsidian+URI), that can open obsidian's note. with [Text link Feature request](https://github.com/AppFlowy-IO/AppFlowy/issues/1020).

Maybe some obsidian's users need this feature.

![image](https://user-images.githubusercontent.com/81000027/1894

[2022-09-10 15:31] LaBaude32 opened #1022 "[Bug] Linux 0.0.5 version doesn't work"
**Describe the bug**
I have download the 0.0.5 version but it's does not open on Debian 11. Nothing show up when I clic on the app_flowy icon.
I have tried to lunch it in CLI and I have this error :
`./app_flowy: error while loading shared libraries: libkeybinder-3.0.so.0: cannot open shared object file: No such file or directory`

**Desktop (please complete the following information):**
 - OS: De

[2022-09-10 16:35] wharjack commented on #653
Hi, I just downloaded the V5, and it's still the same. The font render is still blurry.

[2022-09-10 17:07] jonmseaman commented on #1022
I had this issue on Ubuntu 22.04 as well. I fixed it by installing the libkeybinder package separately:

[code]

[2022-09-10 17:25] jonmseaman commented on #897
The package is available on scoop.sh, which is another package manager on Windows. I prefer Scoop over Chocolatey.

https://scoop.sh/#/apps?q=appflowy&s=0&d=1&o=true

That might solve your issue @wiggleforlife

[2022-09-10 20:23] LaBaude32 commented on #1022
Thx it's work on Debian 11 too !

[2022-09-10 20:23] #1022 closed

[2022-09-11 08:13] ChiragKr04 commented on #875
Will changing just text to `black` is a possible fix? Or require a new UI design? @annieappflowy

[2022-09-11 09:07] richardshiue opened #1025 "[Bug] Trim text on sidebar with Ellipsis"
**Describe the bug**
I'm trying to implement elided text on the sidebar of the application. Currently, I've only made that change on pages, usernames and sub-pages. "Trash" and "New page" do not seem to ever get clipped by the sidebar (in all the existing languages at my resolution), so I've ignored them for now.

**To Reproduce**
Steps to reproduce the behavior:
1. Have a long username and/or pag

[2022-09-11 12:41] ChiragKr04 opened #1027 "[Bug] Need scrolling in Board Page"
**Describe the bug**
In `Board` page we cannot scroll if screen width is smaller.

**To Reproduce**
Steps to reproduce the behavior:
1. Create new `Board` page.
2. Shrink the app width.
3. Now other cards are not visible.

**Expected behavior**
There should be scrolling behaviour, just like in `Grid` page.

**Screenshots**
Cannot scroll to see other cards.
![image](https://user-images.githubuserco

[2022-09-11 12:57] rileyhawk1417 opened #1028 "[Bug] Navigation keys paste text on Flowy Editor"
**Describe the bug**
The keys 'Shift + End', 'Shift + Home', 'Home' & 'End'. Paste the last text node.
Instead of navigating or selecting text, it just pastes the last written text.

**To Reproduce**
Steps to reproduce the behavior:
1. Run Flowy Editor example
2. Type random text
3. Press the 'Home' or 'End' keys.
4. See error

**Expected behavior**
The keys will paste the last text node from the

[2022-09-11 13:03] rileyhawk1417 opened #1029 "[Bug] Bullet list doesn't cancel when 'Enter' key is pressed twice"
**Describe the bug**
When pressing the 'Enter' key twice the bullet list does not cancel.
Unlike with the quote feature it cancels when the user hits the 'Enter key twice.

**To Reproduce**
Steps to reproduce the behavior:
1. Run Flowy Editor
2. Type and set bullet list style
3. Press the enter key.
4. See error

**Expected behavior**
The bullet list will still move with the cursor as the user pre

[2022-09-11 13:10] rileyhawk1417 opened #1030 "[Bug] Flowy Editor can't handle large amount of text"
**Describe the bug**
Flowy Editor lags when a large amount of text is loaded, or pasted into the editor.

**To Reproduce**
Steps to reproduce the behavior:
1. Run Flowy Editor
2. Copy and text from a large document then paste into the editor.
3. Scroll down to see responsiveness.
4. See error

**Expected behavior**
Flowy Editor may feel slow and laggy, when navigating the text.

**Screenshots**
If

[2022-09-11 17:37] TheSecEng commented on #623
Should also include security design 🤷‍♂️

[2022-09-11 18:40] fangykai commented on #1030
I could see if I can get a Manjaro boot running and test this myself as I can't reproduce. How did you install appflowy? From source, the releases page, or from the documentation (not the source one.)

[2022-09-11 19:02] ecker00 commented on #943
That is correct. On the Discord I heard they will be working on the backend Q4 2022. I imagine it will take quite a while to get everything fitting together. — At the moment [Outline](https://www.getoutline.com) is an alternative.

[2022-09-12 02:51] annieappflowy commented on #1030
I believe Sean installed the package via https://pub.dev/packages/appflowy_editor
This is our in-house editor built from the ground up by AppFlowy.

[2022-09-12 02:59] annieappflowy commented on #875
@ChiragKr04 , it requires a design. I'm sourcing a designer to get it fixed.

[2022-09-12 08:15] joaomarcospinho opened #1034 "[Bug] Can't delete text or navigate with arrow keys"
**Describe the bug**
Can't delete any character written, and navigate with arrow keys.

**Desktop (please complete the following information):**
 - OS: MacOS
 - Version 12.5.1

[2022-09-12 12:04] #997 closed

[2022-09-12 14:55] richardshiue opened #1035 "[Bug] Grid/Kanban error message when changing number/date/time format"
**Describe the bug**
Error message saying `SingleSelectTypeOptionPB convert from any data failed, Error(\"missing field \options\"` appears in the terminal when changing number format or time/date format in a grid's header menu.

**To Reproduce**
Steps to reproduce the behavior:
1. Choose a date/time or number column in a grid
2. Click on the header, then edit property
3. Click number format, or d

[2022-09-12 16:48] ChiragKr04 opened #1036 "[Bug] Icon theme not set for `Setting icon` and `New Column Icon` for `Grid Page`."
**Describe the bug**
When changing app theme to dark theme, icon color for `Setting icon` and `New Column icon` is not changing

**To Reproduce**
Steps to reproduce the behavior:
1. Change app theme to dark
2. Now check the icon color it will not change.

**Expected behavior**
It should change from `black` color to `white` color.

**Screenshots**
![image](https://user-images.githubusercontent.com/

[2022-09-12 21:32] iliesh opened #1037 "[Bug] Font is too small on a Linux OS"
**Describe the bug**
Font is too small on a Linux OS comparing to another application.

**To Reproduce**
Steps to reproduce the behavior:
Simple installation from the latest release according to the documentation.

**Screenshots**
<img width="808" alt="image" src="https://user-images.githubusercontent.com/14953151/189761414-1c2894d2-2311-440a-a9b0-5a8958fdc1ff.png">

**Desktop (please complete the

[2022-09-13 01:53] LucasXu0 commented on #911
#985

[2022-09-13 01:53] #911 closed

[2022-09-13 01:55] LucasXu0 commented on #708
#954

[2022-09-13 01:55] #708 closed

[2022-09-13 02:50] LucasXu0 opened #1038 "[FR] AppFlowy Editor Roadmap"
**0.0.5**
- [x] Implement embed code #911
- [x] Implement numbered list #991
- [x] #1053
- [x] Theme switcher (Dark mode)
- [x] #1055

**0.0.6**
- [x] Implement saving and data export
- [x] Desktop side functional validation
  - [x] macOS
  - [x] #1149
- [x] Code block Plugin
- [x] TeX Plugin
- [x] Horizaontal rule Plugin
- [x] Markdown conversation

**0.0.7**
- [x] Desktop side functional validat

[2022-09-13 06:27] annieappflowy commented on #700
@sunny7dusk , any update on this? If you no longer work on this issue, please let me know so I can release it to other contributors.

[2022-09-13 06:28] annieappflowy commented on #695
@Nike682631 , can you update your progress on this issue?

[2022-09-13 06:28] annieappflowy commented on #693
@Nike682631 , can you please update your progress on this issue? Do you need any help from me? Thanks!

[2022-09-13 06:29] annieappflowy commented on #690
Hi @Nike682631 , can you update the status on this issue? Thanks

[2022-09-13 06:30] annieappflowy commented on #358
@Nike682631 , can you update the progress on this issue?
@glitchpop-frenzy , thanks for offering the help. If you are interested in this topic, @LucasXu0 can find some interesting work for you to do. Just let us know!

[2022-09-13 06:31] annieappflowy commented on #357
Is this all set @matrixhead ? If it's done, please update the status and close the issue. Thanks!

[2022-09-13 06:49] matrixhead commented on #357
i think it is done but it would be better to have @appflowy 's opinion on this

[2022-09-13 07:38] appflowy commented on #357
Got it

[2022-09-13 07:38] #357 closed

[2022-09-13 09:41] ChiragKr04 commented on #1036
I am working on this issue.

[2022-09-13 10:08] revati opened #1042 "Recently 0.5 version has been released. but default installation (for macos) guide installs 0.4 version"
Title says it all. I yesterday downlaoded it and it is great (y) today noticed there is newer version released.

How on can update cask version? If id knew i could do it my self

https://formulae.brew.sh/cask/appflowy

[2022-09-13 12:42] sunny7dusk commented on #700
Sorry about that, can look into this soon

[2022-09-13 14:55] richardshiue opened #1043 "[FR] Reduce the time threshold after holding down on the header before the column reordering action is triggered"
**1~3 main use cases of the proposed feature**
I would like to reorder the columns in the grid. Currently, the same behavior can be achieved by renaming and then changing the property type, but that is quite burdensome. It would be nice to simply drag and drop the header row from one position to another. Additionally, the grid's primary column cannot be deleted or assigned to another column, which

[2022-09-14 01:42] #922 closed

[2022-09-14 03:03] #1036 closed

[2022-09-14 04:35] annieappflowy commented on #1043
Hi @richardshiue , thanks for reporting the issue you encountered. If I understand your needs correctly, actually the columns can be reordered by dragging and dropping a column from one place to another. Please refer to the gif below:
![grid_reorder_columns](https://user-images.githubusercontent.com/12026239/190060277-dd1a793b-826c-45b8-baea-ca4ade941321.gif)
Let me know if this is not what you re

[2022-09-14 04:50] richardshiue commented on #1043
Interesting, perhaps it is a platform-specific issue. On linux, I cannot get that same behavior. If I understand this correctly, we are using left mouse click and hold, right? Or should another key be pressed while dragging?

[2022-09-14 13:11] apomalyn opened #1047 "[Bug] Can't delete card on board"
**Describe the bug**

Impossible to delete a card on board.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any board
2. Click on a card tray menu
3. Click on delete in the tray menu
4. On the pop-up click 'OK'
5. See that nothing change.

**Expected behavior**

The pop-up menu should have two buttons:
- a red one: "Delete"
- another one: "Cancel"
- OR/AND having a `x` to close the pop

[2022-09-14 13:26] apomalyn commented on #1034
@joaomarcospinho can you tell us, which version of AppFlowy are you using?
Also on which type of page are you (doc, board, grid)?
I'm also on MacOS and I can use the arrow keys to navigate, select text and delete the selected text.

[2022-09-14 16:27] tuqueque opened #1048 "[Bug] Dark theme makes highlighted text unreadable."
Hello. First of all, thank you for making this incredibly promising application. I really hope this project takes off. We need a proper Notion alternative and this one seems really well done.

My problem is with the dark theme setup. When I use it, highlighted text becomes unreadable...
![2022-09-14_12-06](https://user-images.githubusercontent.com/13471025/190207484-563eafd2-482f-40bf-abd7-84d327f

[2022-09-14 17:06] apomalyn commented on #1048
Hi! Thank you for reporting this.
We already have an issue for this #433, I suggest you close this one and add your comment on the other issue. Thank you!

[2022-09-14 18:33] tuqueque commented on #433
(I'm adding this as a commend here as @apomalyn suggested).

Hello. First of all, thank you for making this incredibly promising application. I really hope this project takes off. We need a proper Notion alternative and this one seems really well done.

My problem is with the dark theme setup. When I use it, highlighted text becomes unreadable...
![2022-09-14_12-06](https://user-images.githubuserc

[2022-09-14 18:33] #1048 closed

[2022-09-14 23:07] Razer323 commented on #1047
Yes i'm also having this problem

    OS: MacOS Monterey
    Version: 0.0.5.1

Additional context
arch: x86_64
model: MacBookPro 14 inch Base

[2022-09-15 08:08] LucasXu0 commented on #1042
Hi, @revati. I have updated the latest version to Homebrew and set the automatic update. The newest GitHub release will be automatically synchronized to homebrew.

https://github.com/Homebrew/homebrew-cask/blob/HEAD/Casks/appflowy.rb

[2022-09-15 08:08] #1042 closed

[2022-09-15 08:44] annieappflowy opened #1050 "[FR] Allow users to create a card under the "No Status" stack in Board"
Quick question, is it wanted that on the new board, the "No Status" column doesn't have the "+ New" button at the end?
Reported by @apomalyn

[2022-09-15 09:42] richardshiue opened #1051 "[Bug] Resizing window exits trash page"
**Describe the bug**
When viewing the trash page, resizing the window causes appflowy to return to whichever page that you were viewing prior to that.

**To Reproduce**
Steps to reproduce the behavior:
1. Open to the "Trash" page
2. Resize the appflowy window

**Expected behavior**
Page remains on Trash

**Screenshots**

https://user-images.githubusercontent.com/71320345/190371099-771e9ea1-15b1-45

[2022-09-15 09:43] richardshiue commented on #1051
Ugh, duplicate of #856

[2022-09-15 09:43] #1051 closed

[2022-09-15 09:44] richardshiue commented on #856
Also reproducible on Linux

[2022-09-15 10:36] annieappflowy commented on #1043
@richardshiue , reducing the threshold makes sense. I changed this issue to reflect the needs and include it into our short-term plan.

[2022-09-15 13:28] LucasXu0 opened #1053 "Rich text style customization and plugin style customization"

[2022-09-15 13:29] LucasXu0 opened #1055 "Implement localizations"

[2022-09-15 13:56] apomalyn opened #1056 "[Bug] Can't open the app after 0.0.5.1 update on MacOS"
**Describe the bug**

After the update, if I try to open the application I'm stuck at a screen with:
[code]
Written, the `create a workspace` button doesn't do anything.

**To Reproduce**
Steps to reproduce the behavior:
1. Update the application to 0.0.5.1
2. Create a new board page
3. Close the application
4. Restart the application
5. See the error

**Expected behavior**

The application should

[2022-09-15 20:38] wnemay commented on #1056
I did something slightly similair to what is listed above.  I updated to 0.0.5, edited a note, created a board to check out the new feature, and the next day, updated to 0.0.5.1.  Immediately saw this error.

[2022-09-16 03:52] appflowy commented on #1056
I can reproduce it by downloading v0.0.4
1. create a doc
2. delete a doc

upgrade to v 0.0.5
1. create a doc
2. delete a doc

This issue will be fixed today.

[2022-09-16 06:29] aryany9 opened #1057 "[Bug] Cannot delete cards in Board"
**Describe the bug**
We could not delete the card once created or the older ones as well. It is happening in Macbook Pro 2022

**To Reproduce**
Steps to reproduce the behavior:
1. Create a board
2. Try to delete any card by clicking on 3 dots
3. Delete popup will appear with the button.
4. Nothing will happen on button click

**Expected behavior**
Card should have been removed.

**Screenshots**
<i

[2022-09-16 10:45] marcleonschulz opened #1058 "[FR] Import markdown files"
You can use existent markdown files and can edit them.

[2022-09-16 11:05] annieappflowy opened #1059 "[FR] Support markdown to italicize text"
To italicize text, add one asterisk or underscore before and after a word or phrase. To italicize the middle of a word for emphasis, add one asterisk without spaces around the letters.

<img width="268" alt="image" src="https://user-images.githubusercontent.com/12026239/190624628-5e94fab9-8a97-4bad-9687-5db0d66c967f.png">

Reference:
* https://github.com/AppFlowy-IO/AppFlowy/discussions/1100
* htt

[2022-09-16 11:08] annieappflowy opened #1060 "[FR] Support markdown to bold text"
To bold text, add two asterisks or underscores before and after a word or phrase. To bold the middle of a word for emphasis, add two asterisks without spaces around the letters.

<img width="241" alt="image" src="https://user-images.githubusercontent.com/12026239/190625731-2ace9bc6-69a9-4bcc-ad51-da2a52624d84.png">

Reference:
* https://github.com/AppFlowy-IO/AppFlowy/discussions/1100
* https://ww

[2022-09-16 11:10] annieappflowy opened #1061 "[FR] Support markdown to create a blockquote"
To create a blockquote, add a > in front of a paragraph.

Reference:
* https://github.com/AppFlowy-IO/AppFlowy/discussions/1100
* https://www.markdownguide.org/basic-syntax/

[2022-09-16 11:13] annieappflowy opened #1062 "[FR] Support markdown to strikethrough text"
Surrounding text with ~~ to strikethrough the text, e.g.~~strikethrough~~

Reference:
* https://github.com/AppFlowy-IO/AppFlowy/discussions/1100
* https://www.markdownguide.org/basic-syntax/

[2022-09-16 11:17] annieappflowy opened #1063 "[FR] Support markdown to create a link"
To create a link, enclose the link text in brackets (e.g., [AppFlowy]) and then follow it immediately with the URL in parentheses (e.g., (https://www.appflowy.io)).

My favorite open-source project is [AppFlowy](https://www.appflowy.io).

Reference:
* https://github.com/AppFlowy-IO/AppFlowy/discussions/1100
* https://www.markdownguide.org/basic-syntax/

[2022-09-16 11:19] annieappflowy opened #1064 "[FR] Support markdown to link an image"
Linking Images
To add a link to an image, enclose the Markdown for the image in brackets, and then add the link in parentheses.

![profile_page_appflowy_hactoberfest](https://user-images.githubusercontent.com/12026239/190627544-748d85df-87ce-40a4-b096-3b98329c416e.jpg)

Reference:
* https://github.com/AppFlowy-IO/AppFlowy/discussions/1100
* https://www.markdownguide.org/basic-syntax/

[2022-09-16 11:22] annieappflowy opened #1065 "[FR] Support markdown to mark as code"
To denote a word or phrase as code, enclose it in backticks (`).

eg `Hello World`

Reference:
* https://github.com/AppFlowy-IO/AppFlowy/discussions/1100
* https://www.markdownguide.org/basic-syntax/

[2022-09-16 11:37] annieappflowy opened #1066 "[FR] Add Latex plugin to AppFlowy Editor"
Allow users to create beautiful equations with Latex in AppFlowy Editor

Students & researchers would benefit from this plugin

Reference:
* https://github.com/AppFlowy-IO/AppFlowy/blob/main/frontend/app_flowy/packages/appflowy_editor/documentation/customizing.md#customize-a-component
* https://www.markdownguide.org/basic-syntax/

[2022-09-16 12:12] annieappflowy opened #1067 "[FR] Add a Video Player Plugin to AppFlowy Editor"
**1~3 main use cases of the proposed feature**
Enable users to insert videos into pages

**what types of users can benefit from using your proposed feature**
Users who use videos to express ideas

[2022-09-16 12:15] annieappflowy opened #1068 "[FR] Enable using '/' to insert a numbered list"
**1~3 main use cases of the proposed feature**
As a user who gets used to '/' to insert elements into a page, I would like to use it to insert a numbered list

[2022-09-16 12:19] annieappflowy opened #1069 "[FR] Enable users to insert a numbered list via the toolbar"
**1~3 main use cases of the proposed feature**
As a user, I can insert a numbered list through AppFlowy's Editor's toolbar.

(Below image shows how to use the toolbar to format as a Quote)
<img width="388" alt="image" src="https://user-images.githubusercontent.com/12026239/190637129-14c80cd0-f4d0-4abd-9a3e-5b3b379e8cf7.png">

[2022-09-16 12:21] annieappflowy opened #1070 "[FR] Create a new theme for AppFlowy Editor"
Add a new theme to the theme library.

Reference: https://github.com/AppFlowy-IO/AppFlowy/blob/main/frontend/app_flowy/packages/appflowy_editor/documentation/customizing.md#customizing-a-theme-new-feature-in-005-alpha

[2022-09-16 12:22] annieappflowy opened #1071 "[FR] Translate into fr-FR"
French translation

Reference:
frontend/app_flowy/packages/appflowy_editor/documentation/translation.md

[2022-09-16 12:24] annieappflowy opened #1072 "[FR] Enhance Settings"
UI enhancement

(will add more details later)

[2022-09-16 13:13] appflowy commented on #1047
fix in #1073

[2022-09-16 13:13] #1047 closed

[2022-09-16 13:13] appflowy commented on #1056
fix in #1073

[2022-09-16 13:13] #1056 closed

[2022-09-16 18:37] Yaminyam opened #1074 "[Bug] release typo"
**Describe the bug**
The bugfix title of the release should be in h2, but it is in h3.

**To Reproduce**

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
![image](https://user-images.githubusercontent.com/31057849/190708384-07b8605a-5b94-416b-a446-b6afdffaf5e8.png)

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 -

[2022-09-17 07:00] dadyarri opened #1075 "[Bug] Couldn't generate localizations"
**Describe the bug**
When running `flutter pub get` before `flutter pub run easy_localization:generate -S assets/translations/` i'm getting an error:
[code]

**Expected behavior**
Successful downloading of dependencies

**Desktop (please complete the following information):**
 - OS: Fedora 36

**Additional context**
[code]

[2022-09-17 07:10] dadyarri opened #1076 "[Bug] Can't build development environment"
**Describe the bug**
While executing `install_linux.sh` script at compiling `diesel_cli` i'm getting following error:
[code]

**Expected behavior**
Successful build

**Desktop (please complete the following information):**
 - OS: Fedora 36

**Additional context**
[code]

[code]

[2022-09-17 07:22] richardshiue commented on #1076
Looks like you are missing the development headers and library for sqlite3. Run `sudo dnf install libsqlite3x-devel` to install them.

If there are more similar error messages, run
[code]
Hope this helps!

[2022-09-17 07:32] dadyarri commented on #1076
@richardshiue, thanks, that helps

[2022-09-17 07:32] #1076 closed

[2022-09-17 07:34] ldwnt opened #1078 "[FR] Toggle list and other item types (as supported in Notion) wanted"
**1~3 main use cases of the proposed feature**
I want to migrate from Notion to self-deployed platform like AppFlowy. However, item types like toggle list (and the shortcut to them) are not currently supported. I wonder if AppFlowy has a plan for such feature?

**what types of users can benefit from using your proposed feature**
Users who pay attention to document format and efficiency.

**Additio

[2022-09-17 15:12] jonairolf opened #1079 "A little issue with a text in the trash"
**Description of the issue**

In the trash, the word "tout", after "restaurer" (meaning restore) and "supprimer" (meaning delete), don't appear propely on the french version.
There is the same issue in others languages (tested with spanish, german italian and català)

**Desktop**
 - OS: Windows 11 21H2
 - AppFlowy version 1.0.0.

**Screenshots**

![issue](https://user-images.githubusercontent.com/

[2022-09-17 19:59] richardshiue opened #1081 "[Bug] Time input field cannot recover from bad input"
**Describe the bug**
The text field used to input the time fora grid's date cell turns red and displays an error message if the submitted time isn't acceptable. However, entering a valid time after doesn't cause the text field to return to normal, even though the input is now correctly displayed in the cell.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a grid cell with date property

[2022-09-18 06:32] literalEval opened #1084 "[FR] Usage Docs"
Is there a well written usage doc of this app ? Like I installed it today and was struggling to make nested todos / lists, but couldn't do so. I'm sure it should be possible, but I don't know how. Couldn't find a doc that explains this. If there is a doc, please refer it to me. Otherwise I will be more than happy to write one and contribute here.

[2022-09-18 08:09] annieappflowy commented on #1084
Hi @literalEval , thanks for asking and offering the help. There isn't a product guide yet. I'll make this as a FR for a guidebook.  Let's explore how to approach this together on https://discord.gg/9Q2xaN37tV

[2022-09-18 08:23] annieappflowy commented on #1078
@ldwnt , thanks for sharing your use case. Toggle list is planned and will be included.
We are replacing the editor you are seeing in v0.0.5 with our in house editor - AppFlowy Editor https://pub.dev/packages/appflowy_editor . It includes many item types that you mentioned such as headings, quote, to-do, and numbered list. We will add more item types including Toggle list in AppFlowy Editor. Pleas

[2022-09-18 08:28] annieappflowy commented on #1074
Thanks @Yaminyam , I fixed it.

[2022-09-18 08:28] #1074 closed

[2022-09-18 13:13] Poly-Pixel commented on #100
Is this still an issue? (I don't have a M1 so I can't try to reproduce it)

[2022-09-18 14:09] Poly-Pixel commented on #159
I booted up a quick Manjaro VM - instead of an empty box, I just see nothing where the hand should be.

I was able to get the hand to show by installing `noto-fonts-emoji` through pacman and configuring /etc/fonts/local.conf, as detailed here: https://chrpaul.de/2019/07/Enable-colour-emoji-support-on-Manjaro-Linux.html

Could this step be added to the docs, possibly as a requirement for Manjaro Li

[2022-09-18 15:41] Poly-Pixel commented on #856
I'm looking into this right now

[2022-09-18 18:20] sunny7dusk commented on #700
I have a PR up for this issue @annieappflowy

[2022-09-19 02:42] richardshiue commented on #695
Hey @annieappflowy! May I work on this?

[2022-09-19 05:05] evdcush commented on #762
Same issue with necessary 150% fractional scaling on a 4k display.

Deets:

[code]

![20221919-140101_screenshot](https://user-images.githubusercontent.com/28853935/190952735-a0ec7aab-bf3d-444f-99f8-211eeb77905a.png)

[2022-09-19 05:40] literalEval commented on #1084
Sure. Thanks.

[2022-09-19 07:51] ldwnt commented on #1078
Good to know that. I assume the feature [Customizing Shortcut Events](https://github.com/AppFlowy-IO/AppFlowy/blob/main/frontend/app_flowy/packages/appflowy_editor/documentation/customizing.md#customize-a-shortcut-event) allows users to start editing an item type by typing characters like "/tog.." or something like that, right?

[2022-09-19 11:32] literalEval commented on #1084
Hey. I joined the discord group. Where are we supposed to discuss the issue ?

[2022-09-19 12:48] annieappflowy opened #1094 "[FR] Create TRANSLATIONS.md"
- streamline the process of translating AppFlowy
- make it easier for translators to keep up with the development

[2022-09-19 14:08] richardshiue opened #1095 "[Bug] Disagreeing fonts in the grid"
**Describe the bug**
In Linux, the text in the grid cells have different font styles depending on the type of property it holds. For text input cells such as text and numbers, the text is of a much bolder style than those with date or select properties.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a grid
2. Add a text input column and a date column and add some values
3. Observe the

[2022-09-20 02:00] Wood-Xia commented on #669
@annieappflowy
May I follow the status of this proposal? Is already supported and any document for that?

[2022-09-20 02:17] LucasXu0 commented on #1078
Sure. Once we implement the toggle list, then we will support editing with toggled style by typing '/toggle...'.

[2022-09-20 02:29] LucasXu0 commented on #1075
Hi, @dadyarri , would you help to check with the below commands?

[code]

[2022-09-20 03:02] annieappflowy opened #1096 "[Doc] Update the troubleshooting page"
Update this FAQ [page](https://appflowy.gitbook.io/docs/essential-documentation/install-appflowy/installation-methods/troubleshooting-when-installing-appflowy) to include frequently asked questions related to the installation / environment setup.

Sources for Q&A:

-  [Closed issues ](https://github.com/AppFlowy-IO/AppFlowy/issues?q=is%3Aissue+is%3Aclosed)
- [Open issues tagged with documentation]

[2022-09-20 03:04] #923 closed

[2022-09-20 04:53] dadyarri commented on #1075
Hi @LucasXu0, got same error again on `flutter packages pub get`

[2022-09-20 05:31] annieappflowy commented on #669
@Wood-Xia , thanks for asking. It's planned but not started yet.  You can stay an eye out for the status of this issue or follow our [release page](https://github.com/AppFlowy-IO/AppFlowy/releases)

[2022-09-20 07:42] annieappflowy commented on #1084
Just DM me, or open a discussion with other community members in #general

[2022-09-20 07:48] annieappflowy commented on #700
@sunny7dusk , thank you. It is merged? Can you share the link?

[2022-09-20 07:52] annieappflowy commented on #695
@richardshiue sure, thanks for offering the help! Just assigned to you
We are not able to reach you, @Nike682631. If you are interested in working on similar topics, let me know. We can find other interesting stuff for you to do.

[2022-09-20 07:53] annieappflowy commented on #700
Great work. Closing this issue.

[2022-09-20 07:53] #700 closed

[2022-09-20 07:54] annieappflowy commented on #856
@Poly-Pixel , big thanks! Just assigned it to you.

[2022-09-20 07:57] annieappflowy commented on #100
We offer much better documentation than 11 months ago. Please look at https://appflowy.gitbook.io/docs/essential-documentation/install-appflowy/installation-methods
@rdzwncfo please give it a try

[2022-09-20 08:19] ldwnt commented on #1078
Thanks, looking forward to this feature~

[2022-09-20 08:47] LucasXu0 commented on #1075
Maybe you can release the disk space and try again later.

[2022-09-20 09:50] #1079 closed

[2022-09-21 01:44] wooley2 opened #1106 "Thank you and suggestion to be on Telegram"
Hi,

For people like me who are not on Discord, would you consider a telegram channel?

Maybe you have checked it out, if not, here are some links
https://core.telegram.org/techfaq
@github_repos https://t.me/s/github_repos
https://github.com/telegramdesktop/tdesktop

Press Jun 2022
Telegram became one of the top-5 downloaded apps worldwide in 2022 and now has over 700 million monthly active users.

[2022-09-21 12:06] #796 closed

[2022-09-21 12:47] annieappflowy commented on #1106
Hi @wooley2 , can you point me to a few great communities that are run on Telegram? I'd like to feel the vibe and evaluate Telegram as an alternative option to Discord. Thank you!

[2022-09-21 12:48] #1094 closed

[2022-09-21 13:26] annieappflowy opened #1112 "[Test]: Improve Code Coverage for infra files"
### Description

Create more tests to cover files under the "infra" folder
An example to learn how to create a test:
https://github.com/AppFlowy-IO/AppFlowy/discussions/1107

### Impact

Code Coverage metric helps in determining the performance and quality aspects of any software.
Help us ensure AppFlowy's quality!

### Additional Context

_No response_

[2022-09-21 15:42] tekdel commented on #1060
Could you assign it to me?

[2022-09-22 03:29] MrHeer commented on #1065
Hi, Can I work it?

[2022-09-22 03:31] LucasXu0 commented on #1065
Sure. I assigned this issue to you.

[2022-09-22 03:36] MrHeer commented on #1065
Should I consider [escaping-backticks](https://www.markdownguide.org/basic-syntax/#escaping-backticks)?

[2022-09-22 03:38] MrHeer commented on #1065
Again, this is only the implementation of inline code, not the code block, right?

[2022-09-22 03:45] LucasXu0 commented on #1065
Good insight. Yes, it would be even better to implement the [escaping-backticks](https://www.markdownguide.org/basic-syntax/#escaping-backticks) feature, although just implementing the inline code works too. We haven't implemented the code block yet, so we have to leave it for now.

[2022-09-22 04:16] annieappflowy opened #1116 "[Test]: Improve Code Coverage for operation files"
### Description

Create more tests to cover files under the "operation" folder
An example to learn how to create a test:
https://github.com/AppFlowy-IO/AppFlowy/discussions/1107

### Impact

Code Coverage metric helps in determining the performance and quality aspects of any software.
Help us ensure AppFlowy's quality!

### Additional Context

_No response_

[2022-09-22 04:18] annieappflowy opened #1117 "[Test]: Improve Code Coverage for service files"
### Description

Create more tests to cover files under the "service" folder
An example to learn how to create a test:
https://github.com/AppFlowy-IO/AppFlowy/discussions/1107

### Impact

Code Coverage metric helps in determining the performance and quality aspects of any software.
Help us ensure AppFlowy's quality!

### Additional Context

_No response_

[2022-09-22 04:19] annieappflowy opened #1118 "[Test]: Improve Code Coverage for extensions files"
### Description

Create more tests to cover files under the "extensions" folder
An example to learn how to create a test:
https://github.com/AppFlowy-IO/AppFlowy/discussions/1107

### Impact

Code Coverage metric helps in determining the performance and quality aspects of any software.
Help us ensure AppFlowy's quality!

### Additional Context

_No response_

[2022-09-22 04:21] annieappflowy opened #1119 "[Test]: Improve Code Coverage for render files"
### Description

Create more tests to cover files under the "render" folder
An example to learn how to create a test:
https://github.com/AppFlowy-IO/AppFlowy/discussions/1107

### Impact

Code Coverage metric helps in determining the performance and quality aspects of any software.
Help us ensure AppFlowy's quality!

### Additional Context

_No response_

[2022-09-22 04:22] annieappflowy opened #1120 "[Test]: Improve Code Coverage for document files"
### Description

Create more tests to cover files under the "document" folder
An example to learn how to create a test:
https://github.com/AppFlowy-IO/AppFlowy/discussions/1107

### Impact

Code Coverage metric helps in determining the performance and quality aspects of any software.
Help us ensure AppFlowy's quality!

### Additional Context

_No response_

[2022-09-22 05:42] VenomSupreme opened #1122 "[Bug]: Delete option don't work"
### Bug Description

When using "Delete" for rows and columns, it don't work.
Column delete only work after we go to Properties > Delete.

### How to Reproduce

Left click a Column > Delete
Click on 3dots in front of row > Delete

### Expected Behavior

Get a popup saying "Do you want to delete this property" with options "Cancel" and "OK"

### Operating System

Win 10

### AppFlowy Version(s)

0.

[2022-09-22 05:46] #136 closed

[2022-09-22 06:08] VenomSupreme opened #1123 "[FR]: Rearrange rows"
### Description

Rearrange rows by hold and drag.
would recommend using the 3 dots (menu) for hold and drag as we don't need a new icon just for rearranging the rows, keeping it simple and clean.

### Impact

I use Grid for logging my accounts, and the trades I take. which are done on daily basis and include the time as well.
So lets say I took 2 trades, one at 08:30 and other at 08:35. I logged i

[2022-09-22 06:48] #1122 closed

[2022-09-22 07:10] dadyarri opened #1125 "[Bug]: Couldn't compile development build from source"
### Bug Description

During `cargo make -p development-linux-x86_64 appflowy-linux-dev` occuring error:
[code]

### How to Reproduce

Build appflowy from source

### Expected Behavior

Successful compiling

### Operating System

Arco Linux

### AppFlowy Version(s)

main branch

### Screenshots

_No response_

### Additional Context

**Production** build completes successfully

[2022-09-22 07:10] dadyarri commented on #1075
Well, i've reinstalled my system and this error disappeared, but there is new on compile application stage. I'll close this and describe new problem in #1125

[2022-09-22 07:14] dadyarri commented on #1075
@LucasXu0, forgot about locales 😃. I've tried commands, you've written above, generation locales was sucessfull, but last one gave an error:
[code]

[2022-09-22 07:35] dadyarri opened #1126 "[Bug]: Help pop-up window looks weird"
### Bug Description

1. In the dark mode shadow highlights the window
2. In russian locale Debug Info button can't fit in the window
3. Debug Info button have an unsupported icon
4. Version in the window doesn't match with actual version

### How to Reproduce

Open a help pop-up using button in bottom-right corner

### Expected Behavior

...

### Operating System

Arco Linux

### AppFlowy Version(

[2022-09-22 07:45] dadyarri opened #1127 "[Bug]: Card in kanban visual bugs"
### Bug Description

1. In dark mode colors are too bright (it's unreadable) (screenshot 1)
2. Status selector doesn't close when clicking outside of it (and it places above all of the other elements, so, i. e. deleting property is not accessible) (screenshot 1) (can't make a screenshot because of exception below)
3. After closing card shadow doesn't disappear, making any of interface elements ina

[2022-09-22 07:45] dadyarri commented on #1127
While testing i've got a runtime exception:
[code]

[2022-09-22 11:27] richardshiue opened #1128 "[Bug]: No hard limit on maximum length of options in single/multi-select properties"
### Bug Description

Title says all. Currently, I can write an essay in the text field and set it as an option. It would be a lot better imo if there were a limit to how long the option name can be. The exact number of this limit, however, deserves more discussion.

### How to Reproduce

1. Open up a grid with a single or multi-select property.
2. Type a lot of text into the text field and press e

[2022-09-22 12:47] annieappflowy opened #1129 "[Bug]: there are 2 year/month/day options in Date format."
### Bug Description

![unknown](https://user-images.githubusercontent.com/12026239/191750685-f1b65a6e-0f17-4e19-b350-4046501682bc.png)

### How to Reproduce

<img width="493" alt="image" src="https://user-images.githubusercontent.com/12026239/191750828-8a29d1ed-3328-4b55-bb33-2f2d1e644092.png">

### Expected Behavior

No duplicate options

### Operating System

macOS

### AppFlowy Version(s)

v0.0

[2022-09-22 12:50] annieappflowy commented on #1128
Can this be a good issue for newcomers? @appflowy

[2022-09-22 13:05] appflowy commented on #1127
@dadyarri I fixed it. Will merge after all the CI checks pass.

[2022-09-22 21:05] andercard0 opened #1134 "[FR]: Move Boards/Docs"
### Description

I would like to request if feasible to implement the ability to move boards/docs between the pages as shown in the video below at the moment is not possible!

![Move pages](https://user-images.githubusercontent.com/43047877/191850042-07db0e71-854a-40d6-b367-626cf3744433.gif)

### Impact

Well, not a big of deal to be honest but in the mentioned example above gif, I've created a bo

[2022-09-23 01:14] andercard0 opened #1135 "[Bug]: Some issues/bugs"
### Bug Description

Hi, Not sure if this was already reported (and yes I've tried to look into it before raise this) but I could not find similar issue here.

I'll list all of my issues until now and make a quick video to illustrate them better.

1 Duplicate Board isn't being duplicated;

2 Program keeps enforcing me to use in my native language even if I choose English for example after restart

[2022-09-23 01:16] #1127 closed

[2022-09-23 03:30] annieappflowy commented on #1060
Hi @tekdel , thanks for offering the help. I just assigned it to you. If you need any help, please reach out to @LucasXu0 on [Discord](https://discord.gg/9Q2xaN37tV)

[2022-09-23 09:44] annieappflowy opened #1141 "[FR]: Enable users to insert Grid / Board into a page"
### Description

As a user, I can create beautiful pages by mixing up different types of components together including Grid, Kanban Board, and text blocks in different formats.

### Impact

All the users can benefit from this feature as it greatly enhances the power of a page to organize and display data and information.

### Additional Context

_No response_

[2022-09-23 09:49] annieappflowy commented on #1135
@andercard0 huge thanks!
I'll start handling the issues listed here over this weekend. Will follow up soon

[2022-09-23 13:29] apomalyn opened #1145 "[FR]: Rename/add columns into a board"
### Description

As a user, I would like to control the name and number of columns I have on a board so I'm able to use it for everything I want (e.g. kanban: To Do, In progress, Blocked, Review, Done)

### Impact

All of the users.

### Additional Context

_No response_

[2022-09-24 03:57] appflowy commented on #1025
I think it's ok to show the ellipsis if the text out of bound.

[2022-09-24 03:57] #1025 closed

[2022-09-24 06:36] qqke opened #1148 "[Bug]: Deseriaze delta error!"
### Bug Description

<img width="422" alt="image" src="https://user-images.githubusercontent.com/23273672/192083607-750189e1-fc59-49ac-be10-f7ceac36404b.png">

### How to Reproduce

Saved japanese characters  ,cannot open again!

### Expected Behavior

How to find the original data

### Operating System

windows 11

### AppFlowy Version(s)

0.5.2 beta

### Screenshots

_No response_

### Additiona

[2022-09-24 07:49] LucasXu0 opened #1149 "Support AppFlowy Editor on the Web platform"

[2022-09-24 12:39] appflowy commented on #1135
2 and 5 were already fixed in main branch. Will release in version 0.0.5.3

[2022-09-24 13:02] richardshiue opened #1151 "[Bug]: Few pixels near the edge of grid cells behave abnormally"
### Bug Description

With the exception of Text, Number and URL properties, clicking on the few pixels just near the edges of the cells doesn't trigger the popover that will be used to edit the cell.

Additionally, the I-beam cursor effect only appears for Text and Number properties when hovering over the inner rectangle within the cell.

### How to Reproduce

1. Click near the edges of a grid cel

[2022-09-24 13:52] appflowy commented on #1135
@andercard0 I tried to reproduce the 3,4 issue, but I can reproduce how to lost the data.

[2022-09-24 14:04] #1135 closed

[2022-09-24 14:05] andercard0 commented on #1135
🤔 hm well. the moment I seen my other notes were gone was when that ✔️ appears.

This one is too tricky to reproduce indeed 😆

![image](https://user-images.githubusercontent.com/43047877/192102177-57f75b02-c9ee-4706-a1aa-b95e23e175e5.png)

[2022-09-24 14:06] andercard0 commented on #1135
woah, already ?
you're fast 👍🏽 Thank you so much all of you guys!!

[2022-09-24 14:14] appflowy commented on #1135
No problem. I am still working on other issues.
I will let you know if we publish a new release version. Probably next week.

[2022-09-24 14:22] appflowy commented on #1148
Hi, @qqke please try the latest release version. You could DM me if the problem still exists.

[2022-09-25 02:58] #1129 closed

[2022-09-25 07:02] appflowy commented on #1128
Sure

[2022-09-25 07:28] appflowy commented on #1126
@dadyarri This bug was fixed in #1155. It will be released in v0.0.5.3

[2022-09-25 07:28] #1126 closed

[2022-09-25 07:30] #1050 closed

[2022-09-25 07:33] annieappflowy opened #1156 "[FR]: Reduce the time threshold to trigger the action of dragging a card in Kanban Board"
### Description

At the moment, it asks for pressing a few seconds to be able to drag a card in Kanban Board from one position to another.
Reducing the time threshold to trigger such event makes it easier to perform this frequent action.

### Impact

Kanban Board users

### Additional Context

_No response_

[2022-09-25 11:58] bigpeak opened #1159 "flutter code"

[2022-09-25 12:38] #1159 closed

[2022-09-25 22:50] gaganyadav80 commented on #1072
Hi Annie, If provided with the design I can work on this. Please assign me and share the further details.

[2022-09-26 01:52] annieappflowy commented on #1072
Hey @gaganyadav80 , so glad to hear from you. Yes, we just sourced a designer to work on this. Will share details once it's finished. Thanks for offering the help!

[2022-09-26 03:28] faculemac opened #1163 "[Bug]: Highlighted words are unreadable on Dark Mode (Windows 11)"
### Bug Description

Contrast between the highlight background color and letter color is too low in dark mode (highlight background is too bright for white letters). It seems that the colors are the same in light and dark mode, which are fine for light mode but way too bright for dark mode.

### How to Reproduce

Open the app on Windows / macOS, choose dark mode and highlight a word.

### Expected

[2022-09-26 03:30] annieappflowy opened #1164 "[FR]: Create more Rust starter issues for AppFlowy's contributors"
### Description

We'd like to offer real-world practices to AppFlowy's contributors who are interested in learning Rust and developing relevant skills. At the moment, most of our open issues for newcomers are Flutter issues. Please create more Rust starter issues.

### Impact

Contributors who are learning Rust or want to build up their development skills through real world opportunities.

### Add

[2022-09-26 03:40] #1156 closed

[2022-09-26 03:40] #1149 closed

[2022-09-26 04:45] microBob commented on #1163
I can confirm this. It also looks like this in macOS as well.

[2022-09-26 07:01] #856 closed

[2022-09-26 09:15] MrHeer commented on #1067
Can I take it?

[2022-09-26 09:18] LucasXu0 commented on #1067
Sure. I assigned this issue to you.

[2022-09-26 09:19] MrHeer commented on #1067
Is there a more detailed requirements document and UI?

[2022-09-26 09:25] LucasXu0 commented on #1067
At present, there is no perfect design draft. You can refer to the design of the image plugin, and support functionalities such as scaling, aligning, copying, deleting, etc.

[2022-09-26 13:26] appflowy opened #1169 "[FR]: Code coverage for Rust"
Enable code coverage for Rust code.

* Run in CI, PRs, and centrally for a team
* Run locally for fast feedback for an individual.

Reference:
* [How to do code coverage in Rust](https://blog.rng0.io/how-to-do-code-coverage-in-rust)

[2022-09-26 13:27] appflowy opened #1170 "[FR]: Unit tests that cover other Enum NumberFormat"

[2022-09-26 13:30] appflowy commented on #1170
Check out the [number_type_option_format_number_test](https://github.com/AppFlowy-IO/AppFlowy/blob/main/frontend/rust-lib/flowy-grid/src/services/field/type_options/number_type_option/number_tests.rs) and
[number_type_option_format_str_test](https://github.com/AppFlowy-IO/AppFlowy/blob/main/frontend/rust-lib/flowy-grid/src/services/field/type_options/number_type_option/number_tests.rs) function fo

[2022-09-26 13:31] appflowy opened #1171 "[Test]: Unit tests that cover other Enum NumberFormat"
Cover other enum types in NumberFormat. For the moment, only `Number`, `USD`, `Yen`, `Yuan`, and `EUR` get covered.
[code]

Check out the [number_type_option_format_number_test](https://github.com/AppFlowy-IO/AppFlowy/blob/main/frontend/rust-lib/flowy-grid/src/services/field/type_options/number_type_option/number_tests.rs) and
[number_type_option_format_str_test](https://github.com/AppFlowy-IO/App

[2022-09-26 13:36] appflowy opened #1172 "[FR]: Integrate thiserror and anyhow"
AppFlowy uses custom defined error type that will be eventually converted to `FlowyError`. Try to Integrate [thiserror](https://docs.rs/thiserror/latest/thiserror/) and [anyhow](https://docs.rs/anyhow/latest/anyhow/) into one of the crates located in [rust-lib](https://github.com/AppFlowy-IO/AppFlowy/tree/main/frontend/rust-lib) to make it easier to handle errors.

 `FlowyError` is annotated with

[2022-09-26 15:12] ziyziyziy888 commented on #735
Please fix this bug, it is very hard to use in Chinese

[2022-09-26 18:28] d3vus opened #1173 "[FR]: Add Global Appmenu feature enable for kde desktop environment."
### Description

Hi Appflowy team , first thanks for creating this amazing open source note management application , I am currently running fedora linux 36 with kde spin and it has been a very good responsive experience for me , there can be imporovement too-

- [ ]  It can have a scale option where user can have its choice to scale the app with option of - 100% , 125% or any other.

- [ ] Can you

[2022-09-26 19:49] TieWay59 commented on #1164
Is there already a doc or blog post related to the rust back-end? I think it would be nice if we newcomers can read it before asking too much.

(sorry if you have already posted it somewhere else.)

[2022-09-27 01:55] ZZITE commented on #1171
I see there is another issue #1170 that looks the same, Is there any difference?

I’m interested in this project and I'm just starting to learn rust, can i work it?

[2022-09-27 01:57] #1170 closed

[2022-09-27 01:58] appflowy commented on #1171
#1170 is duplicated.

Sure, I assign it to you.

[2022-09-27 02:05] appflowy opened #1174 "[FR]: Support Group by Date in Kanban Board"
Support Group by Date in Kanban Board.

Currently, AppFowy doesn't support grouping by the Date property, as shown below.
![Image](https://user-images.githubusercontent.com/86001920/192415152-94d79e21-add8-40a4-a1be-3d6dff8e12ba.gif)

An example (see below) the dates are grouped by Month. Implement support grouping the records in Kanban board by the date property.

![Image](https://user-images.git

[2022-09-27 02:18] appflowy opened #1175 "[FR]: Support Group by the URL property in Kanban Board"

[2022-09-27 02:21] SwapnilKumbhar commented on #1169
I'd love to help with this! Just had a few questions -

What does "centrally for a team" mean here?

Like an `xtask`?

[2022-09-27 02:35] appflowy commented on #1169
Yep, we can run the coverage on the local machine.

Yes, just like the `xtask`. Is it possible to use [cargo make ](https://github.com/sagiegurari/cargo-make) instead of `xtask`? Because AppFlowy use [cargo make ](https://github.com/sagiegurari/cargo-make)  as the task runner.

[2022-09-27 02:43] appflowy commented on #1175
Support group by URL in Kanban board.

Currently, AppFowy didn't support grouping by URL property, as shown below.

![group_by_url](https://user-images.githubusercontent.com/86001920/192419291-1b950daa-ee88-4799-bbe9-a1786fa1a2ff.gif)

[2022-09-27 04:59] SwapnilKumbhar commented on #1169
Understood. I'll try to use `cargo make` on priority, glancing at the project makes me confident that it would be possible. I'll post here if it seems difficult with `cargo make`.

[2022-09-27 06:02] appflowy opened #1177 "[Test] Implement unit test in Rust when switching from other property types to Text property type."
Implement the unit test when switching to Text property from other property types but still need to display the cell content.

[2022-09-27 06:11] appflowy opened #1178 "[FR] Support switching from Single-select property type to Multi-select property type and vice versa"
Display the option after switching from a single select property type to a multi-select property type and vice versa

For the moment, the cell is blank after switching from single select to multi-select

![Image](https://user-images.githubusercontent.com/86001920/192450171-fe40395d-516f-4f1d-88fa-a9a2154cef00.gif)

[2022-09-27 06:22] appflowy opened #1179 "[FR] Support switching from Checkbox property type to Single/Multi-select property type"
Create a new tag named `Yes` if the checkbox is in check status when switching from checkbox property type to single/multi-select.
Need to know Flutter and Rust

![Image](https://user-images.githubusercontent.com/86001920/192449266-5c576a4c-6c11-4a67-be4c-fa44f3c56a74.gif)

[2022-09-27 06:22] arshidhaar commented on #1178
Hi

[2022-09-27 06:37] appflowy opened #1181 "[Test] Implement unit test in rust when switching from a Single-select to a Multi-select property type"

[2022-09-27 06:57] MrHeer commented on #1067
Hi, I have no idea about video player. Do you have some suggestion? Should I develop a Flutter plugin?

[2022-09-27 07:10] LucasXu0 commented on #1067
Hi, @MrHeer. You don't need to make a Flutter plugin.
Here is the guiding document. [customizing-a-component](https://github.com/AppFlowy-IO/AppFlowy/blob/main/frontend/app_flowy/packages/appflowy_editor/documentation/customizing.md#customizing-a-component). Feel free to request more information if you have any questions after reading it.

[2022-09-27 07:15] MrHeer commented on #1067
But there should have a VideoNodeWidget like the ImageNodeWidget in example, In the example, use a Image.network to display a Image, but there are no weiget to render a video player.

[2022-09-27 07:27] LucasXu0 commented on #1067
After doing a simple investigation, I haven't found such a widget to render video for the time being. Perhaps this feature can be suspended first.

[2022-09-27 07:30] MrHeer commented on #1067
Can I create a draft PR to waiting the video widget?

[2022-09-27 09:41] appflowy opened #1183 "[Test] Implement unit test in rust when switching from a Multi-select property type to a Text property type"

[2022-09-27 12:15] LucasXu0 commented on #1067
Yup. I will keep looking for a cross-platform video player. (Web, Mobile and Desktop)

[2022-09-27 13:02] annieappflowy commented on #1163
Thanks for reporting this issue. This is a duplicate of https://github.com/AppFlowy-IO/AppFlowy/issues/336
You can keep an eye out for that issue.

[2022-09-27 13:02] #1163 closed

[2022-09-27 13:04] annieappflowy commented on #1145
Hi @apomalyn , can you elaborate on how you want to control the name and number of columns? Thanks!

[2022-09-27 15:17] richardshiue opened #1186 "[Bug]: Extra spacing in multiselect cell"
### Bug Description

When I select 2 or more options in a multi-select grid cell, the cell wraps to a second line even though there is more than enough to fit everything in the first row.

### How to Reproduce

1. Go to a grid with a multi-select property
2. Select 2 options when that should fit in the first row
3. Observe that there is extra spacing

### Expected Behavior

The tags should fit on

[2022-09-28 04:14] annieappflowy opened #1190 "[FR]: Auto-detect link in AppFlowy Editor"
### Description

Paste a link starting with https or www into AppFlowy Editor. Then it's auto-formatted as URL and clickable
<img width="716" alt="image" src="https://user-images.githubusercontent.com/12026239/192686005-c5022fa1-267d-46f0-aaac-ed5b4db86d66.png">

### Impact

Users who write links in pages

### Additional Context

_No response_

[2022-09-28 07:13] MrHeer commented on #1190
Can we fetch the URL, and parse the `title` from the HTML?

[2022-09-28 07:13] MrHeer commented on #1190
Can I take it?

[2022-09-28 20:46] Rocketchat23 commented on #1190
No you can't

[2022-09-28 21:03] VividhPandey003 commented on #1096
Hey @annieappflowy 👋, I am beginner to Open Source and was looking forward to contribute to this repository by resolving this issue. Could you please explain me once again, what needs to be done.

[2022-09-28 21:42] andercard0 opened #1193 "[Bug]: New note/tag bug"
### Bug Description

Hi all, here I go again reporting a new bug hope you don't mind :)

Some things are better explained in videos rather with texts, so take a look

![Deleted](https://user-images.githubusercontent.com/43047877/192893364-6831392e-d30d-495e-a315-559ece4cd39e.gif)

2. can't select the text it moves the entire tag.

![selection](https://user-images.githubusercontent.com/43047877/193

[2022-09-28 23:53] zhouxinghong opened #1194 "Deprecation"
Deprecation

[2022-09-29 00:58] #462 closed

[2022-09-29 10:34] richardshiue commented on #1081
I can no longer reproduce this issue on main and 0.0.5.3. Should be good to close

[2022-09-29 13:13] ChiragKr04 commented on #1070
@annieappflowy Can I work on this? And do we need to add only the theme is given in reference?

[2022-09-30 10:23] annieappflowy commented on #1193
@andercard0 , thanks! We don't mind at all getting bug reports. Please share them when you find any!

[2022-09-30 10:26] annieappflowy commented on #1190
Hi @MrHeer , thanks for offering the help! I assigned it to you. This one is not an easy fix to be honest, but great practice for sure. If you have any questions, please feel free to reach out to @LucasXu0

[2022-09-30 10:30] annieappflowy commented on #1096
Hi @VividhPandey003 , there were questions asked by people about setting up the environment on different systems to have AppFlowy up running on their devices. The goal here is to compile a list of FAQs and add it to the troubleshooting page. Please let me know if it's not clear or you have any questions.

[2022-09-30 10:32] annieappflowy commented on #1070
@ChiragKr04 , I assigned this issue to you. Can you elaborate on your question?

[2022-09-30 11:42] VividhPandey003 commented on #1096
@annieappflowy So what needs to be done is compile all the questions asked regarding setting up the enviornment along with the solution and add it to the troubleshooting page.

I'll try doing it. I suggest you to not assign it to me right now. Rather if I'm able to and if nobody is assigned till that time, I'll inform you first and then submit a PR.😊

[2022-09-30 11:47] annieappflowy commented on #1096
@VividhPandey003 all the questions with verified answers!
PR to this repo please: https://github.com/AppFlowy-IO/AppFlowy-Docs
If you have more questions, let me know!

[2022-09-30 12:22] VividhPandey003 commented on #1096
@annieappflowy Should I directly refer to [Discussions](https://github.com/AppFlowy-IO/AppFlowy/discussions) for the questions and answers

[2022-09-30 16:59] richardshiue commented on #159
Hey there, I'd love to work on this if it's available!

[2022-09-30 22:23] citricacid2 commented on #1063
can you assign this one to me?

[2022-10-01 01:39] annieappflowy commented on #1063
Thanks for offering the help. Just assigned it to you :D
Your mentor is @LucasXu0 . Please feel free to reach him out on [Discord](https://discord.gg/9Q2xaN37tV) for help.

[2022-10-01 02:01] annieappflowy commented on #159
Thanks @richardshiue , assigned it to you

[2022-10-01 03:51] annieappflowy commented on #1096
here is a list of places where you are supposed to mine FAQ:
- [Closed issues](https://github.com/AppFlowy-IO/AppFlowy/issues?q=is%3Aissue+is%3Aclosed)
- [Open issues tagged with documentation](https://github.com/AppFlowy-IO/AppFlowy/labels/documentation)
- Resolved questions on [Discussions](https://github.com/AppFlowy-IO/AppFlowy/discussions)
- [Discord channels](https://discord.gg/9Q2xaN37tV)

[2022-10-01 09:37] ankur12-1610 commented on #1071
I would like to work on this issue ;)

[2022-10-01 10:00] aminmarashi commented on #1178
I'm working on this one...

[2022-10-01 11:10] ankur12-1610 commented on #1059
I would like to work on this issue!

[2022-10-01 11:13] annieappflowy commented on #1059
Thanks! Assigned to you. The mentor on this issue is @LucasXu0 . If you have any questions, please feel free to reach him out on Discord.

[2022-10-01 11:15] annieappflowy commented on #1178
Thanks! Assigned it to you. Your mentor is @appflowy . If you have any questions, please feel free to reach out to Nathan on [Discord](https://discord.gg/9Q2xaN37tV).

[2022-10-01 13:08] #1065 closed

[2022-10-01 13:57] Defkon1 commented on #1071
Sorry, I just found out this issue; I pushed the fr_FR a few minutes ago

[2022-10-01 15:11] ankur12-1610 commented on #1071
Do we have any other translation that needs to be covered?

[2022-10-01 15:34] Defkon1 commented on #1071
For the editor: https://github.com/AppFlowy-IO/AppFlowy/tree/22d7ade18b8844ff879f692b6037b2348aa82090/frontend/app_flowy/packages/appflowy_editor/lib/l10n

[2022-10-01 15:57] literalEval commented on #1120
I would like to work on this issue.

[2022-10-01 15:58] literalEval commented on #1084
@annieappflowy I think you are not very active on Discord. Can we discuss here ?

[2022-10-01 16:00] literalEval commented on #1060
Is this issue fixed ? Otherwise I can work on it.

[2022-10-01 16:00] literalEval commented on #1002
I would like to work on this issue. Please assign it to me.

[2022-10-01 17:59] jedau commented on #1064
If this issue is still available, I would love to get a crack at it.

[2022-10-02 11:51] ankur12-1610 commented on #1071
@Defkon1 we don't have issues for them right?
Should I create or are you going to create the issues collectively for all the remaining translations?

[2022-10-02 12:05] richardshiue opened #1206 "[Bug]: Padding Issue on ActionItems"
### Bug Description

This seems to be a regression from 0.0.5.3. Some ActionItems are no longer sized correctly. The one case that works as intended (from my observations at least) is the bottom-right info button with the question mark.

### How to Reproduce

1. Click on the share button in a doc page, or
2. Open the context menu on an app in the sidebar, or
3. Open the context menu on a page in t

[2022-10-02 12:14] Defkon1 commented on #1071
I don't know what is the preferred way in this repo, I am a first time contributor here...

Probably you should create a new issue

[2022-10-02 12:21] #1071 closed

[2022-10-02 13:36] annieappflowy commented on #1206
could be bugs introduced by the overlay package
@appflowy , please check

[2022-10-02 13:42] annieappflowy commented on #1064
@jedau , thanks for offering the help. I assigned the issue to you. Your mentor is @LucasXu0 . If you need help, please reach out to him on[ Discord](https://discord.gg/9Q2xaN37tV).

[2022-10-02 13:46] annieappflowy commented on #1120
Hi @literalEval , thanks for offering the help. I assigned this issue to you.

[2022-10-02 13:47] annieappflowy commented on #1120
You mentor is @LucasXu0 . If you need help from him, please reach him out on [Discord](https://discord.gg/9Q2xaN37tV).

[2022-10-02 13:49] annieappflowy commented on #1002
I assigned https://github.com/AppFlowy-IO/AppFlowy/issues/1120 to you. I'd recommend that you focus on one issue a time :D

[2022-10-02 14:52] ankur12-1610 opened #1208 "[FR]: Translate into fr-CA"
### Description

French Translation

Reference:
frontend/app_flowy/packages/appflowy_editor/documentation/translation.md

### Impact

All users

### Additional Context

_No response_

[2022-10-02 14:53] ankur12-1610 commented on #1208
I would like to work on this issue

[2022-10-02 15:44] literalEval commented on #1002
Since #1120 is a huge task in itself, I think it will be better if I contribute in small changes first so that I can get used to the code slowly, and finally will work on that issue. Does this sound good to you ?
If yes, then please tell what changes are need in the system requirements doc ?

[2022-10-02 15:45] alemoreau commented on #1062
Hi ! I would like to work on this issue.
I've created a PR https://github.com/AppFlowy-IO/AppFlowy/pull/1209 inspired by https://github.com/AppFlowy-IO/AppFlowy/discussions/1100
Thank you !

[2022-10-02 15:52] Lakshikuga commented on #1062
Hi! would like to work on this issue!

[2022-10-02 15:54] Lakshikuga commented on #1061
Hi! Would like to work on this issue.

[2022-10-02 16:45] Indrajeet-S commented on #1002
@literalEval
we have to mention requirements of memory, processor, etc... right?

[2022-10-03 05:06] annieappflowy commented on #1208
@ankur12-1610 , thanks! I've assigned it to you and added the hacktoberfest label in case you're participating in the event.

[2022-10-03 05:07] ankur12-1610 commented on #1208
Thanks ;)

[2022-10-03 05:21] annieappflowy commented on #1061
Hi @Lakshikuga , thanks for offering the help. I assigned the issue to you. Your mentor is @LucasXu0  for this task. If you need help from him, please reach him out on [Discord](https://discord.gg/9Q2xaN37tV).

[2022-10-03 05:23] annieappflowy commented on #1062
@alemoreau great progress! Assigned the issue to you and @LucasXu0 will review your PR. Thank you!

[2022-10-03 05:23] annieappflowy commented on #1062
@Lakshikuga , assigned https://github.com/AppFlowy-IO/AppFlowy/issues/1061 to you. Enjoy and have fun :D

[2022-10-03 06:00] enzoftware commented on #1118
Hi @annieappflowy, can I take this one? Cheers

[2022-10-03 06:15] annieappflowy commented on #1118
@enzoftware , thanks for claiming this task. Please create a separate issue for this task. I will label your issue accordingly!

[2022-10-03 06:16] annieappflowy commented on #1120
Hi @literalEval , please create a separate issue for this task. I will label it accordingly. Thanks!

[2022-10-03 06:36] ankur12-1610 opened #1213 "[FR]: Translate into hu-HU"
### Description

Hungarian Translation

Reference:
frontend/app_flowy/packages/appflowy_editor/documentation/translation.md

[2022-10-03 06:38] ankur12-1610 commented on #1213
@annieappflowy similar to  the previous one ;)

[2022-10-03 06:50] ankur12-1610 opened #1216 "[FR]: Translate into id_ID"
### Description

Indonesian Translation

Reference:
frontend/app_flowy/packages/appflowy_editor/documentation/translation.md

[2022-10-03 07:08] Ishanned opened #1218 "[FR]: translate into pt_PT"
Reference:
frontend/app_flowy/packages/appflowy_editor/documentation/translation.md

[2022-10-03 07:08] Ishanned commented on #1218
I would like to work on this

[2022-10-03 07:14] Indrajeet-S commented on #1002
@annieappflowy

[2022-10-03 09:59] jaydeepmehta15 commented on #1149
Is it complete ?

[2022-10-03 12:46] literalEval commented on #1120
Okay. Sure. Can you please clarify which "document files" are being talked about here ? I am a bit confused.

[2022-10-03 17:46] citricacid2 commented on #1068
Can I work on this one? Thanks!

[2022-10-03 18:06] MayurSMahajan commented on #1002
Is anybody assigned to this issue?

[2022-10-03 18:13] Indrajeet-S commented on #1002
Nope!!

[2022-10-03 18:18] MayurSMahajan commented on #1070
I know the issue is already assigned but I had a small doubt. You want new default themes, This will enable users to directly select from a range of newly created custom themes.

So basically what I am trying to say is that the person solving this issue will submit a set of new themes that the user doesn't need to customize himself. The user can just simply should be able to write `editorStyle: Ed

[2022-10-03 22:42] SwapnilKumbhar commented on #1169
After understanding a few initial details about the task, I have a few questions -
1. Currently, the `rust-lib` and `shared-lib` are both targeting `rustc` version `1.58`. However, coverage instrumentation is introduced in `1.60`. So to use it, I have to either upgrade `rustc` in rust-toolchain.toml or use a nightly version with coverage as an experimental function. Both of these changes affect se

[2022-10-04 01:26] enzoftware opened #1221 "[Test]: Improve Code Coverage for extensions files"
### Description

- Improve code coverage
- Improve codebase

### Impact

Improve confidence while doing changes on the `extensions` package

### Additional Context

Coming from #1118

_No response_

[2022-10-04 01:26] enzoftware commented on #1221
@annieappflowy here is the new issue

[2022-10-04 08:39] rileyhawk1417 commented on #1117
Hi Annie can I try and take this issue?

[2022-10-04 09:15] VladimirCores opened #1222 "[Bug]: Unhandled Exception: Invalid argument(s): Failed to load dynamic library 'libdart_ffi.so'"
### Bug Description

Running: `./app_flowy` results in error:

[code]

### How to Reproduce

1. Download latest version from GH
2. Extract to folder
3. run `./app_flowy`

### Expected Behavior

App runs

### Operating System

Deepin 20.7 - Linux cores 5.15.45-amd64-desktop

### AppFlowy Version(s)

1.0.0

### Screenshots

![image](https://user-images.githubusercontent.com/442111/193781483-89e403da

[2022-10-04 10:22] richardshiue commented on #1222
I could be wrong, but seems like your glibc version is too old or not found at all. To find your glibc version, enter `ldd --version` in a terminal. Also check out <https://appflowy.gitbook.io/docs/essential-documentation/install-appflowy/installation-methods/mac-windows-linux-packages/installing-on-linux>.

[2022-10-04 11:34] DiFronzo commented on #1112
Hi, @annieappflowy. I would like to work on this task. I can create test(s) for covering the file ["html-converter.dart"](https://github.com/AppFlowy-IO/AppFlowy/blob/main/frontend/app_flowy/packages/appflowy_editor/lib/src/infra/html_converter.dart). Can you create a new issue for this spesific file and assign it to me?

[2022-10-04 12:28] rileyhawk1417 commented on #1222
I think it's an issue for Ubuntu related Distro's particularly 20.04 versions. Would need to look into the install requirements for Ubuntu 20.04 distro's.

[2022-10-04 12:29] #1216 closed

[2022-10-04 12:30] #1213 closed

[2022-10-04 12:38] richardshiue opened #1223 "[Bug]: Scrolling in multi-select edit text fields"
### Bug Description

The selected tags show up at the start of the search field as shown below. However, the only way to scroll through them is by using the touchpad horizontal scroll (no mouse scrolling and horizontal mouse scroll is very rare, and vertical scroll for touchpad doesn't work either). We can also explore adding mouse drag to scroll through the selected tags.

I am also of the view t

[2022-10-04 13:35] vortixhead commented on #1128
Hi! 👋
I would like to contribute to this one, is it available?

[2022-10-04 14:20] annieappflowy commented on #1128
@vortixhead Thanks for offering the help. I just assigned the issue to you. If you need help with this task, you can reach out to @appflowy Nathan on Discord.

[2022-10-04 14:24] annieappflowy commented on #1112
Thanks @DiFronzo ! Please create a separate issue on this topic including your work scope. I’ll then assign the issue to you. If you need quick help for this task, please reach out to @LucasXu0 on Discord.

[2022-10-04 14:26] annieappflowy commented on #1221
@enzoftware , thanks! Assigned to you

[2022-10-04 14:31] annieappflowy commented on #1070
@MayurSMahajan , yes, we’d like to offer users with a diverse set of themes. Multiple people can work on this issue together. You can just create a separate issue for the theme you’d like to create. I’ll then label it accordingly. If you need help with this task, please feel free to reach out to @LucasXu0 on Discord.

[2022-10-04 14:31] annieappflowy commented on #1070
@ChiragKr04 , can you create a separate issue for the theme you’re building? I’ll then label it accordingly!. Thanks

[2022-10-04 14:33] ChiragKr04 commented on #1070
Sure
Should I pick on my own or you got any suggestions? 😃

[2022-10-04 14:39] ChiragKr04 commented on #1070
@MayurSMahajan You can pick any theme and If you pick one please let me know. 😄

[2022-10-04 15:01] rileyhawk1417 opened #1225 "[FR]: Improve test coverage for service files for AppFlowy Editor"
### Description

Writing test's for AppFlowy Editor's service files allows the services to be tested automatically instead of testing manually.

### Impact

Test's can help improve the quality of code that is being pushed.

### Additional Context

This is related to issue #1117

[2022-10-04 15:16] rileyhawk1417 commented on #1120
@literalEval check the  folder under packages/appflowy_editor/src/document

[2022-10-04 15:17] rileyhawk1417 commented on #1119
Hi @annieappflowy can I try and tackle this one?

[2022-10-04 16:33] literalEval commented on #1120
Okay. Sure.

[2022-10-04 16:43] DiFronzo opened #1227 "[Test]: Improve Code Coverage for infra/html-converter"
Create tests for covering the code found in the file [html-converter.dart](https://github.com/AppFlowy-IO/AppFlowy/blob/main/frontend/app_flowy/packages/appflowy_editor/lib/src/infra/html_converter.dart). Connected to issue #1112.

[2022-10-05 03:44] enzoftware commented on #1221
Hi @annieappflowy, can I reach out to someone to ask some questions about the scope of the PR. Or just drop them here?

[2022-10-05 04:01] annieappflowy commented on #1221
You can either drop your questions here or ask @LucasXu0 on [Discord](https://discord.gg/9Q2xaN37tV). He will be your mentor on this task. Thanks!

[2022-10-05 09:51] VladimirCores commented on #1222
`ldd --version`:
[code]

[2022-10-05 13:26] #1218 closed

[2022-10-05 15:44] richardshiue opened #1230 "[Bug]: Scrollbar Design"
### Bug Description

Scrollbars in some appflowy pages could use some improvement:
- Kanban doesn't have one at all (the only way is through horizontal touchpad scroll) #1027
- The one in grid looks okay, but there is some mis-alignment (bottom right corner) and I think the scroll bar should protrude above the header row?
- The one in the trash page is a bit thinner than the one in grid

### How t

[2022-10-05 16:12] MayurSMahajan commented on #1070
Okay so I will think of themes and design them in Figma first. I'll tell their names to you so you can create issues. And soon I will submit PR with the code containing the Themes

[2022-10-05 16:17] MayurSMahajan commented on #1070
@ChiragKr04 I think @annieappflowy meant that you have to create a different issue and submit your work there, since previously this issue was assigned to you.

[2022-10-05 16:18] MayurSMahajan commented on #1070
I'll try to suggest you some themes that you can work on parallel

[2022-10-05 18:53] Ishanned opened #1231 "translate into de_DE"
Reference:
frontend/app_flowy/packages/appflowy_editor/documentation/translation.md

[2022-10-05 18:54] Ishanned commented on #1231
I would like to work on this

[2022-10-06 04:43] Ishanned opened #1233 "Translation into ru-RU"
Reference:
frontend/app_flowy/packages/appflowy_editor/documentation/translation.md

[2022-10-06 04:43] Ishanned commented on #1233
I would like to work on this

[2022-10-06 05:01] Ishanned opened #1235 "[FR]: Add translation for Hindi (hi_IN) for appflowy-editor"
### Description

I would like to add Hindi translation for appflowy-editor.

### Impact

This would add to the list of languages available to translate into.

### Additional Context

_No response_

[2022-10-06 11:10] richardshiue commented on #1043
With v0.0.5.3, the column reordering action is now immediate after clicking on the header. We're all done here.

[2022-10-06 11:10] #1043 closed

[2022-10-06 11:12] richardshiue commented on #483
(related to #1043) Initially did not know of this issue, but this is now fixed in v0.0.5.3. Please feel free to close

[2022-10-06 11:35] annieappflowy commented on #483
@moksh-mahajan , love the idea of showing a tooltip as a hint for users. Can you draw something roughly to demonstrate your idea? I'm not sure about how the reordering icon would work.

[2022-10-07 02:50] LucasXu0 commented on #1061
Hi @Lakshikuga. How's the progress of this issue? Feel free to DM me on Discord if you need any help.

[2022-10-07 06:44] appflowy commented on #1193
@andercard0 Thank you for reporting this issue. It had been fixed in PR #1241.

[2022-10-07 07:14] #1193 closed

[2022-10-07 09:13] eigengravy opened #1244 "Add translation for Malayalam (ml_IN)"
I would like to work on this.

[2022-10-07 10:08] SmartAree commented on #1230
Can I work on this?

[2022-10-07 13:33] #1244 closed

[2022-10-07 13:35] annieappflowy commented on #1230
Sure. Thanks for offering the help! Just assigned the issue to you

[2022-10-07 14:52] SmartAree commented on #1230
Thanks and pleasure!

[2022-10-08 01:24] #1128 closed

[2022-10-08 01:32] appflowy opened #1247 "Automatically publish the AppFlowy app to Flathub in the release job."
Original PR:

https://github.com/AppFlowy-IO/AppFlowy/pull/208

[2022-10-08 02:09] annieappflowy commented on #1227
@DiFronzo , have you checked out this example on how to add tests? https://github.com/AppFlowy-IO/AppFlowy/discussions/1107
Let us know if you need more hints to complete this task.

[2022-10-08 02:18] annieappflowy commented on #1186
Is it an easy fix? Can this be an newcomer friendly issue? @appflowy

[2022-10-08 02:47] LucasXu0 opened #1248 "[FR] Support windows platform in ci.yaml"
### Description

Currently `ci.yaml` is not supported for the Windows platform, while `release.yml` is supported for all desktop platforms.

### Impact

Avoid unintended errors on windows.

### Additional Context

 Theoretically, we only need to migrate the logic of `release.yaml`

[2022-10-08 02:48] LucasXu0 commented on #1248
**ci.yaml**
<img width="561" alt="ci.yaml" src="https://user-images.githubusercontent.com/11863087/194684426-8f09825a-ed87-40fa-bcd9-362e49e95d5b.png">

**release.yml**
<img width="843" alt="release.yml" src="https://user-images.githubusercontent.com/11863087/194684449-c36816fd-ac33-4c1d-8027-bdb58c681bc9.png">

[2022-10-08 02:51] #1221 closed

[2022-10-08 03:33] LucasXu0 opened #1249 "[FR] Prevent keeping the previous style when formatting text through markdown syntax."
### Description

Prevent keeping the previous style when formatting text through markdown syntax.

For example :
1. input `**ABC**`
2. `**ABC**` will become **ABC**
3. input some text, like `EFG`, after **ABC** and the new inputting text should not be bold
4. **ABC**EFG

### Impact

This will enhance the user experience for Markdown users.

### Additional Context

_No response_

[2022-10-08 05:56] Ishanned commented on #1233
@appflowy will you please review and let me know if anything else is needed?

[2022-10-08 07:26] Ishanned commented on #1248
@LucasXu0 do we need to include `windows-latest` in the os list of ci.yaml?

[2022-10-08 07:28] Ayush1325 commented on #1247
I think it is important first to clarify what integrating flatpak into AppFlowy build process means. Most applications in flathub (Eg: [zola](https://github.com/flathub/org.getzola.zola)) do not do any building in the base repository.

[2022-10-08 07:32] Ishanned commented on #1248
I would like to work on this issue. Can you assign this to me?

[2022-10-08 07:48] MrHeer commented on #1190
@annieappflowy Hi, This feature seems to be completed by #851

[2022-10-08 09:09] appflowy commented on #1206
Hi, @richardshiue this issue was fixed in #1250.

[2022-10-08 09:09] #1206 closed

[2022-10-08 13:04] codezuma commented on #1249
@LucasXu0  are you working on this issue.

[2022-10-08 13:18] LucasXu0 commented on #1249
No. Do you want to give it a try?

[2022-10-08 13:40] codezuma commented on #1249
Thinking of that. But i dont have any experience in flutter

[2022-10-08 13:41] codezuma commented on #1249
Can you help me with it? Looks like you have been contributing for a while in this now

[2022-10-08 14:20] LucasXu0 commented on #1249
It's a bit difficult for a without flutter experience developer. Maybe you can try the other issues tagged with a `good first issue for devs` label. 😊

[2022-10-08 14:22] codezuma commented on #1249
Yeah sure

[2022-10-09 00:22] SuperBo commented on #26
Hi @Lewiscowles1986 , can you share the build with us :D

[2022-10-09 00:35] enzoftware commented on #1116
Hi, @annieappflowy can I take this one?

[2022-10-09 02:27] annieappflowy commented on #1116
Sure @enzoftware , thanks for offering the help. Please create a separate issue for this task and include your scope in the issue.

[2022-10-09 03:06] annieappflowy commented on #1190
Thanks @MrHeer , great work :D

[2022-10-09 03:06] #1190 closed

[2022-10-09 03:30] enzoftware opened #1254 "[Test]: Improve Code Coverage for operation files"
### Description

Create more tests to cover files under the "operation" folder

### Impact

Increase code coverage for the editor package

### Additional Context

Related to #1116

[2022-10-09 05:58] MrHeer commented on #1069
Can I take it?

[2022-10-09 06:14] MrHeer commented on #1179
I very much hope that I can come to challenge this task.

[2022-10-09 06:30] annieappflowy commented on #1179
Let me know when you are ready to start working on this. I'll then assign this issue to you @MrHeer

[2022-10-09 06:33] MrHeer commented on #1179
Yes, I'm ready!

[2022-10-09 06:37] annieappflowy commented on #1179
Awesome @MrHeer , if you need help or have questions, please ask @appflowy on Discord. Have fun and enjoy!

[2022-10-09 07:28] appflowy commented on #1230
Hi @SmartAree, you can DM me on Discord if you have any questions.

[2022-10-09 08:09] #1231 closed

[2022-10-09 08:10] #1248 closed

[2022-10-09 08:11] #1233 closed

[2022-10-09 08:11] #1235 closed

[2022-10-09 08:52] SmartAree commented on #1230
Yeah sure

[2022-10-09 13:40] richardshiue commented on #1222
Sorry for the late reply, but I guess there's your problem. You would need to install a newer version of glibc

[2022-10-09 13:57] richardshiue opened #1255 "[Bug]: Better color selection for new options in single/multi-select properties"
### Bug Description

Currently, the color for new tags can often overlap, especially after a previous option is deleted.

### How to Reproduce

1. Go to a multi-select property
2. Create 3 option and remember the colors for each
3. Delete the second option
4. Create a new option
5. Observe that the new option's color overlaps

### Expected Behavior

The new option's color isn't the same as an exis

[2022-10-09 20:16] TomerPacific commented on #1181
Hi @appflowy , I'd like to help out. Seeing as this will be my first contribution here, anything I should know in advance (apart from the contributing file)?

[2022-10-10 02:43] annieappflowy commented on #1255
Can this be a good issue for contributors? @appflowy

[2022-10-10 03:50] annieappflowy commented on #175
Hi all, @LucasXu0 will take over this issue to work on in this quarter.

[2022-10-10 04:11] annieappflowy commented on #1070
@MayurSMahajan @ChiragKr04  have you guys figured out what themes you'd like to work on?

[2022-10-10 06:02] MayurSMahajan commented on #1070
Yes, I have a few in mind, I am going to create one theme with all the colors in the AppFlowy logo, and then one theme with each of the colors individually together with their lighter and darker palettes. Actually I am having some trouble setting up AppFlowy, I have an old laptop, in a few days I am getting a new one, so then I will be able to work on the issue.

Once I can complete the setup I wi

[2022-10-10 06:15] annieappflowy commented on #1119
Thanks, @rileyhawk1417 . Assigned it to you

[2022-10-10 06:27] ChiragKr04 commented on #1070
I think I'll do the Monokai theme or Abyss theme palettes.

Monokai Theme
![image](https://user-images.githubusercontent.com/62651867/194808634-dcc021c9-d31d-41da-bbb7-cb8657d96096.png)

Abyss Theme
![image](https://user-images.githubusercontent.com/62651867/194808502-d4e7f72d-5df5-4651-a36f-1e6151c1bd63.png)

Please check if its okay @annieappflowy .

[2022-10-10 06:38] annieappflowy commented on #1070
Looks great!
BTW, this will be extended to a theme store in the future. Hope your themes are people's favorites!

[2022-10-10 06:42] ChiragKr04 commented on #1070
Amazing! Yes, both are the top ones.

[2022-10-10 11:48] sahej-dev commented on #1186
I would like to be assigned this issue, if no else has started working on this. I am newcomer.

[2022-10-10 13:06] codezuma commented on #1186
@sahej-dev  are you still working on this issue.

[2022-10-10 13:36] sahej-dev commented on #1186
@codezuma Yes I am.

[2022-10-10 16:02] #1171 closed

[2022-10-10 16:21] Animeshz commented on #363
For me its even worse, I'm on a 1440p display (13.5inch):

![22-10-10-21h51m02s](https://user-images.githubusercontent.com/26714676/194911624-f6efad99-fe08-4b67-bfeb-758780effffa.jpg)

[2022-10-11 00:21] #1186 closed

[2022-10-11 04:11] glitchpop-frenzy commented on #1066
Hey Annie, this issue seems interesting. Can you assign this to me?
Do I need to define a shortcut event for each LaTeX rule?

[2022-10-11 05:58] appflowy commented on #1181
Hi, @TomerPacific. There are resources you can take a look

* [Commit message guide](https://appflowy.gitbook.io/docs/essential-documentation/contribute-to-appflowy/software-contributions/submitting-code/code-submission-guidelines)
* [Some concepts about the grid](https://appflowy.gitbook.io/docs/essential-documentation/contribute-to-appflowy/architecture/frontend/grid)

I am writing new documenta

[2022-10-11 11:59] LucasXu0 commented on #1247
Hi, @Ayush1325. Actually, we want to integrate the action of publishing the AppFlowy app to Flathub in the release job.

[2022-10-11 19:34] TomerPacific commented on #1181
@appflowy  - Thanks. I'll check those out and post back here if I have any more questions/clarifications.

[2022-10-12 02:13] LucasXu0 commented on #1066
Hi, @glitchpop-frenzy. I recently finished a simple version of the LateX plugin. You can help to improve it if you are interested.

The LateX plugin file locates in `appflowy/frontend/app_flowy/packages/appflowy_editor/example/lib/plugin/tex_block_node_widget.dart`

[2022-10-12 16:50] enzoftware commented on #1254
Hi, I was working on this one and then updated my branch with the latest and realized that the `operation` folder was removed on this [PR ](https://github.com/AppFlowy-IO/AppFlowy/pull/1259). @LucasXu0 is this folder moved to another location? How can I move forward on this one?

[2022-10-12 18:57] FarisHijazi opened #1270 "[FR]: editor shortcuts like ctrl+backspace, home, end, etc"
### Description

many editor shortcuts are missing, basic ones that you'd expect to find even in notepad.

The behavior I'm looking for is very standard, you can try it in any textbox in any browser or text editor

- home, end should navigate to the beginning and end of the line
- ctrl+home, ctrl+end should navigate to the very top of the page and very bottom of the page
- ctrl+backspace, ctrl+del

[2022-10-13 02:09] appflowy commented on #1181
@TomerPacific I added some documentation. Check out the transform method of the  [TypeOptionBuilder](https://github.com/AppFlowy-IO/AppFlowy/blob/main/frontend/rust-lib/flowy-grid/src/services/field/type_option_builder.rs) trait. You can handle the logic during the `transform` when switching from/to a different type.

Both MultiSelectTypeOptionBuilder and  SingleSelectTypeOptionBuilder implement t

[2022-10-13 02:41] LucasXu0 commented on #1254
Hi. I moved the operation file to the new directory. `lib/src/core/transform`

[2022-10-13 04:04] LucasXu0 commented on #1270
Hi, @FarisHijazi. Thanks for your suggestion. Actually, we are developing a new editor that supports customizing shortcuts.

We have implemented the following shortcuts.
* Home
* End
* Shift + Arrow keys + (Control / Command)

About the shortcuts, like Control/Command + Home/End or Backspace/Delete, we will implement them soon.

[2022-10-13 15:31] SSebigo commented on #426
I'm desperately looking for this feature on every Flutter editor I've found but none of them have it, some are working on it, but it's taking quite a long time.
Would be cool to have AppFlowy have a stable support first.

[2022-10-13 15:50] ChiragKr04 commented on #1151
Can reproduce on `Windows 11` too. I'll work on this.

[2022-10-13 16:12] jedau commented on #1064
Hey @annieappflowy clarification regarding the requirement. Do you need the image to automatically act as a hyperlink (i.e. `[![]()]()`), or is rendering an image via the `![]()` syntax enough for this?

[2022-10-13 16:20] VincentKnightTesting opened #1276 "[Bug]: App keeps corrupting documents"
### Bug Description

Whenever I close the app and reopen it, it shoves my changes at the bottom which messes with previous inserted styling.
Example: I have:
I: United States

1. bluh bluh bluh loreum ipsum
2. balh bluh
3. foobar

after reopening it will be
I:

1.
2.
3.
United Statesbluh bluh bluh loreum ipsum
balh bluh
foobar

### How to Reproduce

Write text with empty number lists and quotes, c

[2022-10-13 17:29] MayurSMahajan commented on #1070
Hey! This is my current progress so far. Give me honest feedback.

This is an all color light theme, using all the colors in the AppFlowy logo, except the blue one.

![Screenshot from 2022-10-13 22-51-19](https://user-images.githubusercontent.com/47064215/195664427-5c4e051f-d336-4423-991a-1a4cda846af5.png)

Checkout the figma design here:
PS: To edit the design, simply copy the frame and paste it

[2022-10-13 17:46] MayurSMahajan commented on #1070
Here is one more

3) This one just uses the logo pink with a light theme.

![Screenshot from 2022-10-13 23-14-24](https://user-images.githubusercontent.com/47064215/195668539-e6e46794-cb0c-49a8-9dc8-818bdd442672.png)

[2022-10-13 19:45] garv-shah commented on #426
I've been working a bit on maths support on quill like editors, you can take a look at [this pr](https://github.com/visual-space/visual-editor/pull/109) if you'd like to add anything

For now the best bet seems either to make a popup dialogue where you enter the LATEX, that then gets embedded in, like notion, or to have in text maths editing with a custom keyboard, powered by 'math_keyboard'

[2022-10-14 03:02] LucasXu0 commented on #426
Hi, @SSebigo @garv-shah. Recently, we implemented a KateX plugin in our editor. Does it meet your expectations?

![katex](https://user-images.githubusercontent.com/11863087/195752607-e8bcd9ed-ae72-495d-aa7a-c5cda4029b2e.gif)

[2022-10-14 03:30] annieappflowy commented on #1070
Wow, looks amazing!!! @MayurSMahajan , I love the yellow theme. It's very cute!

[2022-10-14 03:36] garv-shah commented on #426
ah that's great! it might be nice to have the ability to edit the maths afterwards, or to have an inline editor without the popup dialogue, not sure, but it's really nice to see that the support for maths is there now :)

[2022-10-14 03:45] annieappflowy commented on #1064
@jedau did you get verification from @LucasXu0

[2022-10-14 03:48] Lewiscowles1986 commented on #26
It didn’t build and it seems I e not kept a log of why, or what the errors were

[2022-10-14 03:53] ChiragKr04 commented on #1070
Looks amazing man 🚀

[2022-10-14 06:35] SSebigo commented on #426
@LucasXu0 is it possible to have a toolbar to make the editor look like a basic WYSIWYG editor?
I can't seem to find anything related to that in the README.

Thx for the info, I'll try that today, it looks almost like what I'm looking for.

[2022-10-14 06:39] annieappflowy commented on #1270
Can the remaining shortcuts be good Hacktoberfest issues? @LucasXu0

[2022-10-14 07:00] jedau commented on #1064
@annieappflowy Not yet. Messaged him regarding a different earlier issue I encountered but I haven't heard back.

[2022-10-14 07:08] LucasXu0 commented on #1064
Hi, @jedau. I think it is enough to implement the latter. Converting the syntax `![]()` to the image.