[2021-11-15 01:33] lijy91 opened #6 "[Bug] Crashes when launching the app"
**Describe the bug**

Crashes when launching the app

[code]

**Desktop (please complete the following information):**
 - OS: macOS
 - Version 11.6 (20G165)

[2021-11-15 01:34] TENX-S opened #7 "Can't open it on macOS 11.6"
<img width="372" alt="Screen Shot 2021-11-15 at 9 31 51 AM" src="https://user-images.githubusercontent.com/40336192/141708778-363040fc-190e-45e9-9f68-048547d9f02d.png">

[2021-11-15 01:35] TENX-S commented on #7
Close as duplicate of #6

[2021-11-15 01:35] #7 closed

[2021-11-15 01:37] lijy91 opened #8 "Bundle identifier is incorrect"
The current Bundle identifier is `com.example.appFlowy` , you should not use `com.example` as the Bundle identifier.

[2021-11-15 10:25] appflowy commented on #6
Thank you for reporting this issue and I feel so sorry about that.

🚀 I already fixed it and publish the new version: 0.0.2.

[2021-11-15 10:28] #6 closed

[2021-11-15 14:14] appflowy commented on #8
Thanks, the bundler identifier has changed. FYI, the 0.0.2 has been released.

https://github.com/AppFlowy-IO/appflowy/releases/tag/0.0.2

[2021-11-15 14:14] #8 closed

[2021-11-16 06:59] cmrajan opened #11 "[Bug] Fonts doesn't load or text is garbled"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Install version 0.0.2 from the releases
2. Open the App
3. Garbled text
4. See Screenshot

**Expected behavior**
Show correct sample text

**Screenshots**
<img width="782" alt="image" src="https://user-images.githubusercontent.com/410065/141936407-788d0bc8-7497-49d7-8af0-b

[2021-11-16 07:08] annieappflowy commented on #11
Hi cmrajan,

Thanks for checking us out! Could you please let us know your system's language?

Annie

[2021-11-16 07:28] sfkpmr opened #13 "[Question] Any plans for a Docker image?"
I see .dockerignore, but no Dockerfile. Would love to see one!

[2021-11-16 08:36] stemount commented on #13
@sfkpmr what do you propose the use of Docker for? (building? hosting flutter as a pwa or something - not a flutter expert)

[2021-11-16 08:48] nicolasdanelon commented on #13
@sfkpmr maybe I don't want to install Rust on my machine, maybe I just want to download the docker images and run the app on my local environment without installing any dependency...
also docker containers can be used to deploy the app faster on tons of boxes.
if some developer is using M1 and doesn't have a dependency or is just running Linux docker will have all dependencies already built in, co

[2021-11-16 08:57] appflowy commented on #13
@sfkpmr  The docker file is used to deploy the AppFlowy backend on the local host.

[2021-11-16 09:44] chris-aeviator opened #16 "[FR] Linux / cross-os build?"
Since you are using Flutter will it make sense for you to release a cross-os build? Can I build the project myself on linux?

[2021-11-16 12:08] franciscoafonsoo commented on #13
Would you guys be open to a Pull Request for a docker-compose and some Dockerfiles ?

I was thinking that it would help local development in the wild to have a docker-compose that launches the db, the backend and the frontend (never dockerized a flutter app but should be possible).

[2021-11-16 12:08] maticrivo opened #17 "[FR] Server sync"
**1~3 main use cases of the proposed feature**
Are there plans to have a server one can self-host for syncing files between multiple devices (computers, cellphones, tablets...)?
Alternatively it can be a good option to let the users decide where to store the sqlite database (dropbox, icloud, google drive, etc...)

**what types of users can benefit from using your proposed feature**
Every user that

[2021-11-16 12:35] markosole commented on #17
You may have few options:
1. Store on Google Drive and share between devices
2. Create Server API with realtime DB and storage on AWS S3 bucket.

Depends of complexity and requirements.

[2021-11-16 12:40] PabloCastellano commented on #13
Yes, please! The Rust+Flutter stack isn't that common nowadays and having to spend more than 1 hour (my case so far) for installing all the Rust and Flutter dependencies, plus compiling... is discouraging, unless you have been waiting for a Notion open source clone for years!

With Docker it would be super easy and fast to just fetch AppFlowy and run it

[2021-11-16 14:28] iamaravindim commented on #13
Please DO create the Docker Image we are interested in hosting in on our servers.

[2021-11-16 15:07] huangxinping commented on #13
Please DO create the Docker Image we are also VERY interested.

It has taken more than 3 hours to install all dependencies so far without success.

[2021-11-16 15:11] annieappflowy commented on #13
We're definitely open to PRs. To understand this better, do you want a docker backend or both the backend and the frontend?

[2021-11-16 15:14] annieappflowy commented on #13
Love how you put this all together - I can feel your pain now :(
Let's just keep discussing this topic in this thread until we land on a nice solution :D

[2021-11-16 15:15] sfkpmr commented on #13
@annieappflowy An image for both would be awesome!

[2021-11-16 15:16] annieappflowy commented on #13
Please join our Discord channel, and I believe some pro hackers can help you out there

[2021-11-16 15:17] appflowy commented on #13
@franciscoafonsoo  It seems possible to docker the flutter desktop application.
https://hub.docker.com/r/openpriv/flutter-desktop

I use docker to host the AppFlowy backend on my laptop to develop the AppFlowy backend server. But did set up the Dockerfile.

[2021-11-16 15:22] appflowy commented on #13
Guys, PRs for this are welcomed :D

[2021-11-16 15:37] akimolll commented on #13
Yes, docker is very needed to run it

[2021-11-16 15:41] rayrrr commented on #16
+1. GitHub Actions may be the solution. From https://github.com/features/actions :

[2021-11-16 17:15] franciscoafonsoo commented on #13
I will then join discord and discuss some things !

[2021-11-16 17:18] stefnestor opened #18 "[Bug] malicious software warning on install"
Just heard about & love this project! Installation bug:

On macOS Big Sur (v11.5.2), AppFlowy (v0.0.2) gives opening error requiring _Security & Privacy_ override to bypass as warning:

[code]

Appears next-step bug to https://github.com/AppFlowy-IO/appflowy/issues/6.

1. Download most recent release [0.0.2 zip](https://github.com/AppFlowy-IO/appflowy/releases/tag/0.0.2)
2. Unzip & click "AppFlowy

[2021-11-16 17:32] franciscoafonsoo commented on #13
So i will start with something very simple:

- docker-compose definition for the backend and the database. something like this

[code]

I am reading the db scripts to understand what needs to be done. But should look something like that. After having that done, it's a matter of exploring flutter docker and connecting it.

[2021-11-16 18:36] nicolasdanelon commented on #18
open the app from Finder and not form launchpad and you will be just fine

[2021-11-16 21:13] mychidarko commented on #18
- Open your system settings and click on security and privacy
![image](https://user-images.githubusercontent.com/26604242/142066017-3f0f3d09-affd-4ce9-b28a-7b35b4395b35.png)

- Go to the general tab
![image](https://user-images.githubusercontent.com/26604242/142066233-48e49e06-c814-4c6a-95ae-bcf1c5ac6f96.png)

- You should see something like this, click on open anyway
![image](https://user-images.

[2021-11-17 01:46] annieappflowy commented on #18
thank you for asking and answering the question ❤️
we haven't paid to Apple so that's why, but we'll get one so this won't happen as long as we feel ready to serve end users.

[2021-11-17 02:06] esturniolo commented on #13
+1 for this

[2021-11-17 02:21] annieappflowy commented on #17
Thanks a lot for your inputs. End-to-end encryption sync is sitting on our roadmap. This is something that users with more than one device would need. Your alternative plan sounds promising. I'm wondering where you'd like to store? Is there any data security concern?

Annie

[2021-11-17 02:42] appflowy commented on #16
@chris-aeviator  @rayrrr  Thanks, I will set up the Github actions as soon as I finish the windows release.

[2021-11-17 02:50] appflowy commented on #13
@franciscoafonsoo  Wow, it seems ok to me. Have you tried it?

* The existing Dockerfile does not work anymore.

[2021-11-17 03:57] cmrajan commented on #11
US-en

[2021-11-17 04:01] pdckxd opened #19 "[FR] Sucessfully to build workable version for windows (Rust target: x86_64-pc-windows-msvc), request to contribute"
**1~3 main use cases of the proposed feature**
Can I issue pull request to support x86_64-pc-windows-msvc target for rust-lib?

**what types of users can benefit from using your proposed feature**
n/a

**Additional context**
n/a

![image](https://user-images.githubusercontent.com/1890394/142132615-72681d21-ad3d-4d25-a6ed-f8fae3c54c38.png)

[2021-11-17 04:51] annieappflowy commented on #19
100%
You rock!!!!

[2021-11-17 04:51] appflowy commented on #19
@pdckxd Wow, amazing! Open new PR, please!

[2021-11-17 05:12] pdckxd commented on #19
Sure, I will file PR later today after work.

[2021-11-17 13:16] immortaly007 opened #20 "[FR] Importing data from Notion"
**1~3 main use cases of the proposed feature**
As a (former) notion user, I want to import my Notion into AppFlowy. So that I can take control of my already existing data.

What I believe is required for this feature to work well:

- All pages/subpages and data tables from Notion should be copied to/imported into AppFlowy
- The formatting is consistent between Notion and AppFlowy.
- Internal links

[2021-11-17 13:51] pdckxd commented on #19
hi @appflowy, can you help to review?

PS:  didn't get enough time to verify on MacOS.

[2021-11-17 15:46] pdckxd commented on #19
Thanks appflowy. Closing this issus

[2021-11-17 15:46] #19 closed

[2021-11-17 22:23] Hawkinzzz commented on #13
another +1 for this!! a docker container would make it that much easier to set up and run on any server

[2021-11-18 00:02] emengweb commented on #17
self-host and share with peoole like website :D

[2021-11-18 01:29] tomByrer commented on #20
If Appflowy has an API or a easy to access DB, then a simple API bridge should suffice as MVP.

Is Appflowy designed to be 100% API compatable?

[2021-11-18 06:06] TomGalla11 opened #23 "[Docs] Add Windows compiling/build guide"
Currently, the GitHub Readme file only contains instructions on how to build on macOS. But no steps on how to build on Windows 10.

[2021-11-18 07:43] appflowy commented on #23
Hi @TomGalla11, please refer to this: https://github.com/AppFlowy-IO/appflowy/blob/main/doc/BUILD_ON_WNIDOWS.md

[2021-11-18 09:14] awsomemanNever opened #24 "[FR] Google Drive integration"
**1~3 main use cases of the proposed feature**
The integration of google drive, so you can directly link your google drive documents inside of appflowy.

**what types of users can benefit from using your proposed feature**
I would use this feature quite heavily to build a dashboard so i can have direct access to my school books that i have scanned and stored on g drive

[2021-11-18 09:20] Calcium3d opened #25 "[FR] Auto markdown formatting"
**1~3 main use cases of the proposed feature**
Writing in markdown, will automatically convert that into the proposed element. For example, if I type a # with a space, it should auto convert that into a heading 1 instead of showing the hash, basically what happens if I click the button on the bottom toolbar instead

**Additional context**
![image](https://user-images.githubusercontent.com/56835743

[2021-11-18 12:40] FallenChromium opened #26 "[FR] Universal build for M1 support?"
Hi there! I loved the design of the app ♥️
One of the problems I've encountered is that it runs under Rosetta 2 on my laptop, which is undesirable, mainly because smoothness suffers and so does the battery life. Is there any way to compile Rust+Dart app into a Universal app?

[2021-11-18 13:32] appflowy commented on #26
@FallenChromium Absolutely yes, but the size of the application will be larger. I can build one for M1. Please let me know how you think about it.

[2021-11-18 14:25] FallenChromium commented on #26
It's absolutely fine to have 2 releases for each architecture (like most utils on Homebrew do, anyway), so I think it's a viable solution.

That said, it's always a compromise. I can see Universal App being easier to distribute but more painful to build (especially in an automated fashion). Separating targets and release products can also be a pain in the back, especially when other arches and\or

[2021-11-18 15:33] adamzhoul commented on #13
+1

little idea,  let's volume data to the local.
so we can easily back up.
or, users can volume path to apple iCloud path, so data can sync between the company and home easily.

[2021-11-18 16:21] nimalu001 opened #27 "[FR] Bidirectional Links Like Obsidian"
- navigate from and to different documents through links
- maybe use the same syntax as Obsidian so one could import/export from/to Obsidian
- a graph which visualizes the connections between the linked documents

[Links in Obsidian](https://help.obsidian.md/How+to/Internal+link)

[2021-11-18 22:10] rhinotastic opened #31 "[FR] Darkmode"
**1~3 main use cases of the proposed feature**
Dark mode UI.

**what types of users can benefit from using your proposed feature**
Pretty much everyone.

**Additional context**
Some form of darkmode or "Themes" backed in.

[2021-11-19 02:13] sunil-nair opened #33 "[FR] Charting tools"
**1~3 main use cases of the proposed feature**
Ex: Maybe a long term feature, but would love some lightweight charts for tables

**what types of users can benefit from using your proposed feature**
Ex: anyone who wants to create dashboards like in Notion.

**Additional context**
Add any other context or screenshots about the feature request here.

[2021-11-19 06:01] pramadito commented on #13
+1

i would love to develop full stack with docker

[2021-11-19 08:28] pdckxd commented on #16
Linux x86_64 #34

[2021-11-19 08:38] SleepDaemon commented on #31
I agree, dark mode is more eye comforting. My eyes are very sensitive to bright lights and just using the app burns into my retinas. Having dark mode would make it more comfortable to use and allowing longer work time.

[2021-11-19 09:49] Zenyet commented on #25
agree.

[2021-11-19 10:17] jonymei opened #36 "[Bug] Why Quill?"
1. quill is dead. visit https://github.com/quilljs/quill/issues/3359
2. quill does not have a real table module.

[2021-11-19 12:10] annieappflowy commented on #36
Hi Jony,

We used flutter-quill, which is actively maintained.

[2021-11-19 12:19] xurenda opened #37 "[Bug] The setter 'observer' isn't defined for the type 'Bloc'"
In `app_flowy/lib/startup/tasks/application_task.dart`,  line 19:
[code]
The error arises: `The setter 'observer' isn't defined for the type 'Bloc'.`

I run: `flutter run -d macos`
Got:
[code]
Does anyone know what to do? Thank you very much!

[2021-11-19 12:30] xurenda opened #38 "[Bug] Error: Not found: 'dart:ffi'"
When I followed the steps in [Readme](https://github.com/AppFlowy-IO/appflowy#getting-started) and tried to run the project, I got the error: `Error: Not found: 'dart:ffi'`

[code]
What should I do, thanks for your help.

[2021-11-19 12:55] hobdob commented on #36
@jonymei flutter-quill is a different project from quilljs, which is written in JavaScript instead of Dart

[2021-11-19 13:18] juangburgos commented on #13
+1

[2021-11-19 14:50] asafm opened #39 "[FR] RTL support"
**1~3 main use cases of the proposed feature**
Notion doesn't have right to left languages support. This can be a great thing to have in the open source

**what types of users can benefit from using your proposed feature**
Population of world using right to left languages

**Additional context**
Add any other context or screenshots about the feature request here.

[2021-11-19 20:31] britannio commented on #36
https://github.com/superlistapp/super_editor looks promising

[2021-11-19 20:37] piktonus97m opened #40 "Missing Info in About section for MacOs"
Hello team, probably this is not a bug itself, but something to keep on mind.
In Mac Os, when clicking on the about section of the app, it shows like some generic information.

Please refer to my GIF below.

![Kapture 2021-11-19 at 14 34 33](https://user-images.githubusercontent.com/37163970/142688440-27fed531-01a7-4da0-9d38-ff8b07fdd6f3.gif)

Thanks for amazing work bringing this alternatives to

[2021-11-19 21:19] annieappflowy commented on #36
flutter-quill is written in Dart while quilljs is written in JS

[2021-11-19 21:25] appflowy commented on #38
Flutter Web is not supported in AppFlowy. Please switch to the desktop device.
![image](https://user-images.githubusercontent.com/86001920/142693629-2ed09abd-ef95-456f-96fa-a7a8ca782cd1.png)

[2021-11-19 21:25] #38 closed

[2021-11-19 21:28] appflowy commented on #37
@xurenda Would you mind showing me your flutter env by running: flutter pub get?

[2021-11-19 21:29] OfekShochat opened #41 "[FR] latex blocks"
Pretty self-explanatory isn't it?

[2021-11-19 22:14] Poly-Pixel commented on #13
+1
Is there a PR in progress for this?

[2021-11-19 23:20] ssahaxd opened #42 "[FR] code block with syntax highlighting"

[2021-11-19 23:44] notd5a-alt commented on #41
According to **annie@appflowy** on discord:

[2021-11-19 23:48] notd5a-alt commented on #36
Probably should close this issue since its just clutter amongst actual FR's and Bugs

[2021-11-19 23:50] notd5a-alt commented on #39
I think this would be possible to implement once the developers implement their plugin system for the app.

[2021-11-20 00:23] MostHated commented on #31
Yeah, I will keep an eye on this thread, because even with my monitor's brightness down, it's just too bright for me to try and use for any extended period of time.

[2021-11-20 02:28] MeJackie commented on #25
agree

[2021-11-20 04:03] xurenda commented on #37
@appflowy Sure, thanks for your reply.

`flutter pub get`:
[code]

<details>
  <summary><code>flutter pub get -v</code></summary>
<pre>
[ +151 ms] executing: sysctl hw.optional.arm64
[  +32 ms] Exit code 0 from: sysctl hw.optional.arm64
[   +3 ms] hw.optional.arm64: 1
[   +8 ms] executing: [/Users/kingen/flutter/flutter/] git -c log.showSignature=false log -n 1 --pretty=format:%H
[  +30 ms] Exit c

[2021-11-20 04:44] voizuu opened #45 "[Bug] Emojis as Unicode on Windows"
**Describe the bug**
Emojis are showing up as their Unicode equivalent.

**To Reproduce**
Steps to reproduce the behavior:
1. Download the 0.0.2 zip
2. Extract all
3. Run the app_flowy.exe
4. Emojis display as Unicode

**Expected behavior**
I expected the emojis to display as would normal.

**Screenshots**
![d4ac99baf18760008ceb924753f54937-png](https://user-images.githubusercontent.com/49259224/1

[2021-11-20 05:51] #36 closed

[2021-11-20 05:51] weex opened #47 "[Bug] Backend Dockerfile doesn't build"
**Describe the bug**
The backend Dockerfile doesn't build

**To Reproduce**
Steps to reproduce the behavior:
1. Clone the repo.
2. `cd backend`
3. `docker build .`
4. See error

**Expected behavior**
A docker image should be built.

**Log**
https://gist.github.com/weex/a472ddfc39e612d47f08f0cad361c876

**Additional context**
  Docker Engine 20.10.8

[2021-11-20 05:56] annieappflowy commented on #40
Hi thank you. We'll jot a note here, and add more info when it's released to AppStore (you know we gotta buy a dev account lol)

[2021-11-20 05:58] #23 closed

[2021-11-20 06:06] #16 closed

[2021-11-20 06:06] #18 closed

[2021-11-20 06:10] appflowy commented on #37
Thank you, the errors caused by the flutter_bloc version changed. I will fix it asap.

[2021-11-20 06:15] annieappflowy commented on #47
Same topic: https://github.com/AppFlowy-IO/appflowy/issues/13

[2021-11-20 06:20] appflowy commented on #37
@xurenda Done, Pulling the latest main branch code, please.

[2021-11-20 06:31] #47 closed

[2021-11-20 06:39] xurenda commented on #37
@appflowy Great, it works fine!

[2021-11-20 07:25] pdckxd commented on #26
Seems flutter doesn't support build application for native Apple M1 chip. Below wiki page shows that M1 can run X86_64 application through Rosetta2 at this moment. So you will see Intel arch in "Activity Monitor"

https://github.com/flutter/flutter/wiki/Developing-with-Flutter-on-Apple-Silicon

[2021-11-20 07:55] smaimon commented on #24
The website appflowy.io said "We are committed to protecting your personal information and your right to privacy."

Not sure if any #google integration is commitment to protect our personal information and our right to privacy 🤔

[2021-11-20 08:04] smaimon commented on #24
Maybe a solution like Nextcloud or e.foundation could be a commitment to data privacy ?

[2021-11-20 08:13] #37 closed

[2021-11-20 08:27] myl7 opened #50 "[Bug] Colored background of highlighted text covers cursor"
**Describe the bug**
When text is highlighted with colored background, the background will cover the
'I' cursor put on it

**To Reproduce**
Run the desktop app and nagivate to "Read me" page, choose any highlighted text and put cursor on it.

**Expected behavior**
The cursor should be over the colored background, directly seen, like most rich-text editors.

**Screenshots**
![Cursor put on the high

[2021-11-20 11:18] thxv3n0lvl opened #52 "[Bug] Linux failing on `cargo make flowy_dev` pre-request step"
**Describe the bug**
After setting up Flutter and Rust using  nightly version on a clean environment, tried to execute `cargo make flowy_dev` (actual Step 7 from BUILD_ON_LINUX.md) I got an error stating `Task flowy_dev not found`

**To Reproduce**
Steps to reproduce the behavior:
1. Follow  BUILD_ON_LINUX.md
2. Execute command from Step 7

**Actual behavior**
Rust throws the next error:
[code]

*

[2021-11-20 11:41] fellahi-ali commented on #31
@annieappflowy  @appflowy Are you currently using a custom theme for the material app or just the default?
I'm just getting started with Flutter but I may work on this issue if I get some guidance 💙

[2021-11-20 12:51] pdckxd commented on #52
oops, the folder struct has been changed. instruction didn't get updated. I will update later.  Below steps should work

[code]

[2021-11-20 13:57] thxv3n0lvl commented on #52
Hi @pdckxd thanks for the quick reply. This worked only for that step, right after that on step 8 this command fails with the next error
[code]
However this is not related to this issue but maybe will be good to address it as part of an improvement for that linux doc.
Have a great one !

[2021-11-20 13:59] pdckxd commented on #52
This step is actually optional. You can skip and move on

[2021-11-20 14:11] thxv3n0lvl commented on #52
Indeed, I was able to proceed, after finishing the steps from the doc I executed `flutter run` from `appflowy/frontend/app_flowy` (not sure if this is the correct command as I'm not using any IDE and don't know exactly how Flutter works) so was able to see the app running, with minor UI bugs. Thanks @pdckxd for the help!

[2021-11-20 14:11] #52 closed

[2021-11-20 21:11] JJger148 opened #53 "[FR] Add whiteboard like in ClickUp"
**1~3 main use cases of the proposed feature**
I want to see appflowy with a whiteboard, like in Clickup (or Miro, or Excalidraw)

**what types of users can benefit from using your proposed feature**
Everyone who wants to think things through.
You wouldn't have to change your app to for a task

**Additional context**
https://clickup.com/

[2021-11-21 03:35] appflowy opened #56 "[Help]: Debug Linux Build"
We have a half-baked Linux Build with some issues: some icons are missing.
![image](https://user-images.githubusercontent.com/86001920/142748349-42150dd0-d4f2-46eb-938c-d91f7721eb31.png)

So I want to debug on Ubuntu, but I'm having trouble debugging on Linux. Every time I'm on debug mode, the build process gets stuck, and my system becomes frozen.

At this point, I've come to a decision to focus

[2021-11-21 04:08] notd5a-alt commented on #56
Im on Arch but i can try and see if the same issues arise there as well. If they do ill try and patch them.

[2021-11-21 05:38] RaghaVdot24 commented on #56
I'm on Ubuntu. Will try running this

[2021-11-21 05:57] notd5a-alt commented on #56
Ok. From what i can deduce, this seems to be a weird path capitalization issue with the icons.
For example: Flutter tries to load `assets/images/home/trash.svg` but the icon name is actually capitalized i.e. Trash.svg
The Error Thrown:

What its affecting:
- trash.svg
- add.svg
- bold.svg
- italic.svg
- underline.svg
- strikethrough.svg
- numbers.svg
- checkbox.svg
- quote.svg
- share.svg
Simply c

[2021-11-21 06:46] sno2 opened #57 "Logo similar to Slack's"
I dunno if this is on purpose or not but your logo is extremely similar to Slack's.  Here's a comparison:

![image](https://user-images.githubusercontent.com/43641633/142752568-dc3b4d0f-9d5f-4156-896a-9cfe924af471.png)

![image](https://user-images.githubusercontent.com/43641633/142752570-bcac53ff-ef0d-40ad-88ea-b560263fcbd9.png)

As you can see, the colors basically match in the four corners exce

[2021-11-21 09:05] bgervan commented on #17
I am working on a flutter + hive (can be other DB if it allow to define base class) + crdt + django channels backend package.
Would it be something Appflowy is interested to use? If they implement offline working with that, my package can sync with django backend real time. For one user with multiple device it already works (need to clean the code etc). For multiple user I need to improve it. Of c

[2021-11-21 09:24] Pranav4399 commented on #45
Is this fixed already ? I'm not able to reproduce this issue when I tried ?

[2021-11-21 09:26] Pranav4399 opened #59 "[FR] Hover on bottom toolbar icons doesn't display a tooltip"
Hovering on the icons at the bottom doesn't display a tooltip which can be useful to understand what that particular icon does.

![image](https://user-images.githubusercontent.com/28348429/142756668-382cf5f8-8d5e-49c6-a38c-faae9d82df37.png)

[2021-11-21 09:59] annieappflowy commented on #57
I appreciate your point of view. Will leave it open here. Welcome feedback 😁

[2021-11-21 12:08] premkumar5012002 opened #61 "[FAQ] Cannot access flutter quill package from git@github.com:appflowy/flutter-quill.git"
**Describe the bug**
When try to get package for appflowy in pubspec.yaml. it says i dont have access or package does not exist in git@github.com:appflowy/flutter-quill.git for flutter-quill.

**To Reproduce**
Steps to reproduce the behavior:
1. get packages from pubspec.yaml
2. it shows error says does not have access to package

[2021-11-21 12:18] vnepogodin opened #62 "[Bug] Unable to build backend"
**Describe the bug**
The backend Cargo.toml doesn't build.

**To Reproduce**
Steps to reproduce the behavior:
1. ``git clone https://github.com/AppFlowy-IO/appflowy.git``
2. ``cd backend``
3. ``cargo build --release``
4. See error

**Expected behavior**
The backend should be built.

**Additional context**
 - Environment [e.g. flutter doctor -v or rustup show]
[code]

[2021-11-21 12:38] annieappflowy commented on #61
Hi Kumar,

Can you please check this : https://stackoverflow.com/questions/2643502/git-how-to-solve-permission-denied-publickey-error-when-using-git

[2021-11-21 13:05] SleepDaemon commented on #57
ig make it a flowing wave since its called flowy

[2021-11-21 13:22] hobdob commented on #62
Can you post the error output?

[2021-11-21 13:23] vnepogodin commented on #62
Yeah sure

[2021-11-21 13:35] premkumar5012002 commented on #61
Thanks, Problem Fixed

[2021-11-21 13:35] #61 closed

[2021-11-21 13:36] vnepogodin commented on #62
[code]

[2021-11-21 14:42] rileyhawk1417 opened #63 "[QUESTION] Any plans for mobile app with Flutter?"
Hi just to ask is there any plan for developing the mobile version of the app using the Flutter Framework?

[2021-11-21 15:01] RanKKI opened #64 "[Bug] Unable build on macOS"
I followed the `Getting Started` from the README.md, and do the commands step by step. but got build error when I run it from the VS code.
[code]

I can run the app if I remove the code from the method `dummyMethodToEnforceBundling`,  but no any display with the error below.

[code]

**Additional context**
[code]

[2021-11-21 15:05] rishabhgusain6 opened #65 "[Bug] Blank page"
**Describe the bug**
So, I wrote notes in a page withs some highlights yesterday. Today when I opened the app, the page opened and showed the title but no content of that page was visible. There was only a blank white page there. I tried restarting the app & PC both multiple times but it is still the same! I left it open for some time too but nothing happened!

**To Reproduce**
Steps to reproduce

[2021-11-21 15:16] annieappflowy commented on #65
Hi, reproduced on Windows. Looking into it. Thank you!

[2021-11-21 17:23] rishabhgusain6 commented on #65
Thanks! I am eager to write my feedback on that page once the issue is solved and use the app again normally!

[2021-11-21 19:07] JJger148 opened #67 "[FR] Flux integration"
**1~3 main use cases of the proposed feature**
integrate [flux](https://www.fluxsocial.io/) for datasecurity and decentralized p2p data access

**what types of users can benefit from using your proposed feature**
everyone who want to share data with others
everyone who cares about privacy and data security

[2021-11-21 19:53] Maksimka101 opened #68 "[Bug] Can't build application on Mac OS"
**Describe the bug**
I can't build application on mac os. I followed the instruction in readme but I face an error in `build_sdk.sh`

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Follow steps 2, 3 and 4 in instruction
2. Install rust using `brew install rust`
3. Optionally run `rustup override set nightly ; rustup install nightly`
4. Run `./frontend/scripts/build_sdk.sh`
5. See err

[2021-11-21 21:25] notd5a-alt commented on #31
If anyone isnt working on this is can probably add this feature.  Just need to know what the devs / people may want in terms of accent colors.
Also any recommendations for the positioning / placement of the dark mode switch would be appreciated.

[2021-11-22 00:51] dtat1991 opened #69 "[FR] Untitled Feature Request"
**1~3 main use cases of the proposed feature**
- develop a faucet mining app to introduce a new coin.
- develop it on the eth blockchain
- a simple app that will implement swap dapps and coin made available on all major crypto sites.

**what types of users can benefit from using your proposed feature**
- a free investment until everything is fully developed and reached enough users to develop reve

[2021-11-22 00:57] appflowy commented on #62
These errors are caused by the beta version of actix-web has been updated. I will update the cargo.toml file to fix this.

[2021-11-22 01:23] annieappflowy commented on #69
Please only post FR for AppFlowy. Closing this issue.

[2021-11-22 01:23] #69 closed

[2021-11-22 02:39] xurenda opened #71 "[Question] WebSocketException: Connection to 'http://127.0.0.1:50489/D9voQYkoTug=/ws#' was not upgraded to websocket"
When I run front-end and back-end projects.
In the front-end project console output:
[code]
Back-end project listening to port 8000, to start a front-end project, you need to specify the server port:
[code]
But it seems that there is a problem with the WebSocket port.
What can I do to make WebSocket work properly? Adding configuration or forgetting to start some services? Thank you for your help!

[2021-11-22 03:17] hexcola commented on #68
I faced the same issue.

I fixed by using cargo `nightly` version:
[code]

and, btw, I'm using `Apple M1`,  have to install `x86_64-apple-darwin` toolchain specifically  (https://github.com/rust-lang/rust/issues/63519) since flutter won't work directly on `aarch64-apple-darwin`.

even after this, you still may face a new problem, **Exception: Error running pod install**, try this https://github.co

[2021-11-22 03:51] appflowy commented on #71
The frontend with the backend is not ready yet. I'll make a docker image for later use.

[2021-11-22 04:07] #62 closed

[2021-11-22 04:54] rileyhawk1417 commented on #31
Well I think it would be nice to have custom themes, but for now maybe focusing on Light and Dark theme switches would be a starting point.

[2021-11-22 05:33] annieappflowy commented on #45
Unable to reproduce. Potentially bring about patent infringement if solving this inconsistency issue. Low-priority. Closing it.

[2021-11-22 05:33] #45 closed

[2021-11-22 05:43] Hari-07 commented on #50
I can take up this issue if no one else is working on it yet

[2021-11-22 06:03] annieappflowy commented on #67
Hmm, ok, I'm signing up coz I'm curious about it and would like to see what value it can create for us. If it's not relevant to AppFlowy, this will be considered as a self-promoted post; therefore, I'll have to close it.

[2021-11-22 06:04] #63 closed

[2021-11-22 06:06] #71 closed

[2021-11-22 09:21] appflowy commented on #68
I have updated the  install_rust command with the default-toolchain specified.

install_rust:
	brew bundle
	rustup-init -y --default-toolchain=nightly

[2021-11-22 09:21] #68 closed

[2021-11-22 09:25] appflowy commented on #64
Hi @RanKKI  Please show me your Rust toolchain.

`rustup show`

[2021-11-22 10:17] Maksimka101 commented on #68
I switched to the nightly (using `rustup install nightly ; rustup default nightly`)
Cleaned cache by running `cargo clean` in `frontend/rust-lib` directory
And finally face the same error ¯\_(ツ)_/¯
[code]

[2021-11-22 10:19] RanKKI commented on #64
Hi, I tried the method from https://github.com/AppFlowy-IO/appflowy/issues/68#issuecomment-975033846, and it's works~ thanks

[2021-11-22 10:19] #64 closed

[2021-11-22 11:23] Yongbeom-Kim opened #75 "[FR] Ctrl + Backspace in Editor"
**Describe the bug**
Pressing Ctrl + Backspace does nothing, when it should delete a word.

**To Reproduce**
Steps to reproduce the behavior:
1. Go and create a page
2. Type a couple words inside, delimited by spaces
3. Press Ctrl + Backspace
4. Nothing happens

**Expected behavior**
A word to be deleted, Ctrl + Right/LeftArrow navigates 'by word' as well, so I suppose this is a bug.

**Screenshot

[2021-11-22 13:41] notd5a-alt commented on #57
I think a wave would be great as well

[2021-11-22 15:04] annieappflowy commented on #75
We have not supported **keyboard shortcut**, which is in development, so this could be the cause

[2021-11-22 15:16] ljshwyykl opened #77 "mac m1 flutter run not work?"
**Describe the bug**

flutter run

[code]

vscode
Go to the Run and Debug tab and then click the run button.

![image](https://user-images.githubusercontent.com/73726782/142886567-36abd86c-559c-493f-b719-c50b011e98f8.png)

[2021-11-22 16:49] deicon commented on #77
Can you provide the output of

flutter doctor -v

please

[2021-11-22 17:51] Maksimka101 commented on #68
@hexcola Would you help me again?)

[2021-11-22 18:26] Silcet commented on #56
I just managed to get AppFlowy running for the first time on a Manjaro (Arch Linux) distro. I can see that some of the icons are missing as mentioned before. I did my build based on main branch. I'll continue debugging a bit, but so far I got this screenshot in case it helps someone else:
![image](https://user-images.githubusercontent.com/11076250/142915324-b50238e3-7a87-43c3-aa3d-e086f13f3a19.png

[2021-11-22 20:46] Lloyd-Jackman-UKPL commented on #25
This is basically a Typora kind of interface, right? If so, agree but would argue there should be an option to view the raw markdown, or the rendered view.

[2021-11-22 20:49] Lloyd-Jackman-UKPL commented on #27
I'd absolutely love the graph functionality (am a big fan of Obsidian) but would be keen on even seeing it go one step further by defining linking documents by relationship types that could then be filtered in a graph view.

[2021-11-22 20:51] Lloyd-Jackman-UKPL commented on #23
This link goes to a 404. Should it?

[2021-11-22 23:37] annieappflowy commented on #23
Can you try this: https://github.com/AppFlowy-IO/appflowy/blob/main/doc/BUILD_ON_WINDOWS.md

[2021-11-23 00:30] notd5a-alt commented on #25
Definetely agree to that. I type better in the raw markdown mode.

[2021-11-23 02:50] Dernbu commented on #25
I'd like to suggest that markdown is good and all, but **may not be the way to go**. I think there are lots of benefits with markdown, but it simply isn't the solution to everything. I think one good example is the excel-style tables/databases in Notion (which is personally the selling point for me for the app), to have things like custom sorts, custom filters and all. I mean, it's definitely not

[2021-11-23 03:12] eqixcx commented on #31
A Dark/Light toggle would be nice, but honestly, most people just stick to one 'theme', so even if it was a config file that people can replace by dropping in another and even just a 'Theme Picker' to select a config file, that would be cool :)

Would also be very good in adoption of AppFlowy for people who enjoy ricing all of their programs/utilities like the folks on r/unixporn

[2021-11-23 03:54] ljshwyykl commented on #77
![image](https://user-images.githubusercontent.com/73726782/142969115-d04956d0-3ae1-444f-9335-2b2d608699ea.png)

[2021-11-23 04:34] notd5a-alt commented on #31
Ok, im going to try to work on this feature for you guys.

[2021-11-23 05:33] Lloyd-Jackman-UKPL commented on #23
Perfect, that works!

Sent from ProtonMail mobile

-------- Original Message --------
On 23 Nov 2021, 00:37, Annie wrote:

[2021-11-23 05:58] kousaku-maron opened #80 "[Bug] mac build process failed"
**Describe the bug**
A clear and concise description of what the bug is.
I click app_flowy button on vscode.

### occuring error

[code]

flutter doctor -v

[code]

[2021-11-23 06:08] pdckxd commented on #50
@Hari-07 , I found the root cause is in lib\workspace\presentation\stack_page\doc\doc_page.dart line 97. the editor variable should be initialized with addtional parameter       "paintCursorAboveText: true,". Can you try from your side and issue the PR if it works.

![image](https://user-images.githubusercontent.com/1890394/142977950-e5159614-e290-43ad-96d1-763c4af2910a.png)

![image](https://user

[2021-11-23 06:32] Hari-07 commented on #50
Yes that worked, thank you

[2021-11-23 06:55] pdckxd opened #82 "[FR] Cargo make should support running through both cmd.exe and powershell.exe on Windows"
**1~3 main use cases of the proposed feature**
Currently steps in BUILD_ON_WINDOWS.md is only verified in cmd.exe. Need to enable running steps in powershell.exe as well to improve the flexiblity.

**what types of users can benefit from using your proposed feature**
Developer can run cargo make through powershell.exe

**Additional context**
N/A

[2021-11-23 06:56] pdckxd commented on #82
@annieappflowy please assign this issue to me. thx.

[2021-11-23 07:06] Hari-07 commented on #65
Was this fixed? I tried to reproduce it by writing a title and text on a new page, then rebooted system and when I came back nothing was changed

[2021-11-23 07:34] Hari-07 opened #83 "[Bug] Fail "cargo make flowy_dev" script if pub global target isn't added to Path"
**Describe the bug**
dart pub global installs to /.pub-cache/bin and throws a warning if it isn't added to Path. Build continues uninterrupted. If user doesn't add it to path, generate protobuf fails

**Expected behavior**
Script execution should get interrupted if this warning is thrown

[2021-11-23 07:38] pdckxd commented on #83
Thanks @Hari-07 . I will take up this issue. @annieappflowy to be aware

[2021-11-23 08:19] Malenconiaprincep commented on #80
+ 1

[2021-11-23 09:11] Malenconiaprincep opened #86 "[Bug] chrome build failed"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Follow your step 1,2,3,4
2. Go to the Run and Debug tab and then click the run button.
3. Device choose Chrome
4. See error

**Screenshots**
If applicable, add screenshots to help explain your problem.

![image](https://user-images.githubusercontent.com/6262739/142996834-a

[2021-11-23 09:31] irfanbacker commented on #86
AppFlowy supports only macOS, Windows and Linux as of now.

[2021-11-23 10:04] Hari-07 commented on #59
I can take this up if its not being worked on by anyone as of now

[2021-11-23 11:18] Lloyd-Jackman-UKPL commented on #25
That's a really interesting and important point. When you use Typora, you can see it clearly takes a "code block" approach in Source Code Mode, looking very familiar to me as a Jupyter user. I certainly wouldn't see any conflict with treating these blocks as of different types, but would only note that Jupyter limits your designs to a degree by not supporting more complex kinds of formatting, such

[2021-11-23 12:07] RanKKI commented on #68
Got same error here, however it's works if I run `flutter run` in the folder `frontend/app_flowy`

[2021-11-23 12:07] RanKKI commented on #80
See here https://github.com/AppFlowy-IO/appflowy/issues/68

[2021-11-23 12:16] Malenconiaprincep commented on #86
okey

[2021-11-23 12:16] #86 closed

[2021-11-23 12:50] Laegel commented on #56
Hey, just tried to run it on my machine (**Ubuntu 20.04, x86_64**) and everything went well.
In my case, I already had Rust installed and didn't go through the optional steps.
I first checked it was building fine using the `cargo make -p development-linux-x86 appflowy-linux-dev` command.
As there was nothing wrong here, I went through steps 2 and 3 to install the debug environment and it was also

[2021-11-23 13:43] elis opened #89 "[FR] Web Interface"
**1~3 main use cases of the proposed feature**
Being able to access my data from a self-hosted web server using any of my devices without needing to install.

**what types of users can benefit from using your proposed feature**
Everyone

**Additional context**
...

[2021-11-23 14:12] ljshwyykl commented on #77
[code]

it is done

[2021-11-23 14:20] rishabhgusain6 commented on #65
IDK about others, maybe something else happened too which I don't remember or may be only some/me are facing this issue

[2021-11-23 14:28] #77 closed

[2021-11-23 15:20] pdckxd commented on #56
I am experience same issue when running debug version of appflowy on lubuntu 20.04 . Looks like this is flutter issus specific for Linux.

[2021-11-23 15:51] Hari-07 commented on #24
I think its more about giving the user the control over their own data. If the user wants the convenience of google drive, it'd probably be a good idea to provide that option

[2021-11-23 18:47] notd5a-alt commented on #56
So changing icon names and refs didnt fix the issue? Maybe an underlying flutter issue. Ill research and check.

[2021-11-23 21:38] e-tornike opened #91 "[Bug] Docker build failed"
**Describe the bug**
Docker backend build fails.

**To Reproduce**
Steps to reproduce the behavior:
1. `git clone https://github.com/AppFlowy-IO/appflowy.git`
2. `docker build -f backend/Dockerfile .`
3. See error

**Expected behavior**
Docker should successfully create an image.

**Desktop (please complete the following information):**
 - Docker version 20.10.5, build 55c4c88

**Additional contex

[2021-11-24 00:16] pdckxd commented on #56
I mean debug version of appflowy prevents people from typing. Sorry for confusion.

[2021-11-24 01:14] notd5a-alt commented on #56
Ah ok

On Wed, 24 Nov 2021, 12:17 am Alex Chen, ***@***.***> wrote:

[2021-11-24 03:04] appflowy commented on #80
@kousaku-maron Still have any problem?

[2021-11-24 03:21] giddens9527 commented on #24
Yeah, agreed with @Hari-07. It's more about client/user owns the data no matter it's local deployed or third-party services.

[2021-11-24 03:36] appflowy commented on #65
Hi @rishabhgusain6, I can reproduce it on my windows 11. It takes time to figurate it out.

[2021-11-24 03:48] Hari-07 commented on #65
Is it possible it's a windows 11 thing? Cos I'm on 10, but not really sure if something like this could be OS related

[2021-11-24 10:12] xueqiliu commented on #80
@appflowy  I also encountered the same problem and did not solve it

[2021-11-24 17:17] vnepogodin commented on #91
It is not particularly docker(like at all)
And you can confirm it by just running same command at `backend/`
[code]

which is giving the same error:
[code]

[2021-11-24 19:05] irfanbacker commented on #56
No issue for me on Pop!_OS 21.04 on both production and development builds

[2021-11-25 00:31] #67 closed

[2021-11-25 04:33] pdckxd commented on #82
Steps in PR #93 are verified in powershell.exe and cmd.exe. Closing this issue

[2021-11-25 04:33] #82 closed

[2021-11-25 11:08] pdckxd commented on #83
Commit 1ee5a9402b22f686fbfdb950badbf0031f7cfb67 remove sub task "install_protobuf" from flowy_dev task. This issue can be closed.

[2021-11-25 15:11] ljshwyykl opened #97 "[FR] generate protoc doc"
i wan to use protoc-gen-doc  do this
[code]

[2021-11-25 15:53] tborychowski commented on #13
There's a whole community of [/r/selfhosted](https://www.reddit.com/r/selfhosted/) who would love to take this for a spin! :-D

[2021-11-25 15:56] Hawkinzzz commented on #13
Yeah we would be keen to do a video on this if we could get a working docker container running on the unraid platform (we can add the template on your behalf if needed) - https://youtube.com/c/IBRACORP

[2021-11-25 17:15] natrius opened #98 "Databases"
Are databases planned at all? I mean, thats basically the main-feature about notion. Nothing about that in the trello (sorry, but *lol* about that) or even in the issue-tracker here. I mean, its basically the feature that makes notion or AnyType (thats the competitor to Notion right now, they will go open source later).

Right now appflowy is just another random notes app. Or - did i miss somethin

[2021-11-26 01:55] appflowy commented on #91
I have added the cargo.lock file to git. Would you mind pulling the latest main branch and try again

[2021-11-26 08:27] annieappflowy commented on #98
Hi Thanks for your feedback. I share your opinion that DB is a major feature that makes Notion great. We've incorporated it in our roadmap under different acronyms, which are "Grid" and "Kanban". We plan to develop "Grid" first, then "Kanban".

[2021-11-26 08:29] annieappflowy commented on #97
Can you please provide a few use cases so that we understand your need better?

[2021-11-26 08:30] #83 closed

[2021-11-26 11:11] irfanbacker commented on #89
Will this be possible with the current rust library since dart-ffi doesn't support web?

[2021-11-26 11:11] BLKFSH opened #99 "[FR] Emoji picker"
**1~3 main use cases of the proposed feature**
While mobile OSs and Windows both have system-wide emoji pickers, most Linux systems don't. Gnome for example has one, but only for native GTK apps. Having a dedicated emoji picker (like for example the one in Discord) would make adding emojis in documents much easier.

**what types of users can benefit from using your proposed feature**
Any user who

[2021-11-26 12:07] annieappflowy commented on #99
Thanks for the suggestion! Can you explain a bit more about where you'd like to pick an emoji easily? For example, it could be similar to Notion which you pick one for your page title.

[2021-11-26 12:30] BLKFSH commented on #99
Adding emojis to the page title sounds good, but I was thinking more in the page editor itself.
For example in the default page you can see a waving hand at the top.
![image](https://user-images.githubusercontent.com/52625640/143581017-434f092b-158a-4fff-a10b-fb8b42640745.png)
Having the ability to quickly add emojis in that editor would be great!
In fact, after a quick search I found a module for

[2021-11-26 12:39] annieappflowy commented on #99
Got it! Thank you so much for your elaboration. I'd imagine this would be a great feature to add for emoji lovers 😋

[2021-11-27 05:58] rdzwncfo opened #100 "Issues installing AppFlowy using given instructions"
Hello, I tried to follow the readme instructions, but have been unsuccessful and need help.

I was able to get all the way up to Step 4. I clicked on the run button but nothing really appears. I'm not sure if I'm doing it right.

How can I launch the app after I clicked on run?

**Terminal output:**

**Debug output**

[2021-11-28 00:26] felipefideli commented on #13
+1

[2021-11-28 07:00] irfanbacker commented on #100
Looks like an incompatibility in system architecture. Are you using an M1 mac?

[2021-11-28 10:13] armin771 commented on #13
That would be fantastic. Would love to get it running on my end under unraid.

[2021-11-28 20:41] berard commented on #16
Could we also have a universal Mac build (for ARM and x86)?

[2021-11-30 00:47] rdzwncfo commented on #100
Hello, I am indeed using an M1 Mac.

[2021-11-30 10:39] theLastOfCats commented on #100
Looks like `ffi` incompatible with M1
https://github.com/CocoaPods/CocoaPods/issues/10220

[2021-11-30 11:50] fzyzcjy opened #105 "[FR] How is the communication between Flutter and Rust frontend implemented?"
Hi thanks for this wonderful project that replaces notion! I am very curious how the communication between Flutter and Rust frontend is implemented? I have looked at the [source code](https://github.com/AppFlowy-IO/appflowy/blob/main/frontend/rust-lib/dart-ffi/src/protobuf/proto/ffi_response.proto) and it seems that it only encodes the whole request/response into an action and a byte-array payload

[2021-11-30 13:57] andywang0607 opened #106 "[Bug] Build failed on Ubuntu 20.04"
**Describe the bug**
I follow the BUILD_ON_LINUX.md and failed on step 10
cargo make --profile development-linux-x86 flowy-sdk-dev

**To Reproduce**
Steps to reproduce the behavior:
- Just follow the BUILD_ON_LINUX.md

**Screenshots**
[cargo-make] INFO - cargo make 0.35.6
[cargo-make] INFO - Project: dart-ffi
[cargo-make] INFO - Build File: Makefile.toml
[cargo-make] INFO - Task: flowy-sdk-dev
[ca

[2021-11-30 13:58] e-tornike commented on #91
Build is successful! Thank you :)

[2021-11-30 16:46] oofdog opened #107 "[FR] Provide AppImage build"
**1~3 main use cases of the proposed feature**
AppImage has distinguished itself from other distribution methods (snap, flatpak and all the package managers) as being the most convenient way to distribute Linux desktop applications.

**what types of users can benefit from using your proposed feature**
It enables Linux users to have the same easy experience as Mac/Windows users.

**Additional conte

[2021-12-01 03:53] JacobAnavisca commented on #98
Just wanted to mention when you do start planning on implementing a DB I would suggest a NoSQL db since it's usually easier to set up, faster to look up objects, and I think usually cheaper. I would recommend using GCPs Firestore, super easy to work with and fairly cheap. DynamoDB and DocumentDB are both great as well. Cloud guru has a nice comparison on DBs https://acloudguru.com/blog/engineering

[2021-12-01 05:56] annieappflowy commented on #105
I'm glad that you asked :D
We had evaluated flutter_rust_bridge when we coded up the project. Unfortunately, it doesn't satisfy our needs. We're still open to this package though. If you'd like to discuss further, you can find me on Discord. We also welcome you to join our community!

[2021-12-01 06:01] fzyzcjy commented on #105
@annieappflowy Hi thanks for your reply and interest! Appflowy sounds quite promising and wonderful. flutter_rust_bridge has evolved and new features have been added, and corner cases have been better recently. Its architecture is also quite easy to use and modify, and I always respond quickly to PRs. I will join discord.

[2021-12-01 06:07] annieappflowy commented on #107
Hi oofdog,

Thanks for letting us know. We'll consider it when AF is ready for application platforms.

Annie

[2021-12-01 06:08] annieappflowy commented on #105
I'm adding you

[2021-12-01 06:10] fzyzcjy commented on #105
I see

[2021-12-01 08:36] annieappflowy opened #109 "Looking for experienced devs who'd like to give us feedback on our tech design article"
We're drafting a doc about AppFlowy's tech design (Part I). This article is mainly for hackers and developers who are interested in the tech design of AppFlowy. It serves as a starting point for the community to exchange ideas and grow knowledge together.  The topics it will cover:

- AppFlowy’s DDD design
- Strategies of adopting Flutter to support multiple platforms
- What roles does Rust play i

[2021-12-01 08:57] natrius commented on #98
Why pay at all? And i personally would not prefer to use anything from google or amazon for an app like this. Maybe i'm misunderstanding something, but for sure nothing online "in the cloud". Sorry, if i'm interpreting wrong, what you said.

[2021-12-01 09:24] 0xN0x commented on #99
If you want to do the picker yourself, i just made a pull request to update the emojis dict (slug to emoji) in the frontend repo (#110).

[2021-12-01 10:08] sharp commented on #100
Same issue with ffi&m1:

[2021-12-01 12:57] #59 closed

[2021-12-01 12:58] #50 closed

[2021-12-01 13:01] #57 closed

[2021-12-01 13:18] 0xN0x commented on #13
+1

[2021-12-01 15:10] sharp opened #112 "[Bug] Failed to load dynamic library 'libdart_ffi.so'"
<img width="974" alt="截屏2021-12-01 下午11 07 07" src="https://user-images.githubusercontent.com/121051/144259579-e2958965-31ce-41b8-839b-f750720e66bb.png">

Hello, when I run app with vs code&android&mac m1, it gave error:

`ArgumentError (Invalid argument(s): Failed to load dynamic library 'libdart_ffi.so': dlopen failed: library "libdart_ffi.so" not found)`

<img width="1131" alt="截屏2021-12-01 下午1

[2021-12-01 16:51] irfanbacker commented on #106
I have encountered the same. There are some issues in protobuf generation of appflowy on linux. If you skip that step, you can get it working. Protobuf has already been generated and is tracked in the repository. So it will work without regeneration as of now.

[2021-12-01 17:03] irfanbacker commented on #112
Are you trying to build for android? Appflowy only supports desktops as of now

[2021-12-02 01:20] sharp commented on #112
@irfanbacker Got it , thanks

[2021-12-02 03:07] impactCn opened #113 "[FR] Is there a Chinese community"
Hi community,

I really want to use rust and flutter to help with development.

I want to ask if there is a Chinese community to assign tasks or add new features.

[2021-12-02 03:20] annieappflowy commented on #113
Hi impactCn,

Thanks for your interest. We don't have one at this moment. Since we are a team of two, we don't have any buffer to run localized communities. You might want to try Google Translator which I think can do the magic.

Annie

[2021-12-02 03:23] impactCn commented on #113
Or a community like slack and WeChat?

[2021-12-02 03:28] impactCn commented on #113
Of course, I can also receive tasks from issue.

[2021-12-02 03:28] impactCn commented on #113
Of course, I can also receive tasks from issue.

[2021-12-02 03:34] annieappflowy commented on #113
We have a Discord server (English) : https://discord.gg/9Q2xaN37tV
and there is a channel called #pr-wanted where we post suggested issues for newcomers :D

[2021-12-02 06:31] irfanbacker commented on #112
You can close the issue then

[2021-12-02 07:05] paranoea commented on #80
@appflowy
I also encountered the same problem and did not solve it
rustc version：rustc 1.59.0-nightly (48a5999fc 2021-12-01)

[2021-12-02 07:16] #91 closed

[2021-12-02 07:40] appflowy commented on #100
Hi @rdzwncfo, what's your device? It should be macOS.

[2021-12-02 09:31] irfanbacker opened #114 "[Bug] Protobuf generation for FFI not working properly on linux"
**Describe the bug**
While building Appflowy on linux, doing the optional protobuf generation will not generate the proper output. The repository already has some tracked protobuf files with which the app works as of now (ie., without generating the protobuf and using already existing ones ). Developers who want to work on rust in Appflowy will not be able to build the app after making changes

**

[2021-12-02 09:31] smaimon commented on #24
I understand and agreed with both of you @Hari-07 & @giddens9527
It could be in the public interest if all content could be end-to-end encrypted and decrypted by appflowy. This means documents and files are unreadable outside of appflowy if you don't have the key. If even the service administrators do not have access to my information.
We need a privacy by design AppFlowy to ensure protection for

[2021-12-02 09:34] irfanbacker commented on #114
The screenshot below shows the changes (tracked by git) that will take place after the protobuf generation step
![protobuf](https://user-images.githubusercontent.com/42970959/144395128-c59a1246-eabf-41a9-8b4b-dfe1dcf9356c.png)

The changes in every file other than derive_cache.rs are indentation and comment changes. So, the problem can be narrowed down to this file shown above.

[2021-12-02 09:44] irfanbacker commented on #100
From the logs, I can see ```RUST_COMPILE_TARGET: x86_64-apple-darwin```. Its seems to me that, you are having architecture incompatibility because you are trying to build for x86_64 on an ARM machine. Try building it for the aarch64 target.

[2021-12-02 16:34] rdzwncfo commented on #100
Yes, it is MacOS. I'm on Monterey 12.1.

[2021-12-02 16:35] rdzwncfo commented on #100
How do I build that for aarch64 target?

[2021-12-03 04:43] appflowy commented on #100
@irfanbacker I use m1 too. It works.

Would you mind sending me the DM on Discord?

[2021-12-03 04:50] appflowy commented on #80
@xueqiliu @paranoea I have updated the step4 of README. Would you mind checking it again?

https://github.com/AppFlowy-IO/appflowy/blob/main/README.md

[2021-12-03 04:59] irfanbacker commented on #100
Hmm, yeah. Cross compilation should work. Ig it might be the other way around.

This error indicates some kind of architecture incompatibility. ` have 'arm64', need 'x86_64' `
Ig its not the problem of the rust compilation, but something done after that which expects something for x86_64 but gets for ARM. Im not entirely sure what exactly because i have no experience with mac. Seems to be somethin

[2021-12-03 05:04] irfanbacker commented on #100
But then, afaik, flutter doesn't support cross compilation. So, won't it cause incompatibility problems when flutter is building for M1 but the rust library is for x86_64?

[2021-12-03 09:42] 0xN0x opened #117 "[FR] i18n support"
Hi there !

As i was reading the code, i saw that the app is not at all made for i18n support. I can understand it's not the priority but by not working at least with a unique english file you will lose some time in the future to migrate every strings used by the app.

The app is still new but already watched by a lot of people. Planning a multi-language support is mandatory if you want to be a go

[2021-12-03 12:37] paranoea commented on #80
@appflowy
Sure. I just got the following log.

Launching lib/main.dart on macOS in debug mode...
lib/main.dart:1
--- xcodebuild: WARNING: Using the first of multiple matching destinations:
{ platform:macOS, arch:x86_64, id:0DE14BCB-8D3A-5995-8902-9AB1F39F2711 }
{ platform:macOS, name:Any Mac }
Undefined symbols for architecture x86_64:
  "_link_me_please", referenced from:
      static flowy_sdk.F

[2021-12-03 17:46] lirc572 commented on #13
I think it would be more useful to be able to also run the flutter desktop app itself in a docker container during development and display the GUI on the host machine, because it will allow us to use flutter's hot reload for development.

[This link](http://wiki.ros.org/docker/Tutorials/GUI) is a good reference on how to run GUI apps in a container. Not sure if it will be easy to apply it to the f

[2021-12-04 03:12] factotvm opened #118 "[Bug] GitHub misspelled"
**Describe the bug**

On the ApPFlOwY web site, you do not spell GitHub correctly. They have a capital "G" and a capital "H" and while we can argue about whether that makes sense or not, it's their name and they're very consistent about spelling it the way they'd like it to be written.

**To Reproduce**
Steps to reproduce the behavior:
1. Visit https://www.appflowy.io/
2. Search using your browser

[2021-12-04 07:38] ghost opened #119 "[China.] If I can, I'd like to translate the Chinese version"
很喜欢这个项目，我希望有中文版本，我不懂英文，但是我可以用翻译软件来协助翻译；目前这个项目还是刚开发，从开始就出现多语言版本，后面开发会更加全面和省心省心！

[2021-12-04 09:16] annieappflowy commented on #118
Hi factotvm,

Thank you for your feedback. I see your point, and I will update the UX text on the website.

Annie

[2021-12-04 09:20] annieappflowy commented on #118
Updated it. Closing this issue. Thanks

[2021-12-04 09:20] #118 closed

[2021-12-04 09:22] annieappflowy commented on #119
Thanks for the kind words. Sure. Please follow https://github.com/AppFlowy-IO/appflowy/issues/117
Once we have i18n set up, I'll post you on the progress.

Annie

[2021-12-04 09:31] fhmohen commented on #119
Because many excellent markdown note taking projects have no Chinese version, many compatriots have given up. I hope such an excellent project can be known and accepted by more Chinese people.

[2021-12-04 09:35] annieappflowy commented on #119
Understood. Thanks for your inputs!

[2021-12-05 09:00] appflowy commented on #13
The backend docker image is ready. Run
`make docker_image`

![image](https://user-images.githubusercontent.com/86001920/144740064-ff2c4539-a139-4bf6-afe6-4c65c6bc6f33.png)

![image](https://user-images.githubusercontent.com/86001920/144740228-95f5e90c-996f-44cb-b4c6-d1c9f63151d7.png)

I couldn't find the method to run the GUI desktop application build with flutter in Docker. I'm working on the fro

[2021-12-06 00:49] appflowy commented on #80
Hi, @paranoea would you mind switching to the terminal tag and showing me the log? It seems like the FlowySDK didn't build success.
![image](https://user-images.githubusercontent.com/86001920/144771182-599a8e74-9f38-4747-8621-574afe3f4fe6.png)

[2021-12-06 01:17] fzyzcjy commented on #105
👀

[2021-12-06 01:50] tortorse commented on #80
The same problem.
I follow the tip and build sdk manually

[code]

![截屏2021-12-06 09 47 46](https://user-images.githubusercontent.com/10540493/144774571-5d851ae5-d1fe-4084-88fa-a10e3a81bda3.png)

So, I checked the Makefile, I can not find any make about 'flowy-sdk-dev', but I found 'flowy_dev'

[2021-12-06 01:56] #105 closed

[2021-12-06 02:00] appflowy commented on #80
@tortorse Are you under the frontend directory? The task is located in appflowy/frontend/scripts/makefile/desktop.toml
![image](https://user-images.githubusercontent.com/86001920/144775411-413c6a7d-b72d-40d6-9a90-b233f212b2f5.png)

[2021-12-06 02:11] paranoea commented on #80
@appflowy The flowy sdk was built successfully. But I still got a build break as the same result.

➜  frontend git:(main) ✗ . scripts/build_sdk.sh
Start building rust sdk
Default host: x86_64-apple-darwin
rustup home:  /Users/paranoia/.rustup

installed toolchains
--------------------

stable-x86_64-apple-darwin
nightly-2021-04-24-x86_64-apple-darwin
nightly-x86_64-apple-darwin (default)

installe

[2021-12-06 02:40] tortorse commented on #80
Thank you. But I got error below:

![image](https://user-images.githubusercontent.com/10540493/144778366-4981475c-381f-4cb5-bac5-b0ba78666a56.png)

[2021-12-06 02:49] paranoea commented on #80
@appflowy
After my successful build on flowy sdk. I can run appflowy now!
I just try run "flutter run" from console.
But the buid break is still there if I press F5 in VS Code. There must be some error in building environment.

[2021-12-06 02:50] appflowy commented on #80
@tortorse Maybe you should pull the latest code. It should work

[2021-12-06 03:02] appflowy commented on #80
@paranoea I have found some similar issues like yours, but none of them has a solution to fix this. I also notice that you're using Xcode 13.1, I'll update my Xcode to 13.1 and try to reproduce your issues.

https://developer.apple.com/forums/thread/658009
https://askandroidquestions.com/2021/10/07/flutter-xcodebuild-warning-using-the-first-of-multiple-matching-destinations/

Thanks for trying thi

[2021-12-06 03:08] paranoea commented on #80
@appflowy Actually, my xcode is 12.1, since I am still working on my Hackintosh Catalina.

[2021-12-06 03:22] ShinChven opened #121 "[FR] Git repository as data provider"
**1~3 main use cases of the proposed feature**
Add git repository support for data storage.

**what types of users can benefit from using your proposed feature**
Cloud sync.

**Additional context**
N/A

[2021-12-06 03:45] tortorse commented on #80
@appflowy Thanks, It works!

[2021-12-06 05:43] gaganyadav80 commented on #99
Hi @annieappflowy, can you confirm if no one is working on this feature request because then I am thinking of doing it.
Also I think this dart package could be of use [dart_emoji](https://pub.dev/packages/dart_emoji). It can parse the emoji by name and code both and it also handles the emoji not found case.

[2021-12-06 06:28] annieappflowy commented on #99
Hi @gaganyadav80 please go ahead. I'll tag your name on Discord's #pr-wanted channel if you're on it.
Also, we need to add an Emoji Picker's trigger button to the editing toolbar
![image](https://user-images.githubusercontent.com/12026239/144798126-fcc179e2-be93-4f35-b23a-337fc1667c6c.png)

[2021-12-06 07:41] annieappflowy commented on #56
Thank you all. Closing this issue as it's resolved.

[2021-12-06 07:41] #56 closed

[2021-12-06 08:29] yolo2h commented on #106
I was have same issue, but now(commit hash: a935f253445c970fbe4a95eafd2d3ac54b71c024) it looks like the problem has been fixed.

[2021-12-06 12:04] gianpaj opened #124 "[FR] Allow to indent checklist items"
**1~3 main use cases of the proposed feature**
As a user, I want to have multiple checkbox items indented:
eg.
[code]

![image](https://user-images.githubusercontent.com/899175/144843017-b6e511fa-48ba-4c48-91d4-b7949fc6999f.png)

Also:
- use `Tab` key to quickly indent
- `shift`+`Tab` to un-indent

[2021-12-06 12:09] gianpaj commented on #75
Is this something that can be easily enabled by configuring `flutter-quill` editor?

https://pub.dev/documentation/flutter_quill/latest/widgets_keyboard_listener/widgets_keyboard_listener-library.html

I can look into if it's not too complicated – I haven't used rust or flutter aside of hello world

[2021-12-06 12:26] Solido opened #125 "Awesome Flutter"
Hello!

I manage awesome flutter list on github and would like to invite you to add AppFlowy.

https://github.com/Solido/awesome-flutter

Thank you for this excellent tool.

Cheers,
Robert

[2021-12-06 12:29] annieappflowy commented on #125
Hi Robert,

Thank you so much for inviting us. The list you created can be of great help for Flutter learners.

I just flicked through the list, and I think we can add AppFlowy to "Flutter Apps"? Please let  me know which location it's the most appropriate.
![image](https://user-images.githubusercontent.com/12026239/144846268-5a9504a5-bad3-4693-affb-9bbbad2a751f.png)

[2021-12-06 12:33] annieappflowy commented on #124
Thank you @gianpaj for proposing the feature.
This is a known enhancement but has not been prioritized. Also, it depends on https://github.com/AppFlowy-IO/appflowy/projects/2#card-74049343

[2021-12-06 12:57] irfanbacker commented on #13
I don't think there is a straightforward way to do it. Users might have to do some external setup to get GUI applications working on docker. Besides, i don't think there is a usecase here. Users could easily use the release zips to run the frontend. If its for easier building, maybe a docker image with mounted folder could be used and the build could be output in the folder.

[2021-12-06 14:44] Luckey-Elijah commented on #109
I've been quietly watching this project and it's progress. Certainly interested in contributing and supporting it!

[2021-12-06 15:01] #114 closed

[2021-12-06 15:02] annieappflowy commented on #109
@Luckey-Elijah thank you for the support! I'll shoot you an email once the article is ready for review.

[2021-12-06 15:04] annieappflowy commented on #75
@gianpaj Given our evaluation of the work, this isn't a challenging issue. We think it's suitable for devs with some experience. If you would like to give it a try, that would be awesome.

[2021-12-06 15:13] Solido commented on #125
Premium is what define AppFlowy, please add it there ;)

[2021-12-06 15:34] annieappflowy commented on #125
Cool! Thanks for promoting us ;)

[2021-12-06 16:01] annieappflowy commented on #125
@Solido  https://github.com/Solido/awesome-flutter/pull/880

[2021-12-06 19:40] Solido commented on #125
Welcome aboard!

Have you heard about Synology Nas company?
They produce a range of products for individuals as well as enterprise on advanced hardware.
I already manage all my services like that.
Looks like perfect fit for AppFlowy!
They also have a package manager for full installation and update.
Maybe you can consider it as an eventual opportunity.

Cheers!
Robert

[2021-12-06 19:40] #125 closed

[2021-12-06 21:05] irfanbacker commented on #117
@annieappflowy I'll take this issue up if no ones working on it

[2021-12-07 04:25] C1oud555 commented on #119
Chinese user too. It will be much easier to recommend this excellent project to my friends if Chinese is supported

[2021-12-07 04:31] annieappflowy commented on #117
Awesome. I’ll tag you on this issue posted on Discord #pr-wanted

Please feel free to reach us if you need help.

[2021-12-07 05:20] starsareintherose opened #126 "[Bug] Linux binary: Exec format error"
**Describe the bug**
I install binary and lib and data into the dest dir and exec the binary. All the files are from https://github.com/AppFlowy-IO/appflowy/releases/download/0.0.2/AppFlowy-Linux-arm64.zip

**To Reproduce**
[code]

**Expected behavior**
can run

**Desktop (please complete the following information):**
 - OS: ArchLinux
 - Browser Chromium
 - Version 96.0.4664.45

**Additional conte

[2021-12-07 06:43] glitsj16 commented on #126
The Linux release you used explicitly refers to `arm64`. Your OS is most likely using a different architecture (like `x86_64`), which would explain the error message. Run `uname -m` to check this.

On a side-note, the same goes for the [AUR package](https://aur.archlinux.org/packages/appflowy-bin/). The PKGBUILD refers to the `x86_64` [arch](https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=a

[2021-12-07 07:47] Gausoft commented on #126
So how to solve this issue?

[2021-12-07 08:01] annieappflowy commented on #126
Hi Gausoft,

You would have to clone the source and build it on your machine.

Annie

[2021-12-07 08:46] irfanbacker commented on #117
# i18n approach
- Using package [easy_localization](https://pub.dev/packages/easy_localization)
- Translation files will under `assets/translations/` directory
- Translations files are `json` files named in the format `<lang_code>-<country_code>.json` or just `<lang_code>.json`.
eg: `en.json`, `en-UK.json`
- A wrapper around `MaterialApp` will be added to provide localization
[code]
- Example `en-

[2021-12-07 10:53] Angel0726 opened #127 "[FR / Bug] Markdown, Reciprocal Link, and Cell Merge"
**1~3 main use cases of the proposed feature**
Ex:
1. export markdown&html。i want to use appflowy for blog
2. reciprocal link
3. merge table cell

**what types of users can benefit from using your proposed feature**
i want ro use it as hexo editor. what'more
I want the same experience as notion

**Additional context**
Add any other context or screenshots about the feature request here.

[2021-12-07 11:46] starsareintherose commented on #126
Sorry, I condisering it as amd

[2021-12-07 12:30] TieWay59 opened #128 "[FR] Zoom level settings"
**1~3 main use cases of the proposed feature**
Just as in windows browsers, people press `ctrl +` and `ctrl -` to adjust the scale of the whole layout of the view.
Many text editors have this feature, such as vs code.

**what types of users can benefit from using your proposed feature**
This can help when working on a different kind of screen device.
It's like a piece of `a11y` thing. Personally,

[2021-12-07 15:54] starsareintherose commented on #126
But actually, it is not possible to compile under ArchLinux, the packages used does not exit.

[2021-12-08 00:54] appflowy commented on #117
@irfanbacker easy_localization is really scalable and extensible. It supports all the platforms that we need. LGTM!

[2021-12-08 00:54] #117 closed

[2021-12-08 01:41] LJiangTao opened #130 "[FR] Support shortcut keys"
** typora shortcut key to improve effeiciency **
Typora shortcut key are useful.

[2021-12-08 05:59] Gausoft commented on #126
Sorry I'am unable to build it on my linux os

[2021-12-08 06:21] annieappflowy commented on #130
Related issue: https://github.com/AppFlowy-IO/appflowy/issues/75

[2021-12-08 06:24] annieappflowy commented on #128
If we offer you a few font size choices, would that meet your needs?

[2021-12-08 06:26] annieappflowy commented on #127
@Angel0726 have you tried our simple markdown export? Just click "Share" -> "Markdown" -> (Ctrl + V) onto your blog page?
<img width="223" alt="Screen Shot 2021-12-08 at 2 24 50 PM" src="https://user-images.githubusercontent.com/12026239/145159185-53ae86e5-3f71-4fe0-83d4-9473265b1279.png">

[2021-12-08 06:26] annieappflowy commented on #126
What error did you get? Would you mind sharing it?

[2021-12-08 13:02] irfanbacker commented on #126
Have you tried following the [linux build instructions](https://github.com/AppFlowy-IO/appflowy/blob/main/doc/BUILD_ON_LINUX.md)? Other users were able to compile on ArchLinux.

[2021-12-08 14:10] Angel0726 commented on #127
thank you。i have more question, will appflowy develop into notion? use database, build blogs?

[2021-12-08 14:12] DuranceX commented on #65
I‘m on Windows 10, I just tried this app and found the "Read me" page became a blank page just like this, just after I close and reopen the app.

[2021-12-08 20:32] starsareintherose commented on #126
[code]
The instructions are not so wise to explain.

[2021-12-09 09:10] TieWay59 commented on #128
@annieappflowy sure, more choices will help a lot !

[2021-12-09 14:46] rileyhawk1417 commented on #31
@notd5a-alt any progress?
For now am trying to make sure everything matches like font and other backgrounds.

[2021-12-09 16:21] gaganyadav80 commented on #99
Update: I was busy with college work. I have everything setup and going to start working on this asap. 😅

[2021-12-09 16:44] notd5a-alt commented on #31
Hi, ive been extremely busy and i actually forgot i was working on this xD.
I dont have the time rn, maybe someone else can / is working on it. I was
also thinking it might be best to implement dark modes and theming after
the extension system comes online. Then it should become easier to make
themes and have custom user made themes. Something like Typoras system? But
more refined and user friendl

[2021-12-10 02:27] annieappflowy commented on #99
No problem. Take your time. Good luck with your school work!

[2021-12-10 03:19] ioiioo commented on #26
I have the same appeal, I hope I can have M1 version applications.

[2021-12-10 03:41] Angel0726 commented on #127
Share" -> "Markdown"-> (Ctrl + V) onto your blog page? it does not work

[2021-12-10 06:21] Angel0726 opened #131 "[FR]suporrt graphviz、mermaid、drawio、mindmap"
support graphviz、mermaid、mindmap、echarts、drawio
**1~3 main use cases of the proposed feature**
1. graphviz: It is the software often used in data structure. It can plot tree and graph. i often use it to describe data structure in leetcode
![image](https://user-images.githubusercontent.com/32816780/145536463-b0b72222-8a79-4416-8fd9-481b06e9bbcd.png)
2. mermaid: as we know many markdown editor suppo

[2021-12-10 06:35] annieappflowy commented on #131
Hi @Angel0726

Could you please follow the template provided for proposing a feature? We would need to know more context in order to understand your request.

Thanks,
Annie

[2021-12-10 07:51] Angel0726 commented on #131
[siyuan note](https://b3log.org/siyuan/)  it is  Similar with you,  what's more itsupport  graphviz、mermaid、mindmap,
1. mindmap
![image](https://user-images.githubusercontent.com/32816780/145536083-27aba255-2fea-4ddc-a667-1b350a5d84e4.png)
2. graphviz  is open source graph visualization software. it can plot tree and graph
![image](https://user-images.githubusercontent.com/32816780/145536463-b0b72

[2021-12-10 09:34] antoineozenne commented on #13
I think a docker-compose to launch all the stack (back, front, db) would be great to promote the application. Today, I wanted to test the application on Ubuntu, but there is no "one-command test". In addition, Rust and Flutter are still fairly new, and not everyone is perfectly comfortable with these technologies. While a docker-compose...

[2021-12-10 11:51] rileyhawk1417 commented on #31
Well I am currently working on it was also wondering if anyone else had given it a shot

[2021-12-11 16:03] SekiBetu commented on #127
+1  not working on windows 11

[2021-12-12 01:30] MikeWallaceDev commented on #126
@starsareintherose @Gausoft Please look at the newest version of [The Linux build instructions](https://github.com/AppFlowy-IO/appflowy/blob/main/doc/BUILD_ON_LINUX.md). These instructions have been tested on Ubuntu and Manjaro(Arch). I built AppFlowy on Arch myself, so I garantee that it works :)

@annieappflowy Can you please close this issue?

[2021-12-12 01:51] MikeWallaceDev commented on #127
@annieappflowy I can look into why the export button is not working.

[2021-12-12 03:26] annieappflowy commented on #127
Sure. That would be awesome. Thank you!

[2021-12-12 06:55] branhillsdesign opened #136 "[Bug] Deleting a document page leaves the content area black after deleting permanently."
**Describe the bug**
Deleting a document page leaves the content area black after deleting permanently.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on ':' to bring up document menu in the side navigation.
2. Click on '🗑 Delete'
3. Click on 'Delete Permanently' in the banner that appears in the content frame.
4. Content area is left black until a different document is selected.

**E

[2021-12-13 02:07] branhillsdesign commented on #31
I grabbed the colors from the theme files and working on what dark mode will look like in figma. I’ll have updates with some options this evening to show with color codes that correspond to already existing color tokens.

[2021-12-13 03:04] branhillsdesign commented on #31
### Dark mode options
_Please note that these color schemes are not fully realized and accessibility testing will need to be performed_

#### Option 01 Based on the secondary purple brand color
<img width="1105" alt="Dark Mode Color Theme" src="https://user-images.githubusercontent.com/51428934/145745507-5e3412c8-0e68-4ce3-b0fb-26da44ae35a5.png">

#### Option 2 based on greys with no tint
<img wid

[2021-12-13 07:36] Thearas opened #138 "[Bug] High CPU on macOS"
**Describe the bug**
The CPU usage of AppFlowy is always greater than 100:

**To Reproduce**
1. `brew install appflowy` and run
2. Create a page and write something
3. Wait a few minutes and do nothing, the CPU usage is still high (greater than 100)

**Screenshots**
![image](https://user-images.githubusercontent.com/44015907/145770188-d35ec39f-2a93-47e6-9ab9-c1ec093c7f60.png)

**Desktop (please co

[2021-12-13 08:07] Thearas commented on #138
![image](https://user-images.githubusercontent.com/44015907/145774701-e0d36771-f809-42cf-85a7-74fd82322d1d.png)

[code]

[2021-12-13 11:02] SleepDaemon commented on #31
Option 2

On Mon, Dec 13, 2021 at 6:04 AM Brandon Hills ***@***.***>
wrote:

[2021-12-13 11:16] rileyhawk1417 commented on #31
Option 2 seems mellowed out and relaxed

[2021-12-13 13:00] annieappflowy commented on #136
Thanks Bran. This is a known issue, which is not prioritized at the moment.

[2021-12-13 13:03] annieappflowy commented on #136
Need to know Rust

[2021-12-13 14:35] MostHated commented on #31
2

[2021-12-13 15:05] Philippe-Arnaud commented on #121
This kind of backbone storage could be very beneficial for revision management as well as code base syncing.
One could check [DSTASK](https://github.com/naggie/dstask) for inspiration in the meantime.

[2021-12-13 15:50] Angel0726 commented on #131
i have followed the template

[2021-12-13 16:08] MikeWallaceDev commented on #131
@Angel0726 When creating a FR or a big report, please include one feature per FR. We use these to delegate tasks and I'm sure you understand we can't assign everything at once. In this case these features might be assigned to 4 different developers. Can you please separate these into separate requests? Thank you :-)

[2021-12-13 20:49] MikeWallaceDev commented on #13
This thread needs a conclusion. There seems to be bits and pieces, but no clear outcome. Can someone write up a blogpost/wiki that explains what our docker containers can do, how to install them, and how to use them? If a PR is needed, let's get that done too. Then we can close this issue.

Who would like to take the lead on this?

@nicolasdanelon @appflowy @franciscoafonsoo @annieappflowy @adamzh

[2021-12-13 20:57] MikeWallaceDev commented on #138
I would just like to add that this doesn't happen on Linux. At least not with the details shared here. I page, let it sit there for 40 minutes and there was no cpu problem.

[2021-12-13 21:05] MikeWallaceDev opened #140 "[Bug] Typo when creating a new page"
**Describe the bug**
When creating a new page, the page is titled "Untitles"

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new page Doc
2. See that the title is "Untitles"

**Expected behavior**
The title should be "Untitled" or even better "Untitled Document"

**Screenshots**
![image](https://user-images.githubusercontent.com/5375835/145888388-5c044033-9233-4541-aa68-3faead24e68e

[2021-12-13 21:09] MikeWallaceDev opened #141 "[Bug] Can't see application version information"
**Describe the bug**
The dialog that appears when clicking on the "?" icon in the lower left is obscured by the text "bottom overflowed by 2.0 pixels"

**To Reproduce**
Steps to reproduce the behavior:
1. Click on the "?" icon in the lower right corner
2. A dialog pops up with the bottom part obscured

**Expected behavior**
Expect to clearly see the version information

**Screenshots**
![image](ht

[2021-12-13 21:57] MikeWallaceDev commented on #136
I'm going to look into this now.  Please assign me and then delete this comment.  Thank you.

[2021-12-13 22:27] MikeWallaceDev opened #143 "[Bug] Deleting a page a second time does not ask for confirmation"
**Describe the bug**
Deleting a page, cancelling the delete (Restore page), and then deleting the page again will not offer to Restore Page. It will just delete the page without confirmation.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a test page
2. Hover over the test page name, click on Delete
3. Choice appears : "Restore Page" or "Delete", click on Restore Page
4. Hover over t

[2021-12-13 22:38] MikeWallaceDev opened #144 "[Bug] The page tree disappears when re-showing the side panel"
**Describe the bug**
The page tree disappears when clicking on the ![image](https://user-images.githubusercontent.com/5375835/145899213-f5f0309b-0bef-472b-bd01-f00f915cc10a.png) button to hide and then reshow the side panel.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on the ![image](https://user-images.githubusercontent.com/5375835/145899213-f5f0309b-0bef-472b-bd01-f00f915cc10a.pn

[2021-12-14 01:25] annieappflowy commented on #136
assigned to @MikeWallaceDev

[2021-12-14 01:59] MikeWallaceDev opened #145 "[FR] Create a menu item in the "?" that generates the required system info for a Bug report"
**1~3 main use cases of the proposed feature**
As a developer it would be benificial to me to receive accurate information about the user's system
As a user it would help me to be able to just click a button a retrieve all the information that the dev requires.
As a user I sometimes don't know exactly what information the dev needs, or how to retrieve it.

**what types of users can benefit from us

[2021-12-14 02:15] MikeWallaceDev opened #146 "[FR] Make Markdown support more robust"
**1~3 main use cases of the proposed feature**
I want to be able to export more elaborate structure to Markdown
I want to be sure that Markdown export will function and have sensible defaults when it doesn't recognize a tag

**what types of users can benefit from using your proposed feature**
Any user who wishes to export a Document to Markdown

**Additional context**
We have an internal structure

[2021-12-14 02:23] mrtolkien commented on #31
To start, maybe using an open color scheme like Solarized, Monokai, or Dracula would be simpler?

This way there would be no need to reinvent the wheel and users of those themes will feel right at home.

[2021-12-14 02:25] annieappflowy commented on #31
option 2
I'd even prefer the grey color used for the left panel as the color for the main editor.
This is Obsidian's dark mode - I think it's pretty eye-pleasing
![image](https://user-images.githubusercontent.com/12026239/145921691-c3db34d1-29cc-49f9-8f09-f6c94e07b03f.png)

[2021-12-14 02:27] annieappflowy commented on #31
second to your point that using something ppl are familiar with makes ppl feel right at home :D

[2021-12-14 02:51] annieappflowy opened #147 "[FR] When will it be available for android?"
When will it be available for android?

_Originally posted by @echodegrasa in https://github.com/AppFlowy-IO/appflowy/discussions/4#discussioncomment-1673763_

[2021-12-14 02:51] annieappflowy opened #148 "[FR] wee need arabic support....please"
wee need arabic support....please

_Originally posted by @ahmedsamyalafifi123 in https://github.com/AppFlowy-IO/appflowy/discussions/4#discussioncomment-1800954_

[2021-12-14 03:03] #140 closed

[2021-12-14 03:59] MikeWallaceDev commented on #148
@ahmedsamyalafifi123 please use this issue #148 to discuss Arabic language. Can you please delete your comment in the other thread. Thank you.

Yes, I'm aware that Arabic is RTL. We can start with the text, and go from there.

Also, I believe I saw some French in your text, maybe that would be an option?

[2021-12-14 06:55] Thearas commented on #138
It is reproducing steadily on my mac. Maybe I'm missing something, or maybe the problem is related to my local data?

[2021-12-14 13:27] naughtz opened #153 "[BUG] the option 'Duplicate' get cut off"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a 'Doc'
2. Click on the icon ':'
3. See the option 'Duplicate' getcut off

**Expected behavior**
Each option should not get cut off

**Screenshots**
![image](https://user-images.githubusercontent.com/32424993/146006942-90f56851-9462-453a-ac29-1941270df53f.png)

**De

[2021-12-14 15:23] rileyhawk1417 opened #154 "[FR] Settings Page"
**1~3 main use cases of the proposed feature**
- The user can adjust settings such as themes and color tints for the app.
- In the event the app may be buggy the user can clear the cache and restart it.
- Having a settings page now allows us to work on it separately and bind user actions.

**what types of users can benefit from using your proposed feature**
The user can choose the color of their c

[2021-12-14 15:27] rileyhawk1417 opened #155 "[FR] Clear Cache"
**1~3 main use cases of the proposed feature**
- To be able to clear the cache of the app in case it is buggy and misbehaves.

**what types of users can benefit from using your proposed feature**
- User can resolve minor issues without assistance from developers.

**Additional context**
- It would be nice to have a backup created before clearing the cache, which will prevent any data from being lo

[2021-12-15 19:35] MikeWallaceDev opened #157 "[Bug] Incorrect application folder name"
**Describe the bug**
The application creates a directory in the user's "Document" directory called "flowy". As per application conventions the directory should be called "AppFlowy" (ideally), or "appflowy" if you don't want caps in a directory name.

**To Reproduce**
Steps to reproduce the behavior:
1. Install and run the application
2. Look in your Documents directory
3. Find the "flowy" folder
4

[2021-12-15 21:18] MikeWallaceDev opened #158 "[Bug] No app icon on Linux"
**Describe the bug**
The application does not correctly show an icon in the app bar.

**To Reproduce**
Steps to reproduce the behavior:
1. Launch the application
2. The application bar shows the default application icon

**Expected behavior**
The AppFlowy icon should appear in the app bar

**Screenshots**
![image](https://user-images.githubusercontent.com/5375835/146266357-3612f520-27aa-4df1-9547-

[2021-12-15 21:25] MikeWallaceDev opened #159 "[BUG] The emoji (waving hand) next to "Getting Started" isn't properly displayed on Linux"
**Describe the bug**
The default "Read me" page of the application shows a hand emoji on all platforms. This doesn't work on Linux, instead an empty box is displayed.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the app and go to the "Read me" page in the "Getting started" folder
2. Look at the top of the page

**Expected behavior**
The hand emoji should appear instead of the empty b

[2021-12-15 22:39] branhillsdesign commented on #31
@mrtolkien I looked at various color themes that are popular for IDE's, but unfortunately, almost none of them are WCAG compliant. Which is unfortunate, because some of them are real slick. They also don't cover the majority of use cases an application will have, especially one that uses colors for organization like Appflowy has planned.

---

With that being said, @annieappflowy has had the entir

[2021-12-16 01:13] rushic24 opened #163 "[FR] Docker Image support needed"
Compiling differently for every Linux is painful. Lets add a docker image to run everywhere.

[2021-12-16 02:06] #126 closed

[2021-12-16 09:28] Angel0726 opened #166 "[FR] support graphviz"
**1~3 main use cases of the proposed feature**
graphviz is the software often used in data structure. It can plot tree and graph. i often use it to describe data structure in leetcode
![image](https://user-images.githubusercontent.com/32816780/145536463-b0b72222-8a79-4416-8fd9-481b06e9bbcd.png)

**what types of users can benefit from using your proposed feature**
It users include teachers, student

[2021-12-16 09:31] Angel0726 opened #167 "[FR] support mindmap"
**1~3 main use cases of the proposed feature**
3. mindmap: it syntax of mind mapping
![image](https://user-images.githubusercontent.com/32816780/145536083-27aba255-2fea-4ddc-a667-1b350a5d84e4.png)

**what types of users can benefit from using your proposed feature**
Ex: It‘s users include teachers, students, programmers and product managers. use it to plot their ideas

**Additional context**
you c

[2021-12-16 09:33] Angel0726 opened #168 "[FR] support mermaid"
**1~3 main use cases of the proposed feature**
mermaid: as we know many markdown editor support it
![image](https://user-images.githubusercontent.com/32816780/145536914-04a32b67-598c-4f19-aa87-90dc94ad5fdc.png)

**what types of users can benefit from using your proposed feature**

**Additional context**
you can experience mermaid in [siyuan note](https://b3log.org/siyuan/)  or [vditor](https://git

[2021-12-16 09:35] Angel0726 opened #169 "[FR] support echarts"
**1~3 main use cases of the proposed feature**
echarts: It is a syntax for diagrams that provides an interactive experience.
![image](https://user-images.githubusercontent.com/32816780/145546606-4ae0cffd-ff4e-4abc-8e6d-092f3bf8dc52.png)
![image](https://user-images.githubusercontent.com/32816780/145572348-65ff90c4-8ab8-40f5-8f45-6ecbfe303020.png)
**what types of users can benefit from using your p

[2021-12-16 09:38] Angel0726 opened #170 "[FR] support drawio"
**1~3 main use cases of the proposed feature**
drawio: Open source drawing software, programmers often use it to make frame diagrams
![image](https://user-images.githubusercontent.com/32816780/145537088-7fdf19e3-253a-4929-a1d6-82a22f4c500d.png)

**what types of users can benefit from using your proposed feature**
It practitioners include teachers, students, programmers and product managers

**Addi

[2021-12-16 11:10] rileyhawk1417 commented on #31
I hear you right now am trying to implement the dark mode feature, so i can have a starting point. The thing am struggling with is having the text color automatically change with the theme. For example when its dark mode the text is white. When its light mode the text is still white making it not visible since the app theme is light mode.

[2021-12-16 13:28] #131 closed

[2021-12-16 13:32] annieappflowy commented on #163
Hi @rushic24 , this is WIP. I'll keep you posted when it's ready!

[2021-12-16 13:33] annieappflowy commented on #166
This will be under the plugin system plan.

[2021-12-16 13:34] annieappflowy commented on #166
We'll build a plugin system to enable developers to build customized apps like this on their own.

[2021-12-16 13:35] annieappflowy commented on #167
This will be under the plugin system plan.
We'll build a plugin system to enable developers to build customized apps like this on their own.

[2021-12-16 13:35] annieappflowy commented on #169
This will be under the plugin system plan.
We'll build a plugin system to enable developers to build customized apps like this on their own.

[2021-12-16 13:35] annieappflowy commented on #170
This will be under the plugin system plan.
We'll build a plugin system to enable developers to build customized apps like this on their own.

[2021-12-16 15:07] rushic24 commented on #163
Hi @annieappflowy, I just created this issue to link with PR 😅.
https://github.com/AppFlowy-IO/appflowy/pull/164 The dockerfile is ready.

[2021-12-17 02:51] Angel0726 commented on #166
I don’t know if plugin can solve this problem. It's The current approach is similar to the code block in MarkDown. it just converts c++ to graphviz ,such as follow
`
[code]
`

[2021-12-17 02:55] Angel0726 commented on #167
I don’t know if plugin can solve this problem. It's The current approach is similar to the code block in MarkDown. it just converts c++ to mindmap ,such as follows
![image](https://user-images.githubusercontent.com/32816780/146481399-edf39601-c736-4660-a650-c179afbac79c.png)

[2021-12-17 02:59] Angel0726 commented on #169
I don’t know if plugin can solve this problem. It's The current approach is similar to the code block in MarkDown. it just converts c++ to echarts ,such as follows

![image](https://user-images.githubusercontent.com/32816780/146481790-121d055a-fa21-48da-a3a9-3eaa508bb7cc.png)

[2021-12-17 03:02] Angel0726 commented on #170
Will you have a plugin market?  Users can download plugins from the market which  Developers upload to the market

[2021-12-17 03:12] Angel0726 opened #174 "[FR] personal blog"
**1~3 main use cases of the proposed feature**
Users can write personal blogs and publish it by AppFlowy. It can generate static web pages to GitPages and giteepages; or It can be deployed to the cloud as a blogging system.

**what types of users can benefit from using your proposed feature**
People who want to share their knowledge

**Additional context**
if It can be deployed to the cloud as a b

[2021-12-17 09:14] bayazidbh opened #175 "[FR] Consider Flatpak release via Flathub / Flathub-Beta"
**1~3 main use cases of the proposed feature**
Use for most Linux distros. While AppImage and Snap are valid ways of universal package distribution on Linux, Flatpak seems to be the one that is more embraced by distributions that aren't mainline Ubuntu (although Ubuntu users can very easily add Flatpak as source, and it is more embraced by Ubuntu-based distro) and Arch-based (AUR).

This is especi

[2021-12-17 09:50] armin771 commented on #13
Would it be possible to make the Docker available on DockerHub? Then it would be easy to set up AppFlowy on Unraid.

[2021-12-17 18:04] iamaravindim opened #177 "[FR] Web App interface for hosting"
**Use cases of the proposed feature**
Is it possible for a web interface to be made available for AppFlowy so that we can host it completely on a server as a Webapp and access it through the browser?

**what types of users can benefit from using your proposed feature**
This would help people to work on thing online as a team.

[2021-12-18 20:36] n8225 commented on #89
Looks like it might be possible with [web_ffi](https://pub.dev/packages/web_ffi/example)

[2021-12-19 07:05] dyrnq opened #180 "[Bug] [ERROR:flutter/lib/ui/ui_dart_state.cc(209)] Unhandled Exception: Invalid argument(s): Failed to load dynamic library 'libdart_ffi.so': /lib/x86_64-linux-gnu/libc.so.6: version `GLIBC_2.32' not found"
**Describe the bug**
run ./app_flowy on debian 11 report exception and  the interface is blank

[code]

**To Reproduce**
1. curl -O -fssL https://github.com/AppFlowy-IO/appflowy/releases/download/0.0.2/AppFlowy-linux-x86.tar.gz
2. mkdir /opt/appflowy && cd /opt/appflowy
3. tar -xvf AppFlowy-linux-x86.tar.gz
4. run `./app_flowy`

**Screenshots**
![Screenshot from 2021-12-19 15-05-03](https://user-i

[2021-12-19 08:55] huabin opened #181 "[FR] About Sync"
**1~3 main use cases of the proposed feature**
I checked appflowy [roadmap](https://trello.com/c/7ymtyfQd/1-sync) on trello.com, and I would like to ask what way it will be implemented? Will it use a third-party  storage drive like Google drive, or will appflowy have a built-in sync service, or will it allow users to set up a hosting of their own?

**what types of users can benefit from using your

[2021-12-19 08:56] huabin commented on #181
BTW, could you please move roadmap from Trello to GitHub, thank you.

[2021-12-19 11:36] PabloCastellano commented on #180
I've hit the same issue. Looks like libdart_ffi requires `glibc >= 2.32` while this version is not available in some common linux distributions yet. In my case I'm using Linux Mint 20.1.

[code]

For the record, glibc 2.33 is available on Debian testing and Ubuntu 21.04:

[code]

[code]

[2021-12-19 19:54] MikeWallaceDev commented on #181
Hello @huabin ! Thank you for your interest in AppFlowy, we're happy to see you here :)
Unfortunately this is not a feature request, it's a question. Can you please move this to the [Discussions](https://github.com/AppFlowy-IO/appflowy/discussions) section?  I'd do it for you but then I would own the question, not you.

I'm closing this as it's not an issue.

[2021-12-19 19:54] #181 closed

[2021-12-19 20:08] MikeWallaceDev commented on #180
Thank you @dyrnq for reporting this, and you @PabloCastellano for reporting all of that information!
I will add a note in the installation page. There's not much we can really do at this point.

[2021-12-19 20:08] #180 closed

[2021-12-19 20:19] Poly-Pixel commented on #145
Should it copy the debug info to the clipboard?

[2021-12-20 00:01] MikeWallaceDev commented on #145
I was thinking about this and... Maybe you could send the information directly into a GitHub issue? (new clue if there's an API for that.)
Else, yeah, for now copying to the clipboard and popping a up a toast sounds like the way to go.

[2021-12-20 00:08] Poly-Pixel commented on #145
Popping up a toast?

[2021-12-20 01:01] huabin commented on #181
Got it.
Thx.

[2021-12-20 05:58] aihuasxy opened #184 "on CentOS8, Failed to load dynamic library 'libdart_ffi.so'"
downlaod "AppFlowy-linux-x86.tar.gz" and extract to foloder.
failed to start with "./app_flowy"

[code]

[2021-12-20 13:27] PabloCastellano commented on #184
Duplicate of https://github.com/AppFlowy-IO/appflowy/issues/180

[2021-12-20 16:23] MikeWallaceDev commented on #184
Duplicate of #180

Sorry Pablo, I had to repeat this because the Git flow will only work if you have write access to the repo :)  Thanks for marking it!

[2021-12-20 16:25] MikeWallaceDev commented on #184
I said that, and the flow didn't even work!  #face_palm.
Let me try that again.  Maybe it didn't work because I added text?

[2021-12-20 16:25] MikeWallaceDev commented on #184
Duplicate of #180

[2021-12-20 16:25] #184 closed

[2021-12-20 16:37] branhillsdesign commented on #99
@gaganyadav80 would love to see the background of the picker match the sidebar background color.

Then in the designs, there's a drop shadow on popout menus like that. (see img) Not sure what the values would be in flutter for that.
![image](https://user-images.githubusercontent.com/51428934/146801242-d0f0fee9-d7dc-4adc-acb1-1828027c57d8.png)

The "tab" selector should match the text color. I thin

[2021-12-21 04:17] lvelvee commented on #26
kindly support native arm arch pls

[2021-12-22 02:10] MikeWallaceDev commented on #158
I have created a appflowy.desktop file which is located in /frontend/app_flowy/linux. This file is now included within the release archive file.

However, although the app does appear in the menu, and the icon does appear correctly in the menu, the icon does not appear in the taskbar, app switcher, or app title bar.  I can not find a solution for this.

If would be really good if someone could do

[2021-12-22 07:42] dxps opened #190 "[FR] Fonts Settings"
**Use Cases of the proposed feature**
As a writer, I want to be able to use my preferred fonts for both normal and monospaced (inline code or code blocks), including their sizes.

**What types of users can benefit from using your proposed feature**
People with specific preferences, maybe slightly OCD driven ones like myself :yum:

**Additional Context**
At the time of this writing, this is how ver

[2021-12-22 13:40] PeterlitsZo opened #191 "[FR] Add more info for ubuntu"
I have the same problem of #180. But I solve it. I hope the `README.md` could add a link to this page for someone hits the same question.

WARNING: It may increase the instability of the system !!!

I append [ubuntu 21.04 source.list](https://askubuntu.com/questions/1340397/how-does-sources-list-for-hirsute-hippo-21-04-looks-like/1340401#1340401)'s content to `/etc/apt/source.list`, and then upgra

[2021-12-22 13:54] annieappflowy opened #192 "[Bug] Can we retain better for Chinese Input Method?"
### Discussed in https://github.com/AppFlowy-IO/appflowy/discussions/188

<div type='discussions-op-text'>

<sup>Originally posted by **orisonchan** December 21, 2021</sup>
Chinese Input Methods have behaviors:
1. Type characters again and again until Input Methods show a Chinese word or a Chinese term.
2. Type 'Enter' or number to print word or term which will replace characters.
Behaviors above

[2021-12-22 18:17] nguillaumin commented on #177
Duplicate of #89 ?

[2021-12-23 02:32] MikeWallaceDev commented on #177
Duplicate of #89

[2021-12-23 02:32] #177 closed

[2021-12-23 03:41] #153 closed

[2021-12-23 10:12] seayuns opened #194 "[Bug] high cup (about 200%) in linux"
![image](https://user-images.githubusercontent.com/93051355/147225331-0378a806-f620-45f6-9843-e364d5415deb.png)

[2021-12-23 10:14] seayuns opened #195 "[Bug] can not use hot key （？） like notion （linux）"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-12-23 18:17] MikeWallaceDev opened #196 "[Bug] Data gets duplicated when starting the application"
**Describe the bug**
The app appends a new "Welcome to AppFlowy" block every time it opens.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the app.
2. Go to the "read me" document
3. Scroll the document and count how many time you see the "Welcome to AppFlowy" Block.
4. Close the app
5. Reopen the app
6. Go to the "read me" document
7. Scroll and count the Welcome blocks, there will be

[2021-12-23 19:15] MikeWallaceDev commented on #195
Thank you for taking the time to send us an issue report, it's much appreciated!

Please note that we require that you fill out the template that we set up because it gives us useful information and context so that we can better fix your issue. Sometimes, not all fields are applicable, and that's ok. Just put "N/A" to let us know that you have verified that this field doesn't apply to your case.

[2021-12-23 19:15] MikeWallaceDev commented on #194
Thank you for taking the time to send us an issue report, it's much appreciated!

Please note that we require that you fill out the template that we set up because it gives us useful information and context so that we can better fix your issue. Sometimes, not all fields are applicable, and that's ok. Just put "N/A" to let us know that you have verified that this field doesn't apply to your case.

[2021-12-24 02:33] fzyzcjy commented on #105
@annieappflowy How is it going

[2021-12-24 02:34] fzyzcjy commented on #105
@annieappflowy How is it going? flutter_rust_bridge is going to be even more powerful in the future (e.g. https://github.com/fzyzcjy/flutter_rust_bridge/issues/243), thus by migrating to flutter_rust_bridge, appflowy no longer needs to spend time reinventing the wheel.

[2021-12-24 02:53] MikeWallaceDev commented on #105
It's interesting, might be something to look at in the future.

[2021-12-24 09:08] #141 closed

[2021-12-25 00:10] #145 closed

[2021-12-25 01:26] nippotam opened #200 "[FR] Use automerge js library for offline mode"
The offline mode should be bulletproof for sort of use cases. Automerge js could be a solution elegant and efficient

All users can benefit from that especially those  with multiple devices.

[2021-12-26 02:06] MikeWallaceDev commented on #13
Hello,
A Docker file was created and documented by @rushic24, thanks!

You can find install information [here](https://github.com/AppFlowy-IO/appflowy/wiki/Installing-with-Docker).

[2021-12-26 02:06] #13 closed

[2021-12-28 20:28] spothound commented on #163
I think this could be closed with https://github.com/AppFlowy-IO/appflowy/pull/164

[2021-12-28 21:00] MikeWallaceDev commented on #163
Thanks @spothound !

[2021-12-28 21:00] #163 closed

[2021-12-29 11:55] rileyhawk1417 commented on #196
Any Idea what the cause could be?

[2021-12-31 09:26] AlexanderWillner opened #204 "[FR] Partially Checked / Indeterminate Checkboxes"
**1~3 main use cases of the proposed feature**
I suggest to support partially checked / indeterminate checkboxes. A good feature request with examples and implementation details are given at https://gitlab.com/gitlab-org/gitlab/-/issues/229189.

**what types of users can benefit from using your proposed feature**
Anyone who thinks task completion is not just binary.

**Additional context**

Input:

[2021-12-31 15:16] joeltonyc commented on #99
It would be great if we could simply type the emoji we want to use. I'm aware that both Discord and WhatsApp have implemented this. `:` is the hotkey used to start searching for emojis.

[2021-12-31 15:32] gaganyadav80 commented on #99
I have to move back to my college and little busy with it. Once I'm done I'll first finish the emoji picker and then I'll try to implement this also.

[2022-01-01 08:52] appflowy commented on #196
Issue fixed. Will be submitted later.

The reason for the data corruption is the document data was written even if the data already exists in the local disk. Which causes duplicate data issues.

[2022-01-02 06:40] Ayush1325 commented on #175
I have created flatpak manifest and other required files. They can be found [here](https://github.com/Ayush1325/flathub/tree/appflowy). I am able to install and run it on my local system. It would be great if someone else already familiar with the application can also test it out since this is my first time using AppFlowy.

[2022-01-02 09:59] annieappflowy commented on #204
Thanks, Alex. This will be considered as a community plug-in block.

[2022-01-02 17:43] MikeWallaceDev commented on #175
@Ayush1325 Thank you very much for that!
So these files will create an installable flatpack?  I've never built one...
You should create a PR, linked to this issue. However, place the files in the following directory :
appflowy/frontend/scripts/flatpack-buildfiles

From there, we can test out the files, and maybe add the flatpack to our release process.

[2022-01-02 18:02] MikeWallaceDev opened #207 "[Bug] Issues with the dark theme"
**Describe the bug**
Some elements are invisible when using the dark theme

**To Reproduce**
Steps to reproduce the behavior:
1. Use the dark theme

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
![image](https://user-images.githubusercontent.com/5375835/147884923-bef0f055-9818-4917-a91e-9318a2455c3c.png)
![image](https://user-images.githubus

[2022-01-03 11:50] #196 closed

[2022-01-03 13:07] appflowy commented on #194
Similar to https://github.com/AppFlowy-IO/appflowy/issues/138

[2022-01-03 13:10] appflowy commented on #138
@Thearas  I try to reproduce this bug but fail. Would you mind showing me what you type in the document or any steps to reproduce this?
![image](https://user-images.githubusercontent.com/86001920/147934224-09b92070-a020-4e88-8a2d-0f64bafa9dab.png)

[2022-01-05 00:56] wuzirui opened #210 "[Bug] Windows Build Failed"
**Describe the bug**
build failure on Windows 11

**To Reproduce**
Steps to reproduce the behavior:
follow BUILD_ON_WINDOWS.md

build log:
[code]

in which "绯荤粺鎵句笉鍒版寚瀹氱殑璺緞銆? " probably means that it cannot find the file "flutter_assemble.vcxproj"

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/7344146/148143718-d3eaf

[2022-01-05 12:28] moltinginstar commented on #158
This should do the trick (tested on Ubuntu 21.10):

1. Copy `flowy_logo.svg` to `/usr/share/icons` (or `/usr/share/icons/hicolor/scalable/apps` as suggested in the [icon theme spec](https://specifications.freedesktop.org/icon-theme-spec/icon-theme-spec-latest.html#:~:text=So%2C%20you%27re%20an,specific%20desktop%20environment.))
2. Move `appflowy.desktop` to `/usr/share/applications`
3. In `appflo

[2022-01-05 15:07] appflowy commented on #11
Annie was able to reproduce on her old MacBook

[2022-01-05 19:22] MikeWallaceDev commented on #210
Hi @wuzirui ! Thank you for that bug report.  There was a script file missing in the Windows build.  I added it.  Can you please update your repository and try again?

[2022-01-05 19:35] MikeWallaceDev commented on #158
Hi @moltinginstar thanks for that!  Unfortunately, I have done all your steps exactly, and they do not fix the problem of not having the icon appear in the taskbar, or on the application window.

**In the taskbar :**
![image](https://user-images.githubusercontent.com/5375835/148277644-73ab6b91-290c-4d6a-8596-3d9ba57a6bca.png)

**On the application window:**
![image](https://user-images.githubuserc

[2022-01-06 07:40] Thearas commented on #138
I reproduce this bug successfully by:
***Enter some some long Chinese sentences with Sogou Pinyin***😂
![image](https://user-images.githubusercontent.com/44015907/148346657-ccb8e344-8bd3-42d9-8e83-63e46fc4eee2.png)

Non-reproducible when typing English.

[2022-01-06 11:32] moltinginstar commented on #158
I see. I’m not very familiar with Xfce but after some Googling I found [this](https://askubuntu.com/a/1268919).

Could you try renaming `flowy_logo.svg` to `app_flowy.svg` and let me know if it works? Thanks.

[2022-01-06 16:22] MikeWallaceDev commented on #194
Duplicate of #138

[2022-01-06 16:22] #194 closed

[2022-01-06 16:54] MikeWallaceDev commented on #158
I renamed the .svg, it did not work
I then changed the icon value in the .desktop file (you didn't tell me to do that), it did not work
I then removed the .svg extension in the .desktop file, it did not work.

Thanks for looking at this!

[2022-01-06 17:31] moltinginstar commented on #158
Strange. I wonder if that custom icon theme could be to blame. Really sorry to bug you again, but can you also try copying the `svg` and the `.desktop` file to `~/.local/share/icons` and `~/.local/share/applications` (respectively) and rebooting the computer? If it still doesn’t work, I’ll install Kubuntu on my laptop first thing tomorrow and try to get to the bottom of this. I’ve been following t

[2022-01-06 17:44] MikeWallaceDev commented on #158
You're not bugging me. I'm the one who created the .desktop file and procedure! I added this issue because I couldn't get those two things to work.

Unfortunately, I can't try that now as I have to go to work.

Just for clarification : I'm on xfce, not kde.  So you should look at xubuntu if you want the same environment.

Thanks again!  :)

[2022-01-07 08:16] moltinginstar commented on #158
Just installed Xubuntu 20.04.3 on a live USB but couldn't reproduce the issue no matter what I tried. If the SVG has a different name from the executable, it doesn't show up in the taskbar and app window, as in your case. However, renaming it instantly fixes the problem for me.

Different name (`flowy_icon.svg`):
![Different names](https://user-images.githubusercontent.com/62135712/148506728-39c67

[2022-01-07 17:13] MikeWallaceDev opened #219 "[Task] Send out T-Shirt"
* Ask coders for their Address
* Ask for their size.  Specify if the sizes are Chinese (Chinese sizes are two times smaller than American sizes.  Mike is a XXXL when I order from China!)

[2022-01-07 17:24] MikeWallaceDev opened #220 "[Task] Remove all to-dos from the code and add them to the issue list."
If a to-do that is currently in the code base is hard to fix or would take long to implement then an issue must be created on Github and filled out with all necessary information so that it can be assigned to a developer.

[2022-01-07 17:25] MikeWallaceDev opened #221 "[Task] Fix all warnings in the code"

[2022-01-07 17:27] MikeWallaceDev opened #222 "[Task] Standardize all labels in the codebase"
The easiest and most logical way would be to name everything : appflowy, or Appflowy when it's a class. This goes for directory names, package names, I’d even rename the Github repository if that is possible.

[2022-01-07 17:28] MikeWallaceDev opened #223 "[Task] Move the “backend” directory to it’s own repository"

[2022-01-07 17:29] MikeWallaceDev opened #224 "[Task] Only one class per file."
Most notably interface and implementation classes which should live in different files, but also in different folders to better represent their places in the architecture layers.

[2022-01-07 17:30] MikeWallaceDev opened #225 "[Task] Create a “Critical” tag in Github"
A critical issue is an issue that requires immediate attention and must be fixed immediately.

[2022-01-07 17:31] MikeWallaceDev opened #226 "[Task] Standardize all labels in the documentation"
This is really an ongoing task that should be done by all of us, all the time. I believe that we should add a Glossary for our terms.

[2022-01-07 17:34] MikeWallaceDev opened #227 "[Task] Describe the components of the application"
Document the design of the code. This is critical to on-board new developers, but also to make sure that everyone is clear on what we want to build, and how to build it.

[2022-01-07 17:35] MikeWallaceDev opened #228 "[Task] Describe the terminology of the application"
“Doc”, “app”, block, startup, workspace, etc, etc, etc,

[2022-01-07 17:36] MikeWallaceDev opened #229 "[Task] Send an email to past contributors"
Ask why they stopped. Ask if they want to start helping out againAsk why they stopped. Ask if they want to start helping out again

[2022-01-07 17:37] MikeWallaceDev opened #230 "[Task] Send an email to those who forked the application"
Ask them why they forked it, what they find interesting, what they may have worked on, if they want to contribute their work back to the project, if they want to take on an issue. And whatever we think of.

[2022-01-07 17:40] MikeWallaceDev opened #231 "[Task] Design a branching strategy"
There are several examples named in the document.
* Git Flow
* Github Flow
* GitLab Flow
* One Flow

[2022-01-07 17:41] MikeWallaceDev opened #232 "[Task] Implement branching strategy"

[2022-01-07 17:42] MikeWallaceDev opened #233 "[Task] Document branching strategy"

[2022-01-07 17:43] MikeWallaceDev opened #234 "[Task] Enforce our coding conventions with CI actions"
so that contributors will use them (before sending a PR)

[2022-01-07 17:44] MikeWallaceDev opened #235 "[Task] Add a section in Coding Conventions on how to deal with critical issues"

[2022-01-07 17:45] MikeWallaceDev opened #236 "[Task] Add explanation of To-Dos in the Coding Conventions"
To-dos are to be used locally by developers while working on a feature and must be dealt with before checking in the code.

[2022-01-07 17:46] MikeWallaceDev opened #237 "[Task] Add explanation of warnings in coding conventions"
there must be no warnings in the development or main branches. No developer can check-in code that conttains warnings.

[2022-01-07 17:47] MikeWallaceDev opened #238 "[Task] Add Peer Reviews to coding conventions"
Validate and verify all code that is merged into the main branch.

[2022-01-07 17:48] MikeWallaceDev opened #239 "[Task] Add instructions on check-in procedures"
Make small commits. Commit often. Make PRs as soon as possible.

[2022-01-07 17:49] MikeWallaceDev opened #240 "[Task] Add instructions that the main branch can never be in an error state."
It must always pass all CI tests.

[2022-01-07 17:50] MikeWallaceDev opened #241 "[Task] Add instructions about creating more release tags"
This is so our scripts can use these tags. For installers, or whatever.

[2022-01-07 17:52] MikeWallaceDev opened #242 "[Task] Create an Android version of the application"

[2022-01-07 17:52] MikeWallaceDev opened #243 "[Task] Create an iOS version of the application"

[2022-01-07 17:54] MikeWallaceDev opened #244 "[Task] Discuss and document real Engineering Requirements"
Those in the document are suggestions, and not official. Nathan has to determine what the official requirements are.

[2022-01-07 17:55] MikeWallaceDev opened #245 "[Task] Discuss and document Domain Design"
Composite Pattern, Quill in a block, etc...

[2022-01-07 17:56] MikeWallaceDev opened #246 "[Task] Discuss and document Synchronisation"
This is a big topic that we will have to research. And maybe try to find someone that already has experience with this technology.

[2022-01-07 17:57] MikeWallaceDev opened #247 "[Task] Discuss Plug-ins"
What is the goal with plug-ins?
What kind of features do you think a plug-in can provide?
Are plug-ins feasible, or even needed?

[2022-01-07 21:31] MikeWallaceDev commented on #158
Maybe my system is corrupted. I tried many things...

[2022-01-08 12:32] annieappflowy commented on #225
done

[2022-01-08 12:32] #225 closed

[2022-01-08 12:34] annieappflowy commented on #226
https://appflowy.gitbook.io/docs/essential-documentation/get-started/glossary
I created a page for terminology

[2022-01-09 03:24] appflowy commented on #138
Thanks, the problem has been solved!

[2022-01-09 03:24] #138 closed

[2022-01-09 08:38] rebron1900 commented on #138
@appflowy When will the next version be released?

[2022-01-09 20:27] MikeWallaceDev commented on #158
@moltinginstar I GOT IT!!!
I cleaned up my system as much as possible and redid everything, and it worked!
This ->  (or /usr/share/icons/hicolor/scalable/apps as suggested in the icon theme spec) did not work. It only works (for me) in /usr/share/icons

I kind of wish that I didn't have to tell people to put stuff in their /usr dirs, but hey, it works.

I'm going to update the installation guide a

[2022-01-09 20:37] moltinginstar commented on #158
That’s great to hear!

By the way, the same directories in `~/.local` should also work. Be sure to give that a try if you don’t like the idea of users messing with system directories. Ideally, all this “dirty work” should be done by the installer, but since we don’t have one for Linux yet, copying the files manually is the next best thing...

[2022-01-09 21:14] MikeWallaceDev commented on #158
Yep, I had already tried them when you wrote that :D  And indeed, they worked.  Like I said, I had all kinds of crap installed (app_flowy.desktop files in different directories, with different names, the icon in different places, with different names...)

The system was probably picking up an old .desktop file with incorrect information.

It all works now, and is checked-in.

However (again), I ca

[2022-01-09 21:14] #158 closed

[2022-01-09 21:28] MikeWallaceDev commented on #226
That is in the "Get Started" section, I consider that for users. Which is great, I think that there should be a glossary there.

However, I meant for the code. There are terms that are not easy to grasp. What we can do is create a page, and then the coders (starting with me!) can write words that we don't understand, and then Nathan can fill in the blanks.

[2022-01-10 05:31] nooop3 commented on #80
I can reproduce this error when I build the APP from the terminal. But it works well in the VSCode.
I need to rebuild the MacOS lib to start the app from the terminal, here are the fixing steps:

[code]

[2022-01-10 09:56] khanakia opened #252 "[Question] How AppFlowy is using Postgres ?"
Hello,

I can see here https://github.com/AppFlowy-IO/appflowy/blob/main/backend/src/config/configuration.rs appflowy seems to be using Postgres but when I open the app I do not see it installs any Postgres server.

So I would really appreciate if you can explain how appflowy is using Postgres under the hood without installing the psql server at all.

[2022-01-10 10:09] annieappflowy commented on #80
@appflowy

[2022-01-10 10:21] appflowy commented on #252
Hi @khanakia, at this moment, v 0.0.2 is not using Postgres, as it only supports offline. We are developing an online version (v 0.0.4), which will enable the frontend (desktop application) to communicate with the backend that uses Postgres.

[2022-01-10 10:25] khanakia commented on #252
@appflowy so are you using Sqllite as database ?

[2022-01-10 12:25] appflowy commented on #252
@khanakia Yes. You can checkout the frontend/rust-lib/flowy-database crate.

[2022-01-10 12:27] #252 closed

[2022-01-10 23:20] Philosobrown opened #254 "[FR] Lock pages"
**1~3 main use cases of the proposed feature**
Locking notes could be so useful, mainly to browse the notes while preventing accidental edits.

**what types of users can benefit from using your proposed feature**
Everyone.

**Additional context**
None

[2022-01-11 00:16] MikeWallaceDev commented on #236
Added to Coding Guidelines and Code Submission Guidelines

[2022-01-11 00:16] #236 closed

[2022-01-11 00:17] MikeWallaceDev commented on #237
Added to the Code Submission Guide

[2022-01-11 00:17] #237 closed

[2022-01-11 00:18] MikeWallaceDev commented on #238
Added to the code submission guidelines

[2022-01-11 00:18] #238 closed

[2022-01-11 00:19] MikeWallaceDev commented on #239
Added to the code submission guidelines

[2022-01-11 00:19] #239 closed

[2022-01-11 00:21] MikeWallaceDev commented on #240
Added to the Code Submission Guidelines

[2022-01-11 00:22] MikeWallaceDev commented on #240
Added to the Code Submission Guidelines

[2022-01-11 00:22] #240 closed

[2022-01-11 00:29] MikeWallaceDev commented on #254
That you for sumitting a Feature Request! I don't really understand what you are asking for? I'm assuming that by "locking" you mean to make something "read only". But I don't know exactly what you mean by a note? Do you mean a complete document? A section of a document?
Can you please give more details? Maybe a screenshot showing what you want?

[2022-01-11 03:57] StanLi-ops commented on #210
I also got the same error.
Vs Code prompts me: Target of URI hasn't been generated: 'package:app_flowy/generated/locale_keys.g.dart'.

[2022-01-11 04:00] MikeWallaceDev commented on #210
Did you get the latest version of the code? I just added a fix to this problem.

[2022-01-11 04:44] StanLi-ops commented on #210
Yes.
When flutter-build still prompts missing 'lib/generated/locale_keys.g.dart'

[2022-01-12 12:07] naughtz commented on #210
You need to execute frontend\scripts\generate_language_files.cmd to generate file 'lib/generated/locale_keys.g.dart'.

[2022-01-12 12:36] naughtz commented on #210
In step  'Building Windows Application', I got error like this:
/D:/software/flutter/.pub-cache/git/flutter-quill-1ce8188c47d3983268067b39a3e8cc8aef898864/lib/src/widgets/raw_editor.dart(230,9): error G5FE39F1E: Type 'TextEditingActionTarget' not found. [D:\data\code\appflowy\frontend\app_flowy\build\windows\flutter\flutter_assemble.vcxproj]
/D:/software/flutter/.pub-cache/git/flutter-quill-1ce818

[2022-01-12 15:53] JZMinilab opened #255 "[Bug] Cannot run on Macbook M1 chip"
**Describe the bug**
Cannot run on Macbook M1 chip

**To Reproduce**
brew install appflowy
Click application/appflowy

**Expected behavior**
Main windows shows up

**Screenshots**
Nothing shows, no process named appflowy in the activity monitor.

**Desktop (please complete the following information):**
 - OS: macOS Monterey 12.1
 - Browser, both chrome and safari are installed
 - Version, chrome 9

[2022-01-13 02:18] Roms1383 commented on #255
Looking at flutter doctor diagnosis, you have to follow its instructions and install:
- XCode
- Android Studio
Android toolchain is usually provided by installing Android Studio (SDK manager) AFAIR.

You might have additional issues related to the fact that M1 chip has a different architecture (`aarch64-apple-darwin` instead of `x86_64-apple-darwin` for older generations), but you should fix these

[2022-01-13 04:29] JZMinilab commented on #255
Thanks for your reply but I'm confused. If I rebuild from scratch then encounter the issue, it is definitely the problem of uninstalling developing tools. However, I installed the app via brew install, how can an app depend on development tools?

[2022-01-13 04:31] Roms1383 commented on #255
`brew install` indeed should handle this on your behalf, my bad I thought you were also looking to build on your machine.

[2022-01-13 08:01] StanLi-ops commented on #210
Thanks a lot, I can compile successfully. Is this step necessary? If yes, it is suggested that an explanation of this step can be added in "BUILD_ON_WINDOWS.md".

[2022-01-14 06:07] mibinn opened #256 "[FR] Collaborative edition"
**use case**
As a user, i want to write documents simultaneously with other users, watching in real time their modification, so that we can't collaborate efficiently.

**what types of users can benefit from using your proposed feature**
Project managers, engineer, ... Anyone working with teammate, especially those working from home.

**Additional context**
A common scenario is when 2 collegues, fr

[2022-01-14 17:05] ihgann commented on #243
If it means anything, Notion syncing with my iPhone is hands-down the primary reason I would have to stick with it over AppFlowy. I use Notion on my phone for GTD task capture and quick note capture, so getting iOS support would probably be the killer feature of AppFlowy to get me to switch over fully.

[2022-01-17 01:04] MikeWallaceDev commented on #210
This step should execute automatically when you compile.  I will install a Windows VM and do some testing.

[2022-01-17 19:16] niftylettuce commented on #255
Works for me, on Monterey

[2022-01-17 19:17] niftylettuce commented on #243
Can I sponsor this somehow?

[2022-01-18 14:01] appflowy commented on #65
@rishabhgusain6 This bug have been fixed in main branch and will be included in the release v0.0.3.

[2022-01-18 22:07] JZMinilab commented on #255
@niftylettuce Can you show `flutter doctor -v` ?

[2022-01-18 22:09] niftylettuce commented on #255
I don't have `flutter` installed, I installed via `brew`.

[code]

[2022-01-18 22:14] JZMinilab commented on #255
Aha, I can open the app after `brew install rust`.

[2022-01-19 01:10] Grubba27 commented on #136
![Captura de Tela 2022-01-18 às 22 08 21](https://user-images.githubusercontent.com/70247653/150044476-c792c4eb-93ed-4b65-bbf9-3d10dff77885.png)
This happens also on macOS, there is any place i should e looking for to deal with this issue ? I know a little of rust perhaps i can help :)

[2022-01-20 02:00] MikeWallaceDev commented on #210
I've been looking at this for 2 days now and still can't find an answer.  The code is there to make this work, but somehow the cargo-make framework just isn't running it.

I have posted [a question on stackoverflow](https://stackoverflow.com/questions/70779672/why-does-my-cargo-make-task-return-half-way-through), hopefully someone will come back with an answer.  I have also posted an issue on the

[2022-01-20 02:10] MikeWallaceDev commented on #256
Thank you very much @mibinn for such a well written feature request. This is in our roadmap and there is no need to track this here. You will be seeing this feature in the future. Thank you for using AppFlowy!

[2022-01-20 02:10] #256 closed

[2022-01-20 03:27] MikeWallaceDev commented on #136
@Grubba27, Nathan is currently working on that code, so we can't really go into it right now.

[2022-01-21 19:29] valmormn commented on #180
Same problem here on Ubuntu! 💩

[2022-01-21 20:40] MikeWallaceDev commented on #180
@valmormn which version of Ubuntu?

[2022-01-24 09:07] ZJsheep commented on #243
I am also interested... Actually I am desperately wanting it for my iPad.

[2022-01-24 12:24] appflowy commented on #138
Will be published at the end of this month.

[2022-01-25 17:08] MikeWallaceDev commented on #255
Hello @JZMinilab , glad to see that you got AF to run.  Maybe you can help out with the documentation so that other people won't have this problem in the future?

Admittedly, you would be the first to help with the new gitbook system, so we'll work through this together :)

Else, let us know how we can improve the documentation. All good :)

[2022-01-25 17:40] zicklag commented on #180
I'm getting the same issue on Pop!_OS ( Ubuntu ) 20.04 LTS.

Is it possible we could reduce the required glibc version to the older version, or otherwise bundle glibc 2.32 in the `lib` folder with the distribution?

[2022-01-25 19:17] moshe7 opened #270 "[FR] consistency edit icon on all pages"
**1~3 main use cases of the proposed feature**
**As a** new user,
**I want** to see consistency in all the option-setting of items (pages) in the app, for example:
- when creating a page at the main page currently there is a plus icon (+) but the inner page has a dot icon (:), rather than one icon (or two as in notion) identical on all pages.
- plus icon (+) always visible, dot icon (:) only when

[2022-01-25 19:46] moshe7 opened #272 "[FR] consistency of doc name and doc title without pressing Enter"
**1~3 main use cases of the proposed feature**
**As a** user,
**I want** to see consistency between  the name and the header of the doc item
when creating a doc under page, the name of the doc is the same as the title of the doc, but when I update the title, the doc name does not change respectively,
**So that** I can easily update the name of doc the from doc title

**what types of users can bene

[2022-01-25 20:05] MikeWallaceDev commented on #272
Thank you for you issue report!  I have just tried this and it works.  You have to press Enter for your change to take effect.

![image](https://user-images.githubusercontent.com/5375835/151050898-5d9759a7-c442-4d29-9e60-f6b7f1e3a415.png)

However, I'm leaving this issue for now because I am seeing exceptions while playing with the title.  So please confirm that it does indeed change once you pres

[2022-01-25 20:50] moshe7 commented on #272
Yes, after I pressed Enter the change took effect.
I just expected it to work automatically as in Notion, so the request is a feature and not a bug :)

[2022-01-27 15:26] Njima1572 opened #274 "[Bug] Docker Documentation is not right"
**Describe the bug**
Just cloned the repo and cannot find `docker-compose.yml` / `Dockerfile` in `docs/docker-buildfiles` in main branch as documented in https://appflowy.gitbook.io/docs/essential-documentation/install-appflowy/installation-methods/installing-with-docker

**Additional context**
- #198 moved the docker related files in different directory, so the documentation needs to be updated

[2022-01-28 13:27] appflowy commented on #272
@moshe7 Do you use the AppFlowy release version? I found there is a bug when I rename it twice in dev mode.

[2022-01-28 13:30] moshe7 commented on #272
Yap, to test it I used release version.

[2022-01-29 02:32] methbkts commented on #65
Same bug on MacOS Monterey 12.2 (Intel), I don't even need to restart the app, changing pages is enough

[2022-01-29 03:42] Angel0726 opened #280 "when it pulish V0.0.3"

[2022-01-29 11:58] edsion11 commented on #210
hello, Mac os have the same problem, when run the below scripts:
[code]
It goes well!

[2022-01-29 12:33] annieappflowy commented on #65
Thank you all for reporting the issue and following us! v0.0.3-beta will be released tomorrow

[2022-01-29 13:17] annieappflowy commented on #280
@Angel0726  Thanks for asking! v0.0.3-beta will be out tomorrow.

[2022-01-29 13:22] annieappflowy commented on #272
Resolved in v0.0.3

[2022-01-29 13:25] annieappflowy commented on #270
Thanks for pointing this out. You have a keen eye for detail, which we value a lot. I’ll mark this as an enhancement.

[2022-01-29 18:12] MikeWallaceDev commented on #274
Thank you for your report @Njima1572 :)  In the future, for documentation related bugs, please use the issue tracker in the [Documentation repo](https://github.com/AppFlowy-IO/docs)

Fixed with change 54

[2022-01-29 18:12] #274 closed

[2022-01-29 18:57] GiuseppeMP opened #284 "[FR] Neovim/Vim Support"
As a Neovim/Vim user , I want to use Neovim to write and edit my notes/pages.

1. Using Neovim Modes (cmd,insert,visual,etc) and capabilities (find, replace, move, macros, marks) are awesome.
2. Extended features with plugins are awesome as well.
3. Don't break Vim users workflow. (no mouse needed)

* I'm using NerdTREE with notes folders instead of Notion because this.

[2022-01-29 20:26] Njima1572 commented on #274
Sorry, I could not find the documentation repo when I was doing this. Will be aware of it for next time :)

[2022-01-30 18:12] MikeWallaceDev opened #290 "[FR] Changes language names to their respective languages"
**1~3 main use cases of the proposed feature**
Ex: As a non English speaker, I want to able to change the language of the app to my preferred language. However, the languages in the application are currently written in English.

**what types of users can benefit from using your proposed feature**
Non English speakers who want to change the language of the application

**Additional context**
When g

[2022-01-30 19:07] FahimFBA opened #291 "[Bug] Improvement on the README"
**Describe the bug**
The project's `README.md` can be improved.
![image](https://user-images.githubusercontent.com/64195132/151713673-52f74264-accb-4df6-9364-ee0ca05253b1.png)
Please check the image. The last `.` is unnecessary. If you want to balance that symmetrically then either the `.` should appear in the front and as the end as well or you should simply remove the `.` at the end.

I am addin

[2022-02-01 00:49] JasonKing66 commented on #255
First installation failed on M1 Mac using BREW. Tried
`brew upgrade`
`brew install flutter`
`brew install rust`
Try to make sure my development tools are all updated and I have both flutter and rust. It worked. As owner of this issue mentioned, maybe only `brew install rust` is enough. Need somebody else with a fresh M1 Mac to validate.
<img width="1092" alt="Screen Shot 2022-01-31 at 2 43 29 PM"

[2022-02-01 20:42] bolshoytoster commented on #290
@MikeWallaceDev I've opened a [pull request](https://github.com/AppFlowy-IO/appflowy/pull/293).

[2022-02-02 02:11] tennox opened #295 "[Bug] Failed to start Flutter renderer: Unable to create a GL context"
**Describe the bug**
First - I tried to run the v0.2.0 release:
[code]

So I tried **building from source** - but I get this when running the compiled binary:
[code]
(the last line happens when I click inside the empty window)

**To Reproduce**
Steps to reproduce the behavior:
1. set up dev environment [official instructions](https://appflowy.gitbook.io/docs/essential-documentation/contribute-to-a

[2022-02-02 05:33] irfanbacker commented on #295
You seem to be using the stable channel for rust, but the docs recommend using nightly

[2022-02-02 09:23] MikeWallaceDev commented on #295
@irfanbacker, I believe that @appflowy now uses the stable channel (it's 4:22 am, I might be delirious)
If it's the case, then please show me where it says that in the docs and I'll fix it.

[2022-02-02 09:31] irfanbacker commented on #295
Oh okay. The [build instructions for linux](https://appflowy.gitbook.io/docs/essential-documentation/contribute-to-appflowy/software-contributions/environment-setup/building-on-linux) does mention changing default toolchain to nightly in one of the steps.

[2022-02-02 13:53] tennox commented on #295
Using [x86 release](https://github.com/AppFlowy-IO/appflowy/releases/download/0.0.2/AppFlowy-linux-x86.tar.gz) yields this: :sweat_smile:
[code]

Yep, missed that - works now :+1:

![Screenshot from 2022-02-02 14-53-24](https://user-images.githubusercontent.com/2084639/152167020-d5891d14-841d-4574-8123-ebdb56df827c.png)

[2022-02-02 13:53] #295 closed

[2022-02-02 17:51] teras opened #296 "[Bug] Unable to use current Docker image to start AppFlowy-IO"
**Describe the bug**
When I follow the instructions to run the app, although the docker seems to build properly, it is not possible to bring up the service.
Instead I get an error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Download docker & docker compose files
2. Build docker containers
3. Bring them up with the command `docker-compose up`
4. The error appears

**Expected behav

[2022-02-02 22:43] lays147 opened #298 "[FR] Ctrl+K shortcut for search"
**1~3 main use cases of the proposed feature**
Add CTRL+K shortcut to search pages.

**what types of users can benefit from using your proposed feature**
All users.

**Additional context**
Notion has this shortcut that helps to search pages.

[2022-02-03 12:08] lays147 opened #300 "[FR] Run appflowy on Heroku"
**1~3 main use cases of the proposed feature**
It would be nice to have a setup to run appflowy on Heroku. I'm trying to do that by using the Docker image, but no luck. On the web exists tutorials about pushing rust and flutter to heroku, but not both together, but I'm sure that could be a way. I may try, but for the ones that know the codebase could be easier? :smiley:

**what types of users can

[2022-02-03 14:07] lays147 opened #301 "[FR] Use conventional commits to make a better git history"
**1~3 main use cases of the proposed feature**
This is just a suggestion that I think that it will make everyone's life easier.
You can add a GitHub action to make sure that all PR's are following the convention using commitlint.

https://github.com/wagoid/commitlint-github-action

[2022-02-04 02:36] appflowy commented on #301
Hi, @lays147 I have read the commitlint, I think that will be really helpful. Thank you

[2022-02-04 02:37] #291 closed

[2022-02-04 08:49] appflowy commented on #301
FYI: https://appflowy.gitbook.io/docs/essential-documentation/contribute-to-appflowy/software-contributions/submitting-code/submitting-your-first-pull-request

[2022-02-04 10:24] Hari-07 commented on #280
@annieappflowy Please consider closing this issue

[2022-02-04 10:26] Hari-07 opened #304 "[Bug] No internationalization on the Add new View menu"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '+' on the left side menu

**Expected behavior**
Need to add translated titles

**Screenshots**
![image](https://user-images.githubusercontent.com/22373191/152513086-27491418-8aea-4556-aab5-147a5cef174e.png)

[2022-02-04 10:31] Hari-07 commented on #270
@moshe7  Doesn't the '+' and ':' have 2 different uses, and seem to be correct imo. The '+' is because we're adding something, if we use '+' in the page wont make sense, since its an edit menu. Whereas if we use ':' to adding the page, it feels less intuitive than the add symbol. Since the utility of the 2 is different, it having different icons seem fine

[2022-02-04 17:19] MikeWallaceDev commented on #296
Hi @teras , can you please check if the changes in the dockerfile work for you? So that we can close this issue.

Thank you @lays147 for the fix!

[2022-02-04 17:34] MikeWallaceDev commented on #301
Thank you @lays147 for that suggestion!

I'm adding this as a reminder for the docs
* What's with that "there is no need to configure" sentence? Is it needed?
* Add installation instructions for Windows and Linux
*

[2022-02-04 17:35] #280 closed

[2022-02-04 17:41] MikeWallaceDev commented on #270
Yep, @Hari-07 is totally right. The icons do different things, and bring up different menus.

[2022-02-04 17:41] #270 closed

[2022-02-05 01:39] #290 closed

[2022-02-06 09:10] teras commented on #296
It works for me now. Thank you

[2022-02-06 09:10] #296 closed

[2022-02-08 15:10] mrsauravsahu opened #313 "[FR] Run AppFlowy as a web app"
# **1~3 main use cases of the proposed feature**
As a user, I want to be able to use AppFlowy as an app on my home network.

- The app's "server" can be installed onto something like a raspberry PI and users can access this over the network.
- For a better user experience users can also install the mobile app and connect to the same server.

# **what types of users can benefit from using your prop

[2022-02-08 19:59] dadyarri opened #315 "[FR] Add a way to notify translation contributors about new UI strings"
**1~3 main use cases of the proposed feature**
To keep translations up-to-date there should be a way to notify contributors that file with english UI strings has been updated.

**what types of users can benefit from using your proposed feature**
Translation contributors

**Proposed soluition**
Github action that triggers on push to `main`, filtered by path to english file
![image](https://user-ima

[2022-02-08 20:08] dadyarri commented on #315
I think discord is a best way. There is a ready action for this (https://github.com/marketplace/actions/actions-for-discord), we can configure a role "translator" and mention it, when strings updated

@MikeWallaceDev, what do you think?

[2022-02-08 20:32] dadyarri commented on #315
Added some actions in #316

[2022-02-09 11:30] annieappflowy commented on #315
Discord and email together should work as a lot of people are not on Discord

[2022-02-09 11:30] annieappflowy commented on #315
@dadyarri please let me know if you need me to create new channels for this

[2022-02-09 11:44] dadyarri commented on #315
@annieappflowy

I think it shouldn't because strings action should notify just translators (and there is no easy way to subscribe person to mailing, only editing action/secret) and release notifications is just automating of thing, you're doing manually

Yes, something like `appflowy-translations` in News and role `Translator`

[2022-02-09 12:48] annieappflowy commented on #315
Sure. I created a new channel called #translation-needed
Regarding the role 'Translator', I can create one but I might find it hard to maintain as I need to know every translator's Discord ID and assign the role accordingly.

[2022-02-09 13:42] dadyarri commented on #315
Maybe then lock writing to this channel only to bot, who will write notifications and propose to translators subscribe to notifications in this channel?

[2022-02-09 13:57] annieappflowy commented on #315
Sounds good to me! Is there anything else I can facilitate?

[2022-02-10 03:48] #315 closed

[2022-02-10 09:22] Driesvanherpe commented on #159
Hi,  i'm also running linux, and can't seem to reproduce the error, could you give some more info about your distro. I'm Running a fedora and getting a somewhat correct display of the waving hand emoji.

[2022-02-10 11:04] Driesvanherpe commented on #300
I'd like to take this on if possible

[2022-02-10 13:35] appflowy commented on #300
Sure, thank you for giving it a shot. If you have quick questions, please reach out to me on Discord.

[2022-02-11 00:46] septatrix commented on #313
As rust can compile to web assembly and flutter can target the web definitely sounds feasible. This would also enable getting rid of the link to the trello roadmap which was a bit detering for me.

[2022-02-12 22:54] MikeWallaceDev commented on #315
There is a way on Discord for people to subscribe and unsubscribe to roles by themselves. I've seen this on other servers. Usually it's something like a pinned message, and you get the role by clicking on a reaction icon (those little smileys at the bottom of a message)

I asked for a role like this for developpers so that we can send out critical messages (such as breaking changes in the environm

[2022-02-12 23:08] MikeWallaceDev opened #326 "[Bug] Build has an error when not Ubuntu"
**Describe the bug**
When trying to build on Linux, the build process checks for the existence of a protobuf compiler. If not present the build script then tries to install it.  This fails on any distribution of Linux which does not use apt as the package installer.

In my case, I already have the protobuf compiler installed, yet it still tried to install it. So I'm not sure what it's looking for.

[2022-02-12 23:13] MikeWallaceDev commented on #159
Manjaro (it's a rolling distribution, so there is no version number)
They asked me to install a font, I don't remember the name. I installed it. The hand still didn't appear.

[2022-02-13 02:11] appflowy commented on #326
I'm sorry to hear that. I just want to hide the complexity of the tool installation of AppFlowy. The scripts in located in frontend/scripts/makefile/protobuf.toml

![image](https://user-images.githubusercontent.com/86001920/153735228-eb8a5b17-e88d-45ac-a661-4d8df1a71869.png)

Is there a better way to reduce the install steps of AF? Or we just let the developer decide what to do next step by step.

[2022-02-13 04:35] #326 closed

[2022-02-13 04:44] appflowy commented on #255
@JasonKing66 Thank you! I have updated the documentation on [Building on MacOS.](https://appflowy.gitbook.io/docs/essential-documentation/contribute-to-appflowy/software-contributions/environment-setup/building-on-macos)

[2022-02-13 04:44] #255 closed

[2022-02-13 14:11] appflowy commented on #326
For the moment, there is no need to install protoc binary anymore. The build process uses the [embedded protoc binary](https://github.com/stepancheg/rust-protoc-bin-vendored) to the compiler the proto files. Check out this [PR](https://github.com/AppFlowy-IO/AppFlowy/pull/328) for more details.

[2022-02-14 04:15] tsuiyuenhong opened #330 "[FR] Support automated release of the AppFlowy by GitHub CI."

[2022-02-14 08:47] Aditya1402 commented on #31
Hi there! This is my first time contributing to Open Source projects.

Can you guide me how can I contribute towards this good-first-issue? @annieappflowy

[2022-02-14 18:51] Twilightssuperb opened #335 "[Bug] Erase button ← and Del button both don't work"
AppFlowy 0.0.3-beta2, Win 8.1 x64

Make note.
Type something at text field.
Try to delete it with button ←
Symbols won't be erased.

Move cursor to first symbol at text field.
Press Del.
Get nothing again.

It's extremely annoying. I can't use this version for note-taking or anything else.

[2022-02-15 00:30] ZibingZhang opened #336 "[FR] Change text highlighting so it's not as intrusive"
At the moment, when highlighting text, it takes some time for the options to appear, and when they do, they take up the entire screen. Overtime, this has become slightly annoying for a couple of reasons. I propose that the design be changed so that it's just a little color selector that appears above the fill / highlight icon near the bar at the bottom.

**1~3 main use cases of the proposed featur

[2022-02-16 04:12] annieappflowy opened #339 "[FR] Integration with Google Calendar"
### Discussed in https://github.com/AppFlowy-IO/AppFlowy/discussions/329

<div type='discussions-op-text'>

<sup>Originally posted by **aaqsr** February 14, 2022</sup>
Hey you all, I just discovered this project and really love what you guys are doing here. And I wanted to request a feature if you don't mind.

I would love to see an integration with google calendar, where if I have reminders in th

[2022-02-16 04:15] #330 closed

[2022-02-17 07:38] Twilightssuperb commented on #335
Suddenly they works after PC reboot... I don't know what it had been happened. (No malware, keylogger or security threats — I use strong Internet security suite by famous vendor with last updates.) Maybe, just weird bug.

[2022-02-17 09:54] Twilightssuperb opened #342 "[Bug] Can't copy or cut anything from text area"
AppFlowy 0.0.3-beta2, Win 8.1 x64

Make note.
Type something at text area.
Select it.
Try to launch context menu for selection.
Get nothing.
Try to press Ctrl+X or Ctrl+C.
Open notepad/text processor or clipboard manager.
Get nothing was copied from AppFlowy.

[2022-02-17 14:04] PabloCastellano opened #344 "[FR] Publish docker images to Docker Hub"
**1~3 main use cases of the proposed feature**

As a Linux user, I want to try AppFlowy asap and avoid compiling anything. Since there is already support to create a docker image, the last missing part is publishing this image to docker hub, so that other can just download and execute it.

Though it would be more convenient to automatically upload it using CI, at the moment you can use [my image](

[2022-02-18 20:00] fuzzthink opened #349 "[FR] Enable Shift-key+click to select multiple lines Feature Request"
**Main use cases of the proposed feature**
The use of shift-key & click to select multiple lines is an expected feature for all editors.

**what types of users can benefit from using your proposed feature**
All

[2022-02-18 20:13] fuzzthink opened #350 "[FR] Line spacing selection Feature Request"
**Main use cases of the proposed feature**
Ex: As a user, I want to be able to see more content on a page. Currently the line spacing is too much compared to say Google Docs. Adding common line spacing options like 1, 1.15, 1.5, 2 (selections from Google Docs) would be greatly appreciated.

**what types of users can benefit from using your proposed feature**
All users

[2022-02-20 00:49] annieappflowy opened #354 "[Bug] Fix DocBanner widget layout issue"
**Describe the bug**
DocBanner widget layout reports a warning message

**To Reproduce**
Steps to reproduce the behavior:
1. On debug mode
1. Delete a page
2. Resize the window

**Expected behavior**
No warning message

**Screenshots**
![image](https://user-images.githubusercontent.com/12026239/154824118-fd433637-d828-418c-bedf-576ea82b9881.png)

[2022-02-20 00:57] annieappflowy opened #355 "[FR] Rearrange pages using drag-and-drop in the left-hand sidebar"
**1~3 main use cases of the proposed feature**
Drag-and-drop pages make it easy to structure contents in the left-hand sidebar

**what types of users can benefit from using your proposed feature**
Users who write a lot of pages

[2022-02-20 01:10] annieappflowy opened #356 "[FR] UI enhancement for the dropdown menu that change languages"
**1~3 main use cases of the proposed feature**
I want to change the language from French to English

**what types of users can benefit from using your proposed feature**
Users who need to change languages
![image](https://user-images.githubusercontent.com/12026239/154824365-bfa52430-4079-4a5d-b5bd-c2d06e2dba7b.png)

**Additional context**
Contact @annieappflowy for the design spec on the dropdown

[2022-02-20 01:25] annieappflowy opened #357 "[Refactor] Migrate the markdown feature from Dart to Rust"
We support exporting a page in Markdown format in Dart. Currently, all the data processing-related functions but Markdown are developed in Rust. We would like to refactor the Markdown function from Dart to Rust.
The main reason for this is that using Rust to process large files increases performance.

Need to know Rust

[2022-02-20 01:29] annieappflowy opened #358 "[Unit Test] Flutter Bloc Unit Test - Listeners and Events"
Write unit tests for the blocs (located at `frontend/app_flowy/lib/workspace/infrastructure/repos`):
1. Test each event input and output
2. Test listeners of each bloc and verify the input and output

[2022-02-20 01:34] annieappflowy opened #359 "[CI] Speed up CI using GitHub build matrix"
Speed up CI using GitHub [build matrix](https://docs.github.com/en/actions/using-workflows/advanced-workflow-features#using-a-build-matrix)

[2022-02-20 01:59] annieappflowy opened #360 "[FR] Support Workspace Settings - name and icon"
**1~3 main use cases of the proposed feature**
As a user, I want to rename my workspace and set another icon for it.

**what types of users can benefit from using your proposed feature**
All the users

**Additional context**
Currently, the purple icon and the name are hardcoded. We want to enable users to change them through "Settings"
![image](https://user-images.githubusercontent.com/12026239/15

[2022-02-20 02:11] annieappflowy opened #361 "[FR] Resize the left-hand sidebar"
**1~3 main use cases of the proposed feature**
* I want to make the sidebar smaller instead of hiding it as I want to make the editing part bigger but have the ability to view the left-hand bar at the same time.
* I like having longer titles for pages so the ability to make the sidebar wider enables me to view more contents of the titles.

**what types of users can benefit from using your proposed

[2022-02-20 02:34] annieappflowy commented on #154
Done

[2022-02-20 02:34] #154 closed

[2022-02-21 03:11] programmer290399 opened #363 "[Bug] UI too small on Linux"
**The UI elements are too small and I cannot find a way to scale them to my liking.**
![image](https://user-images.githubusercontent.com/41383069/154881198-5d7b8a29-ce2b-43c9-af0b-3ba8e0637597.png)
* As you can see the elements in the red bounding boxes are too small to interact with.
* Also there is no option to scale them

**To Reproduce**
Steps to reproduce the behavior:

1. Install AppFlowy bi

[2022-02-22 01:18] #344 closed

[2022-02-22 07:13] bukuyuxuan opened #368 "[Windows]There is no release version of WIN platform?"
After waiting so long, why hasn't the win platform been released

[2022-02-22 07:43] annieappflowy commented on #368
Hi @bukuyuxuan ,

Thanks for your patience. We're releasing a Windows package, and it should be ready for downloading shortly.

[2022-02-22 08:38] MidouWebDev opened #369 "[Bug] Mistakes in the fr.json"
**Describe the bug**
There are some mistakes in the FR translation file that i can correct.

@annieappflowy Please assign me 🙏

[2022-02-22 11:52] annieappflowy commented on #368
Done. Please download from https://github.com/AppFlowy-IO/AppFlowy/releases/tag/0.0.3

[2022-02-22 11:52] #368 closed

[2022-02-22 17:23] Arbaba opened #370 "[Bug] Incorrect version shown in realease v0.0.3 on Windows"
**Describe the bug**

An incorrect version is shown when clicking on the `?` button for `Help & Support`.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on the `?` button at the bottom right of the screen to show the current version.

**Expected behavior**
`app_flowy 0.0.3` should be shown.

**Screenshots**
![image](https://user-images.githubusercontent.com/25588945/155181712-e00aac51

[2022-02-23 23:28] gaganyadav80 commented on #356
I can work on this one. @annieappflowy can you share the design spec with me so I can have a look.

PS: This time I will do it quickly xD.

[2022-02-24 03:58] #354 closed

[2022-02-24 09:18] #99 closed

[2022-02-24 12:48] annieappflowy opened #378 "[Workflow] Create a public project tracking system that foster better collaboration"
- [x] set up a project tracker
- [ ] document how to use it
- [ ] announce it on Discord
- [ ] Collect feedback and iterate

[2022-02-24 19:08] MidouWebDev commented on #378
I can help. I will just need more informations.

@annieappflowy

[2022-02-24 19:12] MidouWebDev opened #380 "[Bug] Capital letters in the translation files"
**Describe the bug**
The first letter of each word in the translation files is a capital letter except in the fr-FR.json that i worked on. #371
So i want to fix this in all the translation files.
Please assign me !

@annieappflowy

[2022-02-25 01:48] #369 closed

[2022-02-25 03:35] annieappflowy commented on #378
Hi @MidouWebDev , thanks for offering the help. This issue has been claimed by @Hari-07 . You are welcome to provide feedback once it's drafted.

[2022-02-25 07:14] gaganyadav80 commented on #355
I can work on this as well. Please assign me if no one is working on this.

[2022-02-25 07:16] gaganyadav80 commented on #336
Hi @annieappflowy, it's me again xD. I can improve this one also. We can discuss further on how the resulting widget should be on discord.

[2022-02-25 07:40] annieappflowy commented on #336
Hi @gaganyadav80 thanks for offering the help!. @soulisa will help you with the design. I'll take the discussion further on Discord.

[2022-02-25 12:12] soulisaye commented on #336
we can take a discussion on discord，my ID is soulisa#4233

[2022-02-25 19:58] ZibingZhang opened #386 "[Bug] Delayed inputs on keypress"
### Describe the bug
There are multiple instances where, after a keypress, the result of the keypress is delayed until another key has been pressed.

### To Reproduce

### Steps to reproduce the behavior:
Either,
1. Navigate to the getting started page
2. Delete the "g" of the word "blog" at the bottom of the page
3. Try typing in the letter "g" again
4. It's not appearing for me until I type in a

[2022-02-25 20:01] ZibingZhang commented on #75
On a similar vein, the `home` and `end` keys don't work on Windows.

Using `Ctrl-Backspace` and navigation with `home` and `end`, especially for selection and deletion, is a fairly commonly used keyboard shortcut, the addition of which would result in a nice QOL change.

[2022-02-26 11:44] tenneck opened #389 "[Bug] Docker Hub (app_flowy:1): Gtk-WARNING **: 10:44:25.079: cannot open display:"
When using the instructions provided at https://appflowy.gitbook.io/docs/essential-documentation/install-appflowy/installation-methods/installing-with-docker with the container from Docker Hub I receive the following error:

(app_flowy:1): Gtk-WARNING **: 10:44:25.079: cannot open display:

System information:
MacBook Air (Retina, 13-inch, 2018)

Is anything missing here?

Thank you!

[2022-02-26 13:17] Twilightssuperb opened #390 "[FR] Complete portable version for Windows?"
Keep settings inside AppFlowy's folder or implement option to choose specified path to these files.

No registry traces.

No traces in user system directories.

Just standalone AppFlowy's folder. Unpack, launch and use eveywhere

[2022-02-26 14:12] bolshoytoster commented on #389
@tenneck note the text on the page you linked:

You might need to run `xhost +` on your host to give permission to the for the docker process to access it.

Make sure to run `xhost -` afterwards otherwise anyone on your network would be able to connect.

[2022-02-26 22:04] MidouWebDev opened #392 "Feature : Translate the AppFlowy website (Landing Page)"
**1~3 main use cases of the proposed feature**
The AppFlowy landing page should be translated to many language so that visitors can see the website in their own native language

**what types of users can benefit from the suggested feature ?**

People who don't speak english and want to know more about AppFlowy will benefit

This process is called Software Internationalization.

[2022-02-27 17:01] MikeWallaceDev opened #394 "[Bug] Problem when xdg-user-dirs in not installed"
I'm rebuilding this issue from a PR that was not accepted. ( #156 )

**Describe the bug**
AppFlowy throws an Unhandled Exception error when xdg-user-dirs isn't installed.

[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Try to run AF on a flavor of Linux that does not have xdg-user-dirs installed.

**Expected behavior**
App just runs...

**Screenshots**
None

**Desktop (please complete

[2022-02-27 18:09] MikeWallaceDev commented on #380
Please make sure that is the correct procedure for each language that you wish to modify.
For example, here are some recommendations for English capitalization : https://ni.github.io/design-system/style/text-capitalization/

[2022-02-27 22:32] rabble commented on #243
I'd love to see this.

[2022-02-27 23:41] rabble commented on #20
I'd be happy with any import at all.

[2022-02-28 14:35] goodforever opened #398 "error: failed to select a version for `flowy-folder`."
cargo make --profile production-mac-x86 appflowy

error: failed to select a version for `flowy-folder`.
    ... required by package `flowy-sdk v0.1.0 (/Users/foo/AppFlowy/frontend/rust-lib/flowy-sdk)`
    ... which satisfies path dependency `flowy-sdk` (locked to 0.1.0) of package `dart-ffi v0.1.0 (/Users/foo/AppFlowy/frontend/rust-lib/dart-ffi)`
versions that meet the requirements `*` are: 0.1.0

[2022-02-28 19:53] shakg opened #399 "[Bug] Add button contrast is too low to see in dark mode"
**Describe the bug**
Add button appears on left side drawer is not visible in dark mode.

**To Reproduce**
Steps to reproduce the behavior:
1. Open V.0.0.3
2. Click on Settings
3. Open dark mode
4. Look at add button on left side drawer.
5. Yes, you can't even see add button

**Expected behavior**
Color contrast of described button must be higher.

**Screenshots**
![add_button_contrast_low](https:

[2022-03-01 06:59] #398 closed

[2022-03-01 07:04] gaganyadav80 commented on #336
Update:
The design is not finalized yet. I will start working on the issue once it will be finalized.

@annieappflowy Can you assign me another task in the meantime. I will comment on the issue I would like to work on.

[2022-03-01 07:08] gaganyadav80 commented on #298
I can have a look at this. I think I will be able to do it. @annieappflowy Can you assign me this issue?

[2022-03-01 15:09] MikeWallaceDev commented on #398
Why was this closed @goodforever ?  Did you find a solution? Is it something we need to document?

[2022-03-01 15:11] MikeWallaceDev commented on #298
Do we even have search functionality?

[2022-03-01 15:44] goodforever opened #404 "Cannot add a new subpage"
There is no next after clicking the "+" .     just a "DOC" botton.
Cannot add a new subpage.

[2022-03-01 18:07] Eezi opened #406 "[FR] Consistency on the icons and texts of the features"
<img width="449" alt="Screenshot 2022-03-01 at 19 48 02" src="https://user-images.githubusercontent.com/54830004/156223259-7dc45204-be8d-4132-a249-291176e76fc2.png">

When you add a new page inside the main page, should there be a full word "Document" and, for example, an "empty file" icon in front of the text?

Like here:
<img width="460" alt="Screenshot 2022-03-01 at 20 03 26" src="https://user-

[2022-03-02 14:00] annieappflowy commented on #355
@gaganyadav80 thanks for claiming it. I've assigned it to you. If you need help, please contact Nathan on Discord.

[2022-03-02 15:38] test210820 opened #408 "[HELP] Build fail"
![image](https://user-images.githubusercontent.com/65008815/156394718-983e0db9-ac05-4428-98c5-6a573eff48fe.png)

[2022-03-02 16:07] hofq opened #409 "[FR] Easy direct Export of Clean, modern good Looking PDFs"
### **1~3 main use cases of the proposed feature**
- Share with Customers
- Project Documentation
- Easy Offline Access for non AppFlowy Users

### **what types of users can benefit from using your proposed feature**
- Good Readabillity
- A Simple Way to create Beautiful PDFs

### **Additional context**

Export an Site Directly as a Clean Modern PDF Would be really nice. This shouldn't be a top pr

[2022-03-02 18:44] #408 closed

[2022-03-02 20:24] test210820 opened #410 "[HELP] Build process failed"
# Env
* `git log`
![image](https://user-images.githubusercontent.com/65008815/156441679-f555f7ab-4611-4d07-8469-9bab53ef0a6f.png)

* `flutter doctor`
![image](https://user-images.githubusercontent.com/65008815/156440219-bd220bda-ace3-4baf-8222-3c7b9a42a24a.png)

* `flutter devices`
![image](https://user-images.githubusercontent.com/65008815/156440314-1be3f873-3c3c-438d-bd49-08c43bf7139a.png)

* `c

[2022-03-04 17:42] LailaNabil opened #411 "[FR] Export markdown"
Since the app is mainly a better alternative to Notion, I think It makes sense to be able to export from Notion or generally export markdown files

**what types of users can benefit from using your proposed feature**
Users who used Notion for a while and looking for an alternative while still having access to their older Data

[2022-03-05 06:30] appflowy commented on #410
Hi @test210820 .  Check out the this [link](https://appflowy.gitbook.io/docs/essential-documentation/contribute-to-appflowy/software-contributions/environment-setup/building-on-windows) please.
<img width="763" alt="image" src="https://user-images.githubusercontent.com/86001920/156871410-8b5f85d3-6ff0-44ab-b379-b3ce3cd5db86.png">

[2022-03-05 16:26] test210820 commented on #410
I built it successfully, thank you very much for your guidance.

But I found that the text rendering of flutter desktop on windows does not seem smooth and there will be a slight delay.

![image](https://user-images.githubusercontent.com/65008815/156891666-0ffed9f4-21f3-4da9-9378-2811a0652641.png)

[2022-03-09 04:14] #410 closed

[2022-03-09 06:59] annieappflowy commented on #410
@test210820 hi, thanks for your feedback. Please create a new issue for the delay on Windows you've encountered. We'll try to reproduce.

[2022-03-10 07:36] Jam1zhu opened #413 "[Bug] Can't build the app"
Initialize the installation according to the document.
When executing `cargo make --profile development-windows-x86 flowy-sdk-dev`,
the following exception occurs

[code]

Desktop (please complete the following information):

OS: Windows 10
Version 0.0.3

What is the possible reason for this?

[2022-03-16 16:36] NicolasPaquet opened #418 "[Bug] Failed to load module "canberra-gtk-module" and grey screen when building with docker"
Hi!

**Describe the bug**
I've just stumbled upon your repo and decided to give it a try.
I followed this part of your documentation: https://appflowy.gitbook.io/docs/essential-documentation/install-appflowy/installation-methods/installing-with-docker

When I run  `docker-compose up`, a grey screen is appearing and I get this message in the logs:
[code]

**Screenshots**
![image](https://user-image

[2022-03-19 14:27] dxafn commented on #398
I've changed the feature line

 into

 from the file `frontend/rust-lib/flowy-folder/Cargo.toml`, and managed to build

[2022-03-19 20:07] airdogvan commented on #418
same here, Ubuntu LTS 20.04.  Even stopped apparmor with exactly the same results.

[2022-03-24 08:12] aliscie opened #422 "I am new to rust how can I run this app?"
Should I run `npm run` or `cargo start` to launch the app and use it?

[2022-03-24 21:08] aliscie commented on #422
I tried that but it didn't work for me so I am using by charm

[2022-03-24 21:11] AkechiShiro commented on #422
Alright, could you please explain in details the error (logs, what command did you run if you ran any?) in order for someone to help you ?
Or you only opened the source code in your Charm IDE ? (And what Charm IDE are you using from Jetbrains I assume)

[2022-03-25 09:26] Ab19a1l commented on #389
Same problem is happening, but I am building on VM, do i need to do anything else to set it up?

[2022-03-25 14:01] aliscie commented on #422
Hello, I change my mind I will not use appflowy I found a better option written in Tauri with reactjs

[2022-03-25 14:01] #422 closed

[2022-03-26 14:39] aliscie commented on #422
when I ran `cargo make flowy_dev` I got this error
``1
Install protoc_plugin (Dart)
/var/folders/v3/4llt971130g6vvbq53m6k84w0000gn/T/apple/fsio/lXIX1aqSSm.sh: line 4: dart: command not found
[cargo-make][1] ERROR - Error while executing command, exit code: 127
[cargo-make][1] WARN - Build Failed.
[cargo-make] INFO - Running Task: legacy-migration
[cargo-make] INFO - Running Task: restore-crate-typ

[2022-03-26 16:43] AkechiShiro commented on #422
@aliscie you probabky have an issue with flutter, could you run `flutter doctor` and show its output ?
Because the `dart` command is coming from flutter.
What distro linux are you on ? How did you install flutter and did you make any PATH modification after installing flutter ?
Finally can you run `dart --version` in your shell ?

[2022-03-27 05:42] aliscie commented on #422
Well, I already installed flutter and dart.
[code]

[2022-03-27 19:53] Loocos commented on #389
In my case, I'm getting the same message "xhost:  unable to open display """  when I type `xhost +`
I'm not familiar with this and made search in order to understand what's going on and what I'm doing wrong but I still don't know why.

@bolshoytoster Could I ask you why it's needed and blocking ? I would want to use it as a web app only.

Help would be really appreciated

Thanks in advance for you

[2022-03-27 19:58] bolshoytoster commented on #389
@Loocos could you try running appflowy with `DISPLAY=:0`?

So like `DISPLAY=:0 docker run ...`

[2022-03-27 20:02] Loocos commented on #389
Still same, I've tried everything. But I think I got the anwser by joining the discord, I found this issue : https://github.com/AppFlowy-IO/AppFlowy/issues/313
And that's what I'm trying to do. I want to host it and use it on my domain. But it's currently available only for local mode

[2022-03-28 15:33] MikeWallaceDev commented on #389
@Loocos Please be advised that AppFlowy currently does not run as a web app...

[2022-03-28 15:43] Loocos commented on #389
@MikeWallaceDev Yes, I've read that after. So currently, can I host the solution on a linux based system (dedicated server) and use it for myself and a friend, then share docs between us in two different network ?
Thanks for your confirmation!

[2022-03-29 02:48] annieappflowy commented on #359
Awesome. I have assigned it to you. If you need help, please reach out to @tsuiyuenhong on Discord.

[2022-03-29 03:06] appflowy commented on #413
@Jam1zhu It seems like protoc-gen-dart wasn't installed. Try run this command:
`which protoc-gen-dart`
It should output the path of your protoc-gen-dart. e.g.  .xx/pub-cache/bin/protoc-gen-dart

[2022-03-30 06:03] rubiagatra commented on #359
Could you give me some context @annieappflowy which GitHub actions do you need to use the GitHub matrix?
[code]

And what kind of matrix? Rust version? flutter version? or CPU architecture matrix?

[2022-03-30 10:32] garv-shah opened #426 "[FR] Maths Support"
**1~3 main use cases of the proposed feature**
Ex: As a math student , I think it'd be great to be able to have support for inline maths or full maths blocks. This could possibly be achieved with LATEX similar to how Notion does it

**what types of users can benefit from using your proposed feature**
Ex: math students, general note takers which include equations, programmers, etc

**Additional con

[2022-03-31 14:20] tsuiyuenhong commented on #359
Hi, rubiagatra. I thought the title `[CI] Speed up CI using GitHub build matrix` is a little bit puzzling. In the first part, we want to manage the build scripts by matrix, like platforms. And as the second part, we want to reduce the cost time of some scripts, like `ci.yaml`, `dart_test.yaml`, and `rust_test.yaml`. But now I still have no idea how to optimize them. Would you mind doing some resea

[2022-03-31 22:57] jivvy opened #427 "[Bug] Slow rendering on monitors above 60hz"
**Describe the bug**
Rendering -- highlighting tested -- is slow on monitors faster than 60hz.
Might be a case of being locked at 60hz

**To Reproduce**
Steps to reproduce the behavior:
Simply launch AppFlowy, and highlight on a page.

**Expected behavior**
Highlighting responsive, see the Screenshots section for a demonstration of both expected and current behavior

**Screenshots**
Here is [a vid

[2022-04-01 13:07] rubiagatra commented on #359
Ahh Thank you @tsuiyuenhong, I think its little bit more clear.
Sure I'll explore something this weekend, Maybe on Monday I'll let you know

[2022-04-02 10:01] gaganyadav80 commented on #356
The design file for text highlight dialog issue isn't complete yet. I can work on this one till then. Can you assign me this? @annieappflowy

[2022-04-05 08:30] inevity commented on #210
windows 11
same error, before this error, show
[code]
See, we already have the locale_keys.g.dart file.

[2022-04-05 19:28] Kertrix opened #429 "[Bug] Issues with the dark theme"
**Describe the bug**
Some elements are invisible when the dark theme is enabled.

**To Reproduce**
Steps to reproduce the behavior:
1. Use the dark theme

**Screenshots**
![image](https://user-images.githubusercontent.com/75695086/161833883-040fd09d-b477-4856-9425-1b684c09fabe.png)
The plus sign is barely visible as it is a dark color (at first glance I didn't see it)
![image](https://user-images.

[2022-04-06 16:14] TheVinhLuong opened #430 "[Bug] Can't run the app"
**Describe the bug**
I tried to run and debug the app but the build failed

**Desktop (please complete the following information):**
 - OS: macOS BigSur 11.6.5

**Additional context**
 - Environment:
 flutter:
[code]
rust:
[code]
Error log:
[code]

[2022-04-06 18:52] apomalyn opened #431 "[Bug] UI MacOS Language drop down list wrong padding"
**Describe the bug**

Seems like the left padding of the language drop-down list is too short.

Thank you really for this wonderful application!

**To Reproduce**
Steps to reproduce the behaviour:
1. Click on the settings (⚙️ icon) button
2. Click on 'Language'
3. See error

**Screenshots**

<img width="336" alt="Screen Shot 2022-04-06 at 14 37 01" src="https://user-images.githubusercontent.com/22

[2022-04-06 19:02] apomalyn opened #432 "[FR] Theme should follow the device theme by default."
**1~3 main use cases of the proposed feature**

As a user, I would like the application to follow the device theme. For example, if my Mac is on dark mode, the application should open in dark mode. The same things apply for every platform supported.

**what types of users can benefit from using your proposed feature**

Everyone.

[2022-04-06 21:03] apomalyn opened #433 "[Bug] Dark mode maybe a little too dark"
**Describe the bug**

There are someplace where the dark mode is a little too dark. 😄

**Screenshots**

<details>
  <summary><strike>The add button (+) is barely (or not at all) visible</strike> (fixed in 0.0.4.1)</summary>

  <img width="276" alt="The add button (+) is barely (or not at all) visible" src="https://user-images.githubusercontent.com/22211097/162058889-746496a8-05cc-4bca-874a-cba64d6

[2022-04-07 06:46] Angel0726 opened #434 "Will the updated grid of the software be compatible with the data of the lower version?"
Worry that with the update of the software, the current data will be incompatible in the future

[2022-04-07 14:58] Nekzerd opened #436 "[Bug] Access denied when attempting to run under the debugger."

[2022-04-07 15:13] #436 closed

[2022-04-07 17:59] apomalyn commented on #431
Closing this, duplicate of #356

[2022-04-07 17:59] #431 closed

[2022-04-07 18:06] apomalyn opened #437 "[FR] Feature/Bug report button"
**1~3 main use cases of the proposed feature**

As a user when I see a bug or possible enhancements I would like to easily fill an issue with an annotated screenshot from the application.

**what types of users can benefit from using your proposed feature**

All the users.

**Additional context**

On another [project](), I worked on, we used the [feedback plugin](https://pub.dev/packages/feedback)

[2022-04-08 07:11] crendy opened #439 "[FR] 希望可以集成 流程图 和 脑图 插件"
希望可以集成流程图和脑图插件，
支持直接在文档进行对图的展示和编辑

[2022-04-08 07:24] annieappflowy commented on #439
Thanks @crendy for proposing a new feature. This is a duplicate of https://github.com/AppFlowy-IO/AppFlowy/issues/167
Since writing in English can benefit more members, please consider using English next time. Thanks again for your contribution!

[2022-04-08 09:04] #439 closed

[2022-04-10 06:59] annieappflowy opened #443 "[FR] Add to Favorites"
**1~3 main use cases of the proposed feature**
Favoriting a page allows users to quickly access it without searching it or clicking through nested pages

**what types of users can benefit from using your proposed feature**
Users who have go-to pages that are frequently visited

**Additional context**
Key features:
- Favorite a page: navigate to a page, then click a button at the top right of the p

[2022-04-10 07:47] annieappflowy opened #444 "[FR] Templates"
**1~3 main use cases of the proposed feature**
- As a new user, I would like to quickly set up a page by using a template and get inspiration from community templates.
- As an active user, I would like to discover new, creative ways to use AppFlowy
- As an active user, I would like to publish my template to the template center so that other users can also benefit from it.

**what types of users ca

[2022-04-11 01:17] annieappflowy opened #445 "[FR] More properties available in Database"
**1~3 main use cases of the proposed feature**
Enable users to use Files & Media and Checklist to organize records in a table-view database

**what types of users can benefit from using your proposed feature**
Users who use databases to organize digital assets or manage tasks

**Additional context**
Abstract/problem statement:
- With Files & Media, users can upload media files or embed links into

[2022-04-11 16:32] dadyarri opened #448 "[Bug] Typo in locale strings"
**Describe the bug**
Duplicated `month` in date format strings

![image](https://user-images.githubusercontent.com/51821039/162787475-73572daa-c65b-4192-ab57-d33604dc5767.png)

[2022-04-12 08:16] #143 closed

[2022-04-13 20:39] leochras commented on #429
I also think the UI elements should have a lighter color or more contrast

[2022-04-14 11:53] Angel0726 opened #451 "[FR] 希望支持合并单元格操作"
**1~3 main use cases of the proposed feature**
Ex: As a ... , I want to set a reminder for a checkbox item so that I can be reminded by the system at a specific time.
希望表格支持合并单元格。也希望grid支持合并单元格操作
**what types of users can benefit from using your proposed feature**
Ex: busy students who tend to forget their paper deadlines

**Additional context**
Add any other context or screenshots about the featu

[2022-04-14 15:43] jeremyfritzen opened #452 "Does AppFlowy actually need glibc >= 2.32?"
Hi!

I have Linux Mint 20.3 Una.
`ldd --version` gives me "ldd (Ubuntu GLIBC 2.31-0ubuntu9.7) 2.31".

However, I am able to run app_flow binary without issue (release version 0.0.3).
So does it mean that documentation should be updated?
Or will I have some issues at some point while running AppFlow with glibc 2.31?

Thanks!

[2022-04-14 19:02] apomalyn opened #454 "[Bug] Links behaviour"
**Describe the bug**

I did found some issues with the link usage. Here is the list of what I found (if prefixed with 🐛 it's a bug, otherwise it's a behaviour problem):

1. 🐛  Links aren't clickable
2. 🐛 Can't remove a link without deleting the text that contains the link
3. 🐛 On the link edition/creation dialog you can type anything and it's still accepted, it should only accept URL (from web URL

[2022-04-14 19:33] dsinghvi commented on #20
Does AppFlowy publish an OpenAPI spec?

[2022-04-18 01:42] appflowy commented on #413
@Jam1zhu Do you still have that problem building the AppFlowy? Please feel free to DM me on Discord directly.

[2022-04-18 02:09] Tumb1eweed opened #458 "[FR] Support Mind Map"
**1~3 main use cases of the proposed feature**
Ex: Notion doesn't have mind map, it use embedded whimsical or gitmind instead. I want AppFlowy to have its own embedded mind map.

**what types of users can benefit from using your proposed feature**
Ex: especially students, because students and teachers use mind map very often.

[2022-04-19 06:45] Angel0726 commented on #20
i have the same questions, did anyone slove it

[2022-04-19 20:41] acherkashin commented on #20
I would like to have ability to migrate from notion to appflowy

[2022-04-21 02:39] aaa1999 opened #459 "wish to support a binary version"
As i mentioned above,could please provide a binary version for users please instead of telling us how to build this from scratch.

[2022-04-21 09:37] giftmischer69 commented on #459
Here you can find the latest (pre-built) release:
https://github.com/AppFlowy-IO/AppFlowy/releases/tag/0.0.3

[2022-04-21 12:45] #459 closed

[2022-04-21 14:21] aaa1999 commented on #459
thanks a lot.

[2022-04-23 16:42] KateYoko commented on #458
Great idea!

[2022-04-24 13:26] MidouWebDev opened #462 "[Bug] New words need to be translated"
**Describe the bug**
We have new words in the en.json file that need to be translated.

I can translate them to french.
Please assign me !

[2022-04-26 01:20] #355 closed

[2022-04-26 11:23] gaganyadav80 commented on #356
Hi @annieappflowy, if no one is working on this one. I am more than happy to help.

[2022-04-27 13:42] jamesefhawkins opened #465 "discuss investment with hedgehog.vc (part of posthog)"
hey team! i [saw one of my friends invested](https://twitter.com/annieanqi/status/1519305576026886147) and i'm really impressed at your progress

our team runs [PostHog](https://github.com/posthog/posthog) (popular open source platform, 10k customers) - we recently [raised $2M to invest in $100K cheques](https://github.com/PostHog/hedgehog.vc/) as part of increasing the number of successful produc

[2022-04-27 13:42] jamesefhawkins commented on #465
(thought it'd be fun to raise this as an issue, hope that's ok)

[2022-04-28 07:33] annieappflowy commented on #465
Hi @jamesefhawkins , thanks a lot for reaching out. I love the transparency PostHog is creating, and I have learnt a lot from your handbook. It's a great resource for open-source founders. I'd love to connect! I can be reached at annie@appflowy.io

[2022-04-28 07:35] annieappflowy commented on #462
Please submit a PR
The file name is fr-FR.json

[2022-04-28 09:26] jamesefhawkins commented on #465
Awesome, email en route :)

[2022-04-28 09:26] #465 closed

[2022-04-28 09:45] WATERMELOUN3 commented on #26
Is there any news about native ARM build support ?
In the documentation in Building on MacOS -> Building in release mode, there is arm64 command, but it still doesn't work.

[2022-04-29 19:22] negiboudu opened #471 "[Bug] Cursor sometimes jumps to top line when inputting Japanese text"
**Describe the bug**
In Japanese text (kana) input mode, writing some text, sometimes suddenly cursor jumps to top line.
At that time, many errors appear in the console log like this:

[code]

**To Reproduce**
1. Change the input mode to Japanese text.
2. Keep typing any text.

**Screenshots**
<img width="1439" alt="screenshot 2022-04-30 4 07 33" src="https://user-images.githubusercontent.com/2309

[2022-05-02 14:15] negiboudu commented on #471
I reproduced this issue.
1. Change the input mode to Japanese text.
2. Input any text. In this example "あいうお".
3. Press Delete key.
4. Input any text. In this example "え".
-> Cursor jumped to beginning point, and the previously entered strings is entered together.

![reproduced](https://user-images.githubusercontent.com/2309728/166247430-bef92faf-0942-498d-966b-4c1eb6e7938e.gif)

[2022-05-03 16:57] gabriel-viviani commented on #357
Hey @annieappflowy , I'm learning rust and would like to have some impact here, can I take this one?

[2022-05-04 11:53] appflowy commented on #357
That's awesome. I've assigned you. Thanks for offering help.

[2022-05-04 12:00] appflowy opened #475 "[FR] UX consistency between creating a new column and entering the name of the "Type" value"
when entering the name of the "Type" value, it wants me to confirm it with enter; creating a new column however does not work this way, but rather it creates it when the pop-up window loses focus. I think it'd be better to unify it and add the ability to confirm the creation of a new column with pressing "enter" (attached picture so you know which window I'm talking about)

[2022-05-04 12:01] appflowy opened #476 "[FR] Columns spill over the page have some shortcut to scroll horizontally"
when columns spill over the page, it'd be nice to have some shortcut or ability to scroll horizontally, not just vertically, my go-to method of the middle mouse button doesn't seem to work now though

[2022-05-04 12:02] appflowy opened #477 "[FR] date format always default to 02.:00"
maybe known, but no obvious time to set the time when entering value in the table as a date format (always defaults to 02:00)

[2022-05-04 12:30] annieappflowy opened #478 "[Bug] Windows open row as a page pop up window too large"
**Describe the bug**
Opening a row record as a page on Windows too large to block other stuff

**Expected behavior**
A pop-up window over the main editor is displayed. The user can click elsewhere to close the pop-up window

**Desktop (please complete the following information):**
 - OS: Windows
 - Version: v0.0.4-beta.3

[2022-05-04 12:31] annieappflowy opened #479 "[Bug] Number type float format doesn't work"
**Describe the bug**
float doesn't work

[2022-05-04 12:33] annieappflowy opened #480 "[Bug] adding options the colors aren't generated randomly"
**Describe the bug**
Multi-select / Single select options - the color background isn't generated randomly

**Expected behavior**
Randomize the color options

[2022-05-04 12:34] annieappflowy opened #481 "[Bug] editing the doc title in the left-panel doesn't sync with the title shown in the editor"
**Describe the bug**
title syncing between the left panel and the main editor doesn't work properly

**Expected behavior"
title syncs between these two places

[2022-05-04 14:18] mizzyc opened #482 "[Bug] Mac app asking to "Create a new work area""
I just downloaded the release 0.0.4_beta.3, and got this bug:
<img width="912" alt="Captura de Tela 2022-05-04 às 11 16 45" src="https://user-images.githubusercontent.com/94845181/166701028-6e64a295-a680-4e0d-afd7-06c174efbbfe.png">

Nothing happens when I click the button and I can't do nothing with the app.
Same is happening with release 0.0.3.

[2022-05-04 14:21] annieappflowy opened #483 "[FR] reduce the delay of holding to drag"
There is a delay to the column becoming draggable, which I assume is intentional to prevent accidental reordering of the grid. I think it might be useful to add a tooltip or something which lets users know that they have to hold to drag. I wonder if it might also be better to reduce the delay a bit. It seems to take about 1 second before the drag is possible, but perhaps this should only be 500ms.

[2022-05-04 14:24] annieappflowy opened #484 "[FR] icons larger"
The only other issue I have noticed so far is that some of the icons seem really tiny. I don't have the best vision, and maybe it's a subjective thing, but for instance the double dot icon / menu button, the star icon next to the "getting started" folder, the trash icon and the drop down chevrons, they all seem really small and hard to make out.

[2022-05-04 15:21] mizzyc commented on #482
Updating: I downloaded the release 0.0.2 and it works fine. But still can't use the newest version :(

[2022-05-05 11:12] hhalsaif opened #487 "[FR] Caldav Support"
I think caldav support would be amazing to have for tasks and eventually calendars. The ability to connect project tasks in appflowy to an already feature rich external calendar or task management application would make it an amazing project management application.

[2022-05-05 19:28] GChalony opened #489 "[Confirm install platform] Mac Air and Fedora 35"
Hi, I just thought I'd share that I successfully installed `AppFlowy` on a MacBook Air with the latest M1 chip, and on a Dell Latitude with Fedora 35.
Maybe that can be added to the doc ?

Thanks for the awesome project anyway :wink:

[2022-05-06 09:24] HsunGong commented on #20
Put an eye here

[2022-05-08 02:11] matrixhead commented on #361
hey can I work on this?

[2022-05-08 10:22] #434 closed

[2022-05-08 13:00] Angel0726 commented on #147
will you develop different interactive versions for phones and tablet

[2022-05-08 16:15] liam-k commented on #487
+ 1 for this. What bugs me about Notion is that it has nice calendar features but there’s no way to sync it with your actual calendar. People have built third-party connections but those are all for Google Calendar, and there’s no way in hell I’m using that – I’d like to keep my data my own, which is why I’m interested in appflowy in the first place. This would fit perfectly.

[2022-05-08 16:39] apeyrat opened #491 "[Bug] Wrong Window placement if taskbar is on top (Windows)"
**Describe the bug**
I'm using Windows 11 with my taskbar located on top of my screen.
When starting appflowy, the appflowy menubar appear below my windows taskbar making the application unusable.

Tested with v0.0.4 beta3
This is not a regression, i faced the same issue with a previous version.

**To Reproduce**
Steps to reproduce the behavior:
1. On Windows,, move your windows taskbar on top (in

[2022-05-09 02:58] appflowy commented on #489
Hi, @GChalony thank you for using AppFlowy. AppFlowy works on Mac OS, Windows, and Linux-like systems.

[2022-05-10 02:30] normalhh opened #492 "[Bug] Dark Mode is not perfect"
**Describe the bug**
Look at the screenshot
<img width="1151" alt="ScreenShot_2022-05-10_10-18-28" src="https://user-images.githubusercontent.com/5423840/167530314-630ca644-7b92-49b7-9a6d-f6ad93ebd899.png">

The backgroud of some highlighted words is so similar with foreground color, words can not be read in the dark mode.

[2022-05-10 19:35] apomalyn opened #493 "[FR] Grid Select/Multiselect - color of the badge should be visible while editing property"
**Use case of the proposed feature**

As a user, I would like to see the colour of the badge when I'm editing it. Exactly like I see it when I assign an option to a cell (see screenshots).

**Current edition dialog**
<img width="474" alt="design - the badge color should appear like in 2" src="https://user-images.githubusercontent.com/22211097/167707883-5457ef56-6473-4f3a-97c9-d65b0cd2043e.png">

*

[2022-05-10 19:45] apomalyn opened #494 "[FR] Grid Select/Multiselect - always offer to add another option after creation of a new option."
**1~3 main use cases of the proposed feature**
As a user, when I create an option in a select or multi-select column there is a high probability that I will create another one.
To avoid switching from the keyboard to the mouse only to click the 'Add option' button, the text field to create another option should appear after I created a new option.

![Current behaviour](https://user-images.githubus

[2022-05-10 20:29] apomalyn opened #495 "[Bug] Grid Select/Multiselect - Unable to add option after column creation"
**Describe the bug**

Just after the creation of a column, I can't add an option for the select and multi select properties.
To be able to create an option I must exit the edition dialog and then reopen it.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to a grid page
2. Click on '+ New column'
3. Select the 'Select' or 'Multiselect' property type.
4. Click on '+ Add an option'
5. Type

[2022-05-11 00:25] apomalyn commented on #492
Duplicate of #433.

[2022-05-13 02:26] Mrwu-gui opened #497 "The VS Code Go to the Run and Debug TAB is abnormal"
Hello team,

I have a problem when I run with VS Code, and the screenshot is attached as follows
![image](https://user-images.githubusercontent.com/65527488/168199119-59c1f029-606a-4579-8e15-60d84c3c915e.png)

Hope to get your early solution, thank you

[2022-05-14 14:18] zhengcan commented on #497
You should add `import 'package:collection/collection.dart';` to the header of file.

Some files need `import 'dart:collection';` as well.

[2022-05-16 13:52] apomalyn commented on #429
This is a duplicate of #433. Could you close this and if missing something add a comment on #433 😄 Thank you!

[2022-05-16 13:54] #429 closed

[2022-05-18 15:09] Angel0726 opened #501 "[FR] Please increased to 6 level headings & import markdown"
**1~3 main use cases of the proposed feature**
i have many mardown file, and want import it to appflowy. can you develop feature whice imports markdown files. What's more,
markdown has 6 level  headings， but appflowy only have 3 level headings. so i can not import markdown file to appflowy  **Lossless (complete)**。

[2022-05-19 03:01] #477 closed

[2022-05-19 10:21] AlexisIndustries commented on #413
Hello? I have the same error while building production version of AppFlowy. `protoc-gen-dart` is installed via `dart pub`, but error is still occuring. You say, that `It should output the path of your protoc-gen-dart. e.g. .xx/pub-cache/bin/protoc-gen-dart`, so what is '.xx' folder and where it situated?

[2022-05-19 21:15] apomalyn opened #502 "[Bug] Emoji picker stuck until reboot"
**Describe the bug**

If you open the emoji picker and switch pages, you will have the emoji picker still open but cannot interact with it (can't close it, can't use it to add emoji)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a random doc page
2. Click on the emoji icon to open the picker
3. Change page to go on another Doc or Grid page.
4. See error

**Expected behavior**

When I

[2022-05-20 16:46] MikeWallaceDev commented on #495
Should have closed automatically with fix #485

[2022-05-20 16:46] #495 closed

[2022-05-20 16:48] MikeWallaceDev commented on #478
Should have closed automatically with fix #485

[2022-05-20 16:48] #478 closed

[2022-05-20 16:48] MikeWallaceDev commented on #479
Should have closed automatically with fix #485

[2022-05-20 16:48] #479 closed

[2022-05-20 16:48] MikeWallaceDev commented on #480
Should have closed automatically with fix #485

[2022-05-20 16:48] #480 closed

[2022-05-20 16:48] MikeWallaceDev commented on #481
Should have closed automatically with fix #485

[2022-05-20 16:48] #481 closed

[2022-05-21 16:35] rileyhawk1417 commented on #357
@gabriel-viviani do you need any help on this?

[2022-05-21 16:44] jcdickinson commented on #112
Found this issue through the FAQ. On Fedora you may need to install `openssl1.1.x86_64`, e.g.

[code]

[2022-05-24 02:43] annieappflowy opened #504 "[FR] Detect thousands separators"
**1~3 main use cases of the proposed feature**
Ex: As a grid user, I'd like to input ',' as a separator when entering numbers using the Number column
Right now, it doesn't recognize ',' as a separator

**what types of users can benefit from using your proposed feature**
Ex: users who work with the Number column to organize data

**Additional context**
![image](https://user-images.githubusercontent

[2022-05-24 14:19] appflowy commented on #494
@apomalyn Thank you for reporting. The issue was solved and will be released in next release package.

[2022-05-24 14:19] #494 closed

[2022-05-24 17:23] apomalyn commented on #492
Please @normalhh could you close this issue because it's a duplicate 😄 to avoid keeping it on the opened issues.

[2022-05-25 12:54] MikeWallaceDev commented on #404
Have you tried clicking on that "Doc" button?

[2022-05-26 09:33] annieappflowy opened #508 "[Bug] Number editing"
**Describe the bug**
Editing an existing value displayed in a number format leads to the disappearance of the value

**To Reproduce**
Steps to reproduce the behavior:
1. Set a Number column in US dollar
2. Input 1000000
3. Press enter and it will be displayed as $1,000,000
4. Then re-enter the edit mode and delete a '0'
5. then enter

**Expected behavior**
The number value gets updated and display

[2022-05-26 09:36] annieappflowy commented on #502
Thanks @apomalyn , I added the bug label, and I will check with Nathan to see if it's good first issue for dev :D
BTW, are you able to add labels? I'm trying to figure out if I need to grant you some extra permissions.

Thanks,
Annie

[2022-05-26 09:37] annieappflowy commented on #497
Hello @Mrwu-gui  is this resolved?

[2022-05-26 09:58] annieappflowy opened #509 "[Bug] Select options"
**Describe the bug**
When picking an option in the dropdown list by clicking the area in color, it doesn't work

**To Reproduce**
Steps to reproduce the behavior:
1. Create two options in a single-select column
2. Switch one option to another by clicking on its capsule

**Expected behavior**
can select the option by clicking on the capsule area

**Screenshots**
<img width="298" alt="2022-05-26 (1)

[2022-05-26 09:59] #492 closed

[2022-05-26 10:01] annieappflowy commented on #489
Thanks @GChalony  for sharing this info. I'll update the doc.

[2022-05-26 13:28] apomalyn commented on #502
Hi @annieappflowy ! I'm only able to create and comment issues. It would be wonderful if I could add labels! 😀

[2022-05-26 17:17] MikeWallaceDev commented on #147
This is a question, not a feature request.

[2022-05-26 17:17] #147 closed

[2022-05-27 01:40] changchichung commented on #180
same issue in ubuntu 22.04

[2022-05-29 23:46] valmormn commented on #180
Ubuntu 20.04 LTS

[2022-05-30 10:42] #508 closed

[2022-06-01 10:54] Minecodecraft commented on #413
Hey @Jam1zhu  @AlexisIndustries  . I've got this issue as well, and fixed it by running `pub global activate protoc_plugin`.

To troubleshoot, you guys can try to print the command it triggered in `mod.rs line:102`(as the error log describes), then run it in your shell manually to find the root cause. Here's my approach for the issues encountered:

1. `command not found: pub`
export your pub path

[2022-06-01 12:22] appflowy commented on #413
It seems the problem is the terminal (launch by VS Code) can't find the protoc_plugin in $PATH, even though you install it. Please follow these steps to fix the issue.
1. Pull the latest code from the Main branch
2. Build AppFlowy.
3.  If you get some errors like this:
![image](https://user-images.githubusercontent.com/86001920/171402194-355d2008-5e08-4051-becf-a292a5ad199f.png)
Make sure  $HOME/.

[2022-06-01 13:49] annieappflowy opened #522 "[Bug] Click the option capsule to create a new value"
**Describe the bug**
Entering a new option value shows "Create (the value)" but it cannot be clicked to confirm

**To Reproduce**
Steps to reproduce the behavior:
1. Using a single-select column to add a new option value
2. Click on the capsule button

**Expected behavior**
The new option value should be created and selected

**Screenshots**
![image](https://user-images.githubusercontent.com/12026

[2022-06-01 13:53] annieappflowy opened #523 "[Bug] Renaming window doesn't close when creating another new option"
**Describe the bug**
While renaming an option value persists, I can create another new option value

**To Reproduce**
Steps to reproduce the behavior:
1. Rename an option value
2. Enter another value

**Expected behavior**
Renaming window should auto close

**Screenshots**
![image](https://user-images.githubusercontent.com/12026239/171420689-7bd728ef-2c49-405e-b11a-5c4530c51819.png)

[2022-06-01 19:59] moksh-mahajan commented on #522
@annieappflowy @appflowy I would love to work on this enhacement. Can you please assign it to me?

[2022-06-02 06:30] appflowy commented on #523
Hi, @moksh-mahajan Thank you for your contribution to AppFlowy. I assigned the ticker for you. You can DM me if you have any questions.

[2022-06-03 04:14] moksh-mahajan commented on #523
@appflowy Can we close this one?

[2022-06-03 04:15] moksh-mahajan commented on #522
@appflowy I think we can close this now.

[2022-06-03 04:27] #522 closed

[2022-06-03 04:28] annieappflowy commented on #523
Thank you for contributing to AppFlowy!

[2022-06-03 04:28] #523 closed

[2022-06-03 04:31] #504 closed

[2022-06-03 04:39] moksh-mahajan commented on #358
@annieappflowy Are you mentioning blocs located at frontend/app_flowy/lib/workspace/application/, since there is no infrastructure directory inside frontend/app_flowy/lib/workspace/ ?