[2022-10-14 08:09] #1151 closed

[2022-10-14 11:38] eugenesvk opened #1279 "[Bug]: huge app size due to duplicate (non-symlinked) framework files"
### Bug Description

The macOS app is ~180Mb, which is surprising for a non-Electron app.
I've noticed that there are multiple duplicate identical files in a structure that is usually one regular file with multiple symlinks, e.g.
[code]

Same thing with the `FlutterMacOS.framework`

### How to Reproduce

Download the zip release file from this repo
Unzip it
View the content of the `AppFlowy.app` a

[2022-10-14 12:55] LucasXu0 commented on #1279
It's odd. The size of the macOS app is about 140MB when I execute the `flutter build macos --release` on my local desktop. But the size of the macOS app is about 180+MB when it is built from CI.

I will try to fix it before releasing the next version.

[2022-10-14 13:33] ChiragKr04 commented on #1223
I'm able to produce this on `Windows 11`. I'll work on this.

[2022-10-14 13:43] LucasXu0 opened #1280 "[FR] Report Binary Size"
### Description

Binary size is an important metric for us, and it is easy to overlook. It would be nice if we had some sort of GitHub integration (a bot or action or app) that would automatically do a release build of a new PR, and report the difference in binary size between that PR and the current main branch.

### Impact

Let us focus on the app size easily.

### Additional Context

This imple

[2022-10-14 13:45] LucasXu0 commented on #1280
An illustrative example that we need this function. https://github.com/AppFlowy-IO/AppFlowy/issues/1279

[2022-10-14 15:24] MayurSMahajan commented on #1070
Thank you guys! I am getting a new laptop in a few days until then I won't be able to code these designs in the flutter app. So I am working on more designs. Until then If @ChiragKr04 wants to implement any one of the above designs then definitely go for it!

[2022-10-15 08:44] LucasXu0 commented on #1279
Hi, @eugenesvk. The `symlink` parameter is not passed when compressing. I updated the build script and verified it on my personal repo. Thank you so much for the suggestion.

https://github.com/LucasXu0/AppFlowy/releases/tag/1000.0.0

[2022-10-15 08:47] LucasXu0 commented on #1279
The size of the macOS package has dropped by about 40MB.

**Before**
<img width="1367" alt="before" src="https://user-images.githubusercontent.com/11863087/195977849-95b60880-ce51-4797-af37-52ad759f7611.png">

**After**
<img width="1410" alt="after" src="https://user-images.githubusercontent.com/11863087/195977858-f3b5bfb1-5ddd-4479-85b8-a2d80ceadb07.png">

[2022-10-15 09:04] #1064 closed

[2022-10-15 09:13] #1279 closed

[2022-10-15 09:40] eugenesvk commented on #1279
Can confirm that your fork has symlinks and those two huge app/fluttermacos framework files aren't duplicate any more, thanks!
Still looks a bit large for a native note app (100m=50m two frameworks + 50m the app binary itself), but that's a separate issue

[2022-10-16 12:16] cbenhagen opened #1290 "[Bug] 300ms delay on buttons in titlebar"
### Bug Description

When clicking on the "close side bar" or "Share" button in the title bar there is a 300ms delay before the button reacts. This feels as if the app is very slow.

This is due to the underlying the `onDoubleTap` handler of the `GestureDetector` in `MoveWindowDetector` waiting for a potential second tap before defering the tap handling to its child.

### How to Reproduce

Click o

[2022-10-16 12:49] #1223 closed

[2022-10-16 14:03] ChiragKr04 commented on #1290
It might look slow. But it is a part of appflowy UX. Making it react instantly will make it snappy with no animation. I might be wrong but @annieappflowy can suggest.

[2022-10-16 16:04] cbenhagen commented on #1290
Maybe I should have been clearer. I didn't mean to ommit the animation. This issue is about not having a 300ms delay before the animation starts.

The `GestureDetector` responsible for this 300ms delay is only used under macOS so it seems pretty clear that the delay is is not intentional:
https://github.com/AppFlowy-IO/AppFlowy/blob/7b53b2c523e43aeaedfa71956e69ee377213b88b/frontend/app_flowy/lib/c

[2022-10-17 02:01] LucasXu0 commented on #426
Did you mean to embed the Latex in the text? Like this,

<img width="509" alt="" src="https://user-images.githubusercontent.com/11863087/196073395-2bc346be-568e-4480-b512-977893394f7e.png">

[2022-10-17 02:04] LucasXu0 commented on #426
It's possible. But it hasn't happened yet.

[2022-10-17 02:08] annieappflowy commented on #1290
@cbenhagen @ChiragKr04  thanks. I can reproduce on macOS. I agree that it reacts slower than it should be.

[2022-10-17 02:09] annieappflowy commented on #1290
@LucasXu0 , can you evaluate if this is a good issue for Hacktoberfest?

[2022-10-17 02:14] LucasXu0 commented on #1279
The size of a new-created flutter app without any features is about 46M. So I think it is acceptable for the 100M now.

[2022-10-17 02:48] LucasXu0 opened #1292 "[Bug] Disable unexpected logs to the console in the release mode."
### Bug Description

I found some logs are outputted to the console when I used AppFlowy installed by flatpak.

### How to Reproduce

* install the AppFlowy through flatpak or run the app in the terminal directly.

### Expected Behavior

Only useful information should be printed out to the console.

### Operating System

Ubuntu 22.04

### AppFlowy Version(s)

0.0.5.3

### Screenshots

<img width="

[2022-10-17 05:10] #1179 closed

[2022-10-17 05:16] LucasXu0 commented on #1290
OK. The main reason for this issue is that the two gestures are in conflict. I think using `Listener` instead of `GestureDetector` is a way to fix this issue. Maybe there is a better way, but I don't find yet.

[2022-10-17 05:22] LucasXu0 commented on #1290
<img width="728" alt="" src="https://user-images.githubusercontent.com/11863087/196095443-f68a5e18-a165-422c-b94b-873c35b3be10.png">

[2022-10-17 05:30] LucasXu0 commented on #1290
[code]

[2022-10-17 07:13] LucasXu0 opened #1295 "[FR] Grid: Support pressing enter to exit editing the property filed"
### Description

<img width="637" alt="" src="https://user-images.githubusercontent.com/11863087/196111144-9be11271-4f7e-4823-9639-889cd78d8068.png">

For now, we can only exit editing the text field by using the mouse. It's not high efficiency.

### Impact

It will be higher efficient to edit the property if we implement this feature.

### Additional Context

_No response_

[2022-10-17 07:17] SSebigo commented on #426
@LucasXu0 How did you achieve the inline formula in your screenshot?

[2022-10-17 07:22] LucasXu0 opened #1296 "[Bug] Grid: Incomplete display of the property names"
### Bug Description

<img width="548" alt="" src="https://user-images.githubusercontent.com/11863087/196113010-2e00dd47-7bea-42f2-97e4-3cfc4ba7ff05.png">

As the screenshot shows, only the `Name` is displayed on the field but I have typed `Name ABCDEFG`

### How to Reproduce

typing long text in the grid property field.

### Expected Behavior

It will be better to show `Name ABCDE...` than `Name`

[2022-10-17 07:31] LucasXu0 opened #1297 "[Bug] Can't open the inline link in the Grid on Ubuntu"
### Bug Description

![image](https://user-images.githubusercontent.com/11863087/196115141-4e2780d2-56df-454b-887d-12deb1dae415.png)

There is no effect when double-clicking the link.

### How to Reproduce

* Change the filed type to Link
* Enter the link
* Double-click it

### Expected Behavior

Open the link successfully

### Operating System

Ubuntu 22.04

### AppFlowy Version(s)

0.0.5.3

###

[2022-10-17 07:33] Miradin commented on #836
I do not see the description of feature, but I would imagine it like this:
* Tab buttonpress would automatically start bulleted list.
* When inside bulleted list, Tab would create new inner level.

[2022-10-17 07:39] LucasXu0 opened #1298 "[Bug] Grid: Incomplete placeholder for the Name field."
### Bug Description

<img width="907" alt="" src="https://user-images.githubusercontent.com/11863087/196116179-b560bc2c-34a6-4d6f-a8cd-4221ae6b2ddd.png">

### How to Reproduce

* Create a grid
* Select a field under the name property
* Click the `Open as a page` button

### Expected Behavior

The placeholder shows completely.

### Operating System

macOS 12.6

### AppFlowy Version(s)

0.0.5.3

###

[2022-10-17 07:46] LucasXu0 opened #1299 "[Bug] Board: the text on the card is not displayed completely"
### Bug Description

 [Screencast from 17-10-22 14:41:00.webm](https://user-images.githubusercontent.com/11863087/196118118-72d5052a-50ed-4f9f-9fad-24fa5b592ace.webm)

Only the `card 2` text has been displayed after I typed the `card 2\ncard 5`.

### How to Reproduce

* Create a board
* Select a card
* Input something and tap the Enter key

### Expected Behavior

All text will be displayed on the

[2022-10-17 07:46] Miradin opened #1300 "[FR] Right button mouse support"
### Description

On right mouse button click show standard menu with options:
* copy
* paste
* delete

Maybe, additionally:
* clear formatting
* all capital
* all lowercase

### Impact

At this moment, there are no actions on right button click and standard behavior is expected.

### Additional Context

Please, add Editor tag.

[2022-10-17 07:51] LucasXu0 opened #1301 "[Bug] Could not drag the board on Ubuntu"
### Bug Description

It's no effect when dragging the board card on Ubuntu

### How to Reproduce

* Create a board
* Drag the card

### Expected Behavior

The board card can be dragged normally

### Operating System

Ubuntu 22.04

### AppFlowy Version(s)

0.0.5.3

### Screenshots

_No response_

### Additional Context

_No response_

[2022-10-17 07:53] Miradin opened #1302 "[FR] Print a document, page or a fragment"
### Description

It would be useful to have a possibility to print a page directly from AppFlowy, without the need to copy the content to another application with a chance to break the layout.
Additionally, allow the user to choose the fragments (text fragments or several cards on kanban) and print only those, using the menu from right button mouse click ([menu suggestion is here](https://github.c

[2022-10-17 07:59] LucasXu0 opened #1303 "[FR] Support .deb package for Linux"
### Description

It's a normal installation way on Linux. Please integrate the `.deb` installation way on the release page.

### Impact

The Linux user will be easier to install AppFlowy.

### Additional Context

https://www.debian.org/doc/manuals/debian-faq/pkg-basics.en.html
https://pub.dev/packages/flutter_to_debian

[2022-10-17 08:07] LucasXu0 opened #1304 "[FR] Support .dmg package for macOS"
### Description

It's a normal installation way on macOS. Please integrate the `.dmg` installation way on the release page.

### Impact

The macOS user will be easier to install AppFlowy.

### Additional Context

https://iphonewired.com/common-problems/354415/

[2022-10-17 08:10] LucasXu0 opened #1305 "[FR] Support .exe setup for Windows"
### Description

It's a normal installation way on Windows. Please integrate the `.exe` setup installation way on the release page.

### Impact

The Windows user will be easier to install AppFlowy

### Additional Context

https://retroportalstudio.medium.com/creating-exe-executable-file-for-flutter-desktop-apps-windows-ea7c338465e

[2022-10-17 08:35] LucasXu0 opened #1306 "[Bug] The document data could not be saved on Ubuntu"
### Bug Description

After installing AppFlowy through Flathub, I found the document could not be saved.

https://github.com/flathub/io.appflowy.AppFlowy

### How to Reproduce

* Install Appflowy through Flathub
* Open a doc and input something
* Re-launch AppFlowy

### Expected Behavior

The document can be saved successfully.

### Operating System

Ubuntu 22.04

### AppFlowy Version(s)

0.0.5.3

[2022-10-17 09:09] siddhesh-coder commented on #1305
assign me this issue

[2022-10-17 09:38] Kaijiro opened #1307 "[Bug] DatePicker cannot go further in the past than July (for now)"
### Bug Description

I am fiddling with the grid and actually the DatePicker is kinda ... stuck : I can't go earlier than July 2022 and further than January 2023.
I correspond to the actual semester, maybe it's a "widget" misconfiguration ?

### How to Reproduce

Create a Grid page, add a Date column.
Add a row then try to select the 1st of January 2022.

### Expected Behavior

I should be able to

[2022-10-17 11:04] waveywaves opened #1308 "Investigate increasing developer productivity with pull requests environments"
### Description

I would like to make life easier for existing and new AppFlowy contributors including maintainers by implementing [Uffizzi](https://github.com/UffizziCloud/uffizzi) previews.
Disclaimer: I work on Uffizzi

### Impact

Uffizzi is a Open Source full stack previews engine and is free for AppFlowy. This will provide newcomers with previews of their PRs in the cloud, allowing them iter

[2022-10-17 11:12] richardshiue commented on #1307
Can confirm. The current calendar specifically only allows you to go 3 months forward or backward in time. Perhaps it was causing performance problems in the past, I'm not sure. But this definitely needs improvement

[2022-10-17 12:04] VenomSupreme opened #1309 "[FR] Show how many times an option is used in Grid"
### Description

Show how many times an option is used in "select" and "multiselect" format in Grid.

My suggestion is adding the number of times a option is used in front of the option when opening Edit property.

![image](https://user-images.githubusercontent.com/69515491/196172268-4f0b23ba-73c8-4506-a588-8f2790eb1727.png)

### Impact

Keeps a track of how many times an option is used, helping m

[2022-10-17 12:15] #836 closed

[2022-10-17 13:28] LucasXu0 commented on #1306
https://github.com/flathub/io.appflowy.AppFlowy/pull/1

[2022-10-17 14:02] #1306 closed

[2022-10-17 15:14] VenomSupreme opened #1310 "[FR] Local Sync for data backup"
### Description

We can sync our data to a folder, backing up all our data locally.

In case of a crash, reinstall when all our data gets lost, we should be able to link the folder in appflowy and it'll sync all our data back.

Option to set the time for data sync, like every 5minutes, every day, every time app starts etc.

### Impact

Backup for all our data, always a good thing.

Import/export i

[2022-10-17 16:12] TomerPacific commented on #1181
@appflowy  - Currently stuck with a local development issue (discussed at the discord channel). Might be worthwhile to assign this to someone else.
I'll update if I can overcome this issue.

[2022-10-17 17:37] alemoreau commented on #1296
Hi @LucasXu0 !
Can I work on this ?

[2022-10-18 00:57] xsrq opened #1311 "[Bug] windows7 software opens with a black screen"
### Bug Description

When the software is opened, a black screen is displayed, no error is reported, and the downloaded software is a compressed package

### How to Reproduce

Don't know how this problem arises

### Expected Behavior

The software opens and displays the interface

### Operating System

windows7

### AppFlowy Version(s)

v0.0.5.3，v0.0.5.2

### Screenshots

_No response_

### Additi

[2022-10-18 01:41] annieappflowy commented on #1308
Have you tried if your product works with AppFlowy?

[2022-10-18 02:04] LucasXu0 commented on #1296
Hi, @alemoreau. Sure, I assigned it to you.

[2022-10-18 02:06] annieappflowy opened #1312 "[FR] Manage options"
### Description

rearranging options would also be a good thing, so we can easily put the options which we use most on top, making it easier to select those options when filling
i currently have like 20 options in a column
i think there can be alot of customizations in options, like selecting multiple options and deleting them, reordering them, and changing colors of them

### Impact

Users who ar

[2022-10-18 03:25] williamgh2019 opened #1313 "[Bug] Kindly make this app be able to install on MAC"
### Bug Description

During installation MAC show an warning to move AppFlowy to trash.

### How to Reproduce

Click to install it will pop up warning

### Expected Behavior

Can be install without warning from MAC

### Operating System

macOS Monterey

### AppFlowy Version(s)

0.0.5.3

### Screenshots

<img width="268" alt="image" src="https://user-images.githubusercontent.com/17005582/196328530-

[2022-10-18 03:36] annieappflowy commented on #1313
Hi @williamgh2019 , thanks for your suggestion. The reason why you got this warning is because we haven't purchased developer certificates from Apple. You can right click on the AppFlowy icon and select open. This route will bypass this warning message. We'll buy a developer certificate in the future.

[2022-10-18 04:03] williamgh2019 commented on #1313
<img width="664" alt="image" src="https://user-images.githubusercontent.com/17005582/196332715-ba6e791c-10b1-4095-888f-5581ab075698.png">

FYI: I try out HomeBrew but it still got same warning.

[2022-10-18 07:50] LucasXu0 commented on #1300
Hi, @Miradin. Thanks for your suggestions. I implemented a simple context menu, like this

<img width="790" alt="" src="https://user-images.githubusercontent.com/11863087/196368979-297f607f-82fe-48f6-8fa2-65d2a9a90c5c.png">

Does this meet your needs?

[2022-10-18 08:39] annieappflowy commented on #1181
@TomerPacific
reposting here in case other Windows devs can help:
<img width="860" alt="image" src="https://user-images.githubusercontent.com/12026239/196380816-9843d78e-9582-47ae-889f-3b5afe177358.png">

[2022-10-18 08:42] annieappflowy commented on #1313
Thanks @williamgh2019 !
Purchasing a dev cert from Apple soon

[2022-10-18 08:42] #1313 closed

[2022-10-18 10:34] Miradin commented on #1300
Hello Lukas, that looks good! Thank you.
Have you thought about extended functionality? Maybe, not now, but in some future releases?

[2022-10-18 11:12] LucasXu0 commented on #1300
Yup. We will implement the additional functionality.

[2022-10-18 17:11] apomalyn commented on #1304
@annieappflowy I can take this one if possible.

Everything would be on the github workflow nothing directly on the code

[2022-10-19 01:13] #1296 closed

[2022-10-19 03:51] agent515 commented on #1299
I would like to give this a go. Is the issue present only on Ubuntu or all the platforms?

[2022-10-19 04:01] LucasXu0 commented on #1299
Hi, @agent515. I only reproduced this issue on Ubuntu. It works fine on macOS.

[2022-10-19 07:04] ramanverma2k commented on #1303
Hi!
I can work on this issue. Can you please assign it to me?

[2022-10-19 07:10] annieappflowy commented on #1303
Hi #ramanverma2k , thanks! Just assigned it to you

[2022-10-19 13:32] ChiragKr04 commented on #1298
I can reproduce it on `Windows 11`. I'll work on this.

[2022-10-19 15:11] LucasXu0 commented on #1298
Sure! I assigned it to you.

[2022-10-19 16:59] AdiAr11 commented on #1290
Hi, I've successfully built the app for mac. @LucasXu0 could you please guide me a little? Is the issue because of GestureDetector in frameless_window.dart which you shared?

[2022-10-19 17:00] AdiAr11 commented on #1290
What should I look for in this file?

[2022-10-19 17:23] Chirag8023 commented on #1002
I would like to work on this Issue ! Can I work on it ?
Please assign this issue to me.

[2022-10-20 02:34] annieappflowy commented on #1002
Thanks, Chirag. Assigned it to you

[2022-10-20 02:57] LucasXu0 commented on #1290
Hi, @AdiAr11. The file locates in `frontend/app_flowy/packages/flowy_infra_ui/lib/widget/rounded_button.dart`. The share button has to delay its response because of the `GestureDetector` in `frameless_window.dart`.

[2022-10-20 03:40] LucasXu0 commented on #1297
Hi, @Chirag8023. The code locates in `frontend/app_flowy/lib/plugins/grid/presentation/widgets/cell/url_cell/url_cell.dart`.

![image](https://user-images.githubusercontent.com/11863087/196850791-697f9fe0-a85c-44ed-943d-31cf36d0ccde.png)

By the way, I can only reproduce it on 0.0.5.3 but not in the `main` branch.

[2022-10-20 03:48] annieappflowy commented on #1302
Hi @Miradin , thanks for requesting this feature. I'd like to better understand your need. What makes you want to print a page or a part of it? Do you want to make a poster or handout?

[2022-10-20 03:56] LucasXu0 commented on #426
@SSebigo I didn't implement the inline formula for now. This screenshot is from Github. The inline LateX feature is on my plan.

[2022-10-20 05:59] Chirag8023 commented on #1002
@annieappflowy where to get the data of supported operating systems and the minimum requirements

[2022-10-20 06:10] Miradin commented on #1302
Hello, Annie,
I'm trying to use Flowy for different type of notes and sometimes I do need to share my note with others. Printing (or exporting to PDF) is one of the widely compatible options.

[2022-10-20 06:14] ramanverma2k commented on #1303
Thank you very much!

I'll get on it ASAP.

[2022-10-20 11:53] Chirag8023 commented on #1297
I thought this is an easy one but this issue is harder than I thought !
Can you help me on what changes to make?

[2022-10-20 13:51] liudonghua123 opened #1323 "[FR] Copy and paste image support"
### Description

It would be nice if AppFlowy support paste image from clipboard.

### Impact

normal user which need to embed/insert some image in the document.

### Additional Context

the pasted image needs to save to somewhere and generate the image link in the document.

[2022-10-20 14:04] AdiAr11 commented on #1290
Oh, Okay. I'll try to fix this. Thank you!

[2022-10-20 14:09] cbenhagen commented on #1290
You might also want to wrap your `Listener` in `GestureDetector` with an empty `onDoubleTap` handler so that double clicking your new button will not maximize the window.

[2022-10-21 00:38] FriedrichGaming commented on #175
https://flathub.org/apps/details/io.appflowy.AppFlowy

[2022-10-21 01:22] LucasXu0 commented on #175
Hi, All. We have released the latest AppFlowy on Flathub.

[code]

[2022-10-21 01:22] #175 closed

[2022-10-21 01:48] #1298 closed

[2022-10-21 05:46] AmoleR commented on #1174
I'd love to help with this. This would just be making a new controller for date (and changing the grayed-out version of Date to a selectable version). Am I missing anything?

[2022-10-21 07:34] kaggrwal commented on #1096
@annieappflowy I have raised a PR, can you please review it and merge it ?

[2022-10-21 07:56] MrHeer commented on #1295
@LucasXu0 Hi, Can I take this?

[2022-10-21 08:59] annieappflowy opened #1324 "[Bug] Double clicking the title triggers maximizing the application window"
### Bug Description

I wanted to double click to select all but it triggers maximizing the application window

### How to Reproduce

<img width="638" alt="image" src="https://user-images.githubusercontent.com/12026239/197156752-6c2a796b-50dc-4fa8-be32-c5dde4410d70.png">

### Expected Behavior

auto select all the text of the current title

### Operating System

macOS

### AppFlowy Version(s)

main

[2022-10-21 09:06] annieappflowy opened #1325 "[Bug] undo Quote doesn't work"
### Bug Description

I marked some text as code and formatted as Quote then I can't undo Quote via clicking on the Quote icon.
Same as I inserted a Quote block through '/'

### How to Reproduce

<img width="512" alt="image" src="https://user-images.githubusercontent.com/12026239/197158189-2bd0ea9b-ae05-4fcb-b0fd-553854af6e98.png">

### Expected Behavior

I can undo the Quote format by clicking on

[2022-10-21 09:19] annieappflowy opened #1326 "[Bug] bulleted list text changed to Heading doesn't allow deleting"
### Bug Description

I inserted a bulleted list and then formatted as H1 then it doesn't allow me to delete the text
if I undo H1, it goes back to normal

### How to Reproduce

create a bulleted list and format a line as H1
<img width="426" alt="image" src="https://user-images.githubusercontent.com/12026239/197161226-a1f4afcb-aed6-42e4-aa88-556bde7f755d.png">

### Expected Behavior

this corner ca

[2022-10-21 09:22] annieappflowy opened #1327 "[FR] handle failed to upload an image"
### Bug Description

if the image is not successfully inserted, the system should tell the user by showing an error msg

### How to Reproduce

use slash to insert an image

### Expected Behavior

show an error msg telling users what to do

### Operating System

macOS

### AppFlowy Version(s)

integrate_appflowy_editor

### Screenshots

_No response_

### Additional Context

_No response_

[2022-10-21 09:29] annieappflowy opened #1328 "[FR] Support tab to indent checkbox"
### Description

Support using 'Tab' to indent a checkbox line so we can use it to represent a subtask
Currently, the bulleted list supports indentation
<img width="148" alt="image" src="https://user-images.githubusercontent.com/12026239/197162996-8e805a13-8cdf-40f8-9da4-35e5b13280f1.png">

### Impact

Users who use checkboxes to track tasks and need multi-level checkboxes

### Additional Context

[2022-10-21 09:32] annieappflowy opened #1329 "[Bug] Unable to scroll the slash command menu when the menu is not fully displayed"
### Bug Description

<img width="580" alt="image" src="https://user-images.githubusercontent.com/12026239/197163681-8a05d091-fcc7-4034-85f1-e5cabb0cbdf5.png">

As shown in the screenshot, I cannot scroll to see all the options the slash command menu has

### How to Reproduce

go the the bottom of the editing page and type '/' to trigger the menu

### Expected Behavior

There is a way I can see all

[2022-10-21 09:40] annieappflowy opened #1330 "[Bug] Copy paste doesn't work properly"
### Bug Description

<img width="273" alt="image" src="https://user-images.githubusercontent.com/12026239/197165236-d0d2b347-d6fb-48dc-94aa-11b3dc68237a.png">

### How to Reproduce

Copy multiple lines by using command + A and command + C
Paste by using command + V
You will see it's reversed

### Expected Behavior

Pasted text should look the same as copied text

### Operating System

macOS

### A

[2022-10-21 10:50] ARGF0RCE opened #1332 "[FR] Support markdown rendering, compilation and export for easier switching from Notion to AppFlowy"
### Description

The app does not autorender markdown, as a result no compiler for markdown, and I don't see any option for Exporting it as markdown or pdf. The video recording below shows the same. I understand that the goal is to not completely replicate Notion but I think adding autorender features for markdown would be a huge plus for the app. Otherwise I face only a few bugs which I think the

[2022-10-21 10:51] ARGF0RCE commented on #1332
I think that I can work on this feature. If you can provide me some kind of roadmap on what features to be included and what limitations would be there to make such a feature, that would be of great help. Although I am new to open source, I am not new to flutter, dart, a little bit of rust, python, devops, machine learning, tensorflow, robotics. I will be glad to make my first contribution to this

[2022-10-21 14:30] lwchkg commented on #144
Is anyone actively working on this issue? If no I'd like to have a look and see if I can solve it.

Anyway, this will take some time because the issue appears to be some feature yet to be coded instead of a bug in some existing code. The states whether tree items are expanded appear to be lost when the side panel collapse.

P.S. it would be nice to hear from the original contributor why this trade

[2022-10-22 07:07] AdiAr11 commented on #1290
@cbenhagen Sure, thank you!

[2022-10-22 07:46] annieappflowy opened #1334 "[FR] Bulleted list to support shift + tab to outdent"
### Description

Now I can press 'Tab' to indent a bullet item but cannot use shift+tab to outdent

### Impact

Shortcut users who use bulleted lists to organize information

### Additional Context

_No response_

[2022-10-22 09:32] AnirudhDaya opened #1335 "[Enhancement] A hyperlink for LICENSE.md in the README file"
Hello maintainers,
I would like to propose an addition/improvement to the existing license section of your [README](https://github.com/AppFlowy-IO/AppFlowy/blob/main/README.md#license) file.
It's a hyperlink to your LICENSE.md, so it's currently like this:  `LICENSE.md` and I would like to change it into a hyperlink like this [`LICENSE.md`](https://github.com/AppFlowy-IO/AppFlowy/blob/main/LICENSE

[2022-10-23 01:00] lwchkg commented on #144
Searched the code, confirm that the function `_expandIfNeed` and the value of `initialExpanded`, both in `app_bloc.dart`, creates the behavior described in this issue. This "buggy" behavior looks like a workaround of some underlying issue.

Also, those ExpandablePanel instances appear to be destroyed and recreated in the process, which ideally should not happen at all.

[2022-10-23 03:54] richardshiue opened #1338 "[FR] Tooltip design"
### Description

The appflowy design doc has the following design when hovering over the toolbar in the flowy editor

![image](https://user-images.githubusercontent.com/71320345/197372569-6519e470-785f-48d1-a550-40477338040d.png)

Is this the desired tooltip style that will be used throughout the application? If so, I'd love to see it get implemented. There is an issue to consider though: the shor

[2022-10-23 10:08] richardshiue commented on #689
@annieappflowy I believe this has been implemented, should be good to close

[2022-10-23 10:11] #1081 closed

[2022-10-23 18:41] richardshiue opened #1345 "[Bug] Flowy Hover Effect Disappearing on Hover when it triggers a Popover"
### Bug Description

Title says all. Opening an issue here in case I forget about this.

### How to Reproduce

1. Go to a grid cell header
2. Click edit property
3. Hover over the type option
4. Observe that the hover effect disappears until you move the mouse out of the rectangle and then back in again, after which it will show for a split second and disappear once again.

### Expected Behavior

[2022-10-23 20:34] AkechiShiro commented on #394
I've hit this issue on the latest release, I can confirm the fix is working.

[2022-10-24 02:11] VoidCupboard commented on #1172
I would like to work on this issue 😄

[2022-10-24 07:33] ramanverma2k commented on #1303
Hi,

I need some advice regarding the implementation of package generation.
While it would be quite faster & painless to make deb package using ```flutter_to_debian```, I don't think that it's would be the right kind of approach as depending on a third party package for a single purpose would be quite meaningless.

I was thinking of extending the linux script defined in flutter.toml to generate de

[2022-10-24 12:19] saimaheshtaduri opened #1349 "[FR] update readme"
### Description

The issue link in readme isn't appropriate.

### Impact

This change helps users raise issues easily.

change from
If you'd like to propose a feature, submit an issue [here](https://github.com/AppFlowy-IO/appflowy/issues).
to :
If you'd like to propose a feature, submit a feature request [here](https://github.com/AppFlowy-IO/AppFlowy/issues/new?assignees=&labels=&template=feature_

[2022-10-24 12:20] saimaheshtaduri commented on #1349
@appflowy

[2022-10-24 17:54] andercard0 opened #1350 "[Bug] Pages"
### Bug Description

As soon as I opened my notes after update I realize that there is a new page with 'NoStatus' label on it, so far so good it was just a matter of move this new page to the end..but.. I moved it and soon as i reopen the app it return to its starting point. as shown below.

![MovePage](https://user-images.githubusercontent.com/43047877/197591611-5eb38462-8242-40f0-9428-32a99158f9

[2022-10-24 19:26] rshchekotov opened #1351 "[Bug] Invalid (Dark) Theming of Editor Menu's"
### Bug Description

There are several menu's where the theming is off in Dark Mode, which either simply looks off or even makes the menus unreadable.

Examples would be:
- Barely readable "Right-Click in Editor > [Cut; Copy; Paste] Context Menu" on Hover
- Not readable Link/URL Editor: White-on-White (likely simply unfinished)
- Perhaps unintended thick white border around the before mentioned Cu

[2022-10-24 21:09] novload opened #1352 "[Bug] IME preview results do not disappear after typing"
### Bug Description

1. When I type Chinese, IME preview results do not disappear after typing.
2. The characters are in the wrong position when typing multiple times.

### How to Reproduce

Windows11, Microsoft Pinyin IME, type Chinese in editor.

### Expected Behavior

The preview should disappear after typing

### Operating System

Windows11 22621.674

### AppFlowy Version(s)

0.0.6

### Screen

[2022-10-24 22:48] alemoreau commented on #1325
Hi ! I took the liberty of trying to fix this issue in this PR. https://github.com/AppFlowy-IO/AppFlowy/pull/1353 :innocent:
I'm open to any feedback.

[2022-10-25 00:35] #1255 closed

[2022-10-25 02:35] LucasXu0 commented on #1303
Hi, @ramanverma2k. I read the documentation(https://pub.dev/packages/flutter_to_debian), and don't think we need to depend on `flutte_to_debain` directly. We can integrate the `flutter_to _debian` into the CI stage.

[2022-10-25 03:20] LucasXu0 commented on #1352
Hi, @novload. We will try to adapt the IME for Windows and Linux.

[2022-10-25 03:25] LucasXu0 commented on #1330
It was fixed in https://github.com/AppFlowy-IO/AppFlowy/issues/1330.

[2022-10-25 03:25] #1330 closed

[2022-10-25 06:13] Smartmind12 commented on #191
@MikeWallaceDev Can i take this issue up and document it on readme for better usability??

[2022-10-25 06:34] LucasXu0 commented on #1325
Thanks. I merged it and added some tests.

[2022-10-25 06:34] #1325 closed

[2022-10-25 06:46] Smartmind12 opened #1355 "[FR] Tanslate into Bengali_BN"
### Description

Adding translation for Bengali speaking users who may not be familiar with english.

### Impact

Native Bengali speaking users.

### Additional Context

I would like to work on this issue with a PR!

[2022-10-25 07:40] Smartmind12 commented on #1349
@saimaheshtaduri I would like to work on this issue and rectify the changes!

[2022-10-25 07:58] Smartmind12 opened #1358 "[FR] Absence of a Pull Request template"
### Description

Currently there is an absence of a Pull request template beacue of which the pull request created by contributors are not streamlined and difficult to connect an issue (if not mentioned by the user).

### Impact

For all users who want to contribute to the project via pull request merging and issue solving.

### Additional Context

Kindly assign this issue to me so that i can make

[2022-10-25 09:03] saimaheshtaduri commented on #1349
@Smartmind12 even Iam waiting for their approval.

[2022-10-25 09:37] waveywaves commented on #1308
Hi @annieappflowy, I was able to create a PoC which works locally with Uffizzi. I believe we are coming close to running Appflowy in the cloud to be previewed. Considering that it is a desktop application, it is taking a little while for us.

[2022-10-25 11:50] #1095 closed

[2022-10-25 12:15] agent515 commented on #1299
Hi, @LucasXu0 . I'm unassigning myself from this issue because I'm not able to take enough time out to work on the issue. Sorry about that. 🙏

My best wishes for the project.

[2022-10-25 16:08] LaBaude32 opened #1365 "[Bug] Wrong app version in help and support popup"
### Bug Description

As we can see in the image the version displayed is : 1.0.0.1.

### How to Reproduce

Open the AppFlowy, click on the ? icon (help and support) on the bottom right corner.

### Expected Behavior

Display the right version number : 0.0.6

### Operating System

Debian 11

### AppFlowy Version(s)

0.0.6

### Screenshots

![image](https://user-images.githubusercontent.com/42806696

[2022-10-25 20:38] aminmarashi commented on #1178
I think it's a good time for me to give up on this issue. I couldn't find the time to work on it and the source-code is too alien for me to make it a simple change. So please consider this issue unassigned again.

[2022-10-26 00:23] #1349 closed

[2022-10-26 01:34] richardshiue opened #1368 "[Bug] Grid select option add option textfield doesn't close the type option popover"
### Bug Description

In a select (single and multi) option's field editor from the grid header, clicking on the add option button doesn't close the popover.

### How to Reproduce

1. Open a grid page
2. Create a single/multi-select option
3. Click on the header and then edit property
4. Hover/click on the option type
5. Click on the Add Option button
6. Observe that the option type popover doesn't

[2022-10-26 01:39] richardshiue opened #1369 "[Bug] Grid select option add option textfield doesn't always autofocus"
### Bug Description

When the property name text field is focused, clicking on the add option button doesn't autofocus the new textfield. When it doesn't have focus, it works fine (see #1368)

### How to Reproduce

1. Open a grid page
2. Create a single/multi-select property
3. Click on the header and then edit property
4. Click on the Add Option button
5. Observe that the add option text field is

[2022-10-26 06:52] #1355 closed

[2022-10-26 07:00] LucasXu0 commented on #1351
Hi, @rshchekotov. I have resolved this issue.

**Link Menu**
<img width="694" alt="Screen Shot 2022-10-26 at 14 42 26" src="https://user-images.githubusercontent.com/11863087/197956185-0237f65f-87ac-45d3-b3f3-8f31eac374db.png">

**Context Menu**
<img width="694" alt="Screen Shot 2022-10-26 at 14 42 26" src="https://user-images.githubusercontent.com/11863087/197956361-f84e8428-cd7a-4fb3-bb70-29a9b4

[2022-10-26 07:00] #1351 closed

[2022-10-26 09:17] MarkJThomas opened #1372 "[FR] Ability to drag sub-pages between sections"
### Description

Right now I can't move a sub-page between sections, so if I think a sub-page is better suited elsewhere I have to re-do it in the new section.

### Impact

This is something I feel people would benefit from, who are as organised as me and always moving things around and re-imagining how the sections should look.

### Additional Context

_No response_

[2022-10-26 15:08] mizzyc opened #1378 "[FR] Integration between kanban boards, table items and pages"
### Description

It'd be nice to have a integration between de kanban board cards and the rest of my pages and tables on Flowy.
I think it'd work just like in Notion, by letting me create roll-up fields in the kanban to sync between the tables.
Also, a way to change the kanban to other views, like a table view, would be awesome!

### Impact

To be honestly, that's pretty much the only thing that k

[2022-10-27 00:15] lwchkg commented on #144
I have come up with 2 approaches. Please help me to decide on which one (or both) to work with.

1. Add a persistent expanded/collapsed state to each collapsible item, and add two-way link it to ExpandableController with listeners. Ideally these states are saved to the disk, but that can be done in a later stage.

2. Try to prevent rebuilding of the ExpandablePanels (if they are rebuilt). I have n

[2022-10-27 00:39] polypixeldev commented on #144
I think that the persistent state is probably the best approach, although I want to see @appflowy's opinion on this. Thanks for working on the issue, take your time. :+1:

[2022-10-27 04:39] apomalyn commented on #1304
@annieappflowy @appflowy @LucasXu0 I propose this screen for the installer.

<details><summary>DMG UI proposition</summary>

<img width="601" alt="Screen Shot 2022-10-27 at 00 26 01" src="https://user-images.githubusercontent.com/22211097/198191746-5012804a-8171-4b3b-97f8-ce05fb171c4e.png">

</details>

What do you think?

[2022-10-27 07:19] LucasXu0 commented on #1304
Hi @apomalyn. The logo above looks a bit blurry. I uploaded a new icon. The other parts look good to me.
[logo.png.zip](https://github.com/AppFlowy-IO/AppFlowy/files/9876641/logo.png.zip)

[2022-10-27 11:46] richardshiue opened #1385 "[Bug] Grid URL property's edit button"
### Bug Description

In a grid with a URL property, hovering in any other field in the same row triggers the edit button to show up in the URL cell.

### How to Reproduce

1. Go to a grid with a URL property
2. Hover over a row, on a property apart from the URL property
3. Observe that the editor URL button appears

### Expected Behavior

The button should only show when the user hovers over the e

[2022-10-27 19:10] matbgn commented on #256
Maybe for those, like me, who were searching where it is even tracked, it's here: https://github.com/AppFlowy-IO/AppFlowy/issues/714

Unfortunately, with no milestone and no planning ATTW. Hope it will change soon.

[2022-10-28 00:07] apomalyn commented on #1304
<details><summary>DMG UI proposition</summary>

![Screen Shot 2022-10-27 at 20 05 20](https://user-images.githubusercontent.com/22211097/198419668-27938cc4-4c6d-4497-88fc-9b8801a72d28.png)
</details>

Is it better like this?

[2022-10-28 01:07] LucasXu0 commented on #1304
Yes. It looks much better.

[2022-10-28 02:29] annieappflowy commented on #256
Hi @matbgn , thanks for checking out the project. Here is our 6-month roadmap till the end of 2022: [link](https://github.com/AppFlowy-IO/AppFlowy/discussions/565). As you can see, supporting online collaboration is not included.  However, we are laying foundations for supporting collaboration, so it's definitely on our radar. We'll publish a new roadmap approaching the end of this year and add mo

[2022-10-28 03:17] annieappflowy commented on #1378
Hi @mizzyc , thanks for your feedback. Integrating Kanban Board and Gird into pages is planned to release at v0.0.9
We look forward to getting more feedback from you when it's shipped :D

[2022-10-28 06:25] matbgn commented on #256
Seems promising! Thanks for the feedback

[2022-10-28 11:13] annieappflowy commented on #1365
Thanks @LaBaude32 , we need to upgrade Flutter to 3.3 to fix this issue .

[2022-10-28 11:45] annieappflowy commented on #1172
Hi @VoidCupboard , thanks for offering the help. Your mentor is @appflowy . If you need help, you can contact him on [Discord](https://discord.gg/9Q2xaN37tV).

[2022-10-28 11:51] #689 closed

[2022-10-28 12:15] annieappflowy commented on #1290
@AdiAr11 , any progress update on this issue? Let us know if you need help. Thanks!

[2022-10-28 12:16] annieappflowy commented on #1335
Hi @AnirudhDaya , thanks for your suggestions. Is this fixed?

[2022-10-28 12:25] AnirudhDaya commented on #1335
Hi @annieappflowy, somebody already did fix this issue recently

[2022-10-28 12:39] annieappflowy commented on #1332
Hi @ARGF0RCE , [v0.0.6](https://github.com/AppFlowy-IO/AppFlowy/releases/tag/0.0.6) is out. It includes a major upgrade to the editor experience. We now support basic Markdown syntax!
That said, there are advanced Markdown syntax we have not supported yet. If you are interested in working on this topic, you can pick one that's not supported. Here is an[ example](https://github.com/AppFlowy-IO/AppF

[2022-10-28 13:02] Pixnop opened #1389 "[Bug] unable to open the menu with "/" by installing via fatpack | grey screen via .tar.gz installation"
### Bug Description

Impossible to open the menu with "/", i also tried to simply copy the "/" from the read me but without success.
Even if I type a command e.g. "/bullet" it does nothing just text.

### How to Reproduce

to be on kubuntu ??

### Expected Behavior

Open the menu with "/" for fatpack and for the .tar.gz to properly start.

### Operating System

Kubuntu

### AppFlowy Version(s)

0.

[2022-10-28 13:05] annieappflowy commented on #1335
Thanks @AnirudhDaya , closing this one. Please don't hesitate to submit more feature requests and bug reports

[2022-10-28 13:05] #1335 closed

[2022-10-28 13:09] Smartmind12 commented on #191
@annieappflowy Done with the needful changes kindly review...Thanks!

[2022-10-28 13:32] #191 closed

[2022-10-28 13:34] #1096 closed

[2022-10-28 13:45] LucasXu0 commented on #1389
Hi, @Pixnop. Have you tried to create a new document and pressed the `\` key?

[2022-10-28 15:09] AdiAr11 commented on #1290
@annieappflowy sorry, im out of town. I'll be back in 2 days.
I had some doubts though, I'll ask them when i get back.

[2022-10-29 07:27] LucasXu0 commented on #1338
Thanks for the suggestion. Since the `AppFlowy Editor` project doesn't depend on `AppFlowy` when it is created, the style of the tooltip is not considered. I will update it to adapt to the AppFlowy theme style.

[2022-10-29 07:43] LucasXu0 commented on #1389
I have verified the slash command on Ubuntu and it is no problem. Since I don't have a Kubuntu device, I will try to find one to reproduce it.

[2022-10-29 16:25] Onyedikareal commented on #1385
Hi @richardshiue, I will like to work on this. Please can you assign this to me?

[2022-10-29 21:25] Eakam1007 commented on #1345
Hi, I would like to work on this

[2022-10-30 16:13] richardshiue commented on #1385
Hello @Onyedikareal, thanks for offering to help on this! I'm not a maintainer so I can't do that for you, sorry. Ping @annieappflowy

[2022-10-30 16:53] Onyedikareal commented on #1385
Alright, thanks @richardshiue.
Hi @annieappflowy, please can you assign this to me.

[2022-10-30 17:45] richardshiue opened #1402 "[Bug] Reordering sidebar pages on sidebar causes appflowy to crash when debugging in VS code"
### Bug Description

Title says all. Reordering sidebar pages on sidebar causes appflowy to crash when debugging in VS code

### How to Reproduce

1. Have 2 or more pages on the left sidebar
2. Drag the second page above the first and drop it
3. Observe that the application crashes

### Expected Behavior

No crashes

### Operating System

Fedora Linux 36

### AppFlowy Version(s)

main, VS Code

##

[2022-10-31 06:40] guchengxi1994 opened #1404 "[Bug] a bug when typing Chinese pinyin"
### Bug Description

when typing pinyin , the title keep the pinyin string when typing is done.

### How to Reproduce

see Screenshots

### Expected Behavior

Only the Chinese string reserved.

### Operating System

windows

### AppFlowy Version(s)

release v0.0.6.2

### Screenshots

![20221031](https://user-images.githubusercontent.com/33513462/198946597-656a34f7-9d4f-4bcd-b1e9-bd15b886879b.gif)

[2022-10-31 10:33] Jae0143 opened #1405 "[FR] Native Apple Silicon Support"
### Description

Native Apple Silicon support missing

### Impact

By running natively on Apple Silicon, it would increase energy efficiency and responsiveness.

### Additional Context

_No response_

[2022-10-31 16:12] lwchkg opened #1406 "[Bug] Clipboard does not work in Windows"
### Bug Description

After upgrading to version 0.0.6 clipboard does not work in Windows.

Note that this bug should have a high priority because after using version 0.0.6 the data cannot be accessed with a older version of AppFlowy.

### How to Reproduce

1. Start AppFlowy (Windows).
2. Copy some text from an article.
3. Try to paste in another app, e.g. Notepad, MS Word.

### Expected Behavior

[2022-11-01 12:56] #1369 closed

[2022-11-01 13:01] #1345 closed

[2022-11-01 17:09] Ivan-Igorevich opened #1411 "Error deploying with docker-compose"
Hello, I'm following the the setup but building an image failed. What am I doing wrong?

[code]

[2022-11-02 23:00] K0WALSKl commented on #1411
Hi, I had the same issue. I've searched for the "rev_sqlite" package on the archlinux website but couldn't find it. This new dependency was added [yesterday](https://github.com/AppFlowy-IO/AppFlowy/pull/1410/files#diff-5a4e027ebbe7a4e655dd8464433e70c9ff647fbd379bd4a3e8c47fddf5052931). It's probably a typo since sqlite was there [in the latest release](https://github.com/AppFlowy-IO/AppFlowy/blob/r

[2022-11-03 13:47] DonTomasDeLaVega opened #1413 "[Bug] Azrty keyboard not opening menu when typing "/"."
### Bug Description

When i type "/", it doesn't open the menu it's supposed to open, but if i switch to a QWERTY keyboard, it suddenly works.

### How to Reproduce

Switch to an azerty keyboard (i.e : french) et type "/" (it's "shift+ ." on a qwerty keyboard).

### Expected Behavior

![image](https://user-images.githubusercontent.com/47381187/199737216-6e7a95b4-9ef2-46b2-b1cb-cba23742518e.png)
Op

[2022-11-03 15:30] richardshiue opened #1414 "[Bug] No focus border on date cells"
### Bug Description

Title says all.

### How to Reproduce

1. Go to a grid with a date property
2. Click on a cell under the date property
3. Observe that there is no focus border

### Expected Behavior

Cell should have a bright blue focus border

### Operating System

Fedora Linux 36

### AppFlowy Version(s)

v0.0.6

### Screenshots

![image](https://user-images.githubusercontent.com/71320345/1

[2022-11-03 16:15] chiconcota opened #1415 "[Bug] Appflowy don't work with unicode font"
### Bug Description

I using the Vietnamese language. When I'm Typing the letter, this letter disapper

### How to Reproduce

you can download unikey app and set unicode then you type the Vietnamese language like Thành or Việt you will see.

### Expected Behavior

I want this app can display "thành" or "việt". Not "thnh" or "vit"

### Operating System

win 10

### AppFlowy Version(s)

0.0.6

### S

[2022-11-05 11:38] dominiksledzik opened #1416 "[Bug]"
### Bug Description

On the taskbar the name of the application shows as "A new Flutter project."

### How to Reproduce

Right-click AppFlowy app on Taskbar.

### Expected Behavior

Displaying the name of the app, not the placeholder text.

### Operating System

Windows 11

### AppFlowy Version(s)

0.0.6.2

### Screenshots

![image](https://user-images.githubusercontent.com/57485073/200118007-1632

[2022-11-06 13:04] Kaijiro commented on #444
Hello !

Following our discussion on Discord about adding my input on feature request, here's my feedback about the templates features.

I think that the template feature's scope is a bit too big right now. There are two existing steps that may add some value for our users :

 ## First Step - Adding a template system

The template system would be autonomous and would work offline.

### 1~3 main us

[2022-11-07 03:13] annieappflowy commented on #444
Hi @Kaijiro ,

Very much appreciate your input. In particular, I find the scoping here super valuable for us to develop template features. Can you elaborate more on the third bullet point?

"When creating a page from a template, I will have to fill all the placeholders. A easy way to switch between placeholder would be by pressing a special key like "Tab" or something like this"

What drives users

[2022-11-07 06:55] annieappflowy commented on #1415
Thanks for reporting. This is a known issue for Flutter.

[2022-11-07 07:34] annieappflowy commented on #1404
Thanks for reporting. This is a known issue for Flutter.

[2022-11-07 07:49] ziyziyziy888 commented on #1404
Same problem.

[2022-11-07 07:55] LucasXu0 commented on #1415
Hi, @chiconcota. We are using `Poppins` as the built-in font. It doesn't support Unicode characters. https://github.com/itfoundry/Poppins/issues/25

We plan to add a new feature to support switching the font.

[2022-11-07 08:30] annieappflowy commented on #1405
GitHub CI doesn't support it yet

[2022-11-07 09:18] Tchiimy commented on #313
I'm currently doing a home server and I think the same ! I would like to know if there are any updates about this idea ?

In my case I'm running the 64 bits raspberry pi OS, from what I saw there are no docker available for this architecture ? Should I try to install it via the code source (I don't know if someone tried this before) ?

[2022-11-07 09:36] #1368 closed

[2022-11-07 09:51] ziyziyziy888 commented on #1310
Remote Sync is also useful.

[2022-11-07 12:21] #1413 closed

[2022-11-07 13:06] richardshiue commented on #1385
Thanks, that'd be an honor

[2022-11-07 20:33] LinuxIsCool opened #1421 "[Bug] Broken Links in Fresh Linux Install"
### Bug Description

Clicking links don't do anyting.

### How to Reproduce

Fresh install on Pop!OS through Pop store.

### Expected Behavior

Links open a dialougue or web page.

### Operating System

OS: Pop!_OS 22.04 LTS x86_64

### AppFlowy Version(s)

v0.0.6.1

### Screenshots

![image](https://user-images.githubusercontent.com/31582215/200409137-e76329e5-d46f-48c2-8f40-a0640c3793d0.png)

##

[2022-11-08 08:08] Onyedikareal commented on #1385
Thanks

[2022-11-08 09:07] fhmohen commented on #368
有了啊~

[2022-11-09 02:50] annieappflowy opened #1427 "[Survey] AppFlowy's Pilot Mentorship Program"
In preparation for launching AppFlowy's Pilot Mentorship Program, we would like to collect your input to make the program successful and enjoyable.  Please kindly take 5mins to fill in this form to let us know your thoughts: [survey](https://tally.so/r/3Eqlyl) 🙏 💜

[2022-11-09 03:28] annieappflowy commented on #894
Have you guys checked out our latest [release](https://github.com/AppFlowy-IO/AppFlowy/releases)?
Is this issue fixed? @LucasXu0

[2022-11-09 03:29] annieappflowy commented on #1307
Is this planned in v0.0.7? @appflowy

[2022-11-09 03:29] #1300 closed

[2022-11-09 03:30] annieappflowy commented on #1297
Any update on this issue? @LucasXu0

[2022-11-09 03:31] annieappflowy commented on #1303
Is this issue resolved? @ramanverma2k

[2022-11-09 03:32] annieappflowy commented on #1290
Any update / progress on this issue? @AdiAr11

[2022-11-09 03:34] annieappflowy commented on #1276
Is this resolved at v0.0.6?

[2022-11-09 03:34] annieappflowy commented on #816
Is this resolved? @LucasXu0

[2022-11-09 03:35] VincentKnightTesting commented on #1276
omg best way to hear about an update, I'll try it out

[2022-11-09 03:36] #637 closed

[2022-11-09 03:36] #633 closed

[2022-11-09 03:36] #634 closed

[2022-11-09 03:36] #622 closed

[2022-11-09 03:37] ramanverma2k commented on #1303
Yes, it was merged in [#1303](https://github.com/AppFlowy-IO/AppFlowy/pull/1386)

[2022-11-09 03:39] annieappflowy commented on #1303
thanks @ramanverma2k for confirming. I'm closing this comment.
FYI, we're preparing for our first-ever mentorship program. If you are interested, please kindly check out a [survey](https://github.com/AppFlowy-IO/AppFlowy/issues/1427)

[2022-11-09 03:39] #1303 closed

[2022-11-09 03:41] VincentKnightTesting commented on #1276
from what I can see, so far it's good!

[2022-11-09 03:44] richardshiue commented on #1035
No longer reproducible, closing as fixed!

[2022-11-09 03:44] #1035 closed

[2022-11-09 04:05] annieappflowy commented on #1276
Thanks @VincentKnightTesting for confirming. I'm closing this issue. You can reopen it if you can reproduce. Looking forward to getting more feedback from you.

[2022-11-09 04:05] #1276 closed

[2022-11-09 07:37] #812 closed

[2022-11-09 07:57] ramanverma2k commented on #1305
@siddhesh-coder Are you still working on this issue or is it available for taking?

[2022-11-10 05:37] richardshiue opened #1430 "[Bug] AppFlowy's website link on Flathub"
### Bug Description

I don't know if I should put this here or over at the Flathub's repository, but clicking on the website button on Flathub currently shows the following message, which is kinda concerning.

![image](https://user-images.githubusercontent.com/71320345/201008884-cea6b4be-6742-4a98-ac40-39983c9151f7.png)

### How to Reproduce

1. Go to the appflowy page on flathub
2. Scroll down an

[2022-11-10 10:02] LucasXu0 commented on #1430
Hi, @richardshiue. Thanks for the reminder. I just checked and updated the certificate. It will take effect after about 72 hours.

[2022-11-10 10:24] richardshiue commented on #1430
Okay awesome! Thank you so much

[2022-11-10 13:19] Onyedikareal opened #1434 "[Bug] NetworkType null safety issue"
### Bug Description

Connectivity result for vpn not implemented resulting to NetworkType returning null for the case where Connectivity result is vpn

### How to Reproduce

Steps to reproduce
* follow the contribution guideline on how to clone the repo to your local machine
* follow the steps to setup your development environment
* building your code will result to null safety issues relating to

[2022-11-10 15:19] rileyhawk1417 opened #1436 "[FR] Support local image import"
### Description

The feature will allow the user to import images from their computer.

### Impact

The user can take advantage of using local images if they don't wish to use network images.

### Additional Context

A separate copy of the image will be placed in the applications directory

[2022-11-11 13:14] rileyhawk1417 opened #1439 "[FR] Resize image on editor"
### Description

Currently when a image is attached in Flowy Editor. It comes in full size, which takes up note real estate and ends up being a long document.
Bringing this feature will shrink the images automatically when placed, and leave more space for the user to work. Should they choose to enlarge the image there will be a mechanism that allows it.

### Impact

Users can attach multiple image

[2022-11-11 17:23] xBLACKICEx opened #1441 "[Bug] Appflowy doesn't support windows auto complete show"
### Bug Description

 Appflowy doesn't support windows auto complete show
![image](https://user-images.githubusercontent.com/51036094/201391649-5e46e3aa-a988-4d42-b3d7-9baad62c6d85.png)

### How to Reproduce

go to settings -> "time and language" -> keyboard（input）
![image](https://user-images.githubusercontent.com/51036094/201392119-c891a470-ecda-4fd0-9310-1138b7528a68.png)
then type something in

[2022-11-12 06:42] ramanverma2k commented on #1406
Weird that I don't have this issue on Windows 11. Can you please try again and elaborate more on this?

[2022-11-12 08:01] ChenTaHung commented on #894
@annieappflowy
Deleting the characters works fine on v0.0.6.2, but it comes out new issues.

It cannot press `capslock` to switch language, and Mandarin typing issues. Do I need to open a new issue?

[2022-11-12 08:04] annieappflowy commented on #894
Yes, please. Thank you @ChenTaHung

[2022-11-12 08:20] #894 closed

[2022-11-12 08:27] ChenTaHung opened #1443 "[Bug] CapsLock cannot switch language"
### Bug Description

mac version : Ventura 13.0
appflowy version 0.0.6.2
`CapsLock` button cannot switch language between english and Chinese(bopomofo)
![image](https://user-images.githubusercontent.com/49839507/201465397-80f5992f-9900-45d0-bfc9-9ac673c31b6d.png)
 But `ctrl+space` works finely.

### How to Reproduce

create a new Doc, press `CapsLock` and the language is not changed.

### Expected

[2022-11-12 08:36] ChenTaHung opened #1444 "[Bug] Typing Chinese using bopomofo spelling will delete the previous character"
### Bug Description

Spelling Chinese in bopomofo, we usually press enter when we finish typing the chinese character, for example ：

`ㄘㄜˋ` + `enter` = `測`

So when I type the word `測試`(means test), if I press enter after I finish the first chinese word `測` and then start my second word, the time I start to spell `試`, the `測` word will be deleted. (as the video showed). However, if I complete the

[2022-11-12 09:28] AdiAr11 commented on #1290
Yes, sorry for late reply. I tried the above approach and it was still the same. I researched and I saw that there is a delay because of a potential second tap.

[2022-11-12 11:57] TimJentzsch opened #1445 "[Bug] Website certificate invalid"
### Bug Description

I get a security alert when trying to open <https://appflowy.io/> in a web browser, warning that a secure connection to the website could not be established.

### How to Reproduce

Open <https://appflowy.io/> in either Firefox or Chromium.

### Expected Behavior

I can access <https://appflowy.io/> without getting a security warning.

### Operating System

Linux (Pop!_OS)

###

[2022-11-12 12:31] richardshiue commented on #1445
duplicate of #1430

[2022-11-12 14:33] MayurSMahajan commented on #1070
I have setted up the application on my pc. I am going through the codebase, since I am a beginner its a bit complex, but I will keep working on it. Will keep you guys in touch.

[2022-11-12 15:50] ameur-gh-intj opened #1446 "[FR] AppFlowy design system"
### Description

AppFlowy design system

### Impact

**AppFlowy**  need design system  patern , componets
![image](https://user-images.githubusercontent.com/27163530/201482389-9adef133-60b6-4252-a6db-8983570f4dea.png)

### Additional Context

_No response_

[2022-11-14 03:23] richardshiue commented on #1430
Hello @LucasXu0! The issue seems to be persisting from what I can tell, could please you check again?

[2022-11-14 03:47] LucasXu0 commented on #816
This bug has been resolved.

[2022-11-14 03:47] #816 closed

[2022-11-14 03:51] LucasXu0 commented on #1305
Hi, @ramanverma2k. I don't think @siddhesh-coder is still working on this issue. Would you want to take this issue?

[2022-11-14 03:54] LucasXu0 commented on #1430
Hi @richardshiue. @annieappflowy has sent an email to the server provider. We are waiting for their reply.

[2022-11-14 05:13] ramanverma2k commented on #1305
Hi, @LucasXu0. Yes, I would like to work on this issue.

[2022-11-14 06:13] LucasXu0 commented on #1305
I assigned it to you. Please let me know whether or not you need help.

[2022-11-14 13:52] ramanverma2k commented on #1305
@LucasXu0 Can you please check the installer & test it?

[AppFlowy-test-1305-windows-x86_64.exe](https://github.com/ramanverma2k/AppFlowy/releases/download/refs%2Fheads%2Ftest-1305/AppFlowy-test-1305-windows-x86_64.exe)

[2022-11-15 03:45] #406 closed

[2022-11-15 05:23] ENsu commented on #1181
@annieappflowy @appflowy If this is acceptable, I would like to try this one.

[2022-11-15 06:46] annieappflowy commented on #1181
Yes! I think this is a good place to start practicing Rust. I've assigned the issue to you. If you need help, please don't hesitate to reach out on Discord.

[2022-11-15 14:27] annieappflowy commented on #1446
Yes, absolutely hands down. We need a designer :)

[2022-11-16 11:57] LucasXu0 commented on #1305
@ramanverma2k I installed the .exe package on my windows 11 computer. And it works fine.

[2022-11-16 16:14] fdevillalobos opened #1458 "Volume Mapping to build in Synology server"
Hello guys,

Amazing to discover AppFlowy. Love it!

Would like some help in configuring AppFlowy in a NAS Server (in this case Synology brand).

What are the necessary volumes we need to map here?
Also... which are the necessary Environment variables?
I currently have>
PATH > /usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

Any help solving this would be amazing! Thanks a lot!

[2022-11-17 01:02] ENsu commented on #1181
Hello, @appflowy . I tried the `main` branch version.

Currently, switching from SingleSelectType to MultiSelectType (or vice versa) removes the data from the frontend.

Is this something I should be concerned about, or is it a separate issue? (I am happy to deal with it; I just want to be certain.)

[2022-11-17 07:11] richardshiue commented on #1430
The issue has been fixed. Closing as completed! Thanks @annieappflowy @LucasXu0

[2022-11-17 07:11] #1430 closed

[2022-11-17 07:11] richardshiue commented on #1445
The issue has been fixed. Closing as completed!

[2022-11-17 07:12] #1445 closed

[2022-11-17 13:07] yodatak opened #1464 "[Bug] Show the good version of the app and not 1.0.0"
### Bug Description

For now we can't know the app version it show only 1.00 and not the real version of the app

### How to Reproduce

Go tho the ? in the right corner and it show 1.0.0

### Expected Behavior

show the reeal version

### Operating System

Windows

### AppFlowy Version(s)

don't know because of this bug

### Screenshots

_No response_

### Additional Context

_No response_

[2022-11-17 23:50] Olaktal commented on #89
Hi !
It seems like everyone want AppFlowy available on the web: this feature is N°1 👍 issue and the N°2 #313 is similar but I don't even see this topic on the [roadmap](https://github.com/orgs/AppFlowy-IO/projects/5) for now 🤔

I hope issues/projects on OS (Linux/Mac/Windows) doesn't slow down the web app project since it seems to generate by far more attention (and so more upcoming contributors ?

[2022-11-18 03:00] annieappflowy commented on #1464
Thanks for reporting this issue. Duplicate of https://github.com/AppFlowy-IO/AppFlowy/issues/1365

[2022-11-18 03:00] #1464 closed

[2022-11-18 05:25] rasyidmi commented on #834
I am interested in solving this issue. Can you assign me?

[2022-11-20 03:23] richardshiue opened #1467 "[Bug] Editor's left and right margins is too rigid"
### Bug Description

While the editor's spacing looks good when the application is at full size, resizing the window or the sidebar makes the layout seem cramped in the middle while the left and right margins (?) remain the same size. I've attached Obsidian's behavior for comparison.

### How to Reproduce

1. Open up a document in AF
2. shrink the window horizontally or drag the sidebar to the max

[2022-11-20 03:50] Eakam1007 commented on #1414
Hi, I would like to work on this

[2022-11-20 04:35] richardshiue commented on #1414
@Eakam1007 Sure, thanks for helping! I've assigned it to you. Don't hesitate to reach out to the AF team on Discord if you need help.

[2022-11-20 22:33] mjperrone commented on #313
Is this a duplicate of https://github.com/AppFlowy-IO/AppFlowy/issues/89

[2022-11-21 09:30] yodatak opened #1472 "[Bug] copy paste is broken when appflowly is runing"
### Bug Description

When appflowly is up copy paste is broken for my windows 10 20H2.

### How to Reproduce

0.0.6.2 and try to copy paste

### Expected Behavior

Copy paste is not broken in windows

### Operating System

Windows 10

### AppFlowy Version(s)

0.0.6.2

### Screenshots

_No response_

### Additional Context

_No response_

[2022-11-21 20:30] johnblommers commented on #1405
Huh! I did not know this. Shame on GitHub. Apple Silicon is in year two now.

[2022-11-22 04:41] richardshiue commented on #834
Hello @IMPranshu, have you made any progress on this? If not, @rasyidmi would like to take a crack at it

[2022-11-22 05:49] tqwewe commented on #75
In addition, I am on mac, and option backspace should delete a single word, and command backspace should delete to the start of the line.

[2022-11-22 12:06] #1467 closed

[2022-11-23 06:07] MayurSMahajan opened #1475 "[FR] Create a new yellow theme for AppFlowy"
### Description

### Need to Implement New Themes

- [x] Create a mechanism to select from multiple theme options
- [x] Create a new all-colored theme that utilizes all the colors in AppFlowy's logo.

We need to implement new themes for AppFlowy. We should offer a wide range of themes to the user to choose from, so that they can improve their experience with our application. One such theme i sugge

[2022-11-23 06:12] MayurSMahajan opened #1476 "[FR] Create a new purple dark theme"
### Description

Need to Implement New Themes

We need to implement new themes for AppFlowy. We should offer a wide range of themes to the user to choose from, so that they can improve their experience with our application. One such theme i suggest we should implement is a red + purple theme.

This is my suggested theme:

![image](https://user-images.githubusercontent.com/47064215/203482535-914080

[2022-11-23 18:31] tilucasoli commented on #1446
I am designer and my girl friend @natalialocatelli too, how can we help you?

[2022-11-24 03:08] annieappflowy commented on #1476
Are you working on the implementation? If not, we can add a help-wanted label to get a contributor to work on this.

[2022-11-24 04:27] LucasXu0 opened #1478 "[FR] Emoji Support"
### Description

## Brief
Support opening the Emoji panel by selection menu (i.e. slash menu) and inserting Emoji in AppFlowy.

## Details
**Tasks**

- [ ] open the emoji panel by the selection menu.
  - [ ] open the emoji panel by searching for the keyword `emoji`.
  - [ ] open the emoji panel by tapping the emoji entry.
- [ ] select an emoji by clicking on the emoji panel.
  - [ ] the emoji pane

[2022-11-24 07:47] MayurSMahajan commented on #1475
@annieappflowy could you assign this one to me

[2022-11-24 07:47] MayurSMahajan commented on #1476
I am working on them yes

[2022-11-24 07:56] LucasXu0 opened #1479 "[FR] Customize Font Size In AppFlowy"
### Description

## Brief
Support customizing the font size in AppFlowy.

## Details

**Tasks**
- [x] support switch font size with small, medium, and large.
- [x] add a `more` button to the title bar beside the `share` button.
- [x] add an entry for font size switching after clicking the `more` button.

**Test cases**
- [ ] include the relevant tests that match the tasks mentioned above.

### Imp

[2022-11-24 10:28] guill-lege opened #1480 "[Bug] AZERTY keyboard: the key combination Shift+":" to type the symbol "/" doesn't open the menu"
### Bug Description

When using a Belgian AZERTY keyboard, typing on Shift+":" (combination to type "/") doesn't open the menu

### How to Reproduce

In a new page, while using a French Belgian keyboard, use the combination Shift+":" to type the symbol "/"

### Expected Behavior

The expected behavior is for the combination Shift+":"to open the menu when using a Belgian AZERTY keyboard

### Operat

[2022-11-24 10:41] annieappflowy opened #1481 "[Doc] Prep for launching AppFlowy’s pilot mentorship program"
- [x] Send out a survey #1427
- [x] Revise the program based on the survey result
- [x]  Update project ideas to make them suitable for 90-180 hours of work
- [x] Publish the program
- [x] Shortlist candidates
- [x] Invite mentees (the first cohort is made up of 2 or 3 mentees)
- [x] Launch

[2022-11-24 14:25] ENsu commented on #1178
@annieappflowy Can you assign this task to me? I have discussed with @appflowy.
I think I can finish the whole feature first (this task), then finish the [one](https://github.com/AppFlowy-IO/AppFlowy/issues/1181) that runs the unit test.

[2022-11-25 02:13] yennor opened #1482 "[FR] Add needed dependencies to install instructions"
### Description

I've wanted to try out AppFlowy, but first I needed to figure out what dependency it needs to start up. Just executing it, as described in the docs, definetely doesn't work ;-).
I'm using Debian Testing.
Missing libraries on my system were (could be more on other systems):
libkeybinder-3.0-0  libssl1.1

### Impact

People just wanting to try out appflowy without trying for a long

[2022-11-25 02:54] annieappflowy commented on #1482
Have you tried to download a package directly from https://github.com/AppFlowy-IO/AppFlowy/releases
I’m not sure if the Linux package works for your OS though.

[2022-11-25 02:56] yennor commented on #1482
yes I did. As mentioned, I did it exactly as descriped in the install instructions. downloading it from the link you mentioned. decompressing, executing. Doesn-t work. I had to install the above mentioned dependencies. Then it worked

[2022-11-25 03:13] annieappflowy commented on #1482
Ah, got it. Thanks so much for the clarification! We will look into it and update the documentation accordingly.

[2022-11-25 03:22] annieappflowy commented on #1178
Awesome! Just assigned it to you. Have fun learning Rust :D

[2022-11-25 03:36] annieappflowy commented on #1480
Related to https://github.com/AppFlowy-IO/AppFlowy/issues/1413

[2022-11-25 03:40] annieappflowy commented on #1479
Should test across mainstream operating systems

[2022-11-25 03:42] annieappflowy commented on #1475
Thanks @MayurSMahajan . Just assigned it to you!

[2022-11-25 07:27] SumanKisku opened #1484 "[Bug] Can't build the app with latest Rust version 1.65"
### Bug Description

So, while trying to building the app with the latest version of Rustup I couldn't able to build the app. I needed to downgrade the version of Rustup to 1.64 o able to build the app successfully. `rustup default 1.64` command worked to downgrade the version rustup. And the build was successful.

### How to Reproduce

`rustup default 1.65` use this command to update to the rustu

[2022-11-25 08:20] richardshiue commented on #573
The date text is left-aligned in the latest version. This issue has been resolved!

![image](https://user-images.githubusercontent.com/71320345/203934066-3f4e2831-da4e-4d24-9829-73b0bd9834b7.png)

[2022-11-25 08:20] #573 closed

[2022-11-25 08:25] richardshiue commented on #545
This issue is no longer present in the latest version:

- for select option colors when editing from the cell, the selected color instantly updates
- for select option colors when editing from the field header, the popover closes when the user selects a color
- for date format, the popover closes when the user selects a specific format

Closing as completed!

[2022-11-25 08:25] #545 closed

[2022-11-25 08:27] richardshiue commented on #493
This issue is no longer present in the latest version. Now, both menus use the same SelectOptionTag component that includes the colored background

[2022-11-25 08:27] #493 closed

[2022-11-25 08:30] richardshiue commented on #692
With #789 merged, this feature has been implemented! Closing as completed

[2022-11-25 08:30] #692 closed

[2022-11-25 15:58] rasyidmi commented on #834
Hello @richardshiue I had write my code and the video of the result is [here](https://drive.google.com/file/d/1qDIW75iBAvYm42zlHyRYxr7m-LSKSS1G/view?usp=share_link)

Can you assign me so you review it?

Thank you.

[2022-11-25 16:09] rasyidmi commented on #834
This is the link for my commit

[](https://github.com/rasyidmi/AppFlowy/commit/dd40db0a9c05c513cd2b6a9b9b0dfd17f0ab7c72)

[2022-11-25 16:38] richardshiue commented on #834
Got it, thanks for working on this! I've assigned the issue to you

[2022-11-25 16:40] rasyidmi commented on #834
Thank you @richardshiue can't wait for the review😄

[2022-11-26 19:01] enomothem opened #1488 "[Bug] 字体粗细不一"
### Bug Description

字体粗细不一

### How to Reproduce

设置语言为中文，外观内的字体

### Expected Behavior

该字体应该是保持一致的粗细

### Operating System

Windows 10

### AppFlowy Version(s)

AppFlowy v0.0.6.2

### Screenshots

截图
![image](https://user-images.githubusercontent.com/45089051/204104710-cc1cb5e4-3325-4e08-9e27-d2088646ea9f.png)

### Additional Context

期待版本的迭代得以修复。对于一些小bug和改进的意见，提出几点
1、 增加全局字体大小的调整，默认的确实太小了。
2、

[2022-11-27 04:22] 0xkelvin commented on #1183
hello can i take this @annieappflowy @appflowy

[2022-11-27 07:32] annieappflowy commented on #1183
Thanks @0xkelvin for taking this issue. Just assigned it to you.
In case you need help, please reach out @appflowy on Discord

[2022-11-28 02:27] annieappflowy commented on #1328
Hi @mymyxtran , welcome! Thanks for offering the help. Assigned you to this task.
Your mentor is @LucasXu0 for completing this issue. If you need help or guidance, please reach out us on Discord.

[2022-11-28 05:52] MayurSMahajan commented on #1475
Annie I am thinking of changing the theme selection option in settings to a listview, so that user can select from multiple themes. Right now there is only one toggle, so rather than that we will have a listview with all the themes.

![image](https://user-images.githubusercontent.com/47064215/204203634-4a27ffa4-8908-4dca-836c-640eeccffebe.png)

Do you think I should create a new issue for that or

[2022-11-28 06:05] annieappflowy commented on #1475
Sounds good to me! You can include it in this issue with some descriptions.

[2022-11-28 11:20] annieappflowy opened #1496 "[FR] Assigned color to an option value is not shown when creating the option"
### Description

When I create a new option, the color is grey. After the option is created, I can see there is a different color assigned to the value.

It should show me what color will be assigned to this option value when I’m creating it

### Impact

Grid users who use single select

### Additional Context

_No response_

[2022-11-28 11:34] annieappflowy opened #1497 "[FR] Grid Filter: it should hide if the condition does not meet after completing the typing"
### Description

I set the filter on Name starting with ‘h’
And then added a name that starts with ‘n’
When I was still typing, the row was hidden because of the filter.
The desired behavior should be hiding after I finish the typing and exit the focus mode.

### Impact

Grid users who use Filter

### Additional Context

_No response_

[2022-11-28 11:42] annieappflowy opened #1498 "[Bug] Grid Filter: the filter menu should close after pressing enter"
### Bug Description

I reset a filter condition and press Enter
Although the data is refreshed, the filter menu still opens

### How to Reproduce

Reset a filter value then press Enter

### Expected Behavior

Pressing Enter should close the filter menu

### Operating System

Windows 10

### AppFlowy Version(s)

Main Branch

### Screenshots

_No response_

### Additional Context

_No response_

[2022-11-28 11:51] #1305 closed

[2022-11-28 11:59] appflowy commented on #1484
Thank you for reporting this. @SumanKisku. This issue was already fixed in main branch.

[2022-11-28 11:59] #1484 closed

[2022-11-28 21:47] LaBaude32 opened #1503 "[Bug] Deb packaging error"
### Bug Description

Hi !
I tried to install the Debian package (thx for it) on my Debian 11, but it's doesn't work because [Debian’s dpkg package doesn’t support zstd compression](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=892664).
So i get that error :
[code]

### How to Reproduce

`sudo apt install ./AppFlowy_0.0.7_linux-amd64.deb`

### Expected Behavior

Maybe using an other compression

[2022-11-29 06:45] ramanverma2k commented on #1503
So, I've been looking into this and have managed to make an installable package. It installs but there is a problem, I cannot launch the executable.

# Error
``/lib/x86_64-linux-gnu/libc.so.6: version `GLIBC_2.34' not found``

# Reason
The application was built & compiled on Ubuntu with ``GLIBC 2.34`` but Debian ships with ``GLIBC 2.31`` by default. That makes the GLIBC target of >=2.34.

It is no

[2022-11-29 06:57] LucasXu0 commented on #1503
GitHub doesn't provide the CI machine on the Debian platform.

It seems there are two questions.
1. The package can't be unpacked successfully.
2. Could not launch the app even after installing successfully.

[2022-11-29 07:07] LucasXu0 commented on #1480
Hi, @guill-lege. This bug has been fixed in 0.0.7.

[2022-11-29 07:07] #1480 closed

[2022-11-29 08:19] ramanverma2k commented on #1503
It's the latter one. I rebuilt the deb package using ``-Z xz`` flag and it installed flawlessly but failed to launch the ``app_flowy`` binary with above mentioned error.

[2022-11-29 08:21] #1479 closed

[2022-11-29 14:21] 0xkelvin opened #1505 "[Bug] AppFlowy is crashed after creating the second new page"
### Bug Description

AppFlowy is crashed after creating the second new page

### How to Reproduce

click on below button to create a new page :
<img width="130" alt="image" src="https://user-images.githubusercontent.com/56182747/204553662-9e7bcd39-251d-4616-b20b-6ecb8e94ac37.png">

it is ok for the first page, but the crashing will happen if try to create another new page

### Expected Behavior

c

[2022-11-30 05:27] LucasXu0 commented on #1505
Hi, @0xkelvin. Could you provide more detailed steps? I tested it on my M1 MacBook. Nothing goes wrong.

[2022-11-30 05:44] 0xkelvin commented on #1505
Hi @LucasXu0

I was followed below document to setup and build on my M1:
https://appflowy.gitbook.io/docs/essential-documentation/contribute-to-appflowy/software-contributions/environment-setup/building-on-macos

below is the video i just recorded :

https://user-images.githubusercontent.com/56182747/204717001-644d196b-f7a4-44b2-b852-7cbd99409f14.mov

[2022-11-30 05:55] LucasXu0 commented on #1503
@ramanverma2k  Are there any other options besides building the application using Debian?

[2022-11-30 06:10] LucasXu0 commented on #1505
Can you provide the result of running the following command line?

[code]

[2022-11-30 06:13] HuixingWong commented on #121
Any update ?

[2022-11-30 06:21] annieappflowy commented on #121
Thanks for following up @HuixingWong
We will start adding data storage solutions from v0.0.9
Git is a popular one to include.

[2022-11-30 06:24] HuixingWong commented on #121
Looking forward to it, thanks!

[2022-11-30 06:28] 0xkelvin commented on #1505
below is the version of rust and result of flutter doctor:

<img width="285" alt="image" src="https://user-images.githubusercontent.com/56182747/204723573-9d296035-7665-49a5-9fcc-8871deba9b3c.png">

[2022-11-30 06:56] LucasXu0 commented on #1505
Got it. We only verified the behavior of AppFlowy under rust 'stable-2022-04-07' and flutter '3.0.5'. So it's better to switch to the version mentioned above and please try it again.

[2022-11-30 07:01] 0xkelvin commented on #1505
i see, thanks for information

[2022-11-30 08:01] ramanverma2k commented on #1503
As of now we shouldn't need to do anything for Debian 12 as it is pre-packaged with [GLIBC 2.36](https://sources.debian.org/patches/glibc/). It installs and works without any issues or side effects on Debian 12.

![image](https://user-images.githubusercontent.com/59292838/204735349-28293dad-aa79-4942-8981-cb892a8b623a.png)

I am looking into possible solutions and workarounds for Debian 11, will r

[2022-11-30 09:29] LucasXu0 commented on #1488
Blocked by https://github.com/flutter/flutter/issues/103811.

[2022-11-30 12:13] Dialga opened #1514 "[Bug] Grid note broken after upgrade from 0.0.7 to 0.0.8"
### Bug Description

![image](https://user-images.githubusercontent.com/5157928/204792873-db735aa2-6329-4d05-8d73-291b74ca8eae.png)

msg oterror incompatiblelength msg expected 83, but received 0.

Error message is also unselectable so I couldn't copy and paste it here.

### How to Reproduce

Upgrade from 0.0.7 to 0.0.8

### Expected Behavior

Grid note works as before

### Operating System

Arch

[2022-11-30 12:26] appflowy commented on #1514
@Dialga Thank you for reporting this. Would you mind sharing your local data file with me for debugging? If yes, please DM me in Discord.

[2022-11-30 12:35] Dialga commented on #1514
Have sent it to you

[2022-11-30 12:45] appflowy commented on #1514
Thank you!

[2022-11-30 12:50] #623 closed

[2022-11-30 12:51] appflowy commented on #1292
Fixed

[2022-11-30 12:51] #1292 closed

[2022-11-30 12:54] #1297 closed

[2022-11-30 12:55] #1247 closed

[2022-11-30 14:23] fengmao31 opened #1515 "[FR] I need the funtion for code block"
### Description

I need the function for code block like this. I want to record the program.

[code]

### Impact

programer.

someoen who make tutorial about software.

### Additional Context

_No response_

[2022-11-30 15:16] lbrame commented on #363
Same issue here. Fedora 36, GNOME 42.6 Wayland session, 1920x1080 laptop. AppFlowy seems to render much smaller than most other apps at 100% by default and none of the usual variables to pass it a new scale factor seem to do anything. On the other hand, resizing the window seems to work perfectly.